<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>

<!-- Google Tag Manager -->
  <script>
    <!--var googleTagManagerTrackingId = '${ycommerce:encodeJavaScript(panamaGoogleAnalyticsTrackingId)}';-->
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore
    (j,f);    
    })(window,document,'script','dataLayer', 'GTM-5ZQZBN7');
  <!--})(window,document,'script','dataLayer', googleTagManagerTrackingId);-->
  </script>
   
<!-- End Google Tag Manager -->
