<%@ tag body-content="scriptless" trimDirectiveWhitespaces="true"%>
<%@ attribute name="pageTitle" required="false" rtexprvalue="true"%>
<%@ attribute name="pageCss" required="false" fragment="true"%>
<%@ attribute name="pageScripts" required="false" fragment="true"%>
<%@ attribute name="hideHeaderLinks" required="false"%>

<%@ taglib prefix="template" tagdir="/WEB-INF/tags/responsive/template"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="header" tagdir="/WEB-INF/tags/addons/llatelcoaddon/responsive/common/header"%>
<%@ taglib prefix="footer" tagdir="/WEB-INF/tags/responsive/common/footer"%>
<%@ taglib prefix="whatsapp" tagdir="/WEB-INF/tags/responsive/common"%>
<%@ taglib prefix="common" tagdir="/WEB-INF/tags/responsive/common"%>
<%@ taglib prefix="cart" tagdir="/WEB-INF/tags/responsive/cart" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags"%>

<spring:htmlEscape defaultHtmlEscape="true" />

<template:master pageTitle="${pageTitle}">

	<jsp:attribute name="pageCss">
		<jsp:invoke fragment="pageCss" />
	</jsp:attribute>

	<jsp:attribute name="pageScripts">
		<jsp:invoke fragment="pageScripts" />
	</jsp:attribute>

	<jsp:body>
		<div class="branding-mobile hidden-md hidden-lg clearfix">
								
			<div class="js-mobile-logo">
				<%--populated by JS acc.navigation--%>
			</div>
			
			 <div class="mobile__nav__row--table-cell visible-xs visible-sm">			 
                    <footer:languageSelector languages="${languages}" currentLanguage="${currentLanguage}" />
              </div>
			<div class="mobile__nav__row--table-cell visible-xs visible-sm user-account-icon">
				<cms:pageSlot position="MiniCart" var="cart" element="div" class="miniCartSlot componentContainer mobile__nav__row--table  hidden-md hidden-lg">
					<cms:component component="${cart}" element="div" class="mobile__nav__row--table-cell" />
				</cms:pageSlot>
				<%--<ul class="mob-user-acc hidden-lg hidden-md js-sticky-user-group">--%>
					<%--Dynamically generated by 'acc.navigation.js"--%>
				<%--</ul>--%>
			</div>								                    
                
			<div class="mobile__nav__row--table-cell visible-xs visible-sm">
				<button class="navbar-toggle mobile__nav__row--btn btn mobile__nav__row--btn-menu js-toggle-sm-navigation visible-xs visible-sm" type="button">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>
			<%--<ul class="nav__left pull-right">
				<li class="active">
					<a href="https://www.libertypr.com/"><spring:theme code="header.nav.text.residencial" text="residencial" /></a>
				</li>
				<li>
					<a href="https://www.libertybusinesspr.com/"><spring:theme code="header.nav.text.business" text="business" /></a>
				</li>
			</ul>--%>
		</div>
		<main data-currency-iso-code="${fn:escapeXml(currentCurrency.isocode)}">
			<spring:theme code="text.skipToContent" var="skipToContent" />
			<a href="#skip-to-content" class="skiptocontent" data-role="none">${fn:escapeXml(skipToContent)}</a>
			<spring:theme code="text.skipToNavigation" var="skipToNavigation" />
			<a href="#skiptonavigation" class="skiptonavigation" data-role="none">${fn:escapeXml(skipToNavigation)}</a>


			<header:header hideHeaderLinks="${hideHeaderLinks}" />


			
			
			<a id="skip-to-content"></a>
		
			<div class="main__inner-wrapper">
				<div class="container">
					<common:globalMessages />
					<cart:cartRestoration />
				</div>
				<jsp:doBody />
				<whatsapp:whatsapp />
			</div>

			<footer:footer />
		</main>

	</jsp:body>

</template:master>
