//
// Button
// --------------------------------------------------------
.btn-custom{
    &,
    &:active,
    &:hover,
    &:focus{
        border: 1px solid @brand-primary;
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem;
        text-transform: uppercase;
        background-color: @brand-primary;
        color: @brand-white;
        
    }
    &[disabled]{
        background-color: @plp-category-btn-device;
        border-color: @plp-category-btn-device;
    }
}
.btn-yellow{
    &,
    &:active,
    &:hover,
    &:focus{
        background-color: @brand-primary;
        border: 1px solid @brand-primary;
        color: @brand-white;
        text-align: center;
        font-size: 1.6rem;
        padding: 0.5rem;
        text-transform: uppercase;
    }
    &[disabled]{
        background-color: @plp-category-btn-device;
        border-color: @plp-category-btn-device;
    }
}
.btn-white{
    &,
    &:active,
    &:hover,
    &:focus,
    &:disabled{
        background-color: @brand-white;
        border: 1px solid @brand-primary;
        color: @brand-primary;
        text-align: center;
        font-size: 1.6rem;
        padding: 0.5rem;
        text-transform: uppercase;
    }
}
.btn-blue{
    &,
    &:active,
    &:hover{
        background-color: @brand-primary;
        border: 1px solid @brand-primary;
        color: @brand-white;
        text-align: center;
        font-size: 1.8rem;
        padding: 0.5rem;
        text-transform: uppercase;
    }
}

.btn-default {
    &, &:focus, &:hover, &:active{
        color: @brand-primary;
        border-color: @brand-primary;
        background-color: @brand-white;
    }
    &[disabled]{
        &,&:hover,&:active,&:focus{
            color: @brand-primary;
            background-color: @brand-white;
            border-color: @brand-primary;
        }
    }
    &:active,
    &.active{
        &:hover,
        &:focus,
        &.focus{
            color: @brand-primary;
            background-color: @brand-white;
            border-color: @brand-primary;
        }
    }
}

.btn-primary{
	&,&:focus,&:hover,&:active,&.active{
		background-color: @brand-dark-blue;
		border-color: @brand-dark-blue;
        border-radius: 2.5rem !important;
	}
	&:active,
	&.active{
		&:hover,
		&:focus,
		&.focus{
			background-color: @brand-dark-blue;
			border-color: @brand-dark-blue;
		}
	}
}
.open {
	& > .dropdown-toggle{
		&.btn-default,
		&.btn-primary{
			&,
			&:focus,
			&:hover,
			&.focus{
				background-color: @brand-primary;
    			border-color: @brand-primary;
			}
		}
	}
}

.btn.btn-block {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}