//custom design for Site wide for LLA demo
.js-site-logo {
	width: 14rem;
}
.js-mobile-logo {
	display: block;
	margin-top: 1.4rem;
}
.btn-dark-style {
	&:hover{
		color: @meta-nav-color-open;
	}
}

#accNavComponentDesktopOne, 
#accNavComponentDesktopTwo {
	background-color: @brand-swap-secondary;
}
.custom-container {
	@media @tablet, @desktop{
		padding: 0 10rem;
	}
	@media @phone {
		padding: 0 1.8rem;
	}
}
//login popup
#cboxOverlay {
	opacity: 0.7 !important;
	position: fixed;
}
.logintitle {
	.headline-text {
		background-color: @brand-tertiary;
		color: @brand-white;
		padding: 1.5rem 4rem;
		font-size: 2rem;
		margin: 0;
		font-family: @futuraPTBook;
	}
}
#login-popup {
	.guest-checkout {
		padding-top: 2rem;
		display: none;
		label {
			text-transform: none;
			font-size: 1.8rem;
			font-weight: normal;
			color: @brand-default-text;
			&.error {
				color: @brand-primary;
				font-size: 1.4rem;
			}
			&.control-label {
				position: absolute;
				top: 0.6rem;
				left: 1.2rem;
				font-size: 1.4rem;
				font-weight: bold;
			}
		}
		.form-group {
			position: relative;
		}
		.btn {
			position: absolute;
			top: 0;
			right: 0;
			height: 5.6rem;
			line-height: 5rem;
			padding-top: 0;
			border-radius: 0 0.8rem 0.8rem 0 !important;
		}
		.form-control {
			height: 5.6rem;	
			border: 1px solid @brand-grey-text;
			border-radius: 0.8rem;	
			padding-top: 2rem;
			font-size: 1.8rem;
		}
		.alternate {
			position: relative;
			font-size: 2rem;
			color: @brand-primary;
			&:before, &:after {
				content: '';
				position: absolute;
				border-top: 1px solid @brand-primary;
				width: 43%;
				height: 0.1rem;
				top: 1.5rem;
			}
			&:before {
				left: 0;
			}
			&:after {
				right: 0;
			}
		}
	}
	h5 {
		margin-bottom: 0;
		font-size: 1.8rem;
		line-height: 3rem;
		color: @brand-grey-text;
		span {
			font-family: @futuraPTBold;
		}
	
		a {
			text-decoration: underline;
		}
	}
	.login-popup-close {
		cursor: pointer;
		margin-left: 3rem;
		color: @brand-primary;
		text-decoration: underline;
		font-size: 1.6rem;
	}
}
.page-cartPage {
	.guest-checkout {
		display: block !important;
	}
}
//error page design
.error-page{
	margin-bottom: 3rem;
}

// alerts
.alert {
	font-size: 1.5rem;
	border-radius: 0.5rem;
	line-height: 1.9rem;
	margin-top: 1.5rem;
}

// breadcrumb
.breadcrumb-section{
	padding: 0;
	.breadcrumb {
		text-transform: capitalize;
		font-size: 1.4rem;
		& > .active {
			color: @brand-dark-blue;
		}
		a {
			color: @brand-default-text;
		}
	}
}

//Mini cart popup
.mini-cart-body{
	font-size: 1.6rem;
}

//alert info
.alert-info {
	background-color: #f0f9fa;
	border: 1px solid #00A1A2;
	color: @brand-black;
}

//process state info
.process-selection-bar {
	padding: 2rem 0;
    .selection-state {
		padding-left: 0;
		margin: auto;
		border: 1px solid @plp-state-border;
		border-radius: 0.6rem;
		overflow: hidden;
        li{
			list-style: none;
			position: relative;
			padding: 0;
			color: @border-color-5;
			.level {
				margin-bottom: 0;
				padding: 0.8rem 0 1.2rem 7%;
				@media @phone{
					display: flex;
					align-items: center;
					padding: 1rem 0 1rem 7%;
				}
				a {
					color:  @brand-white;
					@media @phone{
						display: flex;
						align-items: center;
					}
				}
			}
			.process-state {
				font-family: @MontserratBold;
				font-size: 2.4rem;
				line-height: 2.9rem;
				padding-right: 5%;
			}
			.process-info {
				font-family: @MontserratMedium;
				font-size: 1.8rem;
				line-height: 1.4rem;
				@media @phone {
					font-size: 1.3rem;
				}
			}
			&.active{
				color: @brand-white;
				.level {
					background-color: @brand-dark-blue;
					width: 94%;
					&::after{
						content: " ";
						position: absolute;
						right: 0;
						top: -0.2rem;
						width: 0; 
						height: 0; 
						border-top: 2.7rem solid transparent;
						border-bottom: 2.7rem solid transparent;
						border-left: 2.1rem solid @brand-dark-blue;
						@media (min-width: 768px) and (max-width: 1023px) {
							border-left: 1.6rem solid @brand-dark-blue;
						}
						@media @phone {
							border-left: 0.8rem solid @brand-dark-blue;
						}
					}
				}
			}
			&.previous {
				background-color: @brand-dark-blue;
			}
			&:last-child {
				&.active {
					background-color: @brand-dark-blue;
					.level {
						&:after {
							display: none;
						}
					}
				}
			}
		}
    }
}
.col-5-footer {
	display: table;
	text-align: center;
	width: 20%;
	@media @phone, @tablet {
		padding: 0;
	}
}

::placeholder {
	font-size: 1rem;
}

.blue-bold-text {
	color: @brand-dark-blue;
    font-family: @MontserratBold;
}