//
// Cart
// --------------------------------------------------------
.empty-btn-cart{
    background: @brand-dark-blue;
    border-radius:2rem;
    color:@brand-white;
    width: 90%;
    margin: 0 auto;
    @media @phone {
        margin: 3rem auto;
    }
    a{
        color: @brand-white;
        margin: 0 auto;
        text-align: center;
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        text-transform: uppercase;
    }
}  
.cart-left {
    padding-right: 5%;
    p {
        font-size: 1.8rem;
        line-height: 3.2rem;
        padding: 2rem 2rem 5rem;
        margin-bottom: 0;
        @media @phone, @tablet {
            font-size: 1.4rem;
            padding: 2rem 0;
        }
    }
}   
.btn-emptycartimage{
    background:@sub-section-bgcolor;
    border-radius: 0.5rem;
    padding: 2rem;
    .cartqes {
        color:@brand-dark-blue;
        padding: 0 1rem 1rem;
        font-size: 1.8rem;
        font-family: @MontserratBold;
    }
    @media @phone, @tablet {
        .cartqes{
            font-size: 1.4rem;
        }
     }
    .emptycart-btn-img{
        background:@brand-white;
        font-size: 1.8rem;
        border-radius: 0.6rem;
        padding: 1rem;
        color: @brand-draker-grey;
        @media @phone, @tablet {
            font-size: 1.4rem;
            margin-top: 0.2rem;
            .Cartimg{
                font-size: 1.2rem;
            }
        }
    }
    img {
        display: inline-block;
    }
}
.cartheader{
    background:@brand-primary;
    color:@brand-white;
    font-size: 3.6rem;
    padding-top: 1rem;
    @media @phone {
        font-size: 1.4rem;
        line-height: 3rem;
    }
}
.cartbody{
    margin: 6rem 0 3rem;
    display: inline-block;
    color: @brand-black;
    @media @phone {
        margin: 2rem 0 3rem;
    }
    .emptybox{   
        padding: 0rem 1.5rem;
    }
}
.cart-contact{
    font-size: 1.2rem;
    padding-left: 1rem;
    a{
        background: url("../images/whatsapp_x1.png") left no-repeat;
        background-size: 2rem;
        padding-left: 2.3rem;
        margin-left: 0.4rem;
        font-weight: bold;
        padding-top: 0.3rem;    
     }
}
// Empty cart page design end


// Cart page left side design
.cart-item {
    background-color: @cart-background;
    border: 1px solid @cart-border;
    border-radius: 0.6rem;
    padding:2.2rem 2.2rem 2.2rem 2.2rem;
    margin-top: 2rem;
    @media @phone {
       padding:0.3rem 1.7rem
    }
    
    .item-head {
        margin: 0;
        font-family: @MontserratBold;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 3rem;
        text-transform: capitalize;
        color: @brand-dark-blue;
        margin-bottom: 1rem;
        @media @phone {
            font-size: 1.4rem;
        }
    }
    .cl-cntnr {
        .convertAddon {
            .ctabox-addToCart-section {
                display: none;
            }
        }
        &__list {
            padding: 0;
            background: @brand-white;
            border: 1px solid @cart-border;
            border-radius: 0.6rem;
            list-style: none;
            li {
                padding: 1.4rem;
                border-bottom: 1px solid @cart-border;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                    text-align: left;
                    font-size: 1.2rem;
                    line-height: 2.1rem;
                }
            }
            .item__addon__check {
                .ctabox-addToCart-section{
                    position: relative;
                    top: 1rem;
                    .addOnCheckBox {
                        height: 2.4rem;
                        width: 2.4rem;
                        appearance: none;
                        border: 2px solid @brand-dark-blue;
                        border-radius: 0.4rem;
                        outline: none;
                        transition-duration: 0.3s;
                        cursor: pointer;
                        &:checked:after {
                            content: '';
                            position: absolute;
                            left: 0.8rem;
                            top: 0.8rem;
                            width: 0.7rem;
                            height: 1.2rem;
                            border: solid @brand-dark-blue;
                            border-width: 0 0.3rem 0.3rem 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }
            }
            .cl-cntnr__item {
                .item__quantity {
                    .quantity-box {
                        display: none;
                    }
                }
            }
        }
        .cl-cntnr {
            &__item-name {
                width: 60%;
                color: @brand-black;
                .channel-name {
                    font-family: @MontserratBold;
                    text-transform: uppercase;
                }
                b {
                    font-family: @MontserratBold;
                    color: @brand-dark-blue;
                }
            }
            &__price {
                width: 30%;
                color: @brand-tertiary;
                font-size: 1.8rem;
                font-family: @MontserratBold;
                display: grid;
                margin-right: 8%;
                text-align: right;
                .price-monthly {
                    font-size: 1.2rem;
                    font-family: @MontserratMedium;
                    display: block;
                    text-align: right;
                }
                @media @phone {
                    font-size: 1.2rem;
                }
                &.addon-price {
                    margin-right: 1%;
                }
            }
        }
        .item__quantity {
            form {
                width: 80%;
            }
            .quantity-box {
                display: inline-flex;
                border: 1px solid @brand-dark-blue;
                font-size: 1.6rem;
                border-radius: 2rem;
                padding: 0.1rem 0.9rem;
                .qtybtn {
                    &,
                    &:focus{
                        background-color: @brand-white;
                        border: 0;
                        color: @brand-dark-blue;
                        outline: 0;
                    }
                    &:disabled {
                        cursor: not-allowed;
                        opacity: 0.65;
                    }
                }
                .cart-qty {
                    width: 1rem;
                    border: 0;
                    font-size: 1.2rem;
                    padding: 0;
                    text-align: center;
                    height: 3rem;
                    background-color: @brand-white;
                    color: @brand-black;
                }
            }
        }
    }
}
.cart{
    &-header{
        padding: 0.5rem 2rem;
        background-color: @cart-background;
        border: 1px solid @cart-border;
        font-size: 1.4rem;
        border-radius: 0.6rem;
        @media @phone{
            display: block;
        }
        h1{
            color: @brand-dark-blue;
            font-family: @MontserratBold;
            font-size: 1.6rem;
            text-transform: none;
            margin: 1rem 0 0.5rem 0;
            @media @phone{
                font-size: 1.4rem;
                margin: 1rem 0 1rem !important;
            }
        }
        p {
            @media @phone{
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }
        }
    }
    &-item-list {
        margin: 0;
        .deleteForm {
            .glyphicon-trash {
                &:before {
                    content: '';
                    position: absolute;
                    background: url(../images/deleteIcon.svg) left center no-repeat;
                    width: 2rem;
                    height: 3rem;
                    background-size: contain;
                    top: 6rem;
                    right: -0.5rem;
                    @media @phone {
                        right: 1rem;
                        top: 6rem;
                    }
                }
            }
        }
    }
    &-item-list-details  {
        border: 1px solid @cart-border;
        background-color: @brand-white;
        padding: 1.5rem 1rem 1.5rem 0;
        display: flex;
        border-radius: 0.6rem;
        .col-xs-4 {
            align-items: baseline;
            justify-content: center;
            display: flex;
        }
        @media @phone{
            padding: 1.5rem 1rem;
            display: block;
        }
    }
    &-right {
        border: 1px solid @cart-border;
        background-color: @brand-white;
        padding: 1.5rem;
        margin-top: 2rem;
        .cart-totals {
            margin-top: 0;
            padding: 0;
        }
    }
    &-item-list-details {
        .deleteForm {
            padding: 0 0.5rem;
        }
        .hideqtybox,
        .deleteForm {
            .item__quantity {
                display: none;
            }
            .item__price {
                b {
                    @media @phone{
                        font-size: 2.2rem;
                    }
                }
            }
        }
        .ctabox-addToCart-btn {
            border-radius: 2.5rem !important;
            text-transform: uppercase;
            color: @brand-white;
            width: 63%;
            background-color: @brand-dark-blue;
            @media @phone {
                display: block;
                margin: 0 auto;
            }
            &[disabled]{
                background-color: @plp-category-btn-device;
                border-color: @plp-category-btn-device;
            }
        }
    }
}
.item__list{
    border: 0;
    .item{
        border: 1px solid @cart-border;
        background-color: @cart-background;
        padding: 2rem 2rem 4rem 2rem;
        &__info{   
            width: auto;
            padding: 2rem 0 0;
            @media @phone {
                padding: 1rem 0 0;
            }
            color: @brand-default-text;
            a{
                color: @brand-default-text;
                &:hover{
                    text-decoration: underline;
                    color: @brand-grey-text;
                }
            }
            .sub-desc {
                display: none;
            }
        }
        &__name{
            font-size: 1.6rem;
            font-family: @MontserratBold;
            color: @brand-dark-blue;
            display: inline-block;
            margin-bottom: 1rem;
            .sub-text {
                font-family: @MontserratLight;
            }
            @media @phone {
                font-size: 1.4rem;
            }
        }
        &__image{
            width: 100%;
            padding: 1rem 0.5rem;
            img {
                width: auto;
                margin: auto;
                display: block;
                max-width: 100%;
                padding-top: 1rem;
                @media @phone {
                    padding-top: 0;
                }
            }
        }
        &__delivery{
            &--label{
                text-transform: none;
                font-weight: normal;
                color: @brand-default-text;
            }
        }
        &__menu{
            text-align: right;
            width: auto;
            margin-bottom: 0.5rem;
            position: relative;
            @media @phone {
                padding-top: 2rem;
            }
            .cart-remove{
                font-size: 0;
                text-decoration: none;
                font-family: @MontserratBold;
                text-indent:-9999px;
                color: @footer-background;
                background-size: contain;
                background: url("../images/deleteIcon.svg") center no-repeat;
                width: auto;
                height: 2.8rem;
                display: block;
            }
        }
        &__price{
            color: @brand-default-text;
            font-family: @MontserratMedium;
            font-size: 1.2rem;
            line-height: 2.3rem;
            margin: 1rem 0;
            b {
                font-family: @MontserratBold;
                font-size: 2.2rem;
                line-height: 2.8rem;
                margin: 0;
                color: @brand-primary;
            }
            &--monthly {
                color: @brand-primary;
            }
        }
    }
    table{
        &.price-table-mobile{
            text-align: left;
        }
    }
}

.page-cartPage{
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(../images/dropdown_icon.svg) 97% 18px no-repeat;
    }
}

.brand-primary{
		color: @brand-primary;
}