.checkout {
    &-header {
        padding: 1.7rem 2rem;
        background-color: @checkout-background;
        border: 1px solid @checkout-border;
        border-radius: 0.6rem;
        margin-bottom: 2rem;
        h1 {
            color: @brand-dark-blue;
            font-size: 2.4rem;
            line-height: 3rem;
            font-family: @MontserratBold;
            margin: 0 0 0.5rem 0;
            text-transform: none;
            @media @phone {
                font-size: 1.4rem;
                line-height: 1.7rem;
            }
        }
        p {
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: @brand-grey-text;
            margin: 0;
            @media @phone {
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
        }
    }
    &-steps {
        padding: 0;
        .step-head {
            background: @checkout-background;
            border: 1px solid @checkout-border;
            color: @brand-black;
            border-radius: 0.6rem;
            padding: 2rem 1.5rem;
            height: auto;
            margin-bottom: 1rem;
            &:before {
                content: '';
            }
            &.inactive {
                pointer-events: none;
                cursor: not-allowed;
            }
            &__count,
            &.active {
                color: @brand-dark-blue;
            }
            &, &.inactive, &.active {
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 3rem;
                    background-size: contain;
                    width: 2.4rem;
                    height: 2.4rem;
                    transform: translate(13px, -11px);
                }
            }
            &, &.inactive {
                &:after {
                    background: url("../images/checkout-step-edit-icon-gray.svg") center no-repeat;
                }
            }
            &.active {
                border: none;
                background-color: transparent;
                margin-bottom: 0;
                &:after {
                    background: url("../images/checkout-activestep-edit-icon.svg") center no-repeat;
                }
            }
        }
        .current-step {
            background-color: @checkout-background;
            border: 1px solid @checkout-border;
            border-radius: 0.6rem;
            margin-bottom: 1rem;
            .step-body {
                padding: 0 1.5rem;
                .checkout-next {
                    margin: 1.5rem 0;
                    letter-spacing: 1px;
                }
                .form-group {
                    position: relative;
                }
                .control-label {
                    position: absolute;
                    top: 1.2rem;
                    left: 1.2rem;
                    line-height: 1.2rem;
                    color: @brand-grey-text;
                    text-transform: none;
                    font-size: 1.4rem;
                    font-weight: normal;
                }
                .form-control {
                    height: 5.6rem;
                    border: 1px solid @checkout-border;
                    color: @brand-black;
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                    border-radius: 0.6rem;
                    padding-top: 2.3rem;
                    text-transform: none;
                    &.error {
                        background-color: @plp-infobar-background;
                        border: 1px solid @checkout-label-border-error;
                    }
                }
                .checkbox {
                    margin: 2rem 0 2rem 1rem;
                    label {
                        font-size: 1rem;
                        line-height: 1.4rem;
                        color: @brand-black;
                        padding-left: 4rem;
                        position: relative;
                        a {
                            color: @brand-dark-blue;
                            text-decoration: underline;
                        }
                        input[type="checkbox"] {
                            opacity: 0;
                        }
                    }
                }
                .payment-msg {
                    font-size: 1.4rem;
                    .payment-text {
                        font-size: 1.8rem;
                        font-family: @MontserratBold;
                        color: @cart-heading-color;
                    }
                    .payment-card-message {
                        font-size: 1.6rem;
                        color: @cart-heading-color;
                        margin-top: -1rem;
                        margin-bottom: 1.5rem;
                    }
                    b {
                        color: @brand-primary;
                        font-size: 2.2rem;
                        line-height: 2.8rem;
                        font-family: @MontserratBold;
                    }
                    .price_month {
                        color: @brand-primary;
                    }
                }
            }
            .checkout-shipping {
                background-color: @brand-white;
                border-radius: 0.6rem;
                padding: 1.5rem 2rem 0;
                .comn-vali-msg, .js-address-book {
                    display: none;
                }
            }
            .customer-details {
                background-color: @brand-white;
                border-radius: 0.6rem;
                border: 1px solid @checkout-border;
                padding: 1.5rem 2rem 0;
            }
            .checkout-order-summary {
                padding: 0;
            }
            .cart-totals {
                padding: 0;
                margin: 0;
            }
        }
    }
    &-steps{
        .step-body {
            .checkout-paymentmethod {
                border: 0;
                padding: 0 0 2rem 0;
                .silentOrderPostForm {
                    border: 1px solid @checkout-border;
                    padding: 1rem 2rem 1rem;
                    background-color: @brand-white;
                    margin-bottom: 2rem;
                    .control-label {
                        font-family: @MontserratBold;
                    }
                    .control-label,
                    .form-control {
                        @media @phone {
                            font-size: 1.2rem;
                        }
                    }
                    .checkbox {
                        margin: 1rem 0;
                        padding-left: 0;
                        font-size: 1.2rem;
                        .control-label {
                            font-size: 1.2rem;
                            line-height: 2.5rem;
                            color: @brand-grey-text;
                            top: 0;
                            left: 0;
                            padding-left: 2.5rem;
                            font-family: @MontserratMedium;
                            input[type="checkbox"] {
                                opacity: 1;
                                height: 1.5rem;
                                width: 1.5rem;
                            }
                        }
                    }
                    .payment-addr-info {
                        font-size: 1.2rem;
                        margin-left: 0.5rem;
                        font-family: @MontserratBold;
                    }
                    .cardInfo {
                        @media @phone {
                            padding-top: 4.3rem;
                        }
                    }
                }
                .checkout-next {
                    width: 50%;
                    margin: auto;
                }
            }    
        }
    }
}
.comn-vali-msg {
    font-size: 1.4rem;
    line-height: 1.4rem;
     &:before {
    content:'*';
    position:absolute;
    color: @brand-dark-blue;
    }
}


@media @phone{
  .checkout-shipping #addressForm {
      input[name="landMark"] {
        height: 8rem;
        padding-top: 4rem;
        font-size: 1.2rem;
        width: 100%;
        overflow: hidden;
        padding-right: 3rem;
    }
    .form-group label[for="address.landMark"]{
        font-weight: 600;
        color: #000000;
        font-size: 1.2rem;
    }
  }
    .sticky-btn {
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 2rem;
        z-index: 9;
        width: 100%;
        .form-group {
            margin-bottom: 0;
        }
    }
}
/* cart page right side section css start */
.page-cartPage {
    .cart-total-summary + .cart-total-summary {
        margin-top: 1.5rem;
    }
}
.cart-right {
    background-color: @checkout-background;
    border: 1px solid @checkout-border;
    border-radius: 0.6rem;
}
.btn--continue-shopping {
    display: none;
}
.cart__actions {
    font-family: @MontserratMedium;
    padding: 2rem 0 0;
    .headline {
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-family: @MontserratBold;
        color: @brand-dark-blue;
    }
    .guestcheckout-form {
        background-color: @brand-white;
        border: 1px solid @checkout-border;
        border-radius: 0.6rem;
        padding: 1.5rem 1.5rem 0 1.5rem;
        margin-bottom: 1.5rem;
        .guest-note {
            padding: 0.5rem 0 0 1.3rem;
            display: block;
            color: @brand-grey-text;
        }
    }
    .legalInfo {
        text-align: left;
        padding: 0 0.5rem 0;
        color: #000000;
        line-height: 2rem;
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
        display: block;
    }
    .form-group {
        position: relative;
    }
    .control-label {
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
        line-height: 1.2rem;
        color: @brand-grey-text;
        text-transform: none;
        font-size: 1.4rem;
        font-weight: normal;
         &:after {
        content:'*';
        position:absolute;
        color: @brand-dark-blue;
        }
    }
    .form-control {
        height: 5.6rem;
        border: 1px solid @checkout-border;
        color: @brand-black;
        font-size: 1.4rem;
        line-height: 1.4rem;
        border-radius: 0.6rem;
        padding-top: 2.3rem;
        text-transform: none;
        &.error {
            background: @plp-infobar-background;
            border: 1px solid @checkout-label-border-error;
        }
    } 
}
label.error {
    color: @checkout-label-error;
    text-transform: none;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4rem;
    padding-left: 2rem;
    display: block;
}
/* cart page right side section css end */
/* payment summary related css start (some part common for cart and checkout page) */
.cart-total-summary {
    .headline {
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-family: @MontserratBold;
        color: @brand-dark-blue;
    }
    .glyphicon {
        color: @info-message-borderColor;
        margin-right: 1.8rem;
        font-size: 2.6rem;
    }
    .payment-disclaimer {
        background: @info-message-bgcolor;
        border: 1px solid @info-message-borderColor;
        border-radius: 0.6rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: @brand-black;
        padding: 0.8rem 2rem;
        margin-bottom: 1.5rem;
        min-height: 5rem;
        display: flex;
        align-items: center;
    }
    .order-totals {
        background-color: @brand-white;
        border: 1px solid @checkout-border;
        border-radius: 0.6rem;
        color: @brand-black;
        font-size: 1.2rem;
        padding: 1rem 1rem 0.5rem 1rem;
        table {
            td {
                padding: 1rem 0.5rem;
            }
            tbody tr:last-child {
                border-top: 1px solid @checkout-border;
                td {
                    color: @brand-dark-blue;
                }
            } 
        } 
    }
}
/* payment summary related css end (some part common for cart and checkout page) */
.page-multiStepCheckoutSummaryPage {
    .today-payment {
        display: none;
    }
    .monthly-payment {
        .headline {
            display: none;
        }
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(../images/dropdown_icon.svg) 97% 18px no-repeat;
    }
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.4rem;
    width: 2.4rem;
    border: 2px solid @brand-dark-blue;
    border-radius: 0.4rem;
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}
.custom-label {
    input:checked ~ .checkmark:after {
        display: block;
    }
    .checkmark:after {
        left: 0.7rem;
        top: 0.3rem;
        width: 0.7rem;
        height: 1.2rem;
        border: solid @brand-dark-blue;
        border-width: 0 0.3rem 0.3rem 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
.custom-label + .custom-label {
    margin-top: 1.5rem;
    a {
        padding-top: 0.7rem;
        display: block;
    }
}
.place-order-form {
    margin-bottom: 2rem;
}
.contactus {
    background-color: @brand-white;
    border: 1px solid @cart-border;
    border-radius: 0.6rem;
    padding: 1.6rem 1rem;
    margin:1.6rem 0rem 1.6rem 0rem;
    @media @phone {
        padding:1rem;
    }
    
    h4 {
        color: @brand-dark-blue;
        font-size: 1.8rem;
        line-height: 2.2rem;
        text-transform: uppercase;
        font-family: @MontserratBold;
        margin: 0;
        padding-left: 1rem;
        @media @phone {
            font-size: 1.8rem;
            padding-left: 0rem;
        }
    }
    &-info {
        background-color: @brand-white;
        border-radius: 0.6rem;
        padding: 0 1rem 0;
        margin-top: 1rem;
        color: @cart-heading-color;
        @media @phone {
            padding-left: 0rem;
        }
        .emptycart {
            font-size: 1.6rem;
        }
        p {
             font-size  : 2rem;
             line-height: 2.6rem;
             margin-left: 3rem;
             padding: 0 1rem 0;
          
     span {
         margin-left: 0.5rem;
         color      : @brand-primary;
         font-weight: 600;

         a {
             background  : url("../images/whatsapp_x1.png") left no-repeat;
             padding-left: 2.2rem;
             margin-left : 0.1rem
         }
     }

     @media @phone {
         font-size: 1.4rem;
         margin-left: 2rem;
     }
 }
        ul {
            list-style: none;
            padding-left: 0;
            li {
                position: relative;
                padding-left: 3rem;
                margin: 0.5rem 0;
                display: inline-block;
                font-size: 1.2rem;
                line-height: 1.5rem;
                &.call:before {
                    background: url("../images/contact_call_icon.svg") center no-repeat @brand-lighter-gray;
                    background-size: auto;
                    height: 5rem;
                    width: 5rem;
                    top: 0.3rem;
                }
                &:before {
                    content: '';
                    position: absolute;
                    width: 2.4rem;
                    height: 2.4rem;
                    left: 0;
                    top: -0.6rem;
                }
            }
        }
    }
}
.checkout-order-summary {
    margin-bottom: 1.5rem;
    background-color: @checkout-background;
    border: 1px solid @checkout-border;
    border-radius: 0.6rem;
    padding: 1.5rem;
    @media @phone {
        margin: 0;
    }
    & .headline {
        font-family: @MontserratBold;
        color: @brand-dark-blue;
        font-size: 1.8rem;
    }
    & &-list {
        border:0;
        .details {
            margin-left: 0;
            @media @phone {
                position: static;
            }
            .name {
                font-size: 1.6rem;
                line-height: 2rem;
                font-family: @MontserratBold;
                margin-bottom: 1.5rem;
                color: @brand-dark-blue;
            }
            a {
                color: @brand-dark-blue;
            }
        }
        .price {
            margin: 0;
            float: none;
            font-size: 1.8rem;
            line-height: 2.3rem;
            color: @text-color-darkBlack;
            font-weight: normal;
        }
        .actualPrice {
            font-size: 1.4rem;
            line-height: 1.7rem;
            .price-info {
                color: @brand-default-text;
            }
            b {
                color: @brand-primary;
                font-size: 2.2rem;
                line-height: 2.8rem;
                font-family: @MontserratBold;
            }
            .item__price--monthly {
                color: @brand-primary;
            }
        }
        & > li {
            padding: 1.5rem;
            margin-bottom: 2rem;
        }
    }
    &-list-items + &-list-items {
        margin-top: 1rem;
    }
    &-list-items {
        background-color: @brand-white;
        border: 1px solid @checkout-border;
        border-radius: 0.6rem;
        &:nth-child(2n + 3) {
            background-color: @brand-white !important;
        }
        &.checkout-total-summary-info {
            background-color: @checkout-total-amt-background !important;
            .price-info {
                font-size: 1.8rem;
                color: @brand-dark-blue;
                display: block;
                font-family: @MontserratBold;
                padding-top: 1rem;
                @media @phone {
                    padding-top: 0;
                }
            }
            b{
                color: @brand-primary;
                font-size: 2.2rem;
                line-height: 2.8rem;
                font-family: @MontserratBold;
            }
            .price_month {
                color: @brand-primary;
                display: block;
            }
        }
    }
    & &-list-items {
        .thumb {
            width: auto;
            margin: auto;
            float: none;
            img {
                width: auto;
                height: auto;
                display: block;
                margin: auto;
                max-width: 9.7rem;
                 @media @phone {
                     padding-bottom: 2rem;
                     margin: 0;
                 }
            }
        }
    }
} 
.product-specifications {
    font-size: 1.2rem;
    line-height: 1.2rem; 
    color: @brand-default-text;
    margin-bottom: 1.5rem;
    .sub-text {
        margin: -1rem 0 2rem 0;
        color: @brand-dark-blue;
        font-size: 1.4rem;
    }
    ul {
        padding-left: 0;
        list-style: none;                
        li {
            position: relative;
            padding: 0.5rem 0 0.5rem 2rem !important;
            &:nth-child(2n + 3) {
                background-color: transparent !important;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1.3rem;
                height: 100%;
                background: url(../images/iconBlueTick.svg) center no-repeat;
                background-size: contain;
            }
            &.empty {
                &:before {
                    background: transparent;
                }
            }
            a, 
            b,
            &.blue-text {
                color: @brand-dark-blue;
            }
            &.basicoDigital {
                &:before {
                    background: none;
                }
            }
        }
    }
}  

.callResponseForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: @MontserratMedium;
    .frmHeading{
        font-size: 2.4rem;
        line-height: 2.7rem;
        color: @brand-dark-blue;
    }
    .frmMessage{
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: @brand-black;
    }
    button{
        width: 16rem;
        margin-top: 4rem;
    }
}

.customInfoPopupCloseBtn{
    color: @brand-white;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.6px;
    vertical-align: sub;
    span.glyphicon-remove {
        &:before{
            content: "\2715";
            font-size: 2.5rem;
            color: @brand-dark-blue;
        }
    }
}

.checkoutPageMapStyle{
     height: 20rem; 
     width: 100%;
     margin-bottom: 1rem;
}

//credit card styles
#show-cc-label {
    position: absolute;
    right: 1rem;
    margin-top: 2.7rem;
    z-index: 1;
}
.i-icon-payment {
    display: inline-block;
    background-image: url('../images/card_sprite.png');
    background-repeat: no-repeat;
}
.i-icon-card {
    &-visa {
        width: 4.5rem;
        height: 3.1rem;
        background-position: -9.5rem 0;
    }
    &-master {
        width: 4.5rem;
        height: 3.1rem;
        background-position: 0 0;
    }
    &-amex {
        width: 4.5rem;
        height: 3.1rem;
        background-position: -4.5rem 0;
    }
}

/*---- overlay style-----*/
.formOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 4rem;
  height: 4rem;
  border: 0.4rem @brand-white solid;
  border-top: 0.4rem @brand-skyblue solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}
.is-hide {
  display: none;
}
/*---- overlay style-----*/