//
// Error
// --------------------------------------------------------

.error-content {
    height: 100vh;
    position: relative; 
    font-family: @futuraPTLight;   
    .error-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 1.5rem;
    }
    h3 {
        margin-bottom: 1.5em;
        color: @brand-primary;
        width: 65rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 4.6rem;
        font-family: @futuraPTBook;
        @media @phone {
            width: auto;
        }
    }
    .error-description {
        margin-bottom: 1.5em;
        font-weight: bold;
        font-size: 2.1rem;
    }
    .site-category {
        padding-left: 0;
        li {
            display: inline-block;
            padding: 1.5rem;
            transition: transform .5s ease;
            font-weight: 700;
            &:hover {
                transform: scale(1.05);
            }
            a {
                font-size: 1.8rem;
                &:hover {
                    text-decoration: underline;
                }
            }
            span {
                display: block;
                font-family: @futuraPTBook;
            }
            img {
                width: 5rem;
                display: inline;
                path {
                    stroke: @brand-grey-text;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .error-content {
        margin: 4rem auto;
        height: auto;
        .site-category {
            li {
                display: block;
                padding: 1.5rem 0;
                a, span {
                    display: block;
                }
            }
        }
        .error-message {
            position: relative;
            left: 0;
            top: 0;
            transform: inherit;
        }
        h1 {
            font-size: 2.4rem;
            width: 100%;
        }
    }    
}