@font-face {
    font-family: 'MontserratLight';
    src: url("../fonts/Montserrat-Light.eot");
    src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Montserrat-Light.woff2") format("woff2"), 
    url("../fonts/Montserrat-Light.woff") format("woff"), 
    url("../fonts/Montserrat-Light.ttf") format("truetype"), 
    url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
    font-display: swap; 
}

@font-face {
    font-family: 'MontserratMedium';
    src: url("../fonts/Montserrat-Medium.eot");
    src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Montserrat-Medium.woff2") format("woff2"), 
    url("../fonts/Montserrat-Medium.woff") format("woff"), 
    url("../fonts/Montserrat-Medium.ttf") format("truetype"), 
    url("../fonts/Montserrat-Medium.svg#Montserrat-Light") format("svg");
    font-display: swap; 
}

@font-face {
    font-family: 'MontserratBold';
    src: url("../fonts/Montserrat-Bold.eot");
    src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Montserrat-Bold.woff2") format("woff2"), 
    url("../fonts/Montserrat-Bold.woff") format("woff"), 
    url("../fonts/Montserrat-Bold.ttf") format("truetype"), 
    url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
    font-display: swap; 
}

@font-face {
	font-family: 'futuraPTBook';
	src: url('../fonts/FuturaPTBook.eot');
	src: url('../fonts/FuturaPTBook.eot') format('embedded-opentype'),
		 url('../fonts/FuturaPTBook.woff2') format('woff2'),
		 url('../fonts/FuturaPTBook.woff') format('woff'),
         url('../fonts/FuturaPTBook.ttf') format('truetype'),
         url('../fonts/FuturaPTLight.otf')  format('opentype'), 
		 url('../fonts/FuturaPTBook.svg#FuturaPTBook') format('svg');
		 font-display: swap;
}
@font-face {
	font-family: 'futuraPTLight';
	src: url('../fonts/FuturaPTLight.eot');
	src: url('../fonts/FuturaPTLight.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/FuturaPTLight.woff2') format('woff2'),
		 url('../fonts/FuturaPTLight.woff') format('woff'),
         url('../fonts/FuturaPTLight.ttf') format('truetype'),
         url('../fonts/FuturaPTLight.otf')  format('opentype'),
		 url('../fonts/FuturaPTLight.svg#FuturaPTLight') format('svg');
		 font-display: swap; 
}
@font-face {
	font-family: 'futuraPTMedium';
	src: url('../fonts/FuturaPTMedium.eot');
	src: url('../fonts/FuturaPTMedium.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/FuturaPTMedium.woff2') format('woff2'),
		 url('../fonts/FuturaPTMedium.woff') format('woff'),
         url('../fonts/FuturaPTMedium.ttf') format('truetype'),
         url('../fonts/FuturaPTMedium.otf')  format('opentype'),
		 url('../fonts/FuturaPTMedium.svg#FuturaPTMedium') format('svg');
		 font-display: swap; 
}
@font-face {
	font-family: 'futuraPTBold';
	src: url('../fonts/FuturaPTBold.eot');
	src: url('../fonts/FuturaPTBold.eot') format('embedded-opentype'),
		 url('../fonts/FuturaPTBold.woff2') format('woff2'),
		 url('../fonts/FuturaPTBold.woff') format('woff'),
         url('../fonts/FuturaPTBold.ttf') format('truetype'),
         url('../fonts/FuturaPTBold.otf')  format('opentype'),
		 url('../fonts/FuturaPTBold.svg#FuturaPTBold') format('svg');
		 font-display: swap;
}