//
// Footer
// --------------------------------------------------------
footer {
	border-top: 1px solid @text-color-secondary;
	@media @phone {
		padding-bottom: 5rem;
		margin-bottom: 8.8rem;
	}
}
.footer__left {
	padding: 0;
}
.footer__top {
	background-color: @brand-white;
	padding: 3rem 0;
	color: @brand-grey-text;
	text-align: center;
	.firstSection	 {
		.mainHeading{
			font-size: 3.6rem;
			font-family: @futuraPTBold;
			padding-bottom: 1rem;
			@media @desktop {
				text-align: left;
			}
		}
	}
	.secondSection {
		img {
			display: inline-grid;
			text-align: center;
			width: 4rem;
			height: 4rem;
			@media @phone {
				width: 3rem;
				height: 3rem;
			}
		}
		.logo-info {
			font-size: 1.2rem;
			color: @brand-default-text;
			font-family: @MontserratBold;
			margin: 1rem 0;
			@media @phone {
				font-size: 0.75rem;
			}
		}
		@media @phone {
			padding: 0;	
		}
	}
}
.footer__middle {
	background-color: @brand-black;
	text-align: center;
	padding: 1rem 2rem;
}
.footer__bottom {
	padding: 1rem 2rem;
	font-size: 1.2rem;
	.details {
		padding-bottom: 1rem;
		.callIcon,
		.consultIcon,
		.policyIcon {
				display: inline-block;
				width: 1.8rem;
				height: 1.8rem;
				background: url("../images/call_red_icon.svg") center no-repeat;
				background-size: contain;
				margin-top: 1rem;
		}
		.consultIcon,
		.policyIcon {
			background: url("../images/consult_icon.svg") center no-repeat;
			margin-top: 2.5rem;
			@media @phone, @tablet {
				margin-top: 1rem;
			}
		}
		.policyIcon {
			background: url("../images/policy_icon.svg") center no-repeat;
		}
		.num {
			font-size: 1.2rem;
			vertical-align: super;
			padding-left: 1rem;
			color: @brand-white;
			font-family: @MontserratBold;
			@media @phone, @tablet {
				font-size: 1.4rem;
			}
		}
		.consult {
			font-family: @MontserratMedium;
			font-size: 0.8rem;
			@media @phone, @tablet {
				font-size: 1.2rem;
			}
		}
	}
	.social-links {
		@media @desktop {
			float: right;
		}
		.links {
			margin-top: 0.5rem;
		}
	}
}