.navigation.navigation--top {
	padding: 0;
}
.navigation--top {
	background: @brand-tertiary;
	a {
		color: @brand-white;
	}	
	.nav__right {
		.nav__links {
			li {
				color: @brand-white;
				position: relative;
				a {
					font-weight: normal;
					text-transform: none;
					font-size: 1.3rem;
					padding: 1.4rem 1.5rem 1.3rem;
					&:hover {
						color: @brand-white;
					}
				}
				.accNavComponent.js-accNavComponent {
					position: absolute;
					z-index: 9;
					background: @brand-white;
					top: 4.3rem;
					left: -12rem;
					width: 19rem;
					box-shadow: 0 0.6rem 1.2rem rgba(0,0,0,0.175);
					border: 1px solid rgba(0,0,0,0.15);
					a {
						padding: 1.2rem;
					}
				}
				.accNavComponent__child-wrap {
					display: block;
					div:first-child {
						display: none;
					}
					a {
						color: @brand-grey-text;
						&:hover {
							background: transparent;
						}
					}
				}
			}			
		}
		.nav__links--account {
			li {
				font-size: 1.3rem;
				&:last-child {
					a {
						padding-right: 1.5rem;
						padding-top: 1.6rem;
					}
				}
				&.logged_in {
					padding: 1.5rem 2.2rem 1.2rem 1.5rem;
					&:after {
						content: "";
						border: solid @brand-white;
						border-width: 0 0.1rem 0.1rem 0;
						display: inline-block;
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						padding: 0.25rem;
						width: 0.1rem;
						height: 0.1rem;
						right: -0.8rem;
						top: -0.3rem;
						left: auto;
						margin: 0;
						position: relative;
						background-color: transparent;
					}
				}
				&.liOffcanvas {
					padding: 1.3rem 1.2rem;
					a {
						padding: 0;
						display: inline-block;
						&:after{
							//content: "";
							border: solid @brand-white;
							border-width: 0 0.1rem 0.1rem 0;
							display: inline-block;
							-ms-transform: rotate(45deg);
							transform: rotate(45deg);
							-webkit-transform: rotate(45deg);
							padding: 0.25rem;
							width: 0.1rem;
							height: 0.1rem;
							right: -0.8rem;
							top: -0.3rem;
							left: auto;
							margin: 0;
							position: relative;
							background-color: transparent;
						}
					}
				}
				svg {
					position: relative;
					top: 0.2rem;
					path {
						fill: @brand-white;
					}
				}
				.myAccountLinksHeader {
					display: none;
				}
			}
			.myAccountLinksHeader {
				color: @brand-white;
				height: auto;
				line-height: normal;
				&.show {
					background-color: @brand-primary;
					padding: 1.5rem 2.2rem 1.2rem 1.5rem;
					height: auto;
					line-height: normal;
				}
			}
		}
	}
	.form-group {
		margin-bottom: 0;
	}
	select {
		padding: 0.2rem 1rem;
		text-transform: capitalize;
		font-size: 1.3rem;
		height: auto;
		border-color: @brand-white;
		background: transparent;
		color: @brand-white;
		option {
			color: @brand-grey-text;
		}
	}
}
.nav__left {
	list-style: none;
	margin: 0;
	padding: 0 !important;
	li {
		&:first-child {
			padding: 0.5rem 1.5rem 0.5rem 0;
			width: 15rem;
		}
		padding: 1.3rem 1.5rem 1.3rem;
		font-size: 1.3rem;
		display: inline-block;
		line-height: 1.6;
		&.flag {
			a {
				padding-left: 3.5rem;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					background: url(../images/flag.png) left center no-repeat;
					width: 2.8rem;
					height: 2rem;
					background-size: contain;
					left: 0;
				}
			}
		}
		&.active {
			background: @brand-white;
			a {
				color: @brand-black;
			}
		}
	}
}
.mini-cart-count {
	text-transform: capitalize;
	span {
		font-size: 1.2rem;
		@media @phone, @tablet {
			font-size: 1.4rem
		}
		&.nav-items-total {
			span {
				@media @desktop{
					font-weight: normal;
				}
			}
			@media @phone, @tablet {
				font-family: @futuraPTBook;
			}
		}
	}
}
.navigation--bottom {
	box-shadow: 0 3.25238px 3.25238px rgba(153, 153, 153, 0.25);
	font-size: 1.2rem;	
	.nav__links--products {
		padding: 0;
		li {
			a {
				font-size: 1.2rem;				
			}
		}		
	}
}
@media (min-width: 1024px) {
	.sticky {
		position: fixed;
		top: 0 !important;
		width: 100%;
		z-index: 9;
	}
	.navigation--bottom {
		border-bottom: 1px solid @border-color-4;
		position: relative;
		z-index: 1;
		top: 0 !important;
		.container {
			position: relative;
		}
		.js-site-logo {
			padding: 2rem 0 0;
			a {
				padding: 0;
			}
		}
		.nav__links--products { 
			li {
				a {
					text-transform: none;
					font-weight: normal;
					color: @brand-default-text;
					padding: 2.4rem 1.8rem;
					&:hover,
					&:active,
					&:focus{
						color: @brand-dark-blue;
						text-decoration: underline;
					}
				}
				&.nav__links--primary-has__sub { 
					.nav__link { 
						position: relative;
						a {
							&:after {
								content: "";
								border: solid @brand-default-text;
								border-width: 0 0.1rem 0.1rem 0;
								display: inline-block;
								-ms-transform: rotate(45deg);
								transform: rotate(45deg);
								-webkit-transform: rotate(45deg);
								padding: 0.25rem;
								width: 0.1rem;
								height: 0.1rem;
								right: -0.8rem;
								top: -0.2rem;
								left: auto;
								margin: 0;
								position: relative;
								background-color: transparent;
							}
						}
					}
					&.show-sub { 
						.nav__link { 
							a {
								color: @brand-dark-blue;
								text-decoration: underline;
								&:after {
									border: solid @brand-dark-blue;
									transform: rotate(45deg);
    								border-width: 0 0.1rem 0.1rem 0;		
								}
							}
						}
					}
				}
			}
			.nav__links--primary {
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				.sub-navigation-section {
					float: left;
				}
				.sub__navigation {
					&.remove-offset {
						.row {
							margin-left: -1rem;
						}
					}
					.sub-navigation-list {
						li {
							border: none;
							&:first-child {
								a {
									&:hover {
										text-decoration: none;
									}
								}
							}
							a {
								padding: 2rem 3rem;
								&:hover {
									background-color: @brand-dark-magenta;
									color: @brand-white;
									text-decoration: none;
								}
							}
						}
					}
				} 
			}
		}
		.main_search-icon {
			color: @brand-primary;
			font-size: 1.5rem;
			padding: 2.2rem 1rem;
			display: inline-block;
			margin-right: 1rem;
			cursor: pointer;
		}
	}
	.navigation__overflow {
		float: left;
		width: 83.33333333%;
	}
	.inner-addon.left-addon{
		padding: 1.7rem 1rem;
		background-color: @brand-draker-grey;
		width: 100%;
		input {
			padding-left: 1.2rem;
			border: 1px solid @btn-default-border;
			height: auto;
			padding-right: 9.5rem;
		}
		.btn {
			font-size: 1.2rem;
			line-height: 0.8rem;
			border-width: 0.1rem;
		}
		.glyphicon {
			position: static;
    		padding: 0;
    		pointer-events: auto;
		}
		.input-group-btn {
			position: absolute;
			right: 9.3rem;
    		z-index: 9;
		}
	}
	.search-icon-block {
		position: relative;
	}	
	.search-form-block {		
		opacity: 0; 
		z-index: -2;
		position: absolute;
		right: 0;
		width: 30rem;
		transition: opacity .6s;
	}
	.site-search {
		.ui-menu {
			.ui-menu-item {
				border-top: 1px solid @brand-lighter-gray;
    			padding: 1rem;
			}
			.ui-menu-item-wrapper {
				display: table;
				width: 100%;
				color: inherit;
				text-decoration: none;
				&.ui-state-active {
					border: 1px solid @brand-primary;
					background: transparent;
				}
			}
			.thumb, .name, .price {
				display: table-cell;
				vertical-align: middle;
				padding: 0 1rem 0 0;
			}
			.thumb img {
				width: 3rem;
			}
			.name {
				width: 100%;
			}
		}
	}
}

.branding-mobile {
	width: 100%;
	padding: .8rem 0;
	background: @brand-tertiary;
	border-bottom: none;
}
.navigation--bottom.js-enquire-offcanvas-navigation .close-nav button span {
	color: @brand-primary;
}
.ui-widget {
	font-family: inherit;
}

@media (min-width: 640px) and (max-width: 1023px) {
	.navigation--middle {
		background: @brand-white;
		.nav__left .site-search .input-group {
			background: @brand-primary;
		}
		.nav-cart .mini-cart-icon {
			top: 0.2rem;
		}
	}
}

@media (max-width: 1023px) {
	.nav__left {
		li {
			padding: 1rem 0.6rem;
		}
	}
	.navigation--middle {
		.nav__left {
			.site-search {
				.inner-addon .glyphicon {
					position: static;
				}
				ul.ui-autocomplete {
					left: 0 !important;
				}
				.input-group {
					background-color: @brand-primary;
				}
			} 
		}
		.nav-cart {
			&:hover {
				background-color: transparent;
			}
		} 
	} 
}

@media (max-width: 1023px) {
	.nav__left {
		li {
			a {
				color: @brand-black;
			}
		}
	}
	.navigation--middle {
		.nav__left .site-search {
			.input-group {
				.form-control {
					color: @brand-white;
					&::-webkit-input-placeholder { /* Edge */
						color: @brand-white;
					}			
					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
						color: @brand-white;
					}			
					&::placeholder {
						color: @brand-white;
					}
				}			
			} 
			ul.ui-autocomplete li {
				a {
					padding: 0;
				}
				.name {
					padding: 0;
				}
			}
		} 
		.nav-cart {
			.mini-cart-count .nav-items-total {
				top: -1rem;
				background-color: @brand-dark-blue;
				text-align: center;
			}
		}
		.nav-location span {
			svg {
				vertical-align: sub;
			}
		}
	} 
	.sticky-nav-top .userSign {
		color: @nav-link-color;
	}
	.navigation--bottom {
		.container {
			padding: 0;
		}
		.userGroup {
			color: @nav-link-color;
			a {
				color: @nav-link-color;
			}
			.userName {
				font-size: 1.5rem;
			}
		}
		.nav__links--mobile {
			li {
				background: transparent;
				a {
					color: @nav-link-color;
				}
			}
			.subNavList {
				li {
					background: transparent;
				}
			}
			div.sub-nav .myAccountLinksHeader {
				text-transform: capitalize;
			}
		}
		.nav__links--products {
			li.liUserSign {
				a.userSign {
					text-transform: capitalize;
				}
			} 
		} 
		.nav__links--primary-has__sub {
			.nav__link--drill__down {
				text-align: center;
				background: url(../images/down_black.svg) center no-repeat;
				padding: 1.4rem 1.5rem;
				top: 1rem;
				width: 15%;
				&:before {
					content: '';
				}
				&.open {
					background: url(../images/down_blue.svg) center no-repeat;
				}
			}
		}  
	} 
	.custom-mobile-links {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				font-size: 1.2rem;
				padding: 1.2rem 1.5rem;
				background-color: @brand-tertiary;
				.form-group {
					margin: 0;
				}
				&.paymybill,
				&.storelist {
					a {
						color: @brand-white;
					}
					svg {
						vertical-align: text-bottom;
					}
				}
			}
		}
	}
}

@media @smartphones {
	.navigation--middle{
		.nav-cart{
			.mini-cart-count {
				.nav-items-total {
					top: 0;
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	.container {
		width: 1024px !important;
	}
}

header {
    margin-bottom: 0;
	@media (max-width: @screen-sm-max) {
		position: relative;
	}
}
