//custom design for banner

.home-banner {
	position: relative;
	@media @phone {
		display: none; 
	}
	img {
		width: 100%;	
    	.object-fit();
	}
	.home-banner-cta{
		position: absolute;	
		top: 35rem;
		display: flex;
		flex-direction: column;
		min-width:25rem;
		font-size: 1.8rem;		
		@media (max-width: 320px) {
			position:relative;
			right: 1rem;
			min-width: 9.5rem;
			font-size: 1rem;
			top: 9rem;
		}				
		@media (min-width: 320px) and (max-width: 374px) {
			position:relative;			
			min-width: 9rem;
			max-width: 12rem;
			font-size: 1rem;
			top: 10rem;
			transform: scale(0.7);
			margin-left: -1rem;			
		}
		@media (min-width: 375px) and (max-width: 424px) {
			position:relative;			
			min-width: 9rem;
			max-width:12rem;
			font-size: 1rem;
			top: 11.5rem;
			transform: scale(0.8);
			margin-left: -1rem;
		}	
		@media (min-width: 425px) and (max-width: 767px) {
			position:relative;
			right: 0rem;
			min-width: 9.5rem;
			max-width: 12rem;
			font-size: 1rem;
			top: 17rem;
			transform: scale(0.9);
		}	
		@media @tablet{			
			top: 26rem;
			font-size: 1rem;
			min-width: 15rem;	
		}
		@media @desktop_mini{			
			top: 37rem;
			font-size: 1.5rem;
			min-width: 20rem;
		}
		
		.banner-btn-first{
			.btn-blue;
			font-family: @futuraPTBold;			
			position: relative;
			text-transform: uppercase;			
			padding: 1rem;
			line-height: 2.4rem;
			@media @phone{
				line-height: 1rem;
				font-size: 0.8rem;				
				margin-top: 0.7rem;
			}
			@media @tablet{
				line-height: 1.5rem;
				font-size: 1rem;
			}
			@media @desktop_mini{
				font-size: 1.5rem;
				line-height: 1.8rem;
				padding:0.8rem;
			}
		}
		.banner-btn-second{
			.banner-btn-first;		
			 margin-top:1.5rem;
			@media @phone{				
				margin-top: 0.5rem;
			}
			@media @tablet{				
				margin-top: 1rem;
			}
			@media @desktop_mini{
				font-size: 1.5rem;
				line-height: 1.8rem;
				padding:0.8rem;
			}
		}
	  }	
	
}
.promotion-cta{
	position:relative;	
	display: flex;
	flex-direction: column;
	right:35rem;	
	top:4rem;
	min-width: 41rem;
	@media @phone{
		transform: scale(0.3);
		top: 0rem;
		margin-top: -10rem;
		right:25rem;
	}
	@media @tablet{
		min-width: 30rem;
		right: 21rem;
		top: 2rem;
	}
	@media @desktop_mini{
		min-width: 30rem;
		right: 28rem;
		top: 7rem;
	}	
	@media (min-width: 1400px) and (max-width:1499px){
		transform: perspective(1px) translateX(-10%) translateY(10%);
	}
	@media (min-width: 1500px) and (max-width:1599px){
		transform: perspective(1px) translateX(-20%) translateY(20%);
	}
	@media (min-width: 1600px) and (max-width:1699px){
		transform: perspective(1px) translateX(-30%) translateY(30%);
	}
	@media (min-width: 1700px) and (max-width:1799px){
		transform: perspective(1px) translateX(-30%) translateY(30%);
	}
	@media (min-width: 1800px){
		transform: perspective(1px) translateX(-50%) translateY(50%);
	}
	.heading{
		span {
		display: flex;
		flex-direction: column;
		text-transform: uppercase;
		font-size:3.2rem;
		line-height: 4.1rem;
		font-weight: 700;
		font-family: @futuraPTLight;
		color:@brand-white;
		@media @tablet{
			font-size: 1.8rem;
			line-height: 2rem;
		}
		&:first-child {
			font-family: @futuraPTBold;
			font-size:4rem;
			line-height: 5.1rem;
			font-weight: 700;
			@media @tablet{
				font-family: "futuraPTBold";
				font-size: 2.2rem;
				line-height: 2.6rem;
				font-weight: 700;
			}
		}
	  }
	}
	.description{
		display: block;
		font-size: 2.4rem;
		line-height: 3.1rem;
		max-width: 90%;
		margin-top:2rem;
		color:@brand-white;
		@media @tablet{
			font-size: 1.5rem;
			line-height: 1.5rem;
		}
	}
	.promotion-button{
		.btn-blue;		
		position: relative;
		display: block;		
		max-width: 50%;	
		margin-top:2rem;
		font-family: 'futuraPTBold';
	}	
}
.chat-link {
	position: fixed;
    background: #0ea6f5;
    right: -4.6rem;
    top: 27rem;
    color:@brand-white;
    transform: rotate(-90deg);
    border: 0;
    font-size: 1.6rem;
    padding: 0.2rem 1.5rem;
    border-radius: 0.8rem 0.8rem 0 0;
	&:hover, &:focus {
		color: @brand-white;
	}
}
.page-homepage {
	.home-banner .home-block {
		right:0;
		left:0;
	}
	.category-banner-section {
		@media @phone {
			.home-block {
				position: relative;
				transform: none;
				right: auto;
			}
			.promotion-cta {
				transform: none;
				margin-top: 0;
				right: auto;
				left: 10%;
				top: 5rem;
				min-width: auto;
				width: 80%;
				@media (max-width: 320px) {
					top: 3rem;
				}				
				@media (min-width: 320px) and (max-width: 374px) {
					top: 2rem;
				}
				@media (min-width: 375px) and (max-width: 424px) {
					top: 3rem;
				}
				.heading {
					span {
						@media (max-width: 320px) { 
							font-size: 2.2rem;
    						line-height: 3rem;
						}
						@media (min-width: 321px) and (max-width: 374px) {
							font-size: 2.4rem;
    						line-height: 3.7rem;
						}
						@media (min-width: 375px) and (max-width: 424px) {
							font-size: 2.4rem;
						line-height: 3.7rem;
						}
						&:first-child {
							@media (max-width: 320px) {
								font-size: 3rem;
								line-height: 3.5rem;
							}
							@media (min-width: 321px) and (max-width: 374px) {
								font-size: 3.2rem;
    							line-height: 4.1rem;
							}
							@media (min-width: 375px) and (max-width: 424px) {
								font-size: 3.2rem;
    							line-height: 4.1rem;
							}
						}
					}
				}
				.description {
					font-size: 2.3rem;
					line-height: 2.9rem;
					margin-top: 0;
					@media (max-width: 320px) {
						font-size: 1.8rem;
						line-height: 2.2rem;
					}
				}
				.promotion-button {
					max-width: fit-content;
				}
			}
		}
	}
}

// Experience section
.experience-section {
	padding: 8rem 0;		
	text-align: center;
	font-family: @futuraPTBold;
	@media @phone {
		padding: 2rem 2rem 8rem 2rem;
	}
	@media @tablet{
		padding-left: 2rem;
		padding-right: 2rem;
	}
	@media @desktop{
		// width: 100%;
		margin: auto;
	}	
	.experience-col {
		width: 25%;
		padding: 0 0.5rem;
		display: inline-block;
		text-align: left;
		@media @phone{
			width: 90%;
		}
		.headline{
			position: relative;		
			font-family: @futuraPTBold;			
			font-size: 2.5rem;
			line-height: 3.2rem;			
			text-align: center;
			text-transform: uppercase;
			color: @text-color-darkBlack;			
			@media @phone{
				margin-top: 4rem;
			}
			@media @tablet{
				font-size: 2rem;
			}
		}
	}
	.experience-block {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;			
		}
	}
	img {
		width: 100%;
	}
	.descContainer{
		position: absolute;
		top: 33.33%;
		height: 66.66%;
		width: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.63) 76.04%);
		.desc {
			position: absolute;
			top:0;
			bottom: 2rem;
			left: 10%;		
			right:10%;
			font-size: 1.8rem;
			line-height: 2.4rem;			
			color: @brand-white;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			@media @phone {
				left: 0;		
				right: 0;
				bottom: 0;
			}
			p {		
				text-align: left;		
				color: @brand-white;	
				font-family: @futuraPTLight;
				font-size: 1.8rem;
				line-height: 2.3rem;
				font-weight: 500;
				font-weight: bold;				
				@media @phone{
					font-size: 2rem;
					text-align: center;
					text-align-last: center;
					width: 90%;
					margin-left: auto;
					margin-right: auto;
				}		
				@media @tablet{
					font-size: 1.4rem;
					line-height: 1.5rem;
				}
				@media @desktop_mini{
					font-size: 1.8rem;
				    line-height: 2rem;
				}
				@media @desktop{
					line-height: inherit;
				}				
			}
			a {
				display: block;
				margin-top: auto;
				@media @phone{
					width: 100%;
					height: 4rem;
					margin-top: 5rem;
				}
				@media @tablet{
					font-size:1.4rem;
					padding: 0;
				}
				&:focus {
					color: @brand-white;
				}
			}
		}

	}
}


// live more section
.page-homepage{
	.livemore-section {
		background-color: @brand-lighter-gray;
		&.plp-livemore-section {	
			padding: 9rem 3rem;		
			@media @phone{
			   padding: 0 0rem 6rem 0rem;
			}
		}
		.plpContainer {
			margin-bottom: 0;
			@media @desktop_mini{
				width: 100%;
			}
		}
	}
	.cta-container {		
		&,
		& > div {						
			    @media @tablet{
				:nth-child(n+4) {
					margin-top: 0rem;
				}
			}
		}
	}
}
.livemore-section {
	padding: 9rem 3rem;
	text-align: center;
	@media @desktop_mini{
		padding-top: 9rem;
        padding-bottom: 9rem;
	}
	.headline {
		font-family: @futuraPTBold;
		font-size: 3rem;
		color: @brand-primary;
		margin-bottom: 9rem;		
		font-size: 3.2rem;
		line-height: 4.1rem;
		text-align: center;
		text-transform: uppercase;
		/* Gray Global */
		color: @text-color-darkBlack;
		margin-top: 0;		
		@media (max-width: 639px) {	
			margin: 4rem 0 0rem 0;
		}
		@media (max-width: 1023px) and (min-width: 640px) {
		 padding: 0 0.5rem;
		}		
	}
	
	.livemore-col {
		width:90%;	
		display:flex;
		flex-direction:column;
		text-align: center;
		background-color: @brand-white;				
		border-radius: 0;
		justify-content: space-between;
		box-shadow: 0 0.15rem 0.71rem rgba(116, 116, 116, 0.25);	
			@media @phone{
			margin: 10rem 0.5rem 0 0.5rem; 
			width:85%;
		}
		.cta-header{
			background: url("../images/cta_header.svg") center no-repeat;			
			width:100%;			
			height:12rem;					
			margin-top:-6rem;
			left:0;
			position: absolute;		
	
		}
		.cta-header-text{			
			margin-right: auto;
			margin-left: auto;
			display: block;            
			color: @brand-white;
			.headertext{
				font-family: @Grandstander;  
				font-size: 2.5rem;	
				padding-top: 3rem;			
				&:first-letter {
					font-size:2.2rem;
				}
			}			
			.description{		
				font-family: @futuraPTLight;
                font-size: 1.6rem;                
			    font-weight: 700;   
				padding-right: 1rem;
				line-height: 2.1rem;                              
			}

		}
		h3 {
			background-color: @brand-tertiary;
			color: @brand-white;
			font-family: @futuraPTBold;
			font-size: 1.6rem;
			padding: 1rem 0.5rem;
			margin: 0;
			text-transform: uppercase;
			&.internet-mega{
				background-color: @brand-green;
			}
			&.promotion-product{
				background-color: @brand-dark-magenta;
			}
		}
		.img-block {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;				
			}
			img {
				width: 100%;				
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
					&.cta-img{
						&-large{
							max-width: 36rem;
						}
						&-small{
							max-width: 25.8rem;
						}
					}
				}
			}
			
			h4 {
				position: absolute;
				top: 50%;
				left: 50%;
				-moz-transform: translateX(-50%) translateY(-50%);
				-webkit-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
				margin: 0;
				color: @brand-white;
				font-family: @futuraPTBold;
				font-size: 1.8rem;
				text-transform: uppercase;
				width: 90%;
			}
		}
		.char-spec {
			margin-bottom: 0.5rem;
			display: inline-block;
			/*width: 100%;*/				
			border-radius: 0;
			position: relative;
			padding: 25% 10% 0 10%;		

			@media (max-width: 1023px) and (min-width: 640px) {
				padding: 40% 10% 0 10%;		   
			}
			table {
				height: 100%;			
			  
			}
			table td{
				padding: 2rem;				
				@media (max-width: 1023px) and (min-width: 640px){
					padding:2rem 1rem;
				}
			}
			table tbody tr {
				border-bottom:0.072rem solid @border-color-4;
				&:last-child {
					border-bottom: none;
				}

			}			
			.sd_channels, .tv_sessions {
				&:before {
					background: url("../images/channels_icon.svg") center no-repeat;
				}
			}
			.voice, .roaming_minutes {				
				&:before {
					background: url("../images/call_icon.svg") center no-repeat;
				}
			}
			.data_volume {
				&:before {
					background: url("../images/data.svg") center no-repeat;	
				}
			}
			.sim_card {
                &:before {
                    background: url("../images/simcardicon.svg") center no-repeat;
                }
            }
            .whatsapp {
                &:before {
                    background: url("../images/whatsapp_icon.svg") center no-repeat;
                }
            }
            .mobile_icon {
                &:before {
                    background: url("../images/mobile.svg") center no-repeat;
                }
            }
			.char-spec-col {
				position: relative;
				color: @brand-primary;
				font-size: 1.2rem;								
				border-radius: 0;				
				display: flex;
				flex-direction: row;
				@media (max-width: 1023px) and (min-width: 640px) {				
					margin-bottom: 0.5rem;
				}
				& :before{
					top:0;
				}
				
				.spec-description{
					width: 100%;					
					position: relative;
					display: flex;
					flex-direction: row-reverse;
					justify-content: space-around;
					word-break: break-word;

					.spec-heading{
						position: relative;					
						font-family: @futuraPTBold;						
						font-size: 1.6rem;									
						color: @text-color-darkBlack;	
						padding-left: 20%;
						margin-right: auto;						
						text-align: left;
						line-height: 2.1rem;	
						.spec-text{
							display:block;
							position: relative;
							font-family: @futuraPTLight;							
							font-weight: 700;
							font-size: 1.6rem;
							line-height: 2.1rem;						
							color:@text-color-grey-1;
							word-wrap: break-word;
							text-align:left;
							margin-top: 0.5rem;							
						}										
					}
					
				}				
				&:before {
					width: 4.3rem;
					height: auto;
					position: relative;										
					margin: 0;
					content: '';
					background-size: contain;
				}
				.download-icon,
				.upload-icon{
					color: @brand-gray;
					font-size: 1rem;
				}
				.speed-value{
					width: 6.5rem;
					display: inline-block;
				}
			}
			.spec-opts{
				table td{		
					padding:0;
					.char-spec-col{			
						margin-bottom: 0.5rem;
					}
				}
			}			
		}
		.price {
			color: @brand-primary;
			font-size: 1.6rem;
			font-family: @futuraPTBold;
			span {
				font-size: 0.9rem;
			}
		}
		.buynow-btn {
			.btn-yellow();			
			font-family: @futuraPTBold;
			margin-bottom:3rem;
			width: 80%;
			display: inline-block;		
			@media @tablet{
				margin-top: 0;				
			}
			&[disabled]{
				background-color: @plp-category-btn-device;
				border-color: @plp-category-btn-device;
			}
		}
		.seeMoreBundle {
			font-size: 1.2rem;
			text-decoration: underline;
			&:hover, &:focus {
				color: @brand-primary;
			}
		}
	}
}

  @media (min-width: 1400px) {
	.container {
		width: 120rem;
		
	}	
}
