.order-confirmation {
    .order-confirmation-title {
          font-family: @MontserratBold;
          font-style: normal;
          font-size: 2.4rem;
          line-height: 2.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 4rem 0 6rem 0;
          text-transform: uppercase;
          color: @brand-white;
          background-color: @brand-dark-blue;
          border-radius: 0.6rem;
          padding: 1rem;
          @media @phone{
            font-size: 1.8rem;
            line-height: 2.2rem;
            margin: 3rem 0 2rem 0;
        }
    }
    .purchase-request {
      height: auto;
      display: flex;
      flex-direction: row;

      background: @info-message-bgcolor;
      border: 1px solid @info-message-borderColor;
      box-sizing: border-box;
      border-radius: 0.6rem;
        .order-desc-content{
          display: flex;
          flex-direction: column;
          margin: 1.1rem 0 0.7rem 0;
        }
         .infoIcon {
          background-image: url("../images/info.svg");
          height: 2.4rem;
          width: 2.4rem;
          display: block;
          margin-top: 2rem;
        }
        .order-desc-title{
          width: 100%;
          height: 2.9rem;
          font-family: @MontserratMedium;
          font-size: 1.8rem;
          line-height: 2.2rem;
          display: flex;
          align-items: center;
          color: @brand-black;
           @media @phone{
                font-size: 1.4rem;
                line-height: 1.7rem;
           }
           .orderNumber{
               font-size: 2.4rem;
               margin-left: 1rem;
               @media @phone{
                    font-size: 1.8rem;
                    line-height: 2.1rem;
               }
            }
        } 
         .order-desc-sub-title{
          width: 100%;
          height: auto;
          font-family: @MontserratMedium;
          font-size: 1.4rem;
          line-height: 1.7rem;
          color: @brand-black;
           @media @phone{
                font-size: 1rem;
                line-height: 1.2rem;
           }
        }
    }
    
    .thankyou-text{
      font-family: @MontserratBold;
      font-size: 1.8rem;
      line-height: 2.2rem;
      color: @brand-dark-blue;
      margin: 3rem 1.5rem;
        @media @phone{
                font-size: 1.4rem;
                line-height: 1.7rem;
        }
       .thankyou-text-response{
          height: auto;
          font-family: @MontserratMedium;
          font-size: 1.8rem;
          line-height: 2.2rem;
          color: @brand-grey-text;
          margin: 3rem 0;
            @media @phone{
                font-size: 1.4rem;
                line-height: 1.7rem;
            }
            a {
              color: @brand-dark-blue;
            }
        }
    }

    .sub-section-content{
      height: auto;
      margin-bottom: 2rem;
      background: @sub-section-bgcolor;
      border: 1px solid @sub-section-border-color;
      box-sizing: border-box;
      border-radius: 0.6rem;
       .sub-section-title{
          font-family: @MontserratBold;
          font-style: normal;
          font-size: 1.8rem;
          line-height: 2.2rem;
          display: flex;
          align-items: center;
          color: @brand-dark-blue;
          margin: 1.5rem;
        }
         .sub-section-body{
          font-family: @MontserratMedium;
          font-size: 1.8rem;
          line-height: 2rem;
          color: @sub-section-text-color;
          background: @brand-white;
          border: 1px solid @sub-section-border-color;
          box-sizing: border-box;
          border-radius: 0.6rem;
          margin: 1rem;
          padding: 1.5rem 1.5rem 0.5rem 1.5rem;
           @media @phone{
                font-size: 1.4rem;
                line-height: 2rem;
            }
           p{
              margin-bottom: 2rem;
              .phoneNum{
                  font-family: @MontserratBold;
                }
                .watsapptext{
                  background: url("../images/whatsapp_x1.png") left no-repeat;
                  background-size: 1.8rem;
                  padding-left: 2.3rem;
                  margin-left: 0.4rem;
                  font-weight: bold;
                  line-height: 19.5px;
                  }
            }
            .tvIcon{
              background-image: url("../images/tv.svg");
              height: 2.4rem;
              width: 2.175rem;
              display: block;
              margin: 1rem auto;
               @media @phone{
                    margin: 0.5rem 0 1.5rem 0;
               }
            }
             .setTopBoxIcon{
              background-image: url("../images/setTopBox.svg");
              background-repeat: no-repeat;
              height: 3.5rem;
              width: 6.578rem;
              display: block;
              margin: 1rem auto;
              @media @phone{
                    margin: 0.5rem 0 1.5rem 0;
              }  
            } 
        }
        &.general-condition .sub-section-body p{
          font-family: @MontserratMedium;
          font-size: 1.6rem;
          line-height: 2rem;
          color: @brand-grey-text;
        }
        .card-icons {
            display: flex;
        }
        .card-content {
             .card-title{
                  font-family: @MontserratBold;
                  font-size: 1.6rem;
                  line-height: 2rem;
                  color: @brand-dark-blue;
                  margin-top: 1rem;
                  margin-bottom: 2rem;
                  display: block;
            }
             .brand-dark-blue-text{
                 color: @brand-dark-blue;
                 font-family: @MontserratMedium;
            }
             .brand-dark-blue-textBold{
                 color: @brand-dark-blue;
                 font-family: @MontserratBold;
            }
            p{
                  font-family: @MontserratMedium;
                  font-size: 1.2rem;
                  line-height: 1.2rem;
                  color: @brand-default-text;
                   @media @phone{
                        line-height: 1rem;
                    }
                  &:before{
                      content: '';
                      background-image: url("../images/tick.svg");
                      height: 0.973rem;
                      width: 1.223rem;
                      display: inline-block;
                      margin-right: 1rem;
                }
            }
        }

         .order-information-text-content{
            display: flex;
            flex-direction: row;
            background: @info-message-bgcolor;
            border: 1px solid @info-message-borderColor;
            box-sizing: border-box;
            border-radius: 0.6rem;
            margin: 0 1.5rem;
            padding: 1.5rem 1rem;
            align-items: center;
             .infoIcon{
                background-image: url(../images/info.svg);
                height: 2.4rem;
                width: 2.4rem;
                display: block;
            }
             .order-desc-content {
                display: flex;
                flex-direction: column;
            }
             .order-desc-sub-title {
                width: 100%;
                height: auto;
                font-family: @MontserratMedium;
                font-size: 1.2rem;
                line-height: 1.7rem;
                color: @brand-black;
                margin-bottom: 0;
            }
        }
    }

    .bill-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & > span {
            margin: 1rem 0;
        }
        .purchased-product {
            font-family: @MontserratMedium;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: @brand-black;
        }
        .purchased-product-amount{
            font-family: @MontserratMedium;
            font-size: 1.4rem;
            line-height: 1.6rem;
            text-align: right;
            color: @brand-black;
        }
    }

    .bill-total-balance{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & > span {
            margin: 1rem 0;
        }
        .purchased-product{
          font-family: @MontserratMedium;
          font-size: 1.4rem;
          line-height: 1.6rem;
          display: flex;
          align-items: center;
          color: @brand-dark-blue;
        }
        .purchased-product-amount{
          font-family: @MontserratMedium;
          font-size: 1.4rem;
          line-height: 1.4rem;
          display: flex;
          align-items: center;
          text-align: right;
          color: @brand-dark-blue;
        }
    }
    .bill-total-spacer {
      color: @line-spacer;
      margin-bottom: 1rem;
    }
    .checkout-order-summary {
      .text-underline {
        text-decoration: underline;
      }
    }
}

.page-orderConfirmationPage {
  .cart-totals {
    background-color: @checkout-background;
    border: 1px solid @checkout-border;
    border-radius: 0.6rem;
    padding: 1.5rem;
    margin: 0;
  }
  .cart-total-summary + .cart-total-summary {
    margin-top: 1.5rem;
  }
}

@media @phone {
  .checkout-success {
    padding: 0 1rem;
  }
}