.pdp-custom {
    .product-details {
        .name {
            color: @brand-drak-grey;
            text-transform: uppercase;
            font-family: @Grandstander;
        }
    }
    .product-details.page-title {
        padding: 2rem 4rem;
    }
    .gallery-carousel,
    .image-gallery__zoom-icon {
        display: none !important;
    }
    .product-main-info {
        .product-details {
            margin-top: 1rem;
            .name {
                font-family: @futuraPTBold;
                color: @brand-dark-magenta;
                text-transform: uppercase;
                font-size: 2.7rem;
            }
            .description {
                color: @brand-grey-text;
                padding: 0;
                font-size: 1.8rem;
            }
            .price {
                color: @brand-primary;
                font-family: @futuraPTBold;
                span {
                    font-size: 0.9rem;
                }
                &.fmc-price {
                    color: @brand-black;
                }
            }
            .addtocart-component .qty-selector{
                border: 1px solid @text-color-darkBlack;
                z-index: 0;
                &:hover {
                   border: 1px solid @brand-primary;
                }
                .form-control {
                    font-size: 2.4rem;
                    box-shadow: none;
                    border: 0;
                    @media @phone{
                        width: 4rem;
                    }
                }
                .input-group-btn {
                    width: 3rem;
                    .btn{
                        width: 100%;
                        padding: 0;
                    }
                }
                .btn{
                    &,
                    &[disabled],
                    &:hover,
                    &:active{
                        background-color: transparent;
                        border-color: transparent;
                        color: @brand-primary;
                    }
                }
            }
            .addtocart-component .stock-wrapper,
            .stock-wrapper {
                display: none;
            }
            .actions {
                margin-left: 0;
            }
            .sub-desc{
                font-size: 1.8rem;
            }
            .pdp-spec-info{
                padding: 1rem 2rem;
                .prod-spec-details{
                    padding-left: 1rem;
                    .spec-head{
                        margin: 0;
                        color: @brand-light-black;
                        .plan-head{
                            font-family: @futuraPTBold;
                        }
                        &.correct-icon:before,
                        &.data-volume:before,
                        &.sd-channels:before,
                        &.voice-landline:before,
                        &.call-mobile:before{
                            position: absolute;
                            left: 0;
                            margin: 0.5rem 1rem;
                            padding: 1rem;
                            content: '';
                        }
                        &.correct-icon::before{
                            background: url(../images/correctIcon.svg) center no-repeat;
                            background-size: contain;
                        }
                        &.data-volume:before{
                            background: url(../images/data.svg) center no-repeat;
                            background-size: contain;
                        }
                        &.sd-channels:before{
                            background: url(../images/channels_icon.svg) center no-repeat;
                            background-size: contain;
                        }
                        &.voice-landline:before{
                            background: url(../images/call_landline.svg) center no-repeat;
                            background-size: contain;
                        }
                        &.call-mobile:before{
                            background: url(../images/mobile.svg) center no-repeat;
                            background-size: contain;
                        }
                    }
                    .spec-desc{
                        font-size: 1.8rem;
                    }
                    .spec-desc-fmc{
                        font-size: 1.8rem;
                        font-family: @futuraPTBook;
                    }
                }
                .spec-link{
                    text-decoration: underline;
                }
                ul{
                    padding-left: 0;
                    li{
                        list-style-type: none;
                        &:before{
                            content:'\25A0';
                            color: @brand-primary;
                            padding-right: 0.5rem;
                            vertical-align: text-bottom;
                        }
                    }
                }
            }
        }
        .addtocart-component {
            //start for FMC 2P & 3P PDP add to cart button design
            .btnqtyItemInfo {
                @media @desktop{
                    display: inline-block;
                    vertical-align: bottom;
                }
                position: relative;
                #addToCartButton {
                    &:hover,
                    &:focus,
                    &:active{
                        background-color: @brand-primary;
                        border-color: @brand-primary;
                    }
                    margin-bottom: 0;
                    @media @tablet{
                        padding: 1rem;
                    }
                    @media @phone{
                        width: 100%;
                        height: 5rem;
                    }
                    &.disabled{
                        background-color: @plp-category-btn-device;
                        border-color: @plp-category-btn-device;
                    }
                    &.btn-icon {
                        padding: 1rem 5rem;
                        width: 100%;
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                }

                .tooltiptext {
                    visibility: hidden;
                    width: 100%;
                    background-color: @brand-black;
                    color: @brand-white;
                    text-align: center;
                    border-radius: 0.6rem;
                    padding: 1.2rem;
                    position: absolute;
                    z-index: 1;
                    bottom: 6rem;
                    opacity: 0;
                    transition: opacity 0.3s;
                    font-size: 1.3rem;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        margin-left: -0.5rem;
                        border-width: 0.5rem;
                        border-style: solid;
                        border-color: @brand-black transparent transparent transparent;
                    }
                }
                &:hover{
                    .tooltiptext{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            //end for FMC PDP add to cart button design
            .qtyDiv {
                .qtyHeading {
                    font-family: @futuraPTBook;
                    font-style: normal;
                    font-size: 1.8rem;
                    line-height: 1.8rem;
                }
                .qtyItemInfo{
                    display: inline-block;
                    margin-right: 0.3rem;
                    .box-type {
                        font-family: @futuraPTBook;
                        font-style: normal;
                        font-size: 1.6rem;
                        line-height: 1.8rem;
                        margin-bottom: 0.5rem;
                        span {
                            font-family: @futuraPTBook;
                            color: @brand-primary;
                        }
                    }
                    input[type="text"] {
                        border: none;
                        height: 4.5rem;
                        @media @phone{
                            width: 5rem;
                        }
                    }
                }
                .btnqtyItemInfo {
                     position: relative;
                     @media @phone{
                         display: block;
                         margin-top: 1rem;
                     }
                     p {
                         margin-bottom: 0;
                     }
                     #addToCartButton {
                        &:hover,
                        &:focus,
                        &:active{
                            background-color: @brand-primary;
                            border-color: @brand-primary;
                        }
                        margin-bottom: 0;
                        @media @tablet{
                            padding: 1rem;
                        }
                        @media @phone{
                            width: 100%;
                            height: 5rem;
                        }
                        &.disabled{
                            background-color: @plp-category-btn-device;
                            border-color: @plp-category-btn-device;
                        }
                        &.btn-icon {
                            padding: 1rem 2rem;
                        }
                     }

                     .tooltiptext {
                        visibility: hidden;
                        width: 100%;
                        background-color: @brand-black;
                        color: @brand-white;
                        text-align: center;
                        border-radius: 0.6rem;
                        padding: 1.2rem;
                        position: absolute;
                        z-index: 1;
                        bottom: 6rem;
                        opacity: 0;
                        transition: opacity 0.3s;
                        font-size: 1.3rem;
                        &::after{
                            content: "";
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            margin-left: -0.5rem;
                            border-width: 0.5rem;
                            border-style: solid;
                            border-color: @brand-black transparent transparent transparent;
                        }
                    }
                    &:hover{
                        .tooltiptext{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    .esFmcBuyNowBtn {
                        @media @tablet{
                            margin-top: 2rem;
                        }
                        @media @phone{
                            padding: 0;
                        }
                    }
                }
            }
            @media @phone{
                margin-top: 0;
            }
        }
        .productNameInfo {
            .prodName {
                font-family: @futuraPTBook;
                font-style: normal;
                font-size: 2.6rem;
                line-height: 3.3rem;
                text-transform: uppercase;
            }
        }
    }
}
.textPrimaryColor {
    color: @brand-primary;
}
.pageType-ProductPage{
    footer{
        margin-top: 0;
    }
    .plp-livemore-section{
        background-color: @brand-white;
        .category-head-section{
            margin-bottom: 1rem;
            @media @phone{
                margin-bottom: 5rem;
            }
            .subheadline{
                font-size: 3.2rem;
            }
            .special-text{
                color: @brand-primary;
            }
            .subhead-black{
                color: @brand-black;
            }
        }
    }
}
.img-con-style{
    width: 2.5rem;
    height: 2.3rem;
    position: absolute;
    left: -3rem;
    margin: 0 auto;
    content: '';
    background-size: contain;
}
.tab{
    &-content-details{
        margin-bottom: 3rem;
        @media @phone{
            padding: 0 1rem;
        }
        .tab-data{
            &-head{
                font-size: 1.5rem;
                color: @brand-light-black;
                font-family: @futuraPTBold;
                &.pdp{
                    &-inet-icon,
                    &-tv-icon,
                    &-home-icon,
                    &-mobile-icon,
                    &-disclaimer-icon{
                        &:before{
                            .img-con-style();
                            @media @tablet{
                                left: -2rem;
                            }
                            @media @phone{
                                left: -1rem;
                            }
                        }
                    }
                    &-inet-icon:before{
                        background: url("../images/wifiBlack.svg") center no-repeat;
                    }
                    &-tv-icon:before{
                        background: url("../images/tvBlack.svg") center no-repeat;
                    }
                    &-home-icon:before{
                        background: url("../images/phoneBlack.svg") center no-repeat;
                    }
                    &-disclaimer-icon:before{
                        background: url("../images/disclaimer.svg") center no-repeat;
                    }
                    &-mobile-icon:before{
                        background: url("../images/mobileBlack.svg") center no-repeat;
                        background-size: contain;
                    }
                }
            }
            &-desc{
                font-size: 1.6rem;
                color: @brand-grey-text;
                font-family: @futuraPTBook;
            }
        }
        .down-link-android{
            color: @brand-default-text;
            font-family: @futuraPTBold;
            font-size: 1.2rem;
            text-decoration: none;
        }
        .tab-plan-rates{
            font-family: @futuraPTLight;
            thead > tr{
                th{
                    background-color: transparent;
                    border-bottom: 0;
                    color: @brand-primary;
                    font-weight: bold;
                    text-transform: none;
                    font-size: 2rem;
                    &:last-child{
                        text-align: left;
                    }
                }
            }
            tbody > tr{
                td{
                    border-top: 0;
                    font-size: 1.2rem;
                    &.subhead{
                        color: @brand-primary;
                        font-weight: bold;
                        font-size: 2rem;
                    }
                    &:last-child{
                        font-weight: bold;
                        color: @brand-primary;
                    }
                }
            }
        }
    }
    &-channel{
        &-list{
            .channel{
                &-head{
                    text-align: center;
                    font-size: 1.8rem;
                    font-family: @futuraPTBold;
                    margin-bottom: 2rem;
                }
                &-list{
                    li{
                        list-style-type: none;
                        font-size: 1.2rem;
                        .channel-num{
                            font-family: @futuraPTBold;
                        }
                        .special{
                            color: @brand-primary;
                        }
                    }
                }
            }
        }
    }
}
.tabs{
    & &-list{
        margin: 0;
        padding-left: 1rem;
        @media @desktop {
            width: 102.4rem;
            margin: auto;
        }
        li{
            padding: 1rem 2rem 1.5rem;
            border-radius: 0.5rem 0.5rem 0 0;
            margin-bottom: -0.5rem;
            a{
                color: @brand-default-text;
            }
            &.active{
                color: @brand-black;
                font-family: @futuraPTBold;
                background: @border-color;
                border: 1px solid @border-color-3;
                border-bottom: 0;
                margin-bottom: -0.1rem;
                a{
                    &,
                    &:hover,
                    &:focus{
                        color: @brand-light-black;
                        padding: 0;
                        border-bottom: 0;
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media @phone {
        .tabhead {
            height: 5rem;
            outline: 0;
            border-bottom-color: @terms-link;
            .glyphicon:before{
                content: "\e114";
                color: @terms-link;
            }
            &.last{
                border-bottom: 0;
            }
            a{
                font-size: 1.6rem;
            }
        }
        .tabContainer{
            border: 1px solid @terms-link;
            padding: 0;
        }
    }
    .tabbody{
        padding-bottom: 10rem;
        @media @desktop{
            border: 0;
        }
    }
    .content {
        background-color: @border-color;
        border-bottom: 1px solid @terms-link;
        @media @phone {
            padding: 2rem;
        }
    }
}
@media (max-width: 1023px) {
    .pdp-custom {
        .product-details.page-title {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .product-main-info .product-details{
            margin-top: 0;
            .actions {
                width: 100%;
            }
        }
    }
}
@media (min-width: 640px) {
    .page-productDetails .carousel {
        padding: 0;
    }
    .pdp-custom {
        .product-main-info {
            padding-left: 0;
        }
    }
}
@media (max-width: 640px) {
    .pdp-custom {
        .product-main-info .product-details .actions {
            width:auto;
        }
    }
    .page-productDetails .carousel {
        padding: 0 2rem;
    }
}
@media (max-width: 1023px) and (min-width: 640px) {
    .pdp-custom {
        .product-main-info {
            .addtocart-component .qty-selector .btn, .addtocart-component .qty-selector .input-group-btn {
                width: 4.4rem;
            }
        }
    }
}

#fmc-bundles-popup {
    .prodInfoData {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        @media @phone{
            display: block;
        }
    }
    .prodDetails {
        @media @phone{
            margin-top: 1rem;
        }
        .product-details {
            margin-bottom: 0;
        }
        .description {
            padding: 1rem 0 0;
            @media @phone{
                padding: 0;
            }
        }
    }
    .headline-text {
        font-family: @futuraPTBook;
        font-style: normal;
        font-size: 2.4rem;
        line-height: 3.1rem;
        text-align: center;
        color: @cart-heading-color;
        span b {
            font-family: @futuraPTBold;
        }
        @media @phone{
            font-size: 2rem;
            line-height: 2.4rem;
        }
    }
    .fmc-decision-text {
        font-family: @futuraPTBook;
        font-style: normal;
        font-size: 2.4rem;
        line-height: 3.1rem;
        text-align: center;
        text-transform: uppercase;
        color: @brand-black;
        @media @phone{
            margin-bottom: 0;
            font-size: 1.4rem;
            line-height: 1.5rem;
        }
    }
    .prodNamePopup {
        font-family: @futuraPTBook;
        font-style: normal;
        font-size: 2.6rem;
        line-height: 3.3rem;
        text-transform: uppercase;
        @media @phone{
            font-size: 1.8rem;
            line-height: 2rem;
        }
    }
    .prodPricePopup {
        color: @brand-black;
        font-family: @futuraPTBold;
        font-style: normal;
        font-weight: bold;
        font-size: 3.6rem;
        line-height: 4.6rem;
        margin-bottom: 0;
        @media @phone{
            font-size: 1.8rem;
            line-height: 2rem;
        }
    }
    .pdp-spec-info{
        padding: 1rem 2rem;
        @media @phone{
            padding: 0.5rem 2rem;
        }
        .prod-spec-details{
            .spec-head{
                font-family: @futuraPTBold;
                font-size: 1.8rem;
                margin: 0;
                &:before{
                    width: 1.6rem;
                    height: 1.4rem;
                    position: absolute;
                    left: -0.3rem;
                    margin: 0.6rem auto;
                    margin-left: 1rem;
                    padding-left: 1rem;
                    content: '';
                    background-size: contain;
                    background: url("../images/correctIcon.svg") center no-repeat;
                }
            }
            .spec-desc{
                font-size: 1.8rem;
            }
            .spec-desc-fmc{
                font-size: 1.8rem;
                font-family: @futuraPTBook;
                @media @phone{
                    font-size: 1.5rem;
                    margin-bottom: 0.3rem;
                }
            }
        }
    }
    .fmc-pop-btn {
        padding: 0.5rem 3rem;
        @media @phone{
            margin-top: 1rem;
            width: 100%;
            font-size: 1.2rem;
        }
    }
}