.fullWidthDiv {
    margin: 0;

    .js-image-div {
        display: none;
        &.active {
            display: block;
        }
        .banner__component--responsive {
            img {
                min-height: 19rem;
                max-height: 19rem;
                @media @tablet {
                    min-height: auto;
                    max-height: none;
                }
                @media @phone {
                    min-height: auto;
                    max-height: none;
                }
            }
        }
    }

    .tabs-container {
        ul {
            padding: 0;
            list-style: none;
            margin-top: -2.6rem;
            display: flex;
            justify-content: center;
            @media @tablet {
                margin-top: -2rem;
            }
            @media @phone {
                margin-top: 1.5rem;
                margin-bottom: 0;
            }
            li {
                display: inline-block;
                font-family: @futuraPTBook;
                font-style: normal;
                font-weight: bold;
                font-size: 1.8rem;
                line-height: 1.8rem;
                color: @brand-default-text;
                width: 15.6rem;
                background: @brand-white;
                border: 1px solid @btn-disbaled-color;
                box-sizing: border-box;
                border-radius: 0;
                padding: 1.8rem 1rem;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;
                letter-spacing: 0.8px;
                @media @tablet {
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                    padding: 1rem;
                }
                &.active {
                    background: @brand-dark-blue;
                    box-sizing: border-box;
                    color: @brand-white;
                    border: 1px solid @brand-dark-blue;
                }
                &:first-child {
                    box-sizing: border-box;
                    border-radius: 0.6rem 0 0 0.6rem;
                }
                &:last-child{
                    box-sizing: border-box;
                    border-radius: 0 0.6rem 0.6rem 0;
                }
                @media @phone {
                    font-size: 0.8rem;
                    line-height: 1.4rem;
                    padding: 0.5rem 0.5rem;
                }
                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }
}

.allPlpPage {
    .container, .tab-content-wrapper {
        padding: 0;
    }
    margin-bottom: 6rem;
    .televisonTitle {
        font-family: @MontserratBold;
        font-style: normal;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: @brand-black;
        text-align: center;
        margin-bottom: 3rem;
    }
    .televisionSelect {
        font-family: @MontserratBold;
        font-style: normal;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: @brand-black;
        text-align: center;
        select {
            width: 38%;
            display: inline-block;
            margin: 0 0 1rem 1rem;
            background: @brand-white;
            border: 1px solid @brand-dark-blue;
            box-sizing: border-box;
            border-radius: 0.6rem;
            font-family: @MontserratMedium;
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2.1rem;
            color: @brand-black;
            @media @phone {
                width: 100%;
                margin-left: 0;
            }
        }
        @media @phone {
            text-align: left;
            margin: 0 2rem;
        }
    }
    .cta-box-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        @media @phone {
            display: block;
        }

        .ctaDetails {
            display: flex;
            flex-direction: row;
            .cta-box {
                flex:1;
                @media @phone {
                    margin: 0 1rem 3rem;
                }
                .content {
                    padding: 1.2rem 2rem 14rem;
                    @media @phone {
                        padding: 1.2rem 0 18rem;
                    }
                    .divPricenButtons {
                        position: absolute;
                        bottom: 2rem;
                        width: 100%;
                        left: 0;
                        .priceInfo {
                            .ctaPrice {
                                text-align: left;
                                margin-left: 14%;
                                @media @phone {
                                    margin-left: 5%;
                                }
                            }
                        }
                        .ctabox-form {
                            .cta-submit-btn{
                                width: 86%;
                            }
                        }
                    }
                    .cta-specs {
                        @media @tablet {
                            padding: 1.2rem 4rem 0;
                        }
                        .colorBlue {
                            color: @brand-dark-blue;
                            font-family: @MontserratMedium;
                            font-style: normal;
                            font-weight: normal;
                            font-size: inherit;
                            line-height: inherit;
                        }
                    }
                }
            }
        }

        .cta-box {
            border: 1px solid @border-color-5;
            box-sizing: border-box;
            border-radius: 0.6rem;
            border-bottom: 1rem solid @brand-dark-blue;
            margin-bottom: 2rem;
            position: relative;
            max-width: 100%;
            @media @phone {
                margin: 0 2.4rem 3rem;
            }
            &.selected {
                .content {
                    .divPricenButtons {
                        .ctabox-removefromcart-form {
                            display: block;
                        }
                    }
                }
            }
            .ctaTtitle {
                font-family: @MontserratMedium;
                font-style: normal;
                font-weight: bold;
                font-size: 1.4rem;
                line-height: 1.8rem;
                align-items: center;
                text-align: center;
                background: linear-gradient(90deg, @brand-primary 1.97%, @brand-tertiary 100%);
                border-radius: 0.6rem 0.6rem 0 0;
                color: @brand-white;
                padding: 1.2rem 0.5rem;
                text-transform: uppercase;
                @media @phone {
                    padding: 1.2rem 1rem;
                }
            }
            .content {
                .bestProduct {
                    position: relative;
                    height: 4rem;
                    .recommendedProduct {
                        font-family: @futuraPTBold;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 1.4rem;
                        line-height: 1.1rem;
                        text-transform: uppercase;
                        color: @brand-white;
                        background: @brand-dark-magenta;
                        border-radius: 1.6rem 0 0 1.6rem;
                        margin: 0;
                        padding: 1rem 5rem;
                        position: absolute;
                        right: -2rem;
                        @media @phone {
                            right: 0;
                            padding: 1rem 3rem;
                        }
                    }
                 }
                .cta-specs {
                    padding: 1.2rem 5rem 0;
                    &:last-child{
                        margin-bottom: 1rem;
                    }
                    .colorBlue {
                        color: @brand-dark-blue;
                        font-family: @MontserratBold;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 2.4rem;
                        line-height: 1.8rem;
                    }
                    .colorOrange {
                        color: @brand-primary;
                        font-family: @MontserratBold;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 2.4rem;
                        line-height: 1.8rem;
                    }
                    .specs {
                        font-family: @MontserratMedium;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 1.2rem;
                        line-height: 2.6rem;
                        color: @brand-black;
                        margin-bottom: 2rem;
                         position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            width: 2rem;
                            height: 2rem;
                            left: -3rem;
                            top: 0;
                        }
                        a {
                            text-decoration: underline;
                            color: @brand-dark-blue;
                        }
                        &.voice {
                            .spec-text {
                                font-family: @MontserratMedium;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 1.2rem;
                                line-height: 1.8rem;
                                color: @brand-default-text;
                                .qty {
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    .data_volume {
                        &:before {
                            background: url(../images/iconWifiBlue.svg) center no-repeat;
                            top: 0.5rem;
                        }
                    }
                    .iconWifiOrange {
                        &:before {
                            background: url(../images/iconWifiOrange.svg) center no-repeat;
                            top: 0.5rem;
                        }
                    }
                    .sd_channels {
                        &:before {
                            background: url(../images/iconMusic.svg) center no-repeat;
                        }
                    }
                    .voice {
                        &:before {
                            background: url(../images/iconVoice.svg) center no-repeat;
                        }
                    }

                    .specTitle {
                        font-family: @MontserratMedium;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                        text-transform: capitalize;
                        color: @brand-black;
                    }
                    .list {
                        position: relative;
                        list-style: none;
                        padding-left: 0;
                        margin-bottom: 2rem;
                        font-family: "MontserratMedium";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.8rem;
                        line-height: 3rem;
                        color:  @brand-black;
                        .listItem {
                            font-family: @MontserratMedium;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 1.8rem;
                            line-height: 2.4rem;
                            color: @brand-black;
                            position: relative;
                             &:before {
                                content: '';
                                position: absolute;
                                width: 2rem;
                                height: 2rem;
                                left: -2.8rem;
                                top: 0.4rem;
                                background: url(../images/iconBlueTick.svg) center no-repeat;
                            }
                            a {
                                text-decoration: underline;
                                font-size: inherit;
                                line-height: inherit;
                                color: @brand-dark-blue;
                            }
                            &.no_Include_channels {
                                &:before {
                                    background: none;
                                }
                                .colorBlue {
                                    color: @brand-black;
                                }
                            }
                        }
                        .tv_channels {
                            &:before {
                                content: '';
                                top: 0;
                                background: url(../images/iconMusic.svg) center no-repeat;
                                background-size: contain;
                            }
                        }
                        .include_channel {
                            font-family: "MontserratMedium";
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.8rem;
                            line-height: 3rem;
                            text-transform: capitalize;
                            color:  @brand-black;
                            .colorBlue {
                                color:  @brand-black;
                                font-weight: 600;
                            }
                             &:before {
                                content: '';
                                background: none;
                            }
                        }
                        .la_channels {
                            line-height: 3rem;
                            margin-top: 3.5rem;
                            .colorBlue {
                                color:  @brand-black;
                            }
                             &:before {
                                content: '';
                                background: none;
                            }
                        }
                    }
                }
                .specImage {
                    padding: 1rem 2.8rem 3rem;
                }
                .ctaHr {
                    border: 1px solid @border-color-5;
                    transform: rotate(0.2deg);
                    width: 85%;
                }
                .divPricenButtons {

                    .priceInfo {
                        color: @brand-primary;
                        text-align: center;
                        .ctaPrice {
                            font-family: @MontserratBold;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 3.2rem;
                            line-height: 3.2rem;
                            @media @tablet {
                                font-size: 2.4rem;
                                line-height: 2.4rem;
                            }
                        }
                        /*.tvPrice {
                            color: @btn-disbaled-color;
                            .ctaPeriod {
                                display: none;
                            }
                        }*/
                        .ctaPeriod {
                            font-family: @MontserratMedium;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 1.2rem;
                            line-height: 1.8rem;
                        }
                    }
                    .ctabox-form {
                        text-align: center;
                        padding: 1rem 2rem 3rem;
                        .cta-submit-btn {
                            font-family: @MontserratMedium;
                            border-radius: 2.5rem !important;
                            text-transform: uppercase;
                            color: @brand-white;
                            width: 63%;
                            @media @tablet {
                                width: 85%;
                            }
                        }
                        .ctabox-addToCart-btn {
                            background: @brand-dark-blue;
                        }
                        .ctabox-removeFromCart-btn {
                            background: @brand-dark-magenta;
                        }
                        .ctaDisabledBtn {
                            font-family: @MontserratMedium;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.8rem;
                            line-height: 1.8rem;
                            text-transform: capitalize;
                            background: @btn-disbaled-color;;
                            border-radius: 2.2rem;
                            color: @brand-white;
                            pointer-events: none;
                        }
                    }
                    /*.ctabox-removefromcart-form {
                        display: none;
                    }*/
                }
            }
            &.selected {
                .ctabox__selected--blur {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.5);
                    z-index: 1;
                    display: block;
                    border-radius:0.6rem 0.6rem 0 0;
                }
                .ctabox-form {
                    position: relative;
                }
                .ctabox-addtocart-form {
                    /*visibility: hidden;
                    display: none;*/
                }
                .ctabox-removefromcart-form {
                    display: block;
                    z-index: 1;
                }
            }
        }
    }
}
.step-infobar {
    background-color: @plp-infobar-background;
    border: 1px solid @plp-infobar-border;
    color: @brand-black;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
    margin: 0 auto 2rem;
    .info-msg {
        display: flex;
        align-items: center;
        .alertInfo {
            .alertMsg {
                margin : 0 0 0 2rem;
                &::before {
                    content: " ";
                    position: absolute;
                    background: url(../images/iconExclamation.svg) center no-repeat;
                    width: 3rem;
                    height: 3rem;
                    left: -0.5rem;
                    top: -0.3rem;
                }
            }
        }
    }
}

.infoModalForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80rem;
    height: 45rem;
    margin: 0 auto;
    font-family: @MontserratBold; 
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; 
    }
    input[type=number] {
        -moz-appearance:textfield; 
    }
    @media @phone {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    &  > div {
        flex-grow: 1;
         @media @phone { 
            height: 100%;
            width: 98%;
            display: block;
         }
    }
    .form-control.error {
        background: @input-error-bg;
        border: 1px solid @input-error;
    }
    .infoFormLeft{
        background-color: @sub-section-bgcolor;
        text-align: center;
         p.frmtitle {
            font-size: 1.8rem;
            color: @brand-dark-blue;
            font-weight: bold;
            margin-top: 8rem;
            margin-bottom: 0;
             @media @phone { 
                margin-top: 4rem;
             }
        }
         .selectedPlanDsc {
            font-size: 2.7rem;
            color: @brand-dark-blue;
            line-height: 1.2;
            text-transform: uppercase;
        }
         .selectPlanPrice {
            font-size: 3.2rem;
            color: @brand-primary;
            line-height: 3.4rem;
            letter-spacing: 0.2rem;
            margin-top: 3rem;
        }
        .selectPlanPriceText {
            font-size: 1rem;
            color: @brand-primary;
            font-weight: bold;
            letter-spacing: 0;
        }
         div#aviso {
            font-size: 1.2rem;
            color: @brand-dark-blue;
            font-weight: bold;
            padding: 0.5rem;
        }
        .infoFooterNote {
            background-color: @brand-primary;
            border-radius: 7rem 7rem 7rem 7rem;
            color: @brand-white;
            margin-top: 1rem;
            font-size: 1.2rem;
            padding: 0.5rem 0.2rem;
            margin-bottom: 3rem;
        }
    }
    .infoFormRight {
        .infoFromRightTitle {
            font-size: 1.8rem;
            color: @brand-dark-blue;
            font-weight: bold;
            margin-top: 4rem;
            text-align: center;
            @media @phone { 
                margin-top: 1rem;
            }
        }
        form {
            padding-left: 1rem;
            margin-top: 5rem;
            @media @phone{
                margin-bottom: 5rem;
            }
        }
        .form-group {
            margin-top: 2rem;
            position: relative;
            & >label:not(.error) {
                position: absolute;
                top: 1.2rem;
                left: 1.2rem;
                line-height: 1.2rem;
                color: @brand-default-text;
                text-transform: none;
                font-size: 1.4rem;
                font-weight: 600;
                font-family: @MontserratMedium;
            }
            input{
                height: 5.6rem;
                font-family: @MontserratMedium;
                border: 1px solid @brand-lighter-gray;
                color: @brand-black;
                font-size: 1.4rem;
                line-height: 1.4rem;
                border-radius: 0.6rem;
                padding-top: 2.3rem;
                text-transform: none;
                &::placeholder{
                    font-size: 1.4rem;
                    font-weight: normal;
                    font-family: @MontserratMedium;
                }
            }
        }
        .infoFormBtnDiv {
            margin-top: 6rem;
            @media @phone { 
                margin-top: 4rem;
            }
        }
        button {
            font-size: 1.5rem;
            color: @brand-white;
            width: 100%;
            height: 4rem;
            background-color: @brand-dark-blue;
            border-radius: 2rem;
            &:hover {
              color: @brand-white;
            }
        }
    }  
    .infoSuccessFrom {
        align-self: baseline;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12%;
        @media @phone {
            margin-bottom: 10%;
        }
        .successIcon{
           background: url(../images/successIcon.svg) center no-repeat;
           height: 6rem;
           width: 6rem;
           @media @phone { 
                margin: 0 auto;
           }
        }
        .successMsg{
          color: @brand-dark-blue;
          font-family: @MontserratBold;
          font-size: 2rem;
          line-height: 2.6rem;
          text-align: center;
          margin-top: 1.5rem;
          padding: 0 2rem;
        }
        .successTxt{
          font-family: @MontserratMedium;
          font-size: 1.6rem;
          line-height: 2.2rem;
          color: @brand-grey-text;
          margin-top: 3rem;
          padding: 0 5rem;
          text-align: center;
        }
    }
}

.customInfoPopupClose{
    margin: 0 0 0 auto;   
    top: 0px!important;
     > span.glyphicon-remove {
        color: @brand-white;
        background: @brand-primary;
        border-radius: 50%;
        padding: 0.1rem;
        &:before {
            content: "\2716";
            font-size: 1.5rem;
        }
    }
}



//GoogleMap
#cboxLoadedContent{
    padding: 0 5.6rem 3.3rem;
    width: auto !important;
    @media @smartphones,@phone {
        padding: 2rem 1.5rem 3.5rem;
    }
}
.glyphicon-remove{
    background: rgba(82, 75, 141, 0.1);
    color: @brand-dark-blue;
    border-radius: 0.6rem;
    display: inline-block;
    &:before{
        content: "\2715";
        padding: 0.7rem;
        position: relative;
        top: -0.3rem;
        display: block;
    }
}      
#cboxTitle{
    padding: 2.3rem 5.6rem 0;
    @media @smartphones,@phone {
        padding: 1.9rem 1.3rem 2rem 1.5rem;
    }
    .headline{
        margin-bottom: 0;
        .headline-text{ 
            font-family: @MontserratMedium;     
            font-style: normal;
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 2.7rem;                
            display: flex;
            align-items: center;                
            color: @brand-dark-blue;   
            @media @phone{
                font-size: 2rem;
            }                    
        }
    }
}    
    #mapServiceabilityCheck{
        height:40%;
        width:100%;
        .mapDropdownsRegion{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media @smartphones,@phone {
                flex-direction: column;
            }                
        }
        .mapTextBox{               
            .form-group {                  
                width:100%; 
                label:not(.error){
                    font-weight: 600;
                    color: @brand-black;
                    font-size: 1.2rem;
                }
            } 
            input{
                @media @phone{
                    height: 8rem;
                    padding-top: 4rem;
                    font-size: 1.2rem;
                    width: 100%;
                    overflow: hidden;
                    padding-right: 3rem;
                }
                &::placeholder{
                   @media @phone{
                        font-size: 1.2rem; 
                   }
                }
            } 
             label {
                @media @phone{
                    padding-right: 3rem;
                    line-height: 1.4rem;
                }
            }         
        }
        .form-group {
            position: relative;
            width:24%;                
            @media @smartphones,@phone {
                width:100%;
            }
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                background: url(../images/dropdown_icon.svg) 97% 1.8rem no-repeat;
            }
            input::placeholder {
                font-size: 1.4rem;
            }
        }
        .control-label {
            position: absolute;
            top: 1.2rem;
            left: 1.2rem;
            line-height: 1.2rem;
            color: @brand-grey-text;
            text-transform: none;
            font-size: 1.4rem;
            font-weight: normal;
        }
        .form-control {
            height: 5.6rem;
            border: 1px solid @checkout-border;
            color: @brand-black;
            font-size: 1.4rem;
            line-height: 1.4rem;
            border-radius: 0.6rem;
            padding-top: 2.3rem;
            text-transform: none;
            &.error {
                background-color: @plp-infobar-background;
                border: 1px solid @checkout-label-border-error;
            }                
        }       
        .popUpMapButtons{
            display: flex;
            justify-content: space-between;
            padding: 2.9rem 0 0;
            @media @smartphones,@phone  {
                flex-direction: column-reverse;
            }
            .btn-confirm{                   
                background: @brand-dark-blue;
                border-radius: 2.5rem !important;
                color:@brand-white;                    
                padding: 1.3rem 3rem;
                @media @smartphones,@phone  {
                align-self: center;
                }
            }
            .btn-skip{
                font-family: @MontserratMedium; 
                font-style: normal;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.8rem;              
                display: flex;
                align-items: center;
                text-transform: uppercase;                
                color: @brand-default-text;
                background:none;
                border:none;
                margin-top: 2rem;
                @media @smartphones,@phone  {
                    align-self: center;
                    }
            }
        }

        .popUpMapHeading{
            font-family: @MontserratMedium; 
            font-style: normal;
            font-weight: normal;
            font-size: 1.8rem;
            line-height: 2.7rem;
            display: flex;
            align-items: center;            
            color: @brand-black;          
        }
        #addressForm{
            margin-top: 1.2rem;
        }
        #openMapServiceability{
            height:40rem;
            width:100%;
            margin-bottom: 2rem;
            @media @phone{
                height: 30rem;
            }
        .custom-map-control-button{
            font-family: @MontserratLight; 
            background-color: @brand-white;
            color: @brand-primary;
            height: 4rem;
            cursor: pointer;
            border-width: 0;
            margin: 1rem;
            padding: 0 1.5rem;
            overflow: hidden;
            right: 0 !important;
            border-radius: 0.6rem;
            font-size: 1.4rem;
            @media @phone{
               right: auto !important;
               left: 0; 
               margin-top: 6rem;
            }
            @media @tablet{
                right: 0 !important
            }
        }
        input#autoCompleteSearchInput {
            background:  url(../images/map-pin.svg) 1rem center no-repeat @brand-white;
            border: 1px solid @cart-border;
            box-sizing: border-box;
            border-radius: 0.3rem;
            height: 4rem;
            width: 30rem;
            margin-top: 1rem;
            margin-left: 3rem;
            padding-left: 4rem;
            color: @brand-black;
            font-size: 1.4rem;
            font-style: italic;
            left: -20px !important;
            top: 0px !important;
            &::placeholder {
                color: @brand-black;
                font-size: 1.4rem;
            }
            @media @phone{
                margin-top: 1rem;
                width: 94%;
                z-index: 9999 !important;
            }
            @media @tablet{
                left: -2rem !important
            }
        }
    }
    .popUpMapDirections{
        margin-top:2.3rem;
    } 
}

.pac-container {
    z-index: 10000 !important;
}
