<%@ tag body-content="empty" trimDirectiveWhitespaces="true"%>

<%@ attribute name="languages" required="true" type="java.util.Collection"%>
<%@ attribute name="currentLanguage" required="true" type="de.hybris.platform.commercefacades.storesession.data.LanguageData"%>

<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags"%>

<spring:htmlEscape defaultHtmlEscape="true" />
<c:if test="${fn:length(languages) > 1}">
	<spring:url value="/_s/language" var="setLanguageActionUrl" />
	<form:form action="${setLanguageActionUrl}" method="post" id="lang-form" class="lang-form">
		<div class="form-group">
		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class=" visible-sm visible-xs">
<path fill-rule="evenodd" clip-rule="evenodd" d="M21.1264 11.6091C21.1264 6.32774 16.8446 2.0459 11.5632 2.0459C6.28184 2.0459 2 6.32774 2 11.6091C2 16.8905 6.28184 21.1723 11.5632 21.1723C16.8446 21.1723 21.1264 16.8905 21.1264 11.6091Z" stroke="white" stroke-width="1.47126"/>
<path d="M20.2795 7.75355C19.5411 7.75815 19.6137 9.12045 18.6937 8.47769C18.3521 8.23953 18.142 7.89332 17.713 7.78804C17.3383 7.69608 16.9544 7.79171 16.5843 7.85562C16.1636 7.92827 15.6648 7.96091 15.3457 8.27953C15.0372 8.5862 14.874 8.99769 14.5457 9.3062C13.9107 9.9039 13.6427 10.5563 14.0537 11.4014C14.4491 12.2138 15.2763 12.6547 16.1687 12.5968C17.0454 12.5384 17.9563 12.0299 17.931 13.3039C17.9218 13.7545 18.016 14.0671 18.1544 14.486C18.2827 14.8722 18.274 15.2464 18.3034 15.645C18.3576 16.3899 18.4946 17.2248 18.8643 17.8827L19.554 16.9099C19.639 16.7894 19.8169 16.6207 19.8592 16.4786C19.9342 16.2271 19.7866 15.7949 19.7696 15.5131C19.7526 15.2313 19.7608 14.9457 19.7176 14.6639C19.6569 14.269 19.4234 13.8988 19.3912 13.5085C19.3319 12.7816 19.4648 12.2014 18.9048 11.5936C18.3641 11.0073 17.5714 10.8667 16.8142 10.9857C16.4326 11.0455 14.8965 11.291 15.513 10.4188C15.6349 10.2473 15.8477 10.1067 15.9848 9.94344C16.1038 9.80137 16.2073 9.54022 16.3471 9.42942C16.4868 9.31861 17.1287 9.19125 17.3126 9.24781C17.4965 9.30436 17.6882 9.56965 17.8477 9.68735C18.1425 9.90937 18.4865 10.057 18.8505 10.1177C19.4785 10.2096 20.7917 9.84459 20.7815 9.03907C20.7797 8.65286 20.4211 8.11493 20.2795 7.75355Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.4111 12.915C12.0983 13.2735 12.8376 13.6592 13.0093 14.3819C13.1757 15.0803 13.0548 15.8853 12.6534 16.4821C12.4119 16.8409 12.0823 17.1149 11.7525 17.389C11.5198 17.5825 11.287 17.776 11.0852 17.9994C10.5914 18.5465 10.2254 19.2614 10.1137 19.9925C10.1036 20.0586 10.1005 20.1464 10.097 20.2428C10.0876 20.5042 10.0759 20.829 9.91872 20.958C9.80188 21.0541 9.58985 20.9876 9.40694 20.9303C9.33434 20.9075 9.26633 20.8862 9.21067 20.8771C9.29104 20.8539 9.21133 20.8094 9.10959 20.7526C9.03381 20.7103 8.94581 20.6612 8.90263 20.609C8.77704 20.4576 8.72137 20.2286 8.67328 20.0309C8.66486 19.9962 8.65667 19.9625 8.64838 19.9304C8.49081 19.3063 8.37636 18.6722 8.30585 18.0325C8.29673 17.9531 8.28912 17.8732 8.28152 17.7933C8.23697 17.325 8.19231 16.8556 7.8424 16.4987C7.68936 16.3407 7.51006 16.225 7.33314 16.1109C7.04658 15.926 6.76626 15.7451 6.61389 15.3952C6.45516 15.0304 6.47664 14.6299 6.49804 14.2307C6.52239 13.7765 6.54665 13.324 6.30539 12.9276C6.06334 12.5298 5.67625 12.3802 5.29009 12.2309C4.8613 12.0651 4.43366 11.8998 4.207 11.3957C4.03392 11.013 3.82069 10.6612 3.60849 10.3112C3.319 9.8337 3.03141 9.35932 2.85021 8.8136C2.82993 8.75224 2.78955 8.67514 2.7474 8.59466C2.67585 8.45804 2.59918 8.31167 2.607 8.2159L3.75642 7.28763C3.86517 7.44059 3.94693 7.66729 4.03108 7.90063C4.21734 8.41707 4.41532 8.96603 4.94355 8.82004C5.0196 8.79907 5.09416 8.77818 5.16779 8.75754C5.53973 8.65331 5.88801 8.55571 6.28562 8.48855C6.42047 8.46554 6.46647 8.46846 6.50449 8.45244C6.53789 8.43836 6.56512 8.40966 6.64102 8.3359C6.71056 8.26805 6.76895 8.18181 6.82756 8.09523C6.88055 8.01695 6.93372 7.93841 6.9955 7.87291C7.29619 7.5497 7.36792 7.31429 7.34861 6.85452C7.33564 6.54032 7.14449 6.38374 6.93754 6.21421C6.82895 6.12525 6.716 6.03273 6.62217 5.912C6.29789 5.49746 6.15914 4.96743 6.23872 4.44717L7.60929 2.91016C7.90079 3.07291 8.44516 3.71521 8.28102 4.05498C8.2261 4.16867 8.10654 4.26222 7.98844 4.35464C7.75356 4.53842 7.52449 4.71766 7.82125 5.04165C8.15274 5.40349 8.79734 5.13774 9.12838 4.90372C9.23094 4.83132 9.32158 4.72954 9.41251 4.62745C9.60568 4.41054 9.80012 4.19222 10.1127 4.25131C10.4806 4.32119 10.8681 4.83154 11.0783 5.11705C11.5813 5.80156 10.8641 5.99171 10.2092 6.16536C9.93326 6.23851 9.66839 6.30874 9.51044 6.41177L9.49841 6.41962C9.29189 6.55433 8.98501 6.7545 8.87182 6.9759C8.76973 7.17484 8.80958 7.30095 8.85742 7.45236C8.8809 7.52665 8.9063 7.60703 8.9178 7.7051C8.97311 8.18174 8.69863 8.39073 8.36003 8.64852C8.33838 8.66501 8.31646 8.68169 8.29435 8.69866C7.82142 9.0634 7.86502 9.2959 7.95268 9.76345C7.96337 9.82044 7.97471 9.88092 7.98585 9.94556C8.05435 10.3428 7.96378 10.7345 7.51642 10.4895C7.41023 10.431 7.32644 10.3469 7.24272 10.263C7.13832 10.1583 7.03402 10.0538 6.88654 9.99889C6.6847 9.92211 6.44884 9.94602 6.23872 9.96809C5.73527 10.021 5.26539 10.2136 5.407 10.8076C5.51734 11.2697 6.01711 11.8371 6.50217 11.9023C6.78879 11.941 7.00908 11.7982 7.23118 11.6542C7.40525 11.5413 7.58044 11.4277 7.78953 11.4003C7.9639 11.3773 8.10682 11.4304 8.25634 11.4859C8.32522 11.5115 8.3955 11.5376 8.4709 11.5571C8.63235 11.5989 8.77828 11.593 8.92846 11.5869C9.02078 11.5831 9.1147 11.5793 9.21481 11.5865C9.63697 11.6164 9.95845 11.8963 10.2731 12.1702C10.3837 12.2665 10.4935 12.3621 10.6065 12.4458C10.8329 12.6134 11.1172 12.7617 11.4111 12.915ZM10.6647 16.4042C10.9754 16.1611 11.2956 15.9106 11.4741 15.592C11.7638 15.0748 11.6304 14.7571 11.1771 14.506C10.5918 14.1851 10.0167 13.861 9.49435 13.4421C9.45544 13.411 9.41881 13.38 9.38318 13.3499C9.23698 13.2261 9.10751 13.1164 8.90493 13.0743C8.74631 13.0412 8.22033 12.9488 8.09297 12.9773C7.96821 13.0048 7.94577 12.9747 7.94304 12.9764C7.9405 12.9779 7.95518 13.0074 7.91964 13.1377C7.88103 13.2801 7.90933 13.4944 7.93626 13.6983C7.95359 13.8295 7.97036 13.9565 7.96838 14.0573C7.96749 14.1059 7.96058 14.1701 7.95294 14.2411C7.93284 14.4279 7.90771 14.6615 7.97435 14.7791C8.02805 14.8766 8.19859 14.9708 8.35061 15.0547C8.4316 15.0994 8.50733 15.1413 8.55734 15.1791C9.0242 15.5241 9.37287 16.0051 9.5555 16.5561C9.56669 16.5907 9.57761 16.6621 9.59033 16.7452C9.61788 16.9253 9.65392 17.1608 9.71964 17.1998C9.82023 17.2594 9.97348 17.0679 10.0891 16.9234C10.1277 16.875 10.1622 16.832 10.1891 16.8053C10.3285 16.6672 10.4952 16.5368 10.6647 16.4042Z" fill="white"/>
<path d="M8.27384 2.92404C8.49177 3.13692 8.69683 3.38887 9.02189 3.41002C9.32947 3.43071 9.61959 3.26427 9.88809 3.47347C10.186 3.70335 10.4007 3.99439 10.7961 4.06611C11.1787 4.13554 11.5837 3.91209 11.6784 3.52082C11.7704 3.14795 11.5722 2.74243 11.5603 2.36818C11.5603 2.31623 11.5883 2.08542 11.5525 2.04634C11.5258 2.01692 11.3033 2.05002 11.2692 2.05094C11.02 2.0583 10.7715 2.07546 10.5235 2.10243C9.61951 2.20028 8.7342 2.4271 7.89453 2.776C8.00626 2.85324 8.14649 2.88404 8.27384 2.92404Z" fill="white"/>
<path d="M16.1791 5.5075C16.5694 5.5075 16.9658 5.33279 16.8398 4.88129C16.734 4.5029 16.5538 4.09233 16.1152 4.29647C15.8361 4.42612 15.4407 4.75624 15.4081 5.08359C15.3708 5.45509 15.9189 5.5075 16.1791 5.5075Z" fill="white"/>
<path d="M15.8675 7.48303C16.2661 7.72165 16.8574 7.60947 17.1581 7.26878C17.393 7.00211 17.5314 6.53912 17.954 6.53958C18.14 6.5392 18.3187 6.61203 18.4514 6.74234C18.6261 6.92303 18.5917 7.09269 18.6289 7.31889C18.7121 7.82694 19.2569 7.34786 19.399 7.15108C19.491 7.0228 19.6156 6.83246 19.5737 6.66556C19.5351 6.5097 19.353 6.34372 19.2721 6.20073C19.0358 5.78694 18.8413 5.30556 18.4873 4.97131C18.1466 4.64947 17.7277 4.68671 17.4045 5.02096C17.1397 5.29682 16.8321 5.51522 16.651 5.85085C16.5232 6.08671 16.3792 6.19935 16.1204 6.2605C15.9779 6.29407 15.8151 6.30648 15.6956 6.40211C15.3627 6.66418 15.5521 7.29361 15.8675 7.48303Z" fill="white"/>
</svg>
			<spring:theme code="text.language" var="languageText" />
			<label class="control-label sr-only" for="lang-selector">${languageText}</label>
			<ycommerce:testId code="header_language_select">
				<select name="code" id="lang-selector" class="form-control lang-selector">
					<c:forEach items="${languages}" var="lang">
						<c:choose>
							<c:when test="${lang.isocode == currentLanguage.isocode}">
								<option value="${fn:escapeXml(lang.isocode)}" selected="selected"
									lang="${fn:escapeXml(lang.isocode)}">${fn:escapeXml(lang.nativeName)}</option>
							</c:when>
							<c:otherwise>
								<option value="${fn:escapeXml(lang.isocode)}" lang="${fn:escapeXml(lang.isocode)}">
									${fn:escapeXml(lang.nativeName)}
								</option>
							</c:otherwise>
						</c:choose>
					</c:forEach>
				</select>
			</ycommerce:testId>
		</div>
	</form:form>
</c:if>