//
// Base
// --------------------------------------------------------

body {
    outline: 0;
    vertical-align: baseline;
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
    font-family: @baseFontFamily;
    font-weight: @default-font-weight;
    color: @default-font-color;
    background-color: @brand-white;
    -webkit-font-smoothing: antialiased!important;
    -webkit-text-size-adjust: 100%!important;
  }
  
  html,
  body {
      position: relative;
      height: 100%;
  }