//
// Button
// --------------------------------------------------------
.btn-custom{
    &,
    &:active,
    &:hover,
    &:focus{
        border: 1px solid @brand-primary;
        text-align: center;
        font-size: 1.6rem;
        padding: 0.5rem;
        text-transform: uppercase;
        font-family: @MontserratBold;
        background-color: @brand-primary;
        color: @brand-white;
    }
    &:disabled{
    &[disabled],
        &:active,
        &:hover,
        &:focus{
            background-color: @brand-gray;
            border-color: @brand-gray;
            opacity: 0.35;
        }
    }
}
.btn-yellow{
    &,
    &:active,
    &:hover{
        background-color: @brand-tertiary;
        border: 1px solid @brand-tertiary;
        color: @brand-white;
        text-align: center;
        font-size: 1.6rem;
        padding: 0.5rem;
        text-transform: uppercase;
        font-family: @MontserratBold;
    }
}
.btn-white{
    &,
    &:active,
    &:hover,
    &:focus,
    &:disabled{
        background-color: @brand-white;
        border: 1px solid @brand-primary;
        color: @brand-primary;
        text-align: center;
        font-size: 1.6rem;
        padding: 0.5rem;
        text-transform: uppercase;
        font-family: @MontserratBold;
    }
}
.btn-blue{
    &,
    &:active,
    &:hover{
        background-color: @brand-primary;
        border: 1px solid @brand-primary;
        color: @brand-white;
        text-align: center;
        font-size: 1.6rem;
        padding: 0.5rem;
        text-transform: uppercase;
        font-family: @MontserratBold;
    }
}