//
// Cart
// --------------------------------------------------------
.cart{
    &-header{
        padding: 0rem 2rem 0.5rem 2rem;
        background-color: @cart-background;
        border: 1px solid @cart-border;
        font-size: 1.8rem;
        border-radius: 1rem;
        margin-top: 2rem;
        h1{
            color: @default-font-color;
            font-family: @futuraPTBold;
            font-size: 1.8rem;
            line-height: 23px;
            text-transform: capitalize;
            margin-top: 15px;
            margin-bottom: 7px;
        }
        p {
            font-size: 14px;
        }
    }
    &-alert-info {
        margin-top: 2rem;
        .alert-info {
            padding: 2.5rem 2rem 2.5rem 7rem;
            background: #E3F5FE url("../images/alertInfoIcon.svg") 2rem center no-repeat;
            background-size: 3.6rem;

        }
    }
    &-body {
        padding: 1.5rem 1.5rem 0.5rem 1.5rem;
        background-color: @cart-background;
        border: 1px solid @cart-border;
        border-radius: 1rem;
        margin-top: 1rem;
        .headline {
            color: @brand-primary;
            font-size: 1.8rem;
            font-family: @futuraPTBold;
            line-height: 2.4rem;
        }
        .item__list__cart {
            margin-top: 0;
        }
    }
    &-item-list-details {
        border: 1px solid @brand-primary;
        border-radius: 1rem;
        background-color: @brand-white;
        font-size: 1.4rem;
        color: @cart-text-color;
        &.online-promo {
            border: 1px solid @brand-dark-magenta;
        }
        .online-offer {
            background-color: @brand-dark-magenta;
            color: @brand-white;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.3rem;
            line-height: 1.7rem;
            border-radius: 10px 10px 0 0;
            padding: 0.8rem 0;
        }
        .item__image {
            width: auto;
            text-align: center;
            @media @phone {
                padding: 0;
            }
            img {
                width: auto;
                max-width: 100%;
            }
        }
        .item__menu {
            position: absolute;
            top: 5px;
            right: 0;
            width: auto;
            .btn-delete {
                background: url("../images/deleteIcon.svg") center no-repeat;
                width: 2rem;
                height: 2rem;
                background-size: 20px;
                display: inline-block;
                padding: 20px;
                span.cart-remove {
                    display: none;
                }
            }
        }
        .item__info {
            width: auto;
            color: @brand-default-text;
            margin-top: 1.5rem;
            a {
                color: inherit;
            }
            .item__name {
                font-family: @futuraPTBold;
                font-size: 18px;
                line-height: 24px;
                display: block;
                margin-bottom: 5px;
            }
        }
        .item__spec {
            font-size: 1.4rem;
        }
        .item__price {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .item__quantity .quantity-box {
            display: none;
        }
        .more-benefits {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            border: none;
            background: none;
            float: left;
            width: 100%;
            a.read-link {
                color: @checkout-title-active;
                font-size: 1.6rem;
                line-height: 2.3rem;
                position: relative;
                padding: 1.2rem 1rem;
                display: block;
                background-color: @cart-background;
                border-radius: 10px;
                text-align: left;
                font-family: @futuraPTBold;
                &#more::after {
                    border-width: 0px 2px 2px 0px;
                    top: 17px;
                }
                &#less::after {
                    border-width: 2px 0px 0px 2px;
                    top: 20px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    height: 8px;
                    width: 8px;
                    border-style: solid;
                    border-color: @checkout-title-active;
                    transform: rotate(45deg);
                    right: 1.5rem;
                }
            }
            ul {
                @media (min-width: 767px) {
                    columns: 2;
                    -webkit-columns: 2;
                    -moz-columns: 2;
                    column-gap: 3rem;
                }
                list-style: none;
            }
            .benefits-list {
                font-size: 1.4rem;
                line-height: 1.8rem;
                padding-left: 1rem;
                margin-top: 1.5rem;
                li {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
    &__actions{
        padding: 0;
        margin: 1rem 0;
        @media @phone {
            margin: 1rem -1rem 0;
        }
        .form-group {
            position: relative;
            #paymentMethodId {
                label {
                    text-transform: none;
                }
            }
        }
        .control-label {
            position: absolute;
            top: 1rem;
            left: 1.5rem;
            line-height: 1.4rem;
            color: @brand-primary;
            text-transform: capitalize;
            font-size: 1.4rem;
        }
        .form-control {
            height: 5.4rem;
            padding: 1.5rem 1.5rem 0 1.5rem;
            font-size: 1.4rem;
            color: @brand-default-text;
            border: 1px solid @cartfield-border;
            border-radius: 1rem;
        }
        .guestcheckout {
            background-color: @cart-background;
            border: 1px solid @cart-border;
            border-radius: 10px;
            padding: 1.5rem 1.5rem 0;
            .headline {
                font-size: 1.8rem;
                line-height: 2.1rem;
                color: @brand-default-text;
                font-family: @futuraPTBold;
                margin-bottom: 0;
            }
            &-form {
                border: 1px solid @brand-primary;
                border-radius: 10px;
                background-color: @brand-white;
                padding: 1.5rem 1.5rem 0;
                margin-bottom: 2rem;
            }
        }
    }
}
.cart-body {
    .customer-type {
        margin-top: 2rem;
        display: none;
        .heading {
            color: @brand-black;
            font-size: 2.4rem;
            line-height: 3.1rem;
            margin-bottom: 1rem;
        }
        .radio-inline {
            padding-right: 2.5rem;
            padding-left: 0;
            label {
                font-size: 1.8rem;
                color: @brand-grey-text;
                font-weight: normal;
            }
            [type="radio"] {
                position: absolute;
                left: -9999px;
                & + label {
                    position: relative;
                    padding-left: 4.5rem;
                    cursor: pointer;
                    line-height: 2.3rem;
                    color: @brand-grey-text;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: -2px;
                        width: 30px;
                        height: 30px;
                        border: 1px solid @brand-primary;
                        border-radius: 50%;
                        background: transparent;
                    }
                }
                &:checked {
                    & + label {
                        &:after {
                            content: '';
                            width: 18px;
                            height: 18px;
                            background: @brand-primary;
                            border: none;
                            position: absolute;
                            top: 4px;
                            left: 6px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .cart-body {
        padding: 2rem 1rem 2.5rem 1rem;
        .customer-type {
            & > div {
                width: 100%;
            }
        }
    }
}
//empty cart styles
.content__empty{
    margin: 5rem 0;
    .content {
        font-size: 1.8rem;
        color: @brand-black;
        text-align: center;
        width: 40%;
        .header{
            font-size: 32px;
            line-height: 41px;
            text-transform: uppercase;
            font-weight: bold;
            @media @phone {
                font-size: 28px;
                line-height: 36px;
            }
        }
        p {
            color: @brand-default-text;
            line-height: 22px;
        }
        .cart-empty-icon{
            &::before{
                width: 10rem;
                height: 10rem;
                position: relative;
                margin: auto;
                content: '';
                display: block;
                background-size: contain;
                background: url("../images/emptyCart.svg") center no-repeat;
            }
        }
        .js-shopping-button{
            margin: 3rem auto;
            width: 70%;
            border-radius: 5px !important;
        }
        @media @phone {
            width: 90%;
        }
        @media @tablet {
            width: 50%;
        }
    }
}

.comn-vali-msg {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #94989E;
    @media @phone {
        font-size: 1.2rem;
    }
        
}
label.error {
    color: @brand-red;
    text-transform: none;
    font-weight: normal;
    padding-left: 17px;
}
