//
// Checkout
// --------------------------------------------------------
.checkout {
    &-steps {
        margin-top: 3rem;
        padding-left: 0;
        @media @phone {
            padding: 0;
        }
        .step {
            &-head {
                font-family: @futuraPTBold;
                line-height: 2.1rem;
                border: 0;
                background-color: @cart-background;
                color: @brand-default-text;
                border-radius: 1rem;
                padding: 1.4rem 1.5rem 1.4rem 1.5rem;
                border: 1px solid @steps-border-active;
                height: auto;
                @media @phone {
                    padding: 1.7rem 1rem 2rem 1rem;
                    font-size: 1.4rem;
                }
                &.inactive {
                    pointer-events: none;
                    cursor: not-allowed;
                    color: @checkout-title;
                    &:after {
                        background: url("../images/checkoutEdit_icon.svg") center no-repeat;
                        background-size: contain;
                    }
                }
                &.active {
                    background-color: @cart-background;
                    border-radius: 1rem 1rem 0 0;
                    border: 1px solid @steps-border-active;
                    border-bottom: 0;
                    color: @checkout-title-active;
                    padding-bottom: 0;
                    &:after {
                        background: url("../images/checkoutEdit_icon.svg") center no-repeat;
                        background-size: contain;
                    }
                }
                &:before {
                    content: '';
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 1.5rem;
                    top: 1.5rem;
                    background: url("../images/checkoutEdit_icon_blue.svg") center no-repeat;
                    background-size: contain;
                    width: 2.4rem;
                    height: 2.4rem;
                }
                &__count {
                    color: @brand-primary;
                }
            }
            &-body {
                background-color: @cart-background;
                padding: 0 1.5rem 2rem;
                margin-bottom: 1rem;
                border-radius: 0 0 1rem 1rem;
                border: 1px solid @steps-border-active;
                border-top: 0;
                @media @phone {
                    padding: 0 1rem 2rem;
                }
                .checkout-headline {
                    display: none;
                }
                .checkout {
                    &-indent {
                        .headline {
                            font-size: 1.8rem;
                            padding: 0;
                        }
                    }
                    &-shipping, &-paymentmethod,&-accountnumber {
                        padding: 1.5rem;
                        border: 1px solid @brand-primary;
                        border-radius: 1rem;
                        background-color: @brand-white;
                        margin-top: 1.5rem;
                    }
                    &-accountnumber {
                        .headline {
                            margin-top: 0;
                            color: @brand-black;
                        }
                    }
                    &-next {
                        width: 80%;
                        margin: 0 auto;
                        border-radius: 0.5rem !important;
                        @media @phone {
                            width:100%;
                        }
                    }
                }
                .customer-additional-details {
                    padding: 1.5rem 1.5rem;
                    border: 1px solid @brand-primary;
                    border-radius: 1rem;
                    background-color: @brand-white;
                    margin-top: 1.5rem;
                    .alert {
                        line-height: 2.1rem;
                        h5 {
                            font-size: 1.6rem;
                            font-family: @futuraPTBold;
                            margin-top: 0;
                        }
                    }
                }
                .form-group {
                    position: relative;
                    #paymentMethodId {
                        label {
                            text-transform: none;
                        }
                    }
                }
                .control-label {
                    position: absolute;
                    top: 0.8rem;
                    left: 1.5rem;
                    line-height: 1.4rem;
                    color: @cart-text-color;
                    text-transform: capitalize;
                    font-size: 1.4rem;
                    color: @brand-primary;
                    &.add-address-left-label {
                        position: static;
                        line-height: normal;
                    }
                    span {
                        font-weight: normal;
                    }
                }
                select.form-control {
                    text-transform: none;
                    padding-left: 1rem;
                    align-items: flex-end;
                }
                .form-control {
                    height: 4.8rem;
                    padding: 1.5rem 1.5rem 0 1.5rem;
                    font-size: 1.4rem;
                    color: @brand-default-text;
                    border: 1px solid @hr-color;
                    border-radius: 1rem;
                }
                .checkout-order-summary {
                    margin-top: 0;
                    padding: 1.6rem 0 0;
                    &-list {
                        border: none;
                    }
                }
                .guaranteed-text {
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                    color: #63666a;
                    margin-bottom: 1.5rem;
                    span {
                      img {
                        margin-left: 1.6rem;
                        height: 1.6rem;
                        @media @phone {
                            margin-left: 0.5rem;
                        }
                      }
                    }
                }
            }
        }
    }
    &-headline {
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-family: @futuraPTBold;
        color: @brand-primary;
        margin-bottom: 1.6rem;
        padding: 0;
    }
}
.checkout-order-summary{
    color: @brand-default-text;
    font-size: 1.8rem;
    border: 1px solid @cart-border;
    background-color: @cart-background;
    padding: 1.5rem 1.5rem;
    margin-top: 3rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    @media @phone {
        padding: 1rem;
        margin: 3rem 0 0;
    }
    .cart-totals {
        padding: 0;
        .totals-head {
            color: @brand-primary;
            font-family: @futuraPTBold;
            margin-top: 1rem;
            margin-bottom: 2rem;
            line-height: 2.9rem;
        }
        table {
            table-layout: auto;
            .cartTotal {
                background-color: transparent;
                border-top: 1px solid @brand-primary;
            }
            .taxes {
                .cart-bundle-package {
                    color: @brand-primary;
                    font-family: @futuraPTBold;
                }
            }
            tr:last-child {
                font-family: @futuraPTBold;
            }
        }
    }
    .cart-total-summary{
        border: 1px solid @cart-border;
        border-radius: 1rem;
        background-color: @brand-white;
        padding: 1.5rem 3rem;
        th{
            display: none;
        }
        td {
            padding: 1rem 0;
        }
    }
    & &-list {
        border: none;
        table th {
            text-align: left;
            padding: 1rem 2rem;
            &:last-child {
                text-align: right;
                border-radius: 0 1rem 0 0;
            }
            &:first-child {
                border-radius: 1rem 0 0;
            }
        }
        &-items {
            border: 1px solid @brand-primary;
            border-radius: 1rem;
            background-color: @brand-white;
            margin-bottom: 1rem;
            .thumb {
                float: none;
                margin: 0;
                width: auto;
                padding-bottom: 1rem;
                img {
                    max-width: 100%;
                    width: auto;
                }
            }
            .details {
                margin-left: 0;
                font-size: 1.8rem;
                padding-right: 1rem;
                @media @phone {
                    position: static;
                }
                .name  {
                    font-family: @futuraPTBold;
                    color: @brand-default-text;
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    margin: 1.5rem 0 0.5rem 0;
                    a {
                        color: @brand-default-text;
                    }
                    b {
                        font-family: @futuraPTBold;
                    }
                }
                .item__spec {
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                    color: @brand-default-text;
                }
            }
            .price {
                font-size: 1.8rem;
                float: none;
            }
            &.today-total {
                font-family: @futuraPTBold;
                text-transform: uppercase;
            }
            .price {
                font-weight: normal;
                margin: 0;
                @media @phone {
                    margin-bottom: 1.6rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .benefits {
                clear: both;
                width: 100%;
                .more-benefits {
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                    a.read-link {
                        color: @checkout-title-active;
                        font-size: 1.8rem;
                        line-height: 2.3rem;
                        position: relative;
                        padding: 1.2rem 1rem;
                        display: block;
                        background-color: @cart-background;
                        border-radius: 10px;
			    font-family: @futuraPTBold;
                        &#less::after {
                            border-width: 0px 2px 2px 0px;
                            top: 17px;
                        }
                        &#more::after {
                            border-width: 2px 0px 0px 2px;
                            top: 20px;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            height: 8px;
                            width: 8px;
                            border-style: solid;
                            border-color: @checkout-title-active;
                            transform: rotate(45deg);
                            right: 1.5rem;
                        }
                    }
                    ul {
                        @media (min-width: 767px) {
			    columns: 2;
			    -webkit-columns: 2;
			    -moz-columns: 2;
			    column-gap: 3rem;
			}
			list-style: none;
                    }
                    .benefits-list {
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                        padding-left: 1rem;
                        margin-top: 1.5rem;
                        li {
                            padding: 0 0 0.8rem 0rem;
                            &:last-child{
                                padding: 0;
                            }
                        }
                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &.online-promo {
                border: 1px solid @brand-dark-magenta;
                padding: 0;
            }
            .online-offer {
                background-color: @brand-dark-magenta;
                color: @brand-white;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.3rem;
                line-height: 1.7rem;
                border-radius: 10px 10px 0 0;
                padding: 0.8rem 0;
            }


        }
        li {
            padding: 0.8rem;
            &:nth-child(2n + 3) {
                background-color: transparent;
            }
        }
        .seperater {
            padding: 0 2rem;
            hr {
                border-top: 1px solid @brand-primary;
                margin: 0.7rem 0;
            }
        }
    }

}

.checkout-steps{
    .checkout{
        &-order-summary{
            border: 0;
        }
        &-shipping-items{
            font-size: 1.4rem;
            li{
                font-size: 1.4rem;
            }
        }
    }
}

.place-order-form {
    font-size: 1.8rem;
    margin-top: 2rem;
    .checkbox {
        margin-top: 0;
        margin-bottom: 1.5rem;
        label {
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: @brand-default-text;
            padding-left: 3.5rem;
            &.bold {
                font-family: @futuraPTBold;
            }
            a {
                color: @brand-default-text;
                text-decoration: underline;
            }
        }
        label + label {
            margin-top: 1.5rem;
        }
    }
    .btn-place-order {
        width: 70%;
        margin: 0 auto;
    }
    #termsCheck1-error {
        display: none !important;
    }
    label.error {
        color: @brand-red;
        font-family: @futuraPTBook;
        padding-left: 0;
        margin-top: 1rem;
        display: block;
    }
}
.checkout-indent .today-details {
    margin-bottom: 1.5rem;
}
.contactus {
    color: @cart-text-color;
    border: 1px solid @cart-border;
    background-color: @cart-background;
    padding: 1rem 3rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    @media @phone {
        padding: 1rem 2rem;
    }
    h4 {
        font-size: 1.8rem;
        line-height: 2.6rem;
        font-weight: bold;
        b{
            font-family: @futuraPTBold;
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 1.8rem;
        li {
            position: relative;
            padding-left: 5rem;
            margin: 1.5rem 0;
            display: inline-block;
            &.call:before {
                background: url("../images/contact_call_icon.svg") center no-repeat;
                background-size: 2rem 2rem;
            }
            &:before {
                content: '';
                position: absolute;
                width: 4rem;
                height: 4rem;
                border: 1px solid @border-color;
                border-radius: 1rem;
                left: 0;
                top: -0.6rem;
            }
            a {
                color: @brand-primary;
                font-family: @futuraPTBold;
            }
        }
    }
}
.payment-details {
    border: 1px solid transparent;
    padding-top: 1rem 0;
    align-items: center;
    justify-content: space-evenly;
    .actualPrice {
        display: flex;
        justify-content: space-around;
        background: #EBF8FF;
        border-radius: 1rem;
        padding: 1.5rem;
        margin-bottom: 1rem;
        @media @phone {
            display: block;
        }
    }
    .price {
        text-align: center;
    }
    .newPrice {
        small {
            font-size: 1.8rem;
            line-height: 2.3rem;
            font-family: @futuraPTBook;
        }
        .tax {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
    }
    .oldPrice {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-family: @futuraPTBook;
        color: @brand-primary;
        small {
            font-size: 0.9rem;
        }
    }
    .monthly {
        color: @brand-grey-text;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-transform: uppercase;
        font-family: @futuraPTBold;
    }
    .monthly-price, .today-price {
        font-family: @futuraPTBold;
        font-size: 2.4rem;
        color: @brand-primary;
        line-height: 2.9rem;
    }
    .gct {
        color: @brand-grey-text;
        font-size: 1.4rem;
    }
    .seperater {
        height: 12rem;
        width: 0.4rem;
        background: @brand-tertiary;
    }
}
.online-promo {
    .actualPrice {
        background: #FAF4FA !important;
    }
    .monthly-price {
        color: @brand-dark-magenta !important;
    }
}
.today-totals-head {
    color: @brand-primary;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 0.8rem;
    font-family: @futuraPTBold;
    .disclaimer {
        color: @cart-text-color;
        font-size: 1.2rem;
        line-height: 1.4rem;
        font-weight: normal;
        font-family: @futuraPTBook;
    }
    span {
        color: @brand-primary;
    }
}
.monthly-totals-head {
    color: @brand-primary;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 1.6rem;
    font-family: @futuraPTBold;
}
.offer-totals-head {
    font-family: @futuraPTBold;
    color: @brand-dark-magenta;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 1.6rem;
}
/* ----Styles for colorbox start---- */
#cboxOverlay{
    position: fixed;
}
#colorbox{
    #addressbook{
        height: 35rem;
        .addressEntry{
            li{
                font-size: 1.6rem;
            }
            &:last-child{
                margin-bottom: 4rem;
            }
        }
    }
    #savedpaymentsbody{
        height: 35rem !important;
        overflow-y: scroll;
        .saved-payment-entry{
            font-size: 1.6rem;
            .checkout-card-cvv-error {
                margin-left: 3rem;
                @media @phone{
                    margin-left: 0;
                }
            }
        }
    }
    .headline{
        color: @brand-primary;
        font-family: @futuraPTBold;
    }
}

/* ----Styles for colorbox end---- */

/* --- Style for no installation address Start ---- */
.no-address {
    border: 1px solid @border-color-3;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.4rem;
}

/* --- Style for no installation address end ---- */

/* ----Styles for colorbox end---- */

fieldset#cardDate .form-group .control-label {
    margin: 0;
    overflow: visible;
    clip: unset;
}

//credit card styles
.silentOrderPostForm {
    #show-cc-label {
        position: absolute;
        right: 1rem;
        margin-top: 1.5rem;
        z-index: 1;
    }
    .i-icon-payment {
        display: inline-block;
        background-image: url('../images/card_sprite.png');
        background-repeat: no-repeat;
        width: 9.5rem;
        height: 5rem;
    }
    .i-icon-card {
        &-visa {
            width: 4rem;
            height: 5rem;
            background-position: -5.5rem 0;
        }
        &-master {
            width: 5rem;
            height: 5rem;
            background-position: 0 0;
            position: absolute;
            right: 4.5rem;
        }
    }
    .today-details {
        .today-payment-info {
            border: 1px solid @hr-color;
        }
    }
    .checkout-order-summary {
        background: none;
        padding: 0 !important;
    }
}

.page-multiStepCheckoutSummaryPage {
    .has-error .help-block {
        color: @brand-red;
        font-style: normal;
        font-weight: normal;
        padding-left: 1.5rem;
		font-size: 1.3rem;
    }
    .has-error input.form-control {
        background: @brand-white;
    }
    .checkout-order-summary {
        .payment-details .actualPrice {
            @media (max-width: 1023px) {
                display: block;
            }
        }
        &.offer-details .price .actualPrice{
            .price {
                .monthly, .gct, .today-price {
                    display: none !important;
                }
            }
        }
        &.monthly-details .price .actualPrice{
            .price {
                .monthly, .gct {
                    display: none !important;
                }
            }
        }
        &.today-details .price .actualPrice{
            .price {
                .monthly, .gct {
                    display: none !important;
                }
            }
        }
    }
    .navigation--top, .right-menu-links, .navigation__overflow, .nav__left, .navigation--middle {
        display: none !important;
    }
}

.monthly-payment-info, .today-payment-info, .offer-payment-info {

    margin: 0;
    list-style: none;
    border: 1px solid @brand-primary;
    border-radius: 1rem;
    background-color: @brand-white;
    li {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        line-height: 1.6rem;
        .price {
            margin-left: auto;
        }

    }
}
.offer-payment-info {
    padding: 1rem;
    li {
        padding: 0.5rem;
        .details {
            .name {
                font-family: @futuraPTBold;
                color: @brand-dark-magenta;
            }
        }
        .price {
            font-weight: bold;
            color: @brand-dark-magenta;
        }
        &.price-total {
            font-family: @futuraPTBold;
            border-top: 1px solid @brand-primary;
            text-transform: uppercase;
            padding-top: 1rem;
            margin-top: 0.5rem;
            padding-bottom: 0;
            color: @brand-dark-magenta;
            .details {
                @media @phone{ 
                    padding: 0 5.5rem 0 0;
                }
            }
        }
        &.gct-text {
            font-size: 1.2rem;
            line-height: 1.6rem;
        }
    }
}
.today-payment-info {
    padding: 1rem 0;
    li {
        padding: 0.5rem 1.5rem;
        &:last-child {
            margin: 0rem 1.5rem;
            padding: 0.5rem 0rem;
        }
        .price {
            .monthly-price {
                display: none;
            }
        }
        &.price-total {
            font-family: @futuraPTBold;
            border-top: 1px solid @brand-primary;
            text-transform: uppercase;
            color: @brand-primary;
        }
    }
    .today-tax {
        background-color: #E3F6FF !important;
        margin: 0.5rem 0;
        .details {
            color: @brand-primary;
            font-family: @futuraPTBold;
        }
    }
    .promo-order {
        border-top: 1px solid @brand-primary;
    }
}
.monthly-payment-info {
    padding: 1rem;
    li {
        padding: 0.5rem;
        .price {
            .today-price {
                display: none;
            }
        }
        &.price-total {
            font-family: @futuraPTBold;
            border-top: 1px solid @brand-primary;
            text-transform: uppercase;
            padding-top: 1rem;
            margin-top: 0.5rem;
            padding-bottom: 0;
            color: @brand-primary;
        }
        &.gct-text {
            font-size: 1.2rem;
            line-height: 1.6rem;
        }
    }
}
.custom-label {
    display: block;
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    font-size: 2.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .custom-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.4rem;
    width: 2.4rem;
    border: 2px solid @brand-primary;
    border-radius: 0.4rem;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .custom-label input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .custom-label .checkmark:after {
    left: 0.7rem;
    top: 0.3rem;
    width: 0.7rem;
    height: 1.2rem;
    border: solid @brand-primary;
    border-width: 0 0.3rem 0.3rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .custom-btn {
      background: @btn-custom!important;
      border-color: @btn-custom!important;
      &:hover {
        background-color: @btn-custom !important;
      }
  }


 
