//
// Configurator
// --------------------------------------------------------
.page-doItBundlePage,
.page-mobilePage {
    .container {
        padding: 0;
    }
}

.configurator {
    &-banner {
        .category-banner-section {
            .home-block {
                left: 50px;
                width: 30rem;
                top: 30%;
                @media @phone {
                    left: 4%;
                    width: 17rem;
                    top: 20%;
                }
            }
            .banner-content {
                font-family: @futuraPTBold;
                font-size: 4.2rem;
                line-height: 4.3rem;
                color: @brand-white;
                @media @phone {
                    font-size: 2.2rem;
                    line-height: 2.3rem;
                }
            }
        }
    }
    &-steps {
        .container {
            padding: 0 1rem;
        }
        border-top: 1px solid @border-color-2;
        border-bottom: 1px solid @border-color-2;
        &-wrapper {
            display: flex;
            align-items: center;
            & :nth-child(2) {
                &::after {
                    display: none;
                }
            }
        }
        .previous-step {
            margin-left: auto;
            margin-right: 1.5rem;
            &.disabled {
                pointer-events: none;
            }
            &.hide {
                display: none !important;
            }
            &.active {
                svg {
                    path {
                        fill: @brand-primary;
                    }
                    circle {
                        stroke: @brand-primary;
                    }
                }
            }
        }
    }
    &-step {
        align-self: stretch;
        font-family: @futuraPTBook;
        font-size: 1.4rem;
        color: @nav-link-color;
        padding: 1rem 2rem;
        border-right: 1px solid @border-color-2;
        position: relative;
        &.active{
            background-color: @brand-primary;
            color: @brand-white;
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                right: -2rem;
                margin-top: -1rem;
                border-width: 1rem;
                border-style: solid;
                border-color: transparent transparent transparent @brand-primary;
            }
            .num {
                color: @brand-white;
            }
        }
        .num {
            font-family: @futuraPTBold;
            font-size: 2.4rem;
            color: @brand-primary;
        }
        .name{
            font-family: @futuraPTBold;
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    }
}
.configurator-body {
    font-family: @futuraPTBook;
    .info-msg {
        display: flex;
        align-items: center;
        color: @configurator-dark-grey;
        padding: 0 2rem;
        .wcText {
            font-family: @futuraPTBold;
            font-size: 2.2rem;
            line-height: 2.2rem;
        }
        .wcSpan {
            font-family: @futuraPTBook;
            font-size: 1.8rem;
            line-height: 2.1rem;
            b {
                font-family: @futuraPTBold;
            }
        }
    }
    .next-button {
        margin-left: auto;
        text-align: right;
    }
    .btn-next {
        border: 1px solid @brand-primary;
        background-color: @brand-white;
        border-radius: 2.2rem !important;
        padding: 10px 30px;
        &:hover{
            color: @brand-primary;
        }
    }
    .step1-infobar {
        background-color: @configurator-light-grey-bg;
        color: @configurator-light-grey;
        font-size: 1.8rem;
        line-height: 3.2rem;
        padding: 2.4rem 0;
        margin: 2.5rem 0;
        span {
            font-family: @futuraPTBold;
        }
        small {
            font-size: 80%;
        }
    }
    .step2-infobar {
        background-color: @brand-light-blue;
        border: 1px solid @alert-info-border;
        color: @configurator-dark-grey;
        border-radius: 1rem;
        padding: 1.5rem 2rem;
        font-size: 1.8rem;
        margin: 2rem 0;
        span {
            font-family: @futuraPTBold;
            color: @brand-primary;
        }
    }
    .primary-color {
        color: @brand-primary;
    }
    .ctabox-container {
        margin-bottom: 1rem;
        display: flex;
        align-items: stretch;
        justify-content: center;
		flex-wrap: wrap;
        & > div {
            display: flex;
        }
        .ctabox {
            border: 1px solid #C4C4C4;
            padding-bottom: 2.6rem;
            border-radius: 1rem;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            margin: 0 auto 2rem;
            width: 100%;
            &__selected--blur {
                display: none;
            }
            .popular {
                &:before {
                    background: url("../images/popular.svg") center no-repeat;
                    width: 115px;
                    height: 117px;
                    content: '';
                    position: absolute;
                    right: -37px;
                    top: -50px;
                    z-index: -1;
                }
                color: @brand-white;
                font-size: 1.4rem;
                font-family: @futuraPTBold;
                position: absolute;
                right: 0;
                text-transform: uppercase;
                width: 7rem;
                text-align: center;
                padding-top: 0.7rem;
            }
            .seemore {
                color: @brand-primary;
                text-align: center;
                padding: 0 2rem 2rem;
                font-family:  @futuraPTBook;
                font-size: 1.4rem;
                line-height: 1rem 2rem;
            }
            .disabled {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #7B7B7B;
                mix-blend-mode: screen;
                border-radius: 1rem;
                z-index: 9;
            }
            &.selected {
                border: 2px solid @brand-primary;
                .ctabox__selected--blur {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.23);
                    mix-blend-mode: normal;
                    backdrop-filter: blur(1px);
                    z-index: 1;
                    display: block;
                    border-radius: 0.8rem;
                }
            }
            .content {
                .bundle {
                    padding: 2rem 2rem 1rem;
                    min-height: 12rem;
                    position: relative;
                }
                .bestValue {
                    position: absolute;
                    background: url("../images/bestValueMask.svg") center no-repeat;
                    top: -0.6rem;
                    right: 0;
                    background-size: contain;
                    width: 7.5rem;
                    height: 7.5rem;
                    .text {
                        font-family: @futuraPTBold;
                        font-size: 14px;
                        line-height: 14px;
                        color: @brand-white;
                        margin: 0;
                        padding-top: 2rem;
                    }
                }
                hr {
                    border-top: 1px solid @hr-color;
                    width: 90%;
                    margin: 0 auto 1rem;
                }
                .bundleName {
                    font-size: 2.4rem;
                    font-family: @futuraPTBold;
                    line-height: 2.9rem;
                    color: @brand-primary;
                    margin: 0;
                    text-transform: capitalize;
                }
                .oldPrice {
                    font-family: @futuraPTBook;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    color: @configurator-dark-grey;
                    margin: 7px 0;
                    .linethrough {
                        text-decoration-line: line-through;
                    }
                }
                .newPrice {
                    font-family: @futuraPTBook;
                    font-size: 1.8rem;
                    line-height: 2.3rem;
                    color: @brand-primary;
                    margin-top: 15px;
                    bottom: 15px;
                }
            }
            .specification {
                text-align: left;
                padding: 1rem 2rem;
                flex: 1;
                .internet-spec {
                    padding-left: 4rem;
                    font-family: @futuraPTBook;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    color: @configurator-light-grey;
                    position: relative;
                    margin-bottom: 3rem;
                    span {
                        font-family: @futuraPTBold;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        width: 3rem;
                        height: 2rem;
                        left: 0;
                        background-size: contain;
                    }
                    a {
                        color: @brand-primary;
                        padding: 0;
                    }
                    b {
                        font-family: @futuraPTBold;
                    }
                }
            }
            [class^="down_"], [class*=" down_"] {
                &:before {
                    background: url("../images/wifi.svg") 0 center no-repeat;
                }
            }
            [class$="_mb"] {
                &:before {
                    background: url("../images/simBlue.svg") 0 center no-repeat;
                }
            }
            [class$="_youtube"] {
                &:before {
                    background: url("../images/youtubeBlue.svg") 0 center no-repeat;
                }
            }
            [class$="_smedia"] {
                &:before {
                    background: url("../images/socialmedia.svg") 0 center no-repeat;
                }
            }
            [class$="_sms"] {
                &:before {
                    background: url("../images/sms_icon_blue.svg") 0 center no-repeat;
                }
            }
            [class*=" roaming_"] {
                &:before {
                    background: url("../images/roaming_icon.svg") 0 center no-repeat;
                }
            }
            [class^="hbo"], [class*="hbo"] {
                &:before {
                    background: url("../images/HBO_icon.svg") 0 center no-repeat;
                }
            }
            [class^="flow"], [class*="flow"] {
                &:before {
                    background: url("../images/flowsports_icon.svg") 0 center no-repeat;
                }
            }
            [class$="_channels"], [class*="_channels"], [class^="_channels"], [class~="_channels"] {
                &:before {
                    background: url("../images/channels_icon.svg") 0 center no-repeat;
                }
            }
            .unlimited_mi {
                &:before {
                    background: url("../images/phone.svg") 0 center no-repeat;
                }
            }
            .hdtv {
                &:before {
                    background: url("../images/hdtv.svg") center no-repeat;
                }
            }
            .landline {
                &:before {
                    background: url("../images/landline.svg") center no-repeat;
                }
            }
            .wifi {
                &:before {
                    background: url("../images/wifi.svg") center no-repeat;
                }
            }
            .hbo {
                &:before {
                    background: url(../images/hbo-icon.svg) center no-repeat;
                }
            }
            .flow {
                &:before {
                    background: url(../images/flow-icon.svg) center no-repeat;
                }
            }
            .simBlue{
                &:before {
                    background: url("../images/simBlue.svg") center no-repeat;
                }
            }
            .youtubeBlue{
                &:before {
                    background: url("../images/youtubeBlue.svg") center no-repeat;
                }
            }
            .cloudBlue{
                &:before {
                    background: url("../images/cloudBlue.svg") center no-repeat;
                }
            }
            .mobileBlue{
                &:before {
                    background: url("../images/mobileBlue.svg") center no-repeat;
                }
            }
            .mobileglobeBlue{
                &:before {
                    background: url("../images/mobileglobeBlue.svg") center no-repeat;
                }
            }
            .ctabox-btn {
                text-align: center;
                position: relative;
            }
            &.step2 {
                width: 95%;
                .bundle {
                    padding: 3rem 2rem 2rem;
                    height: 17rem;
                    position: relative;
                }
                .bundleName {
                    font-size: 3.4rem;
                    line-height: 4.2rem;
                    color: @brand-primary;
                    margin: 0;
                    text-transform: none;
                }
                .oldPrice {
                    font-size: 1.8rem;
                    line-height: 2.3rem;
                    margin: 1.2rem 0 0 0;
                    .off {
                        font-family: @futuraPTBold;
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                        color: @brand-dark-magenta;
                        text-decoration-line: none;
                        padding-left: 0.3rem;
                    }
                }
                .newPrice {
                    font-size: 2.4rem;
                    line-height: 3.7rem;
                }
            }
        }
        .ctabox.selected {
            .step1ConfigForm {
                position: relative;
            }
            .ctabox-want-form {
                visibility: hidden;
                display: none;
            }
            .ctabox-wantbtn--js {
                visibility: hidden;
            }
            .ctabox-dlt-form {
                display: block;
                z-index: 1;
            }
            .ctabox-dltbtn--js {
                display: block;

                .btn-primary {
                    background: #FE3D3E;
                    border-color: #FE3D3E;
                }
            }
        }
    }
    .bundleinfo {
        background-color: @brand-primary;
        padding: 2rem 3rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        .alertTextData {
            color: @brand-white;
            font-family: @futuraPTLight;
            font-size: 2rem;
            line-height: 2.7rem;
        }
    }
    .config-bnr {
        position: relative;
        &__text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            padding: 0 32px;
            width: 470px;
        }
        &__text-para {
            padding: 38px 0;
            margin: 0;
            font-size: 36px;
            line-height: 42px;
            color: #2E71A7;

            span {
                font-weight: 700;
                color: #2E71A7;
            }
			b{
			   font-family: @futuraPTBold;
			}
        }
    }

    .category-banner-section {
        .banner-content {
            position: static;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            font-size: unset;
            line-height: normal;
        }
        .home-block {
            transform: none;
            position: static;
            right: auto;
            .banner-content {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                padding: 0 32px;
                width: 550px;
                font-size: 36px;
                line-height: 42px;
                color: @nav-gray;
                span {
                    font-family: @futuraPTBold;
                    color: @nav-gray;
                }
            }
        }
    }
    .cl-cntnr {
        margin-bottom: 30px;
        &__list {
            padding: 0;
            background: @brand-white;
            border: 1px solid #E2E8EE;
            border-radius: 10px;
            list-style: none;

            li {
                padding: 13.89px 32px;
                border-bottom: 1px solid @steps-border-active;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:last-child {
                    border: none;
                }
                span {
                    text-align: left;
                    font-size: 18px;
                    line-height: 28px;
                }
                &.disabled {
                    pointer-events: none;
                    opacity: 0.65;
                    filter: alpha(opacity=65);
                }
            }
        }
        &__item-name {
            width: 30%;
        }
        &__spcl {
            font-weight: bold;
            width: 30%
        }
        &__btn {
            width: 30%;
        }
        &__add-item {
            width: 10%;
            text-align: right !important;
            cursor: pointer;
        }
        .reduce-item {
            display: none;
            cursor: not-allowed;
        }
        .cstm-btn {
            padding: 8px 17px;
            font-weight: bold;
            width: 91px;
            height: 44px;
            border-radius: 22px !important;
        }
    }
    .sp {
        .cl-cntnr__btn {
            width: auto;
        }
    }
    .sp-msg {
        margin: 0 0 30px 0;
        font-size: 18px;
        line-height: 23px;
    }

    .radio {
        margin: 0;
        .form-group {
            margin-bottom: 0;
        }
        input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;

        }
        label {
            font-size: 18px;
            line-height: 18px;
            color: #333333;
            text-transform: none;
            &:before {
                content: '';
                -webkit-appearance: none;
                background-color: transparent;
                border: 2px solid #009BD9;
                padding: 0.6rem;
                display: inline-block;
                position: absolute;
                top: 1px;
                left: 0;
                cursor: pointer;
                margin-right: 5px;
                border-radius: 50%;
            }
        }
        input:checked + label {
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 5px;
                left: 4px;
                width: 8px;
                height: 8px;
                border: solid #009BD9;
                border-radius: 50%;
                background: #009BD9;
            }
        }

    }
    .more-sp {
        margin: 0;
        font-size: 18px;
        line-height: 23px;

    }
    .b-text {
        font-family: @futuraPTBold;
    }
    .sp-r-cntnr {
        img {
            border-radius: 10px;
            width: 100%;
        }
    }
    
    .bottom-content {
        text-align: center;
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin-top: 3rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .configurator {
        &-step {
            padding: 1rem;
            width: auto;
        }
    }
}

@media (max-width: 767px) {
    .configurator {
        &-steps {
            .previous-step {
                margin: 0;
                align-self: start;
                padding: 1rem 2rem;
            }
        }
        &-step {
            width: 100%;
            border-bottom: 1px solid @border-color-2;
            border-right: 0;
            padding: 1rem;
        }
    }
    .configurator-body {
        .ctabox-container {
            display: block;
        }
        .info-msg {
            display: block;
            line-height: 2.1rem;
        }
        .next-button {
            text-align: right;
        }
        .step2-infobar {
            padding: 1.5rem 1rem 1.5rem 0.5rem;
        }
        .cl-cntnr__list li {
            padding: 13.89px 15px;
        }
    }
}
.dsp-none {
    display: none;
}

.textPrimary {
    color: @brand-primary;
}
