//
// Devices Pdp
// --------------------------------------------------------
.page-productDetailsForDevices {
    .product-details.page-title {
        padding: 0;
        margin-top: 2rem;
        .name {
            color: @brand-drak-grey;
            text-transform: capitalize;
            font-family: @MontserratLight;
        }
    }
    .product-details {
        .buynow-btn {
            padding: 0.5rem 4rem;
            display: none;
        }
    }
    .spec {
        .Operating {
            &:before{
                background: url("../images/flow_megaspeed.svg") center no-repeat;	
            }
        }
        .Storage {
            &:before{
                background: url("../images/data.svg") center no-repeat;	
            }
        }
        .Camera {
            &:before{
                background: url("../images/camera_icon.svg") center no-repeat;
                height: 1.7rem !important;	
            }
        }
        .Display {
            &:before{
                background: url("../images/mobile_icon_grey.svg") center no-repeat;
            }
        }
        .spec-char {
            position: relative;
            color: @brand-grey-text;
            font-size: 1.2rem;
            padding-left: 3.5rem;
            text-transform: uppercase;
            margin-top: 2rem;
            &:before {
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                background-size: contain;
            }
        }
    }
    .image-gallery__zoom-icon {
        display: none;
    }
    .delivery {
        position: relative;
        font-size: 1.2rem;
        padding-left: 3.5rem;
        margin-top: 2rem;
        &:before {
            content: "";
            position: absolute;
            left: -0.9rem;
            top: -0.9rem;
            background: url("../images/delivery_icon.svg") center no-repeat;	
            background-size: contain;
            width: 3.5rem;
            height: 3.5rem;
        }
    }
    .product-main-info {
        padding: 0;
    }
    .plan {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        & > h3 {
            margin-top: 0;
        }
        h3 {
            font-family: @MontserratLight;
            font-size: 1.6rem;
            color: @brand-grey-text;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 2rem;
        }
        input[type="radio"], input[type="checkbox"] {
            margin-bottom: 0;
            vertical-align: middle;
            margin-top: -0.2rem;
        }        
        label {
            color: @brand-primary;
            margin-bottom: 0;
            font-family: @MontserratBold;
        }
    }
    .plan-type {
        text-align: center;
        border: 1px solid @brand-primary;
        h4 {
            background-color: @brand-primary;
            color: @brand-white;
            font-family: @MontserratLight;
            font-weight: bold;
            font-size: 1.6rem;
            padding: 1rem;
            margin: 0;
        }
        .price {
            padding: 1.5rem 1rem;
            color: @brand-primary;
            font-size: 1.4rem;
            .card-icon{
                width: 7rem;
                height: 2rem;
                background: url("../images/card.png") center no-repeat;
                background-size: contain;
                display: inline-block;
                position: relative;
                top: 0.5rem;
                margin-left: 1.5rem;
			}
        }
    }
    .plan-info {
        padding: 1rem 2rem;
        font-family: @MontserratLight;
        &:nth-child(even) {
            background-color: @brand-lighter-grey;            
        }
    }
}

@media (min-width: 640px) {
    .page-productDetailsForDevices {
        .page-productDetails .carousel {
            padding-left: 0;
            padding-right: 0;
        }
        .carousel.image-gallery__image {
            padding: 0;
        }
    }    
}
.tabs {
    font-family: @MontserratLight;
    font-size: 1.4rem;
    .tab-review {
        .review-list .review-entry {
            margin: 3.5rem 0;
            .title {
                color: @brand-primary;
                font-size: 1.6rem;
            }
            .autor {
                margin-top: 0.5rem;
            }            
        }
        .rating {
            margin-bottom: 0.5rem;
            .rating-stars span.active {
                color: @brand-tertiary;
            }
        } 
        .write-review {
            margin-top: 3.5rem;
            label {
                text-transform: capitalize;
            }
        }
    } 
    .review-pagination-bar {
        .btn {
            padding: 0.5rem 1.5rem;
            font-family: @MontserratBold;
            &.back {
                background: none;
                border: none;
                color: @default-font-color;
                position: relative;
                font-family: @MontserratLight;
                padding-left: 2.2rem;
                font-weight: normal;
                text-decoration: underline;
                &:before {
                    content: "< |";
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
    .product-classifications {
        .prod-spec {
            h4 {
                color: @brand-primary;
                font-weight: bold;
            }
        }
    }
}
.variant-text {
font-family: @MontserratLight;
margin-top: 6rem;
}

.variant-section{
    margin: 3rem 0;
    .variant-selector{
        .variant-list{
            margin-left: 0;
            li{
                &,
                &:hover,
                &.active,
                &:focus{
                    margin: 0;
                    a{
                      border: 0;
                      box-shadow: none;
                      line-height: 0;
                      label{
                          color: @brand-default-text;
                          font-weight: normal;
                          font-family: @MontserratLight;
                          text-transform: capitalize;
                      } 
                    .color-info input[type="radio"]:not(old){
                        display: none;
                        & + label > span {
                            display: inline-block;
                            width: 1.5rem;
                            height: 1.5rem;
                            border: 1px solid @brand-gray;
                            background: rgb(255, 255, 255);
                            background-image: -moz-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: -ms-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: -o-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: -webkit-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            vertical-align: middle;
                            margin-top: -0.2rem;
                        }
                       &:checked + label > span{
                            border: 1px solid @brand-primary;
                            background-image: -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
                            background-image: -ms-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: -o-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: -webkit-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                        }
                        &:checked + label > span > span {
                            display: block;
                            width: 1rem;
                            height: 1rem;
                            margin: 0.15rem;
                            border: 1px solid @brand-primary;
                            background: @brand-primary;
                            background-image: -moz-linear-gradient(rgb(0, 133, 202),rgb(0, 133, 202));
                            background-image: -ms-linear-gradient(rgb(0, 133, 202),rgb(0, 133, 202));
                            background-image: -o-linear-gradient(rgb(0, 133, 202),rgb(0, 133, 202));
                            background-image: -webkit-linear-gradient(rgb(0, 133, 202),rgb(0, 133, 202));
                            background: @brand-primary;
                        }
                    }
                      .color-swatch{
                          margin-bottom: 0;
                        }
                    }
                    span{
                        border: 0;
                        height: 0;
                    }
                }
            }
        }
        .variant-name{
            text-transform: none;
            color: @brand-default-text;
            font-family: @MontserratLight;
        }
    }
}
