@font-face {
    font-family: 'MontserratBold';
    src: url("../fonts/Montserrat-Bold.eot");
    src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Montserrat-Bold.woff2") format("woff2"), 
    url("../fonts/Montserrat-Bold.woff") format("woff"), 
    url("../fonts/Montserrat-Bold.ttf") format("truetype"), 
    url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
    font-display: swap; 
}
@font-face {
    font-family: 'MontserratLight';
    src: url("../fonts/Montserrat-Light.eot");
    src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Montserrat-Light.woff2") format("woff2"), 
    url("../fonts/Montserrat-Light.woff") format("woff"), 
    url("../fonts/Montserrat-Light.ttf") format("truetype"), 
    url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
    font-display: swap; 
}
@font-face {
    font-family: 'OpenSansBold';
    src: url("../fonts/OpenSans-Bold.eot");
    src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/OpenSans-Bold.woff2") format("woff2"), 
    url("../fonts/OpenSans-Bold.woff") format("woff"), 
    url("../fonts/OpenSans-Bold.ttf") format("truetype"), 
    url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
    font-display: swap; 
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/OpenSans-Regular.woff2") format("woff2"), 
    url("../fonts/OpenSans-Regular.woff") format("woff"), 
    url("../fonts/OpenSans-Regular.ttf") format("truetype"), 
    url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
    font-display: swap; 
}
@font-face {
	font-family: 'futuraPTLight';
	src: url('../fonts/FuturaPTLight.eot');
	src: url('../fonts/FuturaPTLight.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/FuturaPTLight.woff2') format('woff2'),
		 url('../fonts/FuturaPTLight.woff') format('woff'),
         url('../fonts/FuturaPTLight.ttf') format('truetype'),
         url('../fonts/FuturaPTLight.otf')  format('opentype'),
         url('../fonts/FuturaPTLight.svg#FuturaPTBook') format('svg');
         font-display: swap; 
}
@font-face {
	font-family: 'futuraPTBook';
	src: url('../fonts/FuturaPTBook.eot');
	src: url('../fonts/FuturaPTBook.eot') format('embedded-opentype'),
		 url('../fonts/FuturaPTBook.woff2') format('woff2'),
		 url('../fonts/FuturaPTBook.woff') format('woff'),
         url('../fonts/FuturaPTBook.ttf') format('truetype'),
         url('../fonts/FuturaPTLight.otf')  format('opentype'), 
         url('../fonts/FuturaPTBook.svg#FuturaPTBook') format('svg');
         font-display: swap;
}
@font-face {
    font-family: 'Grandstander';
    src: url("../fonts/392F29_0_0.eot");
    src: url("../fonts/392F29_0_0.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/392F29_0_0.woff2") format("woff2"), 
    url("../fonts/392F29_0_0.woff") format("woff"), 
    url("../fonts/392F29_0_0.ttf") format("truetype"), 
    url("../fonts/392F29_0_0.svg#wf") format("svg");
    font-display: swap; 
}
@font-face {
	font-family: 'futuraPTBold';
	src: url('../fonts/FuturaPTBold.eot');
	src: url('../fonts/FuturaPTBold.eot') format('embedded-opentype'),
		 url('../fonts/FuturaPTBold.woff2') format('woff2'),
		 url('../fonts/FuturaPTBold.woff') format('woff'),
         url('../fonts/FuturaPTBold.ttf') format('truetype'),
         url('../fonts/FuturaPTBold.otf')  format('opentype'), 
         url('../fonts/FuturaPTBold.svg#futuraPTBold') format('svg');
         font-display: swap;
}
