//
// Footer
// --------------------------------------------------------
// support section
.support-section {
	background: @brand-primary;
	color: @brand-white;
	padding: 3rem 0;
	font-size: 1.8rem;	
	.headline {
		font-size: 3.2rem;
		text-align: center;
		margin: 1rem 0;
		font-family: @futuraPTBold;
		@media @phone {
            font-size: 2.4rem;
			margin-bottom: 2rem;
        }
	}
	.icons {
		display: flex;
		flex-wrap: wrap;
			@media @phone {
				display: flex;
				justify-content: center;
			}
		.col {
			flex: 1 0 16%;
			margin: 5px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			@media @phone {
				flex: 1 0 1%;
			}
		}
	}
	.col-xs-6:nth-child(3) img {
		width: 5.1rem;
	}
	a{
		color: @brand-white;
		font-size: 1.8rem;
		&:hover,
		&:focus,
		&:active {
			color: @brand-white;
		}
		h3 {
			font-size: 1.6rem;
			font-family: @futuraPTBook;
			margin-top:1rem;
		}
	}
	text-align: center;
	img {
		display: inline-block;
		width: 3.2rem;
	}
}
footer{
	background: @brand-light-gray;
	color: @brand-grey-text;
	font-family: @futuraPTBook;
	.support{
		padding-top: 5rem;
		background-color: @brand-primary;
		color: @brand-white;
		padding-bottom: 4.4rem;
		text-align: center;
		font-size: 2rem;
		.sub-head {
			margin: 0 0 3rem;
			font-size: 3.8rem;
			font-weight: bold;
		}
		.title {
			font-weight: bold;
		}
		a{
			color: @brand-white;
		}
		img{
			max-width: 6rem;
		}
	}
}
.footer__copyright{
	padding: 1rem 0;
	background: inherit; 
	color: inherit;
	font-size: 1.2rem;
}
.footer__first {
	background-color: @brand-primary;
    font-weight: bold;
    display: flex;
	width: 100%;
	text-align: center;
	justify-content: center;
	padding: 3rem;
	font-size: 1.2rem;
	a {
		color: @meta-nav-color-open;
		text-decoration: none;
		&:hover{
			color: @meta-nav-color-open;	
		}
	}
	img {
		width: 6rem;
	}
}
.footer__middle {
	background: @brand-grey-text;
	text-align: center;
	.nav > li {
		display: inline-block;
		a{
			padding-top: 1.5rem;
    		padding-bottom: 1.5rem;
			color: @meta-nav-color-open;
			font-size: 1.4rem;
			&:hover,
			&:focus {
				background-color: @brand-tertiary;
			}
		}
	}
}

.footer__left {
	.title {
		font-weight: bold;
		font-size: 1.6rem;
		font-family: @futuraPTBook;
	}
}
.footer__top__contact{
    background: @cart-background;
    text-align: center;
    padding: 4rem;
	@media @phone {
		padding: 2rem;
	}
    .footer_callus{
        font-size: 2.4rem;
        color: @brand-default-text;
        text-decoration: underline;
        text-decoration-thickness: 0.15rem;
        line-height: 2.3rem;
		margin-bottom: 1rem;
		@media @phone {
			font-size: 1.6rem;
			margin-bottom: 0;
		}
        a {
		color: @brand-default-text;
        }
    }
    .footer_questions{
        color:@meta-nav-background;
        font-size:2rem;
		@media @phone {
			font-size: 1.4rem;
			margin-bottom: 1.6rem;
		}
    }
    .footer_Store{
        color:@brand-default-text;
        font-size: 2rem;
        margin-top: 2rem;
        @media @tablet,@phone {
            margin-top: 0rem;
			font-size: 1.4rem;
        }
        a {
            font-weight: bold;
            color:@brand-default-text;
            text-decoration: underline;
            text-decoration-thickness: 0.1rem;
        }
    }
}
.footer__top .footer__nav--container{
	&:last-child {
		border-left: 1px solid @brand-gray;
		padding-left: 3rem;
		height: 25rem;
		.footer__nav--links .footer__link {
			display: inline-block;
			& + .footer__link {
				margin-left: 1.5rem;
			}
			a {
				font-size: 0;
				display: block;
				width: 2.6rem;
				height: 2.6rem;
			}
			&:first-child {
				a {
					background: url("../images/facebook.svg") center no-repeat;
					background-size: contain;
				}				
			}
			&:nth-child(2) {
				a {
					background: url("../images/twitter.svg") center no-repeat;
					background-size: contain;
				}				
			}
			&:nth-child(3) {
				a {
					background: url("../images/instagram.svg") center no-repeat;
					background-size: contain;
				}				
			}
		}
	}
	.footer__nav--links {
		a {
			color: @brand-grey-text;
			font-size: 1.4rem;
			&:hover {
				color: @brand-primary;
      			}			
		}
	}
}
.footer-grid {
	display: flex;
	justify-content: space-around;
}
@media @tablet {
	.footer__left {
		padding: 0 1rem;
	}
	.footer__top .footer__nav--container:last-child {
		padding-left: 1rem;
	}
}
@media @phone {
	.footer__top .footer__nav--container {
		&:last-child {
			border-left: 0;
			border-top: 1px solid @brand-gray;
			padding-top: 1rem;
			height: auto;
			padding-left: 1rem;
		}
	}
	.footer-grid {
		flex-direction: column;
	}
} 
