//custom design for header
header {
	font-family: @futuraPTLight;
	position: relative;
}
.navigation--top {
	background: @brand-grey-text;
	font-family: @futuraPTLight;
	font-size: 1.6rem;
	.nav__right .nav__links--account {
		.myAccountLinksHeader {
			color: @brand-white;
			height: auto;
			line-height: normal;
			&.show {
				background: transparent;
				padding: 0.7rem 2.5rem 0.7rem 1.2rem;
				height: auto;
				line-height: normal;
			}
			&:hover {
				color: @brand-white;
			}
		}
		li {
			text-transform: capitalize;
			font-size: inherit;
			svg {
				path {
					fill: @brand-white;
				}
			}
			&,
			& a,
			& a:hover, & a:focus {
				color: @brand-white;
			}
			a {
				font-weight: normal;
				text-transform: inherit;
				padding: 0.7rem 1.2rem;
			}
			&.logged_in {
				padding: 0.7rem 2.5rem 0.7rem 1.2rem;
				&:after {
					content: "";
					border: solid @brand-white;
					border-width: 0 1px 1px 0;
					display: inline-block;
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					padding: 0.3rem;
					width: 1px;
					height: 1px;
					right: -0.8rem;
					top: -0.4rem;
					position: relative;
				}			
			}
			.myAccountLinksHeader {
				display: none;
			}
			&.liOffcanvas {
				padding: 0 1.2rem;
				a {
					padding: 0.7rem 0;
					display: inline-block;
				}
				&.login {
					padding-right: 1.8rem;
					.glyphicon {
						font-size: 0.7rem;
						top: 0;
					}
					&:after {
						content: '';
						position: relative;
						width: 0; 
						height: 0; 
						border-left: 4px solid transparent;
						border-right: 4px solid transparent;
						border-top: 4px solid @brand-white;
						top: 1.4rem;
						right: -0.6rem;
					}
					.dropdown-menu {
						top: 3rem;
						width: 20rem;
    					font-size: 1.6rem;
						li,a {
							width: 100%;
							color: @brand-grey-text;
						}
					}
					&:hover {
						.dropdown-menu {
							display: block;
						}
					}
				}
			}
			.nav-cart {
				a {
					padding-bottom: 0.1rem;
				}
			}
			.glyphicon {
				font-size: 1.4rem;
			}
			&.paymybill {
				svg {
					position: relative;
					top: 0.2rem;
				}
			}
		}
		.mini-cart-icon {
			float: left;
			margin-right: 0.3rem;
		}
		.mini-cart-count {
			text-transform: inherit;
			span {
				font-size: inherit;
				float: left;
				&.nav-items-total span {
					font-weight: normal;
				}
			}
		}
	} 
	.nav__left {
		padding: 0;
		& > a {
			float: left;
			padding: 0.5rem 1rem;
			color: @brand-white;
			font-size: 1.8rem;
			.glyphicon {
				font-size: 1.2rem;
    			color: @brand-dark-magenta;
			}
		}
	} 

}
.navigation--bottom {
	.nav__links--products {
		li {
			a {
				text-transform: none;
				font-size: 2rem;
				color: @brand-primary;
				.new-item {
					position: absolute;
					background: @brand-tertiary;
					color: @brand-black;
					top: 0.8rem;
					font-size: 1.1rem;
					padding: 0 0.5rem;
					font-family: @MontserratBold;
					line-height: 1.5rem;
				}
			}
		}
	}
	.nav__links--primary {
		.sub-navigation-section {
			.sub-navigation-list {
				li {
					border-bottom: none;
					&:first-child {
						a{
							color: @brand-grey-text;
							font-size: 2.2rem;
							margin-bottom: 0.5rem;
							cursor: default;
							&:hover {
								color: @brand-grey-text;
							}
						}			
					}
					a {
						font-weight: bold;
						color: @brand-primary;
						@media (min-width: 768px) {
							padding: 1rem 1.5rem;
    						line-height: 2rem;
    						font-size: 1.8rem;
						}
						&:hover {
							color: @brand-primary;
							background: none;
						}
					}
				}
				a {
					line-height: 3.6rem;
				}
			}
		}
	}
	.nav__links--primary-has__sub .nav__link--drill__down {
		left: auto;
		position: initial;
		line-height: normal;
		color: @brand-primary;
	}
}
.navigation__overflow{
	float: none;
	font-family: @futuraPTLight;
}
.flagList {
	padding-left: 4.5rem !important;
	padding-right: 1.2rem !important;
	position: relative;
	&:before {
		content: '';
		background: url(../images/JM_flag.png) no-repeat center;
		background-size: contain;
		height: 2.4rem;
		width: 2.4rem;
		position: absolute;
		left: 1.5rem;
	}
	&:after {
		content: "";
		border: solid @brand-white;
		border-width: 0 1px 1px 0;
		display: inline-block;
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		padding: 0.3rem;
		position: relative;
		top: -2px;
		right: -5px;
	}
}

.site-search {
	.glyphicon-search {
		z-index: 9;
	}
	.search-icon {
		content: '';
		position: absolute;
		background: url(../images/search_icon.svg) no-repeat;
		height: 2.7rem;
		width: 2.7rem;
		background-size: contain;
		display: inline-block;
		right: 2rem;
		z-index: 9;
		top: -0.4rem;
	}
	.input-group .form-control {
		border: none;
		border-bottom: 1px solid @brand-light-gray;
		border-radius: 0;
		box-shadow: none;
		font-size: 1.6rem;
	}
	.form-control {
		font-size: 1.2rem;
		&::-webkit-input-placeholder {
			color: @brand-primary;
		}
		&::-moz-placeholder {
			color: @brand-primary;
		}
		&:placeholder {
			color: @brand-primary;
		}
		&:-ms-input-placeholder {
			color: @brand-primary;
		}
	}
	ul.ui-autocomplete {
		li {
			border-top: 1px solid @brand-lighter-gray;
			padding: 1rem;
			a {
				display: table;
				width: 100%;
				color: inherit;
				text-decoration: none;
			}
			.thumb {
				display: table-cell;
				vertical-align: middle;
				padding: 0 1rem 0 0;
				& + .name {
					padding: 0 1rem;
				}
				img {
					width: 3rem;
				}
			}
			.name {
				display: table-cell;
				padding: 1rem;
				vertical-align: middle;
				width: 100%;
			}
		}
	}
}
.right-menu-links {
	padding: 2.5rem 2.5rem 1.7rem 0;
	& > div {
		float: left;
		margin-left: 5.5rem;
	}
	a {
		display: inline-block;
		position: relative;
		font-size: 1.8rem;
		font-weight: bold;
		&,
		&:hover {
			color: @brand-primary;
		}
		&:before {
			position: absolute;
			content: "";
			width: 3.5rem;
			height: 3.5rem;
		}
	}
} 
.top_up {
	a {
		&:before {
			left: -3.4rem;
			background: url(../images/mobile_icon_blue.svg) no-repeat;
			background-size: contain;
			top: -3px;
		}
	}
}
.fast_pay {
	a {
		&:before {
			left: -4.2rem;
			top: 0.5rem;
			background: url(../images/fastPay_icon_blue.svg) no-repeat;
			background-size: contain;
		}
	}
}
.branding-mobile {
	width: 100%;
}
.custom-mobile-links {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
	font-size: 1.8rem;
	li {
		border-bottom: 1px solid @brand-light-gray;
		padding: 1.5rem 2rem;
		select {
			width: 100%;
			padding: 0.6rem 1rem;
			border: 1px solid @brand-primary;
			color: @brand-primary;
		}
	}
}
@media (min-width: 640px) {
	.navigation--middle {
		.nav-cart .mini-cart-link {
			&, &:hover, &:active, &:focus {
				color: @brand-primary;
			}
		}
		.nav__right ul.nav__links--shop_info .nav-location span {
			&, &:hover, &:active, &:focus {
				color: @brand-primary;
			}
		}
		.mobile-menu span {
			&, &:hover, &:active, &:focus {
				color: @brand-primary;
			}
		}
	}
	.updateqty{
		& a{
			&,
			&:hover{
				background-color: @brand-white;
				color: @brand-grey-text !important;
			}
		}
	}
}
@media (max-width: 767px) {
	.navigation--bottom {
		.navigation__overflow {
			border-top: 0;
		}
		.nav__links--mobile {
			li {
				background-color: @brand-white;
			}
			div.sub-nav {
				a{
					border-bottom: 1px solid @brand-light-gray;
					span {
						font-size: 1rem;
					}
				}
				.myAccountLinksHeader, .myCompanyLinksHeader {
					text-transform: capitalize;
				}
			}
			&.offcanvasGroup1 .offcanvasGroup2 li {
				border-bottom: none;
			}
			.subNavList {
				padding-top: 1rem;
				padding-bottom: 2rem;
				li {
					background: @brand-white;	
					a {
						padding-top: 0.5rem;
						padding-bottom: 0.5rem;
						color: @brand-primary;
					}
				}
			} 
		}
		.nav__links--products {
			li {
				background-color: transparent;
				a {
					padding: 2rem;
					font-weight: bold;
					color: #00529a;
				}
				&.liUserSign {
					border-bottom: 1px solid @brand-light-gray;
					&:hover {
						background-color: @brand-white;
					}	
					a.userSign {
						text-transform: capitalize;
					}				
				}
			}
			.sub-navigation-list li a {
				padding-top: 0;
				padding-bottom: 0;
				font-size: 1.5rem;
			}
			&.active{
			    position: relative;
                left: 0;
                .sub__navigation {
                    position: relative;
                    left: 0;
                }
			}
		}
		.nav__links--primary-has__sub {
			position: relative !important;
			.nav__link {
				width: 85%;
			}
			.nav__link--drill__down {
				width: 15%;
                text-align: center;
                font-size: 2rem;
				padding: 1.5rem 0;
				position: absolute;
				height: 100%;
				&:after {
					content: "";
					position: absolute;
					right: 2.7rem;
					top: 2.2rem;
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					padding: 0.4rem;
					border: solid #0085ca;
					border-width: 0px 1px 1px 0;
				}
			}
			&.active {
				.nav__link--drill__down {
					&:after {
						transform: rotate(-135deg);
						transition: 0.5s ease;
						top: 2.8rem;
					}
				}
			}
		}
		.userGroup {
			width: 100%;
			background-color: @brand-primary;
			color: @brand-white;
			.userName {
				font-size: 1.8rem;
			}
			a {
				color: @brand-white;
			}
			.glyphicon-chevron-up, .glyphicon-chevron-down {
				right: 2.5rem;
				left: auto;
			}
		}
		.nav__links--primary {
            .sm-back {
                display: none;
			}
			.sub-navigation-section {
				background-color: transparent;
			}
			.empty-space {
				background-color: #fbfbfb;
				border-top: 1px solid @border-color-2;
				padding-top: 0.7rem;
			}
        }
	}
	.desktop__nav {
		border-bottom: 1px solid @brand-white;
	}
	.navigation--middle {
		background-color: @brand-white;
		.nav__left .site-search {
			.input-group {
				background-color: @brand-white;
				.form-control {
					margin-right: 3%;
					&:focus {
						color: @brand-primary;
					}
				}
			}
			.glyphicon-search {
				color: @brand-primary;
				right: 0;
			}
		}
	}
	.sticky-nav-top {
		.liUserSign {
			background-color: @brand-primary;
		}
		.userSign {
			font-size: 2rem;
			padding: 2rem;
			color: @brand-white;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				right: 2.7rem;
				top: 2.6rem;
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				padding: 5px;
				border: solid @brand-white;
				border-width: 0px 1px 1px 0;
			}
		}
	}
	.branding-mobile {
		padding: 1.1rem 1.5rem;
	}
	.top_up a {
		padding: 0.6rem 0 0.6rem 2.2rem;
		font-size: 1.6rem;
		&:before {
			left: 0;
    		top: 0.6rem;
		}
	}
	.nav__left > a {
		font-size: 1rem;
		font-family: @futuraPTLight;
		letter-spacing: 1px;
		font-weight: bold;
		& + a {
			margin-left: 1rem;
		}
	}
	.navbar-toggle {
		margin-left: 1rem;
    	margin-right: 0;
		padding: 0;
		&.open {
			.icon-bar {
				position: relative;
				&:first-child {
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
					transform: rotate(135deg);
					top: 0.9rem;
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					-webkit-transform: rotate(-135deg);
					-moz-transform: rotate(-135deg);
					-o-transform: rotate(-135deg);
					transform: rotate(-135deg);
					margin-top: -3px;
				}
			}
		}
		.icon-bar {
			width: 3rem;
			background-color: @brand-primary;
			transition: .25s ease-in-out;
			& + .icon-bar {
				margin-top: 0.8rem;
			}
		}
	}
	.site-search {
		.search-icon {
			top: 0.5rem;
		}
	}
	.flagList {
		padding-left: 3rem !important;
		&:before {
			left: 0;
		}
		&:after {
			border: solid @brand-primary;
			border-width: 0 1px 1px 0;
		}
	}
}
@media (min-width: 768px){
	.empty-space {
		margin-left: 2.5rem;
	}
	.navigation--bottom {
		padding-left: 1rem;
		padding-right: 1rem;
		border-bottom: 1px solid @brand-light-gray;
		position: static;
		width: 100%;
		margin-top: 0;
		.js-site-logo {
			padding-top: 2rem;
			padding-bottom: 1.7rem;
			margin-right: 1rem;
			margin-left: 2rem;
		}
		.nav__links--products {
			padding-left: 0;
			padding-right: 0;
			position: static !important;
			li {
				overflow: visible;
				&.nav__links--primary {
					float: left;
					border-bottom: 0;
				}
				a {
					padding: 2.4rem 1.8rem 2.4rem;
					font-weight: bold;
					line-height: 2.8rem;
				}
			} 
		}
		.nav__links--primary {
			&-has__sub {
				.nav__link {
					width: 100%;
					a{
						position: relative;
						text-decoration: none;
						&:after {
							content: "";
							border: solid @brand-primary;
							border-width: 0 1px 1px 0;
							display: inline-block;
							-ms-transform: rotate(45deg);
							transform: rotate(45deg);
							-webkit-transform: rotate(45deg);
							padding: 0.4rem;
							width: 1px;
							height: 1px;
							right: -0.8rem;
							top: -0.4rem;
							left: auto;
							margin: 0;
							position: relative;
						}
					}
				} 
			}
			&.show-sub {
				a {
					font-weight: bold;
				}
				.nav__link a:before {
					content: "";
					display: block;
					width: 1000vh;
					height: 1px;
					position: absolute;
					transform: none !important;
					bottom: 0;
					top: auto !important;
					right: auto !important;
					padding: 1px;
					-webkit-transform: none;
					overflow: hidden;
					background: #0085ca;
				}
				.nav__link a:after {
					transform: rotate(225deg);
    				top: 0.2rem;
				}
			}
			.sub__navigation {
				padding: 3rem 0 4rem 0;
				border: 0;
				background: @brand-white;
				z-index: 1000;
				bottom: auto;
			}
			.sub-navigation-section {
				float: left;
			}
		}
	}
	
	.site-search {
		.ui-front {
			padding: 0.9rem 0 0.6rem 0;
			margin: 1rem auto;
			max-width: 80rem;
		}
		.input-group {
			width: 100%;
		}
	}
		
	.navigation__overflow{
		float: left;
		position: static;
		height: auto !important;
		overflow-y: visible !important;
	}
	.left-addon {
		.glyphicon {
			right: 2%;
			left: auto;
		}
		input {
			padding-right: 3rem;
			padding-left: 1rem;
		}
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.navigation.navigation--top {
		padding: 0;
	}
	.navigation--top {
		.nav__left > a {
			padding: 0.5rem;
		}
		.nav__right {
			.nav__links--account {
				li {
					a {
						padding: 0.7rem 0.5rem;
					}
					&.logged_in {
						padding: 0.7rem 1rem 0.7rem 0.5rem;
					}
					&.liOffcanvas {
						padding: 0 0.5rem;
					}
				}
			}
		}
	}
}
@media (min-width: 1400px) {
	.navigation--bottom a {
		padding: 0;
	}
}
@media (max-width: 639px) {	
	.site-search > .ui-front {
		border-bottom: 1px solid @nav-border-color;
	}
	.left-addon .glyphicon {
		left: auto;
	}
	.navigation--middle .mobile__nav__row--btn span.glyphicon {
		color: @brand-primary;
	}
	.navigation--middle .nav-cart .mini-cart-link .mini-cart-icon {
		color: @brand-primary;
	}
	.navigation--middle .nav-cart .mini-cart-link .nav-items-total {
		background-color: @brand-primary;
	}
}
@media (max-width: 767px) {
	.offcanvas .sticky-nav-top {
		position: static;
		width: auto;
		.userSign {
			width: 100%;
		}
	}
	.signin-dropdown {
		position: relative;
		.dropdown-toggle {
			background-color: @brand-primary;
			color: @brand-white;
			display: block;
			padding: 2rem;
			font-size: 2rem;
			font-weight: bold;
			&:after {
				content: "";
				position: absolute;
				right: 2.7rem;
				top: 2.5rem;
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				padding: 0.5rem;
				border: solid @brand-white;
				border-width: 0px 1px 1px 0;

			}
		}
		.dropdown-menu {
			background-color: @brand-primary;
			color: @brand-white;
			margin: 0;
			border: 0;
			width: 100%;
			font-size: 2rem;
			padding-left: 2rem;
			padding-bottom: 1rem;
			& > li {
				& > a {
					color: @brand-white;
					font-weight: bold;
					&:hover, &:focus {
						color: inherit;
						background-color: inherit;
					}
				}
			}
		}
	}
}

.navigation--top .nav__right .nav__links--account li {
	position: relative;
}
.accNavComponent.js-accNavComponent {
	position: absolute;
	z-index: 9;
	background: @brand-white;
	top: 3.4rem;
	left: -10.1rem;
	width: 19rem;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    border: 1px solid rgba(0,0,0,0.15);
}
.accNavComponent__child-wrap {
	display: block;
	div:first-child {
		display: none;
	}
	a {
		color: @brand-drak-grey !important;
	}
}
.search-icon-block {
	border-left: 1px solid @brand-light-gray;
    padding-left: 1rem;
    margin-left: 1rem !important;
}
.main_search-icon {
    font-size: 0px;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
	cursor: pointer;
	background: url(../images/search_icon.svg) no-repeat;
	&.close-icon {
		background: url(../images/close_icon.svg) no-repeat;
	}
}
.search-form-block {
    width: 100%;
    position: absolute;
    background: @brand-white;
    padding: 2.5rem;
	margin: 0 auto;
	z-index: 9;
	display: none;	
} 
@media (max-width: 480px) {
	.navigation.navigation--bottom {
		top: 0;
	}
}

@media (max-width: 767px) {
	main.offcanvas{
		transform: translate(0, 0);
	}
	.navigation.navigation--bottom {
		left: 0;
		top: 0;
		height: 100vh;
		display: none;
		margin-top: 0;
		box-shadow: 0px 3.25238px 3.25238px rgba(153, 153, 153, 0.25);
	}
	.sticky-nav-top {
		left: 0;
	}
	.sticky-nav-top {
		position: relative;
		top: 0;
	}
	.navigation--bottom .nav__links--products.active {
		 left: 0;
	}
	.navigation--bottom .nav__links--primary .sub__navigation {
		 position: relative;
		 left: 0;
	}
}
 



