//custom design for banner
.home-banner { position: relative;
	img {
		width: 100%;
    	height: 40rem;
    	.object-fit();
	}
	.simple-banner {
		border: 1rem solid @brand-primary;
	}
	.banner-button {
		.btn-yellow;		
		padding-left: 3rem !important;
		padding-right: 3rem !important;	
		color: @brand-black !important;
	}
	.banner-text {
		position: absolute;
		top: 10%;
		left: 4%;
		width: 57.5rem;
		font-family: @MontserratLight;
		color: @brand-white;
		h1 {
			font-weight: bold;
		}
		h3 {
			margin: 2rem 0 6rem 0;
			line-height: 3rem;
			font-size: 2rem;
			width: 75%;
		}
		span {
			display: block;
			margin-bottom: 2rem;
			font-size: 2rem;
		}
	}
}
.chat-link {
	position: fixed;
    background: #0ea6f5;
    right: -4.6rem;
    top: 27rem;
    color:@brand-white;
    transform: rotate(-90deg);
    border: 0;
    font-size: 1.6rem;
    padding: 0.2rem 1.5rem;
    border-radius: 0.8rem 0.8rem 0 0;
	&:hover, &:focus {
		color: @brand-white;
	}
}
.page-homepage {
	footer {
		margin-top: 0;
	}
}

// Experience section
.experience-section {
	padding: 3rem 5rem;	
	text-align: center;
	font-family: @MontserratBold;
	.headline {
		font-size: 3rem;
		padding: 0 0.5rem;
		color: @brand-primary;
		font-family: @MontserratBold;
	}
	.experience-col {
		width: 20%;
		padding: 0 0.5rem;
		display: inline-block;
		text-align: left;
	}
	.experience-block {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0,0,0,0.5);
		}
	}
	img {
		width: 100%;
	}
	.desc {
		position: absolute;
		bottom: 2rem;
		left: 15%;
		width: 70%;
		p {
			color: @brand-white;	
			font-size: 1.5rem;
			line-height: 1.6rem;
		}
		a {
			display: block;
			&:focus {
				color: @brand-white;
			}
		}
	}
}


// live more section
.page-homepage{
	.livemore-section {
		background-color: @brand-lighter-gray;
	}
}
.livemore-section {
	padding: 2rem 0 2.5rem;
	text-align: center;
	.headline {
		font-family: @MontserratBold;
		font-size: 3rem;
		color: @brand-primary;
		margin-bottom: 3rem;
	}
	.livemore-col {
		text-align: center;
		background-color: @brand-white;
		padding-bottom: 1.5rem;
		margin-bottom: 3.5rem;
		margin-left: 1rem;
		margin-right: 1rem;
		box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		h3 {
			background-color: @brand-tertiary;
			color: @brand-white;
			font-family: @MontserratBold;
			font-size: 1.6rem;
			padding: 1rem 0.5rem;
			margin: 0;
			text-transform: uppercase;
			&.internet-mega{
				background-color: @brand-green;
			}
			&.promotion-product{
				background-color: @brand-dark-magenta;
			}
		}
		.img-block {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background: url("../images/cta_overlay_yellow.png") center no-repeat;
			}
			img {
				width: 100%;
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
					&.cta-img{
						&-large{
							max-width: 36rem;
						}
						&-small{
							max-width: 25.8rem;
						}
					}
				}
			}
			h4 {
				position: absolute;
				top: 50%;
				left: 50%;
				-moz-transform: translateX(-50%) translateY(-50%);
				-webkit-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
				margin: 0;
				color: @brand-white;
				font-family: @MontserratBold;
				font-size: 1.8rem;
				text-transform: uppercase;
				width: 90%;
			}
		}
		.char-spec {
			margin-bottom: 0.5rem;
			display: inline-block;
			table td {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}
			.download_speed, .upload_speed {				
				&:before {
					background: url("../images/broadbrand_icon.svg") center no-repeat;
				}
			}
			.sms, .social_media, .unlimited_smedia {			
				&:before {
					background: url("../images/sms_icon.svg") center no-repeat;	
				}
			}
			.sd_channels, .tv_sessions {
				&:before {
					background: url("../images/channels_icon.svg") center no-repeat;
				}
			}
			.voice, .roaming_minutes {				
				&:before {
					background: url("../images/call_icon.svg") center no-repeat;
				}
			}
			.data_volume {
				&:before {
					background: url("../images/data.svg") center no-repeat;	
				}
			}
			.youtube_data,
            .unlimited_youtube,
            .hd_channels {
				&:before {
					background: url("../images/youtube.svg") center no-repeat;
				}
			}
			.roaming_minutes {
				&:before {
					background: url("../images/roaming_minutes.svg") center no-repeat;	
				}
			}
			.internet-speed{
				&:before{
					background: url("../images/flow_wifi.svg") center no-repeat;	
				}
			}
			.internet-mega-speed{
				&:before{
					background: url("../images/flow_megaspeed.svg") center no-repeat;	
				}
			}
			.Ideal_for{
				&_Small_Households{
					&:before {
						background: url("../images/flow_smallhouse.svg") center no-repeat;	
					}
				}
				&_Medium_Households{
					&:before {
						background: url("../images/flow_mediumhouse.svg") center no-repeat;	
					}
				}
				&_Large_Households,
				&_Extra_large_Households{
					&:before {
						background: url("../images/flow_largehouse.svg") center no-repeat;	
					}
				}
			}
			.cloud_recording{
            				&:before {
            					background: url("../images/flow_cloud.svg") center no-repeat;
            				}
            			}
            			.audio{
            				&:before {
            					background: url("../images/flow_music.svg") center no-repeat;
            				}
            			}
			.char-spec-col {
				position: relative;
				color: @brand-primary;
				font-weight: bold;
				font-size: 1.2rem;
				padding-top: 3.5rem;
				min-width: 3rem;
				&:before {
					width: 2.4rem;
					height: 2.4rem;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					margin: auto;
					content: '';
					background-size: contain;
				}
				.download-icon,
				.upload-icon{
					color: @brand-gray;
					font-size: 1rem;
				}
				.speed-value{
					width: 6.5rem;
					display: inline-block;
				}
			}
			&.spec-opts{
				table td{
					width: 17%;
					.char-spec-col{
						max-width: 6rem;
					}
				}
			}
		}
		.price {
			color: @brand-primary;
			font-size: 1.6rem;
			font-family: @MontserratBold;
			span {
				font-size: 0.9rem;
			}
		}
		.buynow-btn {
			.btn-blue;
			padding: 0.5rem 3rem !important;
			margin: 1.5rem 0;
		}
		.seeMoreBundle {
			font-size: 1.2rem;
			text-decoration: underline;
			&:hover, &:focus {
				color: @brand-primary;
			}
		}
	}
}

// call section
.call-contact {
	background-color: @brand-skyblue;
	&,a {
		color: @brand-white;
	}
	a:hover {
		text-decoration: underline;
	}
	text-align: center;
	font-family: @futuraPTLight;
	padding: 2.8rem 0 3.5rem;
	h2 {
		font-size: 3.8rem;
	}
	p {
		font-size: 2rem;
	}
}

@media (max-width: 1023px) and (min-width: 640px) {
	.experience-section {
		padding-left: 2rem;
		padding-right: 2rem;		
		.experience-col {
			width: 33.33%;
		}
	}
	.livemore-section {
		padding: 2rem 1rem 5rem;
		.headline {
			padding: 0 0.5rem;
		}
		.livemore-col {
			margin-left: -0.5rem;
			margin-right: -0.5rem;
			.char-spec .char-spec-col {
				font-size: 1.1em;
				padding-top: 2.5rem;
				&:before {
					width: 2rem;
					height: 2rem;
				}
			}
		}
	} 
	.home-banner .banner-text {
		h1 {
			font-size: 2.6rem;
		}
		h3 {
			line-height: normal;
		}
		span {
			margin-bottom: 1rem;
		}
	}
}
@media (max-width: 639px) {
	.experience-section {
		padding-left: 2rem;
		padding-right: 2rem;
		.experience-col {
			width: 100%;
		}
		.desc {
			p {
				font-size: 1.8rem;
				line-height: 3rem;
				line-height: inherit;
			}
		}
	}
	.livemore-section{
		.headline {
			padding: 0 1.5rem;
		}
		.livemore-col {
			margin-left: 0.5rem;
    		margin-right: 0.5rem;
		}
	} 
	.home-banner .banner-text {
		top: 3%;
		left: 1.5rem;
		width: 98%;	
	}
}
@media (min-width: 1400px) {
	.container {
		width: 120rem;
	}
	.experience-section {
		width: 130rem;
		margin: auto;
		.desc {
			p {
				line-height: inherit;
			}
		}
	} 
} 
