//custom design for Site wide for LLA demo

.js-mobile-logo {
	width: 11.7rem;
	margin-top: 5px;
}
.js-site-logo {
	width: 13.2rem;
}
.btn-dark-style {
	&:hover{
		color: @meta-nav-color-open;
	}
}

#accNavComponentDesktopOne, 
#accNavComponentDesktopTwo {
	background-color: @brand-swap-secondary;
}
.custom-container {
	@media @tablet, @desktop{
		padding: 0 10rem;
	}
	@media @phone {
		padding: 0 1.8rem;
	}
}

input[type="text"],
select{
	&.form-control{
		&,
		&:focus{
			border-color: @brand-primary;
			color: @brand-default-text;
		}
	}
}

//login popup
#cboxOverlay {
	opacity: 0.7 !important;
}
.logintitle {
	.headline-text {
		background-color: @brand-tertiary;
		color: @brand-white;
		padding: 1.5rem 4rem;
		font-size: 2rem;
		margin: 0;
		font-family: @futuraPTBook;
	}
}
#login-popup {
	.guest-checkout {
		padding-top: 2rem;
		display: none;
		label {
			text-transform: none;
			font-size: 1.8rem;
			font-weight: normal;
			color: @brand-default-text;
			&.error {
				color: @brand-red;
				font-size: 1.4rem;
			}
			&.control-label {
				position: absolute;
				top: 6px;
				left: 12px;
				font-size: 14px;
				font-weight: bold;
			}
		}
		.form-group {
			position: relative;
		}
		.btn {
			position: absolute;
			top: 0;
			right: 0;
			height: 5.6rem;
			line-height: 5rem;
			padding-top: 0;
			border-radius: 0 8px 8px 0 !important;
			font-size: 1.4rem;
		}
		.form-control {
			height: 5.6rem;	
			border: 1px solid @brand-grey-text;
			border-radius: 8px;	
			padding-top: 20px;
			font-size: 1.8rem;
			padding-right: 7rem;
		}
		.alternate {
			position: relative;
			font-size: 2rem;
			color: @brand-primary;
			&:before, &:after {
				content: '';
				position: absolute;
				border-top: 1px solid @brand-primary;
				width: 43%;
				height: 1px;
				top: 1.5rem;
			}
			&:before {
				left: 0;
			}
			&:after {
				right: 0;
			}
		}
	}
	font-family: @futuraPTBook;
	h5 {
		margin-bottom: 0;
		font-size: 1.8rem;
		line-height: 3rem;
		color: @brand-grey-text;
		span {
			font-family: @MontserratBold;
			color: @brand-primary;
		}
		a {
			text-decoration: underline;
		}
	}
	.login-popup-close {
		cursor: pointer;
		margin-left: 3rem;
		color: @brand-primary;
		text-decoration: underline;
		font-size: 1.6rem;
	}
}
.page-cartPage {
	.guest-checkout {
		display: block !important;
	}
}

.btn-default:active:hover, 
.btn-default.active:hover, 
.open > .dropdown-toggle.btn-default:hover, 
.btn-default:active:focus, 
.btn-default.active:focus, 
.open > .dropdown-toggle.btn-default:focus, 
.btn-default:active.focus, 
.btn-default.active.focus, 
.open > .dropdown-toggle.btn-default.focus {
	background-color: @brand-primary;
    border-color: @brand-primary;
}
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active {
	background-color: @brand-primary;
    border-color: @brand-primary;
}
.btn-primary:active:hover, 
.btn-primary.active:hover, 
.open > .dropdown-toggle.btn-primary:hover, 
.btn-primary:active:focus, 
.btn-primary.active:focus, 
.open > .dropdown-toggle.btn-primary:focus, 
.btn-primary:active.focus, 
.btn-primary.active.focus, 
.open > .dropdown-toggle.btn-primary.focus {
	background-color: @btn-primary-bg;
    border-color: @btn-primary-border;
}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
	background-color: @btn-primary-bg;
	border-color: @btn-primary-border;
}
.btn, .btn-primary, .btn-default {
	font-family: @futuraPTBold;
	border-radius: 5px !important;
	padding: 7px 15px;
}
//error page design
.error-page{
	margin-bottom: 3rem;
}
.alert {
	border-radius: 1rem;
	font-size: 1.8rem;
	line-height: 2.7rem;
	position: relative;
	color: @alert-text-color;
}
.alert-info {
	border: 1px solid @brand-primary;
	background: @brand-light-blue;
	
	.heading {
		font-size: 2.2rem;
		font-family: @futuraPTBold;
	}
	.bold {
		font-family: @futuraPTBold;
	}
}

.textPrimaryColor {
	color: @brand-primary;
}

//process state info
.process-selection-bar {
	margin: 2rem 0;
    .selection-state {
		padding-left: 0;
		margin: auto;
		overflow: hidden;
        li{
			list-style: none;
			position: relative;
			padding: 0;
			color: @progressbar-color;
			.level {
				margin-bottom: 0;
				padding: 1rem 0 1rem 7%;
				display: flex;
    			align-items: center;
				@media @phone{
					display: flex;
					align-items: center;
					padding: 1rem 0 1rem 7%;
				}
				a {
					color: @brand-white;
					width: 100%;
				}
			}
			.process-state {
				font-family: @futuraPTBold;
				font-size: 2.4rem;
				line-height: 3.1rem;
				padding-right: 5%;
			}
			.process-info {
				font-size: 2.0rem;
				line-height: 2.6rem;
				@media @phone {
					font-size: 12px;
					line-height: 15px;
					display: inline-block;
    					width: 75%;
				}
			}
			&.active{
				color: @brand-white;
				.level {
					background-color: @brand-primary;
					width: calc(~'100% - 8px');
					border-radius: 0;
					&::after{
						content: " ";
						position: absolute;
						right: 0;
						top: 0;
						width: 0; 
						height: 0; 
						border-top: 25px solid transparent;
						border-bottom: 25px solid transparent;
						border-left: 8px solid @brand-primary;
					}
					&:before {
						content: " ";
						position: absolute;
						left: 0;
						top: 0;
						width: 0; 
						height: 0; 
						border-top: 25px solid transparent;
						border-bottom: 25px solid transparent;
						border-left: 8px solid @brand-white;
					}
				}
			}
			&:first-child {
				&.active{
					.level {
						border-radius: 10px 0 0 10px;
						&:before {
							display: none;
						}
					}
				}
				&.previous {
					.level {
						border-radius: 10px 0 0 10px;
						&:before {
							display: none;
						}
					}
				}
			}
			&.previous {
				color: @brand-white;
				.level {
					background-color: @progressbar-previous;
					width: calc(~'100% - 8px');
					border-radius: 0;
					&:after{
						content: " ";
						position: absolute;
						right: 0;
						top: 0;
						width: 0; 
						height: 0; 
						border-top: 25px solid transparent;
						border-bottom: 25px solid transparent;
						border-left: 8px solid @progressbar-previous;
					}
					&:before {
						content: " ";
						position: absolute;
						left: 0;
						top: 0;
						width: 0; 
						height: 0; 
						border-top: 25px solid transparent;
						border-bottom: 25px solid transparent;
						border-left: 8px solid @brand-white;
					}
				}
			}
			&:last-child {
				&.active {
					.level {
						border-radius: 0 10px 10px 0;
						&:after {
							display: none;
						}
					}
				}
			}
		}
    }
}
