//
// Myaccont
// --------------------------------------------------------
/* ----Styles for address book page start---- */
.account-section{
    margin: 2rem 0;
    font-size: 1.4rem;
    width: 100%;
    &-content{
        .account-head{
            padding: 1rem 0;
            font-size: 2.4rem;
            color: @brand-primary;
            font-family: @MontserratBold;
        }
    }
    .account-list{
        .account-cards{
            border-top: 0;
            .card{
                border-top: 1px solid @brand-gray;
                border-color: @brand-gray;
                h2{
                    font-size: 1.4rem;
                    font-family: @MontserratBold;
                }
            }
            .acc-default-add{
                font-size: 1.2rem;
                left: 3rem;
            }
            &.card-select{
                border-top: 0;
            }
        }
    }
}
/* ----Styles for address book page end---- */

/* ----Styles for order history page start---- */
.account-section{
    .orderhistory{
        &-list-table{
            border: 2px solid @brand-primary;
            font-family: @MontserratBold;
            font-weight: bold;
            @media @desktop, @tablet{
                text-align: center;
            }
            tr{
                th{
                    text-align: center;
                    &:last-child{
                        text-align: center;
                    }
                }
                &:nth-child(2n+1){
                    background-color: @brand-light-gray;
                }
                &:nth-child(2n+2){
                    background-color: @brand-white;
                }
                td{
                    padding: 1rem;
                    &:last-child{
                        text-align: center;
                        @media @phone{
                            text-align: left;
                        }
                    }
                    &.status{
                        font-family: @MontserratLight;
                    }
                }
            }
            .order-num{
                &,
                &:hover,
                &:active,
                &:focus{
                    color: @brand-primary;
                }
            }
        }
    }
    & &-content{
        .account{
            &-orderhistory{
                &-pagination{
                    .pagination-bar{
                        .sort-refine-bar{
                            padding: 0;
                            .control-label{
                                color: @brand-default-text;
                                text-transform: none;
                                font-weight: normal;
                            }
                            .sortForm{
                                display: inline-flex;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* ----Styles for order history page end---- */

/* ----Styles for payment history page start---- */
.account-section{
    .control-label{
        color: @brand-default-text;
    }
    .subhead{
        color: @brand-primary;
        font-family: @MontserratBold;
    }
    h2{
        margin-top: 0;
    }
    .account-payment-add{
        .payment-link{
            &,
            &:focus,
            &:active,
            &:hover{
                font-size: 1.6rem;
                font-family: @MontserratBold;
                color: @brand-primary;
            }
        }
    }
    .account-list{
        .account-cards{
            .card{
                .action-links{
                    .pay-icon{
                        color: @brand-primary;
                        font-size: 1.6rem;
                    }
                }
                .pay-set-default{
                    left: 3rem;
                }
            }
        }
    }
    .pay-update-head{
        display: inline-block;
        padding-left: 1rem;
    }
    .pay-new-form,
    .addr-new-form{
        margin-top: 0;
    }
    .addr-head{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
.payment-remove{
    font-size: 1.4rem;
    h2{
        font-size: 1.4rem;
        font-family: @MontserratBold;
        margin: 0 0 1rem;
        text-transform: uppercase;
    }
}
/* ----Styles for payment history page end---- */

/* ----Styles for subscription page start---- */
.account-section{
    font-size: 1.4rem;
    .subscript-num,
    .manage-link{
        &,
        &:hover,
        &:active,
        &:focus{
            color: @brand-primary;
        }
    }
    .account-orderdetail{
        .subscript-title{
            font-size: 2rem;
            color: @brand-primary;
            font-family: @MontserratBold;
        }
        .subhead{
            font-size: 1.4rem;
            font-family: @MontserratBold;
            margin: 0 0 1rem;
            color: @brand-primary;
        }
    }
}
/* ----Styles for subscription page end---- */

/* ----Styles for Consent Management page staart---- */
.account-section{
    & &-content{
        .account-section-form{
            margin-top: 0;
        }
        .consent-management-list{
            &__label{
                width: 100%;
                color: @brand-default-text;
            }
            &__title{
                &::before{
                    color: @brand-default-text;
                }
            }
        }
    }
}
/* ----Styles for Consent Management page end---- */