//
// Order Confirmation
// --------------------------------------------------------

.order-confirmation{
    margin: 0 auto;
    width: 64rem;
}







.checkout-success { 
    padding-top: 2rem;
    background: @cart-background;
    margin-top: 1.5rem;
    border: 1px solid @cart-border;
    box-sizing: border-box;
    border-radius: 10px;
    &__body__headline {
        text-transform: none;
        font-family: @futuraPTBold;
        font-size: 2.2rem;
        line-height: 100%;
        color: @checkout-title-active;
        font-weight: normal;
        .ordernumber{
              font-family: @futuraPTBook;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 2.1rem;
              color: @checkout-title-active;
        }
        p {
            margin: 1.5rem 0;
        }
        .disclaimer{
              background: @page-message-bg;
              border: 1px solid @page-message-border-color;
              font-family: @futuraPTBook;
              font-size: 1.6rem;
              line-height: 2.1rem;
              margin: 0;
              padding: 1rem;
              color: @brand-default-text;
              border-radius: 0.5rem;
              display: inline-block;
        }
    }    
}
.textMagentaColor {
    color: @brand-dark-magenta !important;
}
.primaryBtnWhiteBg{
    color: @brand-swap-primary;
    border: 1px solid  @brand-swap-primary;
}
.order{
    &-confirmation{
        &-details{
          margin: 2rem 0; 
        }
    }
    &-detail,
    &-totals{
        &-overview{
            border: 1px solid @cart-border;
            background-color: @cart-background;
            border-radius: 1rem;
            padding: 1.5rem;
            font-size: 1.4rem;
            @media @phone {
                padding: 1rem;
            }
            .summary-head{
                font-family: @futuraPTBold;
                color: @brand-primary;
                margin: 0 0 1rem;
                font-size: 18px;
                line-height: 24px;
            }
            .item{
                &-label{
                    text-transform: none;
                    &:after{
                        content: ":";
                    }
                }
                &-value{
                    font-family: @futuraPTBold;
                    text-align: right;
                    font-size: 1.4rem;
                }
                &-label,
                &-value{
                    display: inline-block;
                    line-height: 2rem;
                    vertical-align: top;
                    width: 49%;
                    padding-bottom: 1rem;
                }
            }
            @media @desktop, @tablet {
                min-height: 30rem;
            }
            @media @phone {
                margin-bottom: 2rem;
            }
            &-list {
                border: 1px solid @cart-border;
                margin: 0;
                background: @brand-white;
                border-radius: 1rem;
                padding: 2rem;
                .item-value {
                    padding-bottom: 1.5rem;
                }
                .discount-pay {
                    background: @discount-bg;
                    padding: 1.2rem 1.2rem 0;
                    margin-bottom: 1.2rem;
                    .item-label{
                        font-size: 1.6rem;
                    }
                    .item-label, .item-value {
                        color: @brand-dark-magenta;
                        font-weight: 600;
                    }
                    .item-label:after{
                        content:'';
                    }
                }
                .summary-details {
                    @media @phone {
                        .item-label {
                            width: auto;
                            float: left;
                        }
                        .item-value {
                            width: auto;
                            float: right;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
    &-totals{
        &-overview{
            .cart-total-summary{
                td{
                    padding: 0 0 1rem;
                }
                tr.cartTotal {
                    color: @cart-text-color;
                    font-family: @futuraPTBold;
                    border-top: 1px solid @brand-primary;
                    td{
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}
.page-orderConfirmationPage {
    .navigation--top, .right-menu-links, .navigation__overflow, .nav__left, .navigation--middle {
        display: none !important;
    }  
    .simple-banner {
        @media @phone {
            margin-left: -1rem;
            margin-right: -1rem;
        }
    }  
}
.billing-address {
    border-top: 1px solid @brand-primary;
    margin-top: 1rem;
    padding-top: 1rem;
    line-height: 2.3rem;
    .label-contact {
        display: none;
    }
    &.contact {
        padding-bottom: 1rem;
        .label-contact {
            display: block;
            margin-top: 1rem;
            span {
                font-family: @futuraPTBook;
            }
        }
    }
    .label-order {
        font-family: @futuraPTBold;
        margin: 1.5rem 0 0.2rem !important;
    }
    h4 {
        color: @brand-primary;
        font-family: @futuraPTBold;
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
}
.page-orderConfirmationPage, .page-order {
    .checkout-order-summary {
        margin-top: 0;
        .monthly-payment-info, .today-payment-info{
            li{
                padding: 1rem 0.5rem;
            }
            li.price-total > div {
                margin-top: 1rem;
                color: @brand-default-text;
            }
            li.gtc-text{
              font-family: @futuraPTBook;
              font-size: 1.2rem;
              line-height: 1.6rem;
              display: flex;
              color: @brand-default-text;
              padding-top: 0;
            }
        }
        .monthly-payment-info.discounted-payment{
            li {
                padding: 0 0.5rem !important;
            }
            li.price-total{
                border-top: none;
                align-items: flex-start;
                color: @brand-default-text;
                .textMagentaColor{
                    font-size: 1.6rem;
                    line-height: 2.1rem;
                }
            }
            li.info-text{
                display: inline-block;
                padding: 0 !important;
                & > p {
                    margin: 0.3rem;
                }
            }
            .gtc-text{
              font-family: @futuraPTBook;
              font-size: 18px;
              line-height: 23px;
              display: flex;
              color: @brand-default-text;
            }
            .sm-label-text {
                text-transform: initial;
            }
        }
        .today-payment-info{
            .title {
                border-top: 1px solid @brand-primary;
            }
            .today-tax{
                height: 3.5rem;
                align-items: center;
            }
            & > li:not(.today-tax) {
                margin: 0 1rem;
            }
            .today-tax {
                padding: 1.5rem !important;
                margin-bottom: 1.5rem;
            }
            li.price-total {
              border-top: 1px solid #0085ca;
            }

        }
    }
    .checkout-order-summary + .checkout-order-summary {
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .monthly-payment-info, .today-payment-info {
        .price {
            .actualPrice {
                .price {
                    .monthly, .gct {
                        display: none;
                    }
                }
            }
        }
    }
    .additional-info{
        padding: 1rem 1.5rem;
        background-color: #E0F4FF;
        border: 1px solid @brand-primary;
        border-radius: 1rem;
        margin: 1.5rem 0;
        @media @phone{
            margin: 1.5rem;
        }
        .text-underline {
            text-decoration: underline;
        }
        a {
            color: @brand-default-text;
        }
        p {
            margin-bottom: 0;
            font-size: 1.8rem;
            line-height: 2.3rem;
            @media @phone{
                font-size: 1.4rem;
                line-height: 1.6rem;
            }
        }
    }
    .continue__shopping {
        text-align: center;
        .btn--continue-shopping {
            font-family: @futuraPTBold;
            font-weight: normal;
            padding: 12px;
            width: 350px;
            border-radius: 5px !important;
            @media (max-width: 480px) {
                width: 100%;
            }
        }
    }
    .account-orderdetail .account-orderdetail__footer {
        padding-top: 10px;
    }
    .account-section {
        margin: 0;
    }
}
.paymentcard-details {
    .label-order {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}
.bold {
    font-weight: bold;
}

.sm-label-text {
    display: block;
    font-size: 1.5rem;
    line-height: 1.9rem;
    font-family: @futuraPTBook;
    font-weight: 500;
}

.paddingBottom0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
