//
// Pdp
// --------------------------------------------------------
.pdp-custom {
    .product-details {    
        .name {
            color: @brand-drak-grey;
            text-transform: uppercase;
            font-family: @MontserratLight;
        }
    } 
    .product-details.page-title {
        padding-left: 4rem;
        padding-right: 4rem;
        margin-top: 2rem;  
    }  
    .image-gallery__zoom-icon {
        display: none;
    }
    .gallery-carousel {
        display: none !important;
    }
    .product-main-info {
        .product-details {
            margin-top: 2rem;  
            .name {
                font-family: @MontserratBold;
                color: @brand-black;
                text-transform: uppercase;
            }
            .description {
                color: @brand-grey-text;
                padding: 0px 0 1.5rem;
                font-size: 1.3rem;
            }
            .price {
                color: @brand-primary;
                font-family: @MontserratBold;
                span {
                    font-size: 0.9rem;
                }
            }
            .addtocart-component .qty-selector .form-control {
                font-size: 1.8rem;
            }
            .addtocart-component .stock-wrapper,
            .stock-wrapper {
                display: none;
            }
            .btn-icon {
                padding-left: inherit;
                width: 100%;
                &:before, 
                &:after {
                    display: none;
                }
            }
            .actions {
                float: left;
                margin-left: 15px;
                width: 60%;
            }
            .qty-selector {
                float: left;
            }
        }
    }
}

.pageType-ProductPage{
    footer{
        margin-top: 0;
    }
}

.tab{
    &-content-details{
        margin-bottom: 2rem;
        a {
            text-decoration: underline;
        }
        .tab-data{
            &-head{
                margin: 0;
                font-size: 2rem;
                color: @brand-primary;
                font-family: @MontserratLight;
                font-weight: bold;
            }
            &-desc{
                font-size: 1.2rem;
            }
        }
        .down-link-android{
            color: @brand-default-text;
            font-weight: bold;
            font-size: 1.2rem;
            text-decoration: none;
        }
        .tab-plan-rates{
            font-family: @MontserratLight;
            thead > tr{
                th{
                    background-color: transparent;
                    border-bottom: 0;
                    color: @brand-primary;
                    font-weight: bold;
                    text-transform: none;
                    font-size: 2rem;
                    &:last-child{
                        text-align: left;
                    }
                }
            }
            tbody > tr{
                td{
                    border-top: 0;
                    font-size: 1.2rem;
                    &.subhead{
                        color: @brand-primary;
                        font-weight: bold;
                        font-size: 2rem;
                    }
                    &:last-child{
                        font-weight: bold;
                        color: @brand-primary;
                    }
                }
            }
        }
    }
    &-channel{
        &-list{
            .channel{
                &-head{
                    text-align: center;
                    font-size: 1.8rem;
                    font-family: @MontserratLight;
                    font-weight: bold;
                    margin-bottom: 2rem;
                }
                &-list{
                    li{
                        list-style-type: none;
                        font-size: 1.2rem;
                        .channel-num{
                            font-family: @MontserratLight;
                            font-weight: bold;
                        }
                        .special{
                            color: @brand-primary;
                        }
                    }
                }
            }
        }
    }
}
.tabs{
    & &-list{
        li{
            padding: 0 0.5rem 2rem 0.5rem;
            a{
                color: @brand-default-text;
            }
            &.active{
                color: @brand-primary;
                font-family: @MontserratBold;
                a{
                    &,
                    &:hover,
                    &:focus{
                        color: @brand-primary;
                        padding: 0;
                    }
                }
            }
        }
    }
    .tabbody{
        padding-bottom: 10rem;
    }
}
@media (max-width: 1023px) {  
    .pdp-custom {
        .product-details.page-title {
            padding-left: 2rem;
            padding-right: 2rem;
        }  
        .product-main-info .product-details{
            margin-top: 0;
            .actions {
                width: 50%;
            }        
        } 
    }    
}

@media (min-width: 640px) {
    .page-productDetails .carousel {
        padding-right: 0;
    }
    .pdp-custom {
        .product-main-info {
            padding-left: 0;
        }
    }    
}

@media (max-width: 640px) {
    .pdp-custom {
        .product-main-info .product-details .actions {
            margin-left: 0;
            margin-top: 2rem;
            width: 100%;
        }
    }  
    .page-productDetails .carousel {
        padding: 0 2rem;
    }  
}

@media (max-width: 1023px) and (min-width: 640px) {
    .pdp-custom {
        .product-main-info {
            .addtocart-component .qty-selector .btn, .addtocart-component .qty-selector .input-group-btn {
                width: 4.4rem;
            }
        } 
    }       
}
