//
// PLP
// --------------------------------------------------------
/* ----Styles for banner text start---- */
.category-banner-section{
	position: relative;
	.banner-content{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
	}
	.home-block{
		position: absolute;
		transform: perspective(1px) translateY(30%);
		right: 16%;
		@media @smartphones{
			right: 18%;
		}
		@media @desktop{
			transform: perspective(1px) translateY(50%);
		}
	}
	.banner-text{
		font-family: @MontserratLight;
		font-size: 5rem;
		color: @brand-white;
		text-transform: uppercase;
		@media @tablet{
			font-size: 3rem;
		}
		@media @phone{
			font-size: 2rem;
		}
		@media @tablet_landscape{
			font-size: 5rem;
		}
		@media @phone_landscape{
			font-size: 5rem;
		}
	}
}
/* ----Styles for banner text end---- */

/* ----Styles for search page start---- */
.product__list--wrapper {
	margin-top: 40px;
	.results h1 {
		margin-top: 0;
		padding: 0 0 0 20px;
	}
}
/* ----Styles for search page end---- */

/* ----Styles for mobile devices start---- */
.product-list,
.search-list {
	.tab-pane{
		border-bottom: 0;
	}
	.show-more{
		width: 20%;
		@media @phone{
			width: 50%;
		}
	}
}
.product__listing.product__list{
	.grid_view.product__list--items{
		background-color: @brand-white;
		padding: 0;
		@media @smartphones{
			.product__list--thumb > img {
				width: 9rem;
			}
		}
		.prod-wrapper{
			.prod{
				&-img{
					height: 20rem;
				}
				&-content{
					height: auto;
					display: grid;
					.prod{
						&-data {
							margin: 2rem 0;
						}
						&-name{
							font-size: 1.6rem;
							font-weight: normal;
						}
						&-price{
							color: @brand-primary;
							font-size: 1.8rem;
						}
						&-plans{
							color: @brand-dark-blue;
							font-size: 1.8rem;
						}
					}
				}
			}
			.price-details{
				width: 65%;
				@media @smartphones{
					width: auto;
					height: auto;
				}
				margin: 0 auto;
				height: auto;
			}
			.add-cart-btn{
				padding: 0.5rem 0;
				text-transform: uppercase;
				&, &:hover{
					@media @smartphones{
						margin-top: 0;
					}
				}
			}
			@media @desktop, @tablet{
				.product-info{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					min-height: 33rem;
				}
			}
			.features-link{
				display: inline-block;
				font-size: 1.6rem;
				margin: 2rem 0;
				color: @brand-primary;
				text-decoration: underline;
			}
		}
	}
	&.prod_grid_view{
		background-color: @brand-white;
		@media @smartphones{
			padding-right: 1rem;
		}
	}
}
/* ----Styles for mobile devices end---- */

/* ----Styles for facets start---- */
@media @desktop{
	.empty-design-filter{
		min-height: 6rem;
	}
	.page-search{
		.empty-design-filter{
			min-height: 10rem;
		}
	}
}
.product__facet {
	border-right: 0;
	.facet {
		border-bottom: 0;
		.facet{
			&__name {
				color: @brand-primary;
				font-weight: normal;
			}
			&__list {
				li {
					border: 1px solid @brand-primary;
					text-align: center;
					margin-bottom: 0.5rem;
					font-size: 1.6rem;
					color: @brand-primary;
				}
				label {
					font-size: 1.6rem;
					color: @brand-primary;
				}
				&__text{
					text-transform: none;
				}
			}
		}
	}
}
/* ----Styles for facets end---- */

/* ----Styles for pagination start---- */
.pagination-bar{
	&-results {
		font-size: 1.6rem;
	}
	li{
		span,
		a{
			font-size: 1.6rem;
		}
	}
	.sort{
		&-text {
			text-transform: none;
			color: @brand-primary;
			font-weight: normal;
		}
		&-dropdown{
			border-color: @brand-primary;
		}
	}
	&.bottom{
		display: none;
	}
}

.pager li > a{
    background-color: @brand-primary;
    border: 1px solid @brand-primary;
    border-radius: 0;
    color: @brand-white;
	text-transform: uppercase;
	font-size: 1.8rem;
	&:hover{
		text-decoration: none;
		background-color: @brand-primary;
	}
}
/* ----Styles for pagination end---- */

/* ----Styles for searchbox autocomplete start---- */
.navigation--middle{
	.nav__left{
		.site-search{
			ul.ui-autocomplete{
				li{
					.thumb{
						img{
							width: 3rem;
						}
					}
				}
			}
		}
	}
}
/* ----Styles for searchbox autocomplete end---- */

/* ----Styles for searchResult start---- */
.search-list{
	h1{
		color: @brand-primary;
		font-family: @MontserratLight;
	}
	.top{
		margin-top: 0;
	}
	.prod-nam{
		font-size: 1.8rem;
	}
}
/* ----Styles for searchResult end---- */

/* ----Styles for InternetPLP Page start---- */
.category-head-section{
	margin: 2rem 0;
	.subheadline{
		padding: 0;
		font-family: @MontserratLight;
		margin-bottom: 1rem;
		font-size: 2.8rem;
		color: @brand-default-text;
	}
	.sub-desc{
		font-family: @MontserratLight;
		font-size: 1.4rem;
		text-align: left;
	}
}
.main-head-section{
	margin-bottom: 0;
}
.page-internetPlans,
.page-home-phone,
.page-tvPlans,
.page-international-phone,
.page-tvPlansAddon{
	.livemore-section{
		.livemore-col{
		    .tv-img{
        		min-height: 8rem;
        		max-height: 8rem;
        	}
			.char-spec{
				margin-bottom: 2rem;
				.ideal-text{
					font-weight: normal;
				}
				table{
					td{
						padding: 0.5rem;
					}
				}
			}
		}
	}
}
.page-tvPlans{
    .tv-addon--component{
        .headline{
            font-size: 2.8rem;
            color: @brand-default-text;
            font-family: @MontserratLight;
        }
    }
    .tv-addon-experience{
        border: 1px solid @brand-primary;
        display: inline-block;
        .subhead{
            margin: 0;
            padding: 1rem 0;
            color: @brand-white;
            background-color: @brand-primary;
            font-size: 1.8rem;
            font-family: @MontserratBold;
        }
        .tv-experience-block{
            font-size: 1.2rem;
            padding: 1.5rem 0;
            display: inline-block;
            text-align: left;
            .desc{
                text-align: left;
                min-height: 6rem;
            }
            .btn-learn-more{
                text-transform: uppercase;
                padding: 0.5rem 2rem;
            }
        }
    }
}

.page-tvPlansAddon,
.page-tvPlans{
	.livemore-section{
		.livemore-col{
			.img-block{
				&::after{
					background: none;
				}
			}
		}
	}
}

.more-channels{
	margin: 2rem 0;
	a{
		font-size: 1.6rem;
		text-decoration: underline;
		color: @brand-primary;
		&:active,
		&:hover,
		&:focus{
			color: @brand-primary;
		}
	}
}

.international-plan-rates{
	color: @brand-black;
	.table-intenational-rates{
		font-size: 1.4rem;
		border: 2px solid @brand-primary;
		font-family: @MontserratLight;
		thead > tr{
			> th{
				text-transform: none;
				font-size: 1.2rem;
				border-bottom: 0;
				padding: 0.8rem 2rem;
				font-family: @MontserratBold;
				&:nth-of-type(even){
					text-align: center;
				}
			}
			td{
				padding: 0.8rem 2rem;
			}
		}
		tbody > tr{
			&:nth-of-type(odd){
				background-color: @brand-light-gray;
			}
			> td{
				border: 0;
				padding: 0.8rem 2rem;
				&:nth-of-type(even){
					text-align: center;
				}
			}
		}
		.subhead{
			color: @brand-default-text;
			font-family: @MontserratBold;
		}
	}
	.additional-info{
		.subhead{
			font-weight: bold;
		}
		.calling-link{
			text-decoration: underline;
			color: @brand-primary;
		}
	}
}

.tv-addon-table{
	font-size: 1.4rem;
	border: 2px solid @brand-primary;
	font-family: @MontserratLight;
	color: @brand-black;
	thead > tr {
		> th{
			padding: 0.8rem 2rem;
			border-bottom: 0;
			font-family: @MontserratBold;
			&:last-child{
				text-align: left;
			}
		}
	}
	tbody > tr{
		&:nth-of-type(even){
			background-color: @brand-light-gray;
		}
		> td{
			padding: 2rem;
			vertical-align: middle;
			border: 0;
			text-align: left;
			.channel{
				&-name{
					font-family: @MontserratBold;
				}
			}
			&.channel-list{
				width: 35%;
				font-size: 1.2rem;
			}
			.btn-getnow{
				padding: 0.5rem 2rem;
				text-transform: uppercase;
				font-size: 1.4rem;
				font-family: @MontserratBold;
			}
			.price{
				color: @brand-primary;
				font-family: @MontserratBold;
				text-align: center;
			}
		}
	}
}

/* ----Styles for InternetPLP Page end---- */

/* ----Styles for postpaid, prepaid and bundles plp Page start---- */
.page-postpaid, .page-prepaid, .page-internet-tv-phone, .page-internet-phone, .page-roaming {
	header {
		margin-bottom: 0;
	}	
} 
.addon-section {
	.headline {
		font-family: @MontserratLight;
		font-size: 2.8rem;
		text-align: center;
		margin-bottom: 2rem;
	}
	.addon-col {
		h5 {
			background-color: @brand-primary;
			padding: 1rem;
			margin: 0;
			color: @brand-white;
			font-family: @MontserratBold;
			text-align: center;
			font-size: 1.6rem;
		}
		.addon-desc {
			border: 1px solid @brand-primary;
			color: @brand-grey-text;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2.5rem 1rem;
			font-size: 1.4rem;	
			font-weight: bold;		
			.price {
				margin: 0 3rem;
				color: @brand-primary;
				span {
					font-size: 0.9rem;
				}
			}
		}
	}
}

.summary-block {
	padding: 2rem 1rem 0 1rem;
	font-size: 1.2rem;
	h6 {
		color: @brand-primary;
		font-weight: bold;
	}
	p {
		color: @brand-primary;
	}
	ul {
		display: inline-block;
    	text-align: left;
		li{
			span {
				color: @brand-primary;
			}
		}
	}
}

.bundle-plan-list, .bundle-rates {
	font-family: @MontserratLight;
	.headline {
		font-family: @MontserratLight;
		margin-bottom: 2rem;
		font-size: 2.8rem;
		color: @brand-grey-text;
		text-align: center;
	}
	ul {
		font-size: 1.4rem;
		line-height: 2.3rem;
		span {
			font-weight: bold;
		}
	}
}
.bundle-rates {
	font-size: 1.4rem;
	table {
		border-bottom: 1px solid @brand-lighter-gray;
		th {
			text-transform: capitalize;
			font-size: 1.6rem;
			&:last-child {
				text-align: center;
			}
		}
		tr td:first-child {
			text-align: left;
		}
		tr td:last-child {
			text-align: center;
		}
	}
	.table-striped > tbody > tr:nth-of-type(odd) {
		background-color: @brand-lighter-grey;
	}
	.disclaimer {
		font-size: 1rem;
		text-align: left;
	}
}
.page-roaming {
	.livemore-section .livemore-col .char-spec{
		.voice:before {
			background: url(../images/minutes_icon.svg) center no-repeat;
			background-size: contain;
		}
		.sms:before {
			background: url(../images/anywheretext_icon.svg) center no-repeat;
			background-size: contain;
		}
	} 
}
.cta-container {
	flex-wrap: wrap;
	&,
	& > div {
		display: flex;
		justify-content: center;	
	}
}



.policy-text {
	font-size: 2rem;
	line-height: 2.5rem;
	color: @brand-default-text;
	padding: 0 3rem;
	text-align: center;
	@media @phone {
		font-size: 1.8rem;
		text-align: left;
	}
	a {
		color: @brand-default-text;
		font-weight: bold;
		text-decoration: underline;
	}
}

.secureSiteFooter {
	text-align: center;
	.securesite-text {
		font-size: 1.8rem;
		line-height: 2.1rem;
		color:#1D1D1F;
		padding: 3rem 3rem 0;
		@media @phone {
			padding: 2rem 1rem 0;
		}
		span {
			&:first-child {
				margin-right: 2rem;
				@media @phone {
					margin-right: 0;
				}
			}
			img {
				margin-right: 1rem;
			}
			&.securesite-logo {
				@media @phone {
					margin-top: 1.5rem;
					display: block;
				}
			}
		}
	}
}

.spl-offer {
	background: @brand-primary;
	padding: 1.6rem;
	color: @brand-white;
	text-align: center;
	font-size: 1.6rem;
	line-height: 2.2rem;
	margin-bottom: 4rem;
	@media @phone {
		margin-bottom: 2.4rem;
	}
}

/* ----Styles for postpaid, prepaid and bundles plp Page end---- */

/* -- css for new plp bundle page design -- */
.page-bundle {
	.offers-banner {
		@media @phone {
			padding-left: 1rem;
			padding-right: 1rem;
		}
		b {
			font-family: @futuraPTBold;
		}
		&_bgimage {
			position: relative;
			& > img {
				width: 100%;
				display: none;
			}
			@media @phone {
				img.mobile {
					display: block;
				}
			}
			@media (min-width: 768px) {
				img.desktop {
					display: block;
				}
			}
		}
		&_info {
			position: absolute;
			top: 0;
			display: flex;
			align-items: center;
			height: 100%;
			& > img {
				align-self: flex-start;
				border-top-left-radius: 10px;
			}
		}
		&_text {
			color: @brand-white;
			font-size: 2rem;
			line-height: 120%;
			margin-bottom: 0;
    		margin-left: 15px;
			small {
				font-size: 1.6rem;
			}
			@media (max-width: 400px) {
				font-size: 1.8rem;
			}
		}
	}
	.livemore-section {
		text-align: left;
	}
	.ctabox-container {
		margin: 0 -0.7rem 1rem -0.7rem;
        display: flex;
        align-items: stretch;
        justify-content: center;
		@media @phone {
			display: block;
			margin: 0 2rem 1rem;
		}
		& > div {
			display: flex;
            padding-left: 0.7rem;
            padding-right: 0.7rem;
			flex-direction: column;
			margin-bottom: 2rem;
			@media @phone {
				padding-left: 1rem;
            	padding-right: 1rem;
			}
		}
		.ctabox {
			border: 1px solid #c4c4c4;
			border-bottom: 0;
            border-radius: 1rem 1rem 0 0;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            width: 100%;
			@media @phone {
				height: auto !important;
			}
			.bundleName {
				font-size: 2.3rem;
				font-family: @futuraPTBold;
				line-height: 2.9rem;
				color: @brand-primary;
				margin: 0;
				text-transform: capitalize;
				border-bottom: 1px solid @hr-color;
				margin: 0 1.5rem;
				padding: 2rem 0;
			}
			.specification {
				text-align: left;
                margin: 2rem 1.5rem 1rem;
                flex: 1;
				.internet-spec {
					padding-left: 4rem;
					font-size: 1.6rem;
					line-height: 2.1rem;
					position: relative;
					margin-bottom: 2rem;
					&:before {
						content: '';
						position: absolute;
						width: 3rem;
						height: 2rem;
						left: 0;
						background-size: contain;
					}
					a {
                        color: @brand-primary;
                    }
                    b {
                        font-weight: bold;
                    }
				}
		.download_speed {
					&:before {
						width: 2.5rem;
						height: 1.9rem;
						background: url("../images/plp_wifi.svg") 0 center no-repeat;
						background-size: contain;
					}
				}
				.voice {
					&:before {
						width: 2.3rem;
						height: 2.5rem;
						background: url("../images/plp_phone.svg") 0 center no-repeat;
						background-size: contain;
					}
				}
				.data_volume {
					&:before {
						width: 2.5rem;
						height: 2.4rem;
						background: url("../images/plp_HBO_icon.svg") 0 center no-repeat;
						background-size: contain;
					}
				}
				[class^="hbo"], [class*="hbo"] {
					&:before {
						width: 2.5rem;
						height: 2.4rem;
						background: url("../images/plp_HBO_icon.svg") 0 center no-repeat;
						background-size: contain;
					}
				}
				[class^="flow"], [class*="flow"] {
					&:before {
						width: 2.5rem;
						height: 1.3rem;
						background: url("../images/plp_flowsports_icon.svg") 0 center no-repeat;
						background-size: contain;
						top: 6px;
					}
				}
				.sd_channels {
					&:before {
						width: 2.5rem;
						height: 1.9rem;
						background: url("../images/plp_channels_icon.svg") 0 center no-repeat;
						background-size: contain;
						top: 5px;
					}
				}
			}
			.ctabox-btn {
				text-align: center;
                position: relative;
                margin: 0 1.5rem 1.5rem;
			}
			.discount {
                background-color: #FFE9B9;
                border-radius: 16px;
                color: @brand-dark-magenta;
                padding: 0.4rem 0.8rem;
                text-align: center;
                font-size: 1.4rem;
                line-height: 1.6rem;
                font-family: @futuraPTBold;
                width: 18.1rem;
                margin: 0 auto 25px;
            }
			.oldPrice {
                font-family: @futuraPTBook;
                font-size: 1.4rem;
                line-height: 1.8rem;
                color: #94989E;
                margin: 0;
                .linethrough {
                    text-decoration-line: line-through;
                }
            }
			.price {
                margin-bottom: 1.5rem;
                height: 5rem;
				@media @phone {
					height: auto;
				}
            }
            .newPrice {
                font-family: @futuraPTBold;
                font-size: 2.5rem;
                line-height: 3.2rem;
                color: @brand-dark-magenta;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                small {
                    font-size: 1.8rem;
                    line-height: 2.3rem;
                    font-family: @futuraPTBook;
                }
                .tax {
                    font-size: 1.2rem;
                    line-height: 1.5rem;
                }
            }
			
		}
		.more-benefits {
			background: #EBF8FF;
			border-radius: 0 0 10px 10px;
			border: 1px solid #c4c4c4;
			border-top: 0;
			a.read-link {
				color: @brand-primary;
				font-size: 1.8rem;
				line-height: 2.3rem;
				position: relative;
				padding: 0.8rem 0;
				display: block;
				text-align: center;
				&#more::after {
					border-width: 0px 2px 2px 0px;
					top: 14px;
				}
				&#less::after {
					border-width: 2px 0px 0px 2px;
					top: 18px;
				}
				&:after {
					content: '';
					position: absolute;
					height: 8px;
					width: 8px;
					border-style: solid;
					border-color: @brand-primary;
					transform: rotate(45deg);
				}
			}
			.benefits-list {
				font-size: 1.4rem;
				line-height: 1.8rem;
				padding: 1.6rem;
				a {
					text-decoration: underline;
				}
			}
		}
		
	}
}

.channel-popup-title {
	.bundleName {
        font-size: 2.3rem;
        line-height: 2.9rem;
        text-transform: uppercase;
        color: @brand-primary;
        font-family: @futuraPTBold;
    }
    .no-of-channels {
        font-size: 1.4rem;
        line-height: 2.6rem;
    }
}
.channels-popup {
	height: 100%;
	overflow: auto;
    .channels-title {
        font-size: 17px;
        font-weight: bold;
        line-height: 22px;
        padding: 1rem 1.2rem;
        position: relative;
        margin: 0;
        border-bottom: 1px solid @progressbar-color;
        &:after {
            content: '';
            position: absolute;
            height: 8px;
            width: 8px;
            border-style: solid;
            border-color: @brand-primary;
            transform: rotate(45deg);
            border-width: 0px 2px 2px 0px;
            top: 15px;
            right: 12px;
        }
        &.open {
            border-bottom: none;
            &:after {
                border-width: 2px 0px 0px 2px;
                top: 19px;
            }
        }
    }
    .channels__list {
        padding-left: 0;
		display: none;
        li {
            display: flex;
            font-size: 18px;
            line-height: 23px;
            margin: 5px 0;
            .channel_no {
                background: #E0F4FF;
                border-radius: 5px 0px 0px 5px; 
                padding: 12px 5px;
                display: flex;
                align-items: center;
                justify-content: center;  
                width: 30%;
            }
            .channel_name {
                background: #FAFAFA;
                border-radius: 0px 5px 5px 0px;
                padding: 12px 5px 12px 10px;
                display: flex;
                align-items: center;
                width: 70%;
            }
        }
    }
}
