//
// Media Screen Size
// --------------------------------------------------------

@smartphones: ~"only screen and (max-width: 479px)";
@smartphones_landscape: ~"only screen and (max-width: 479px) and (orientation: landscape)";
@desktop_mini:    ~"only screen and (min-width: 1024px) and (max-width: 1200px)";
@desktop: ~"only screen and (min-width: 1200px)";
@tablet:    ~"only screen and (min-width: 768px) and (max-width: 1199px)";
@tablet_landscape:    ~"only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)";
//@phone-strict:   ~"only screen and (min-width: @{xs-min}) and (max-width: @{xs-max})";
@phone:   ~"only screen and (min-width: 320px) and (max-width: 767px)";
@phone_landscape: ~"only screen and (max-width: 767px) and (orientation: landscape)";
@iphoneX: ~"only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3)";
@iphoneX_landscape: ~"only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape)";

@tablet_lla:   ~"only screen and (max-width: @{screen-xs-max})";