ul.nav__links {

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  li {
    float: left;
    list-style-type: none;
  }

  &::after {
    clear: both;
  }

  @media (max-width: @screen-sm-max) {
    &:before {
      content: " ";
      display: table;
    }
  }

}

.branding-mobile {
  padding: 10px 0 9px 0;
  border-bottom: solid 1px @nav-border-color;
  z-index: 9999;
  background-color: @header-background-color;
  .full-width-padding();
}

.navigation.navigation--top {
  .full-width-padding();
}

.navigation--top .nav__left {
  padding: 9px 0 7px;

  .simple-banner-component img,
  .banner__component img {
    width: auto;
  }
}

.miniCartSlot > div[data-ng-transclude]{
  display: inline-block;
}

.navigation--top .nav__right {

  .nav__links--account {
    margin: 0;
    padding-left: 0;
    float: right;

    // This is a alternative approach to deal with smartedit
    div[data-smartedit-component-id="HeaderLinksSlot"]{
      display: inline-block;
      float: left;

      li:last-child a{
        padding-right: 12px;
      }
    }

    li {
      display: inline-block;
      font-size: 12px;
      color: @meta-nav-color;
      font-weight: 400;
      text-transform: uppercase;

      &:last-child {
        a {
          padding-right: 0;
        }
      }

      &.logged_in {
        padding: 10px;
      }

      button {
        background: transparent none repeat scroll 0% 0%;
        border: medium none;
        color: rgb(0, 104, 179);
        font-size: 1em;
        text-transform: uppercase;

        &:hover {
          background: none;
          text-decoration: none;
          color: @meta-nav-hover-color;
        }
      }

      a {
        color: inherit;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 400;
        padding: 12px;
        display: block;
        font-size: 1em;
        line-height: 1.329em;

        &:hover {
          text-decoration: none;
          color: @meta-nav-hover-color;
        }
      }
    }

    .myAccountLinksHeader,
    .myCompanyLinksHeader {
      background-color: transparent;
      color: inherit;
      display: block;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      padding: 0 12px;

      &::after {
        clear: both;
      }

      &:hover,
      &:focus {
        color: @meta-nav-hover-color;
        text-decoration: none;
      }
    }

    .myAccountLinksHeader.show,
    .myCompanyLinksHeader.show {
      background-color: @meta-nav-background;
      color: @meta-nav-color-open;
      text-decoration: none;
      display: block;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      padding: 0 12px;
    }
  }
}

#accNavComponentDesktopOne,
#accNavComponentDesktopTwo {
  padding: 0;
  background-color: @meta-nav-background;

  ul.nav__links {
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;

    li {
      text-transform: capitalize;
      list-style: none;
      font-size: 12px;
      color: @meta-nav-color;
      font-weight: 400;
      padding: 0;
      border-right: 1px solid @meta-nav-border-color;
      border-bottom: 1px solid @meta-nav-border-color;

      &:hover {
        background-color: @meta-nav-hover-background;
      }

      a {
        color: @meta-nav-color-open;
        display: block;
        padding: 25px 0 25px 30px;
        font-size: 15px;
        font-weight: 400;

        &:hover {
            text-decoration: none;
        }
      }
    }
  }
}

.navigation--middle {

  @media (min-width: @screen-md) {
    border-top: 1px solid @nav-border-color;
  }

  @mobile-nav-icon-font-size: 30px;
  @media (max-width: @screen-xs-max) {
    //display: table;
    //width: 100%;
  }

  .nav__table {
    @media (max-width: @screen-xs-max) {
      //display: table-row-group;
    }
  }

  .row {
    @media (max-width: @screen-xs-max) {
      //display: table-row;
      &:first-child {
        border: none;
      }
    }
  }

  .btn {
    background-color: transparent;
    width: 100%;
    padding: 0;
    height: 100%;
    color: @btn-primary-bg;
    border: none;
  }

  

  .nav__right {
    padding-right: 25px;

    @media (max-width: @screen-md) {
      padding-right: 20px;
    }

    ul.nav__links--shop_info {
      margin-bottom: 0;

      @media (max-width: @screen-md) {
        padding-left: 10px;
      }

      @media (min-width: @screen-sm) {
        float: right;
      }

      @media (max-width: @screen-xs-max) {
        border-left: 1px solid @nav-border-color;
        display: table-cell;
        text-align: center;
        vertical-align: top;
        padding: 0;

        li {
          float: none;
        }
      }

      .componentContainer .yCmsComponent {
        @media (min-width: @screen-sm) {
          display: inline;
        }
      }

      .nav-location {
        min-width: 60px;
        border-left: 1px solid @nav-border-color;
        border-right: 1px solid @nav-border-color;

        span {
          font-size: 30px;
          top: 27%;
          color: @nav-icon-color;
        }

        @media (min-width: @screen-sm) {
          float: right;
          padding: 0px 10px;
        }

        @media (min-width: @screen-md) {
          padding: 0px 30px;
        }
      }
    }
  }

  .componentContainer {
    @media (max-width: @screen-xs-max) {
      text-align: center;
      vertical-align: top;
      border-left: 1px solid @nav-border-color;

    }
  }

  .nav-order-tools,
  .nav-location,
  .nav-cart {
    /*height: @navigation--middle-height;*/
  }

  .nav-order-tools,
  .nav-location,
  .nav-cart,
  .btn {
    &:hover, &:active, &:focus {
      background-color: @nav-icon-hover-background;
      box-shadow: none;
    }
  }

  .nav-cart {
    float: right;
    padding: 0 10px;

    @media (min-width: @screen-sm) {
      padding-left: 30px;
    }

    @media (max-width: @screen-sm-max) {
      position: relative;
      float: none;
      padding: 0 18px !important;
    }

    .mini-cart-price {

      @media (min-width: @screen-sm) {
        overflow: hidden;
        margin-left: 5px;
        margin-right: 5px;
        float: right;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        top: 4px;
      }

    }

    .mini-cart-link {
      color: @nav-icon-color;
      @media (max-width: @screen-sm-max) {
        display: block;
        line-height: auto;
        .mini-cart-icon {
          color: @nav-icon-color;
          left: -7px;
          top: 10px;
          margin-left: 0;

          .glyphicon-shopping-cart {
            width: @mobile-nav-icon-font-size;
            height: 30px;
            position: relative;
            right: -6px;
            top: 3px;
            background: url(../images/Vector_cart.svg) left center no-repeat;
            &:before {
              content: '';
            }
          }
        }
        .mini-cart-count {
          
          position: absolute;
          top: 0;
          margin: 0;
          left: 38px;
        }
        .nav-items-total {
          display: inline-block;
          background-color: @nav-icon-color-secondary;
          border-radius: 50%;
          height: 20px;
          width: 20px;
          color: @btn-primary-color;
          line-height: 20px;
        }
      }
    }

    .mini-cart-count {

      @media (min-width:@screen-sm) {
        &:before {
          content: "(";
          position: relative;
          top: 4px;
        }

        &:after {
          content: ")";
          position: relative;
          top: 4px;
        }
      }

      float: right;
      font-size: 12px;
      text-transform: uppercase;

      .nav-items-total {
        position: relative;
        right: 0px;
        top: 5px;
      }
    }

    .mini-cart-icon {
      .glyphicon-shopping-cart {
        font-size: 22px;
      }
    }
  }

  .mobile__nav__row{

    @media (max-width: @screen-sm-max) {
      &.mobile__nav__row--table,
      .mobile__nav__row--table{
        display: table !important;
        width: 100%;
      }

      .mobile__nav__row--table-group {
        display: table-row-group !important;
      }

      .mobile__nav__row--table-row {
        display: table-row !important;

        &:before{
          display: table;
          content: " ";
        }
      }

      .mobile__nav__row--table-cell{
        display: table-cell !important;
        vertical-align: middle;
      }
      .panama-right {
        float: right;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        align-items: center;
        .mob-user-acc {
          list-style: none;
          margin-bottom: 0;
          padding-left: 0;
          .liUserSign {
            padding: 0 15px;
          }
          .myAcctUserIcon {
            background: url(../images/user_icon.svg) left center no-repeat;
            height: 24px;
            width: 24px;
            display: inline-block;
            &:before {
              content: '';
            }
          }
          .userGroup {
            -webkit-box-flex: 0;
            -ms-flex: 0;
            flex: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
          }
          .userName {
            font-size: 14px;
            line-height: 14px;
            color: #434343;
            font-family: Futura PT;
          }
        }
        .user-account-icon {
          
          .user-link {
            background: url(../images/user_icon.svg) left center no-repeat;
            height: 24px;
            width: 24px;
            display: inline-block;
          }
        }
        .mobile__nav__row--btn-menu {
          height: 56px;
          font-size: unset;
          line-height: unset;
          margin: 0;
          padding: 0 15px;
          display: block;
          &:hover, &:active, &:focus {
            background-color:  transparent;
          }
          span {
            background: url(../images/hamburger_menu.svg) left center no-repeat;
            height: 24px;
            width: 24px;
            display: inline-block;
            &:before {
              content: '';
            }
          }
          &.open {
            span {
              background: url(../images/close_icon.svg) left center no-repeat;
            }
          }
        }
      }
      .miniCartSlot {
        
      }

      .nav__links--shop_info .componentContainer{
        margin-bottom: 0;
        overflow: hidden;
      }

      span.glyphicon-align-justify {
        position: relative;
        cursor: pointer;
        margin: 0 auto;
        color: @nav-icon-color;
        font-size: 29px;
        top: 2px;
      }

      .componentContainer .nav-order-tools,
      .componentContainer .nav-cart{
         font-size: 30px;
         line-height: @navigation--middle-height;
         padding: 0;
         width: 100%;

      }

      .componentContainer .mobile__nav__row--table-cell {
        border-right: 1px solid @nav-border-color;

        &:last-child {
          border-right: none;
        }
      }
    }

    .mobile__nav__row--seperator {
      @media (max-width: @screen-xs-max) {
        border-left: 1px solid @nav-border-color;

      }

    }
  }

  .mobile__nav__row--btn {
    @media (max-width: @screen-sm-max) {
      padding: 0;
      vertical-align: top;
      height: @navigation--middle-height;
      font-size: 30px;
      line-height: @navigation--middle-height;

      .nav-order-tools,
      .mini-cart-link,
      .mobile__nav__row--btn-search
      {
        font-size: @mobile-nav-icon-font-size;
        line-height: @mobile-nav-icon-font-size*2;
        padding: 0;
        width: 100%;

        &:hover,
        &:focus,
        &:active {
          background-color: @nav-icon-hover-background;
          color: @btn-primary-bg;
          text-decoration: none;
        }
      }

      span.glyphicon {
        color: @nav-icon-color;
      }
    }
  }

  .mobile-menu {
    height: @navigation--middle-height;

    button {
      font-size: 18px;
      line-height: 1.33;
      border-radius: 0;
      height: 100%;
      width: 100%;
      padding: 0px;
    }

    span {
      position: relative;
      cursor: pointer;
      margin: 0 auto;
      color: @nav-icon-color;
      font-size: 29px;
      top: 2px;
    }
  }
}

.nav__left {
  @media (min-width: @screen-md) {
    padding-left: 30px;
    padding-right: 30px;
	float: left;
  }

  .site-search {
    background-color: transparent;
    z-index: 2;

    @media (max-width: @screen-md) {
      padding-left: 0;
    }

    @media (max-width: @screen-sm-max) {
      &.active {
        display: block!important;
      }

      display: none!important;
      position: relative;
      width: 100%;
      padding: 0 10px;
      border-top: 1px solid @nav-border-color;
      background-color: #E5E5E5;
    }

    .ui-front {
      padding: (@grid-gutter-width/2) 0px;
    }

    .glyphicon-search {
      background: url(../images/search_red.svg) left center no-repeat;
      left: 15px;
      &:before {
        content: '';
      }
    }

    .input-group {
      background-color: @input-background;
      min-height: 38px;
      border: 1px solid @input-border-color;

      @media (min-width: @screen-md) {
        width: 445px;
      }

      .form-control {
        border:0;
        box-shadow:none;
        height: 48px;
        background-color: transparent;
      }

      .btn {
        width: 40px;
        border: none;

        &:hover {
          background-color: transparent;
        }
      }
    }

    ul.ui-autocomplete {
      display:none;
      position:absolute;
      background: @autocomplete-background;
      left:0;
      right:0;
      -webkit-box-shadow: 0 8px 15px rgba(0,0,0,0.5);
      box-shadow: 0 8px 15px rgba(0,0,0,0.5);
      z-index:100;
      width:auto!important;
      padding-left:0;
      padding-top: 0;
      list-style:none;
      margin:0;

      li {
        border-top:1px solid @border-color-2;
        display:block;
        width:100%;
        padding: 10px;

        a {
          display:table;
          width:100%;
          color:inherit;
          text-decoration:none;
        }

        .thumb {
          display:table-cell;
          vertical-align:middle;
          padding:0 10px 0 0;
        }

        .name {
          display:table-cell;
          padding:10px;
          vertical-align:middle;
          width: @full-width;
        }

        .thumb + .name {
          padding:0 10px;
        }

        .price {
          display:table-cell;
          vertical-align:middle;
          padding:0 10px;
        }
      }

      li.ui-state-focus {
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin: 0;
        background: @table-2n-line-bg;
        color: @text-color;
      }
    }

    ul.ui-autocomplete.active {
      display:block;
    }
  }
}
.mob-user-acc {
  .close-nav {
    display: none;
  }
}
.navigation--bottom {
  background: #E5E5E5;
  border-bottom: 1px solid @nav-cat-border;

  @media (max-width: @screen-sm-max){
    border-bottom: none;
  }

  .sm-back {
    @media (max-width: @screen-sm-max){
      &::before {
        content: "\e079";
        float: none;
      }
    }
  }

  .navigation__overflow {
    @media (max-width: @screen-sm-max) {
      left: -380px;
      top: 0;
      overflow-y: auto;
      border-top: 1px solid @nav-border-color;
    }
  }

  &.js-enquire-offcanvas-navigation .close-nav {
    @media (max-width: @screen-sm-max) {
      display: inline-block;
      cursor: pointer;
      height: @navigation--middle-height;
      width: 20%;
      vertical-align: top;
      border-left: 1px solid @nav-border-color;
      border-right: 1px solid @nav-border-color;
    }

    button {
      @media (max-width: @screen-sm-max) {
        background-color: @offcanvas-nav-header-background;
        height: 100%;
        width: 100%;
        display: inline-block;
        color: transparent;
        overflow: hidden;
        border: none;
      }

      span {
        color: @offcanvas-nav-header-color;
        font-size: 25px;
      }
    }
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  a {

    @media (min-width: @screen-lg-min) {
      padding: 20px 32px;
    }
  }

  .column-20-percent{
    float:left;
    width:20%;
  }

  @media (max-width: @screen-sm-max) {
    position: absolute;
    z-index: 999;

    li {
      float: none;
    }
  }

  @media (max-width: @screen-sm-max) {
    width: 100%;
    height: auto;
    left: -100%;
    margin-left: 0;
  }

  .nav__links--products {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;

    @media (max-width: @screen-sm-max) {
      &.active {
        position: relative;
        left: 0%;
      }
    }

    @media (max-width: @screen-sm-max) {
      top: 0;
      bottom: 0;
      right: 0;
      background-color: @offcanvas-nav-cat-background;
      padding:0;
      position: relative;
      left: 0;
    }

  li {

    @media (max-width: @screen-sm-max) {
      float: none;
      overflow: hidden;
      background-color: @offcanvas-meta-nav-color;
      border-bottom: 1px solid @border-color-2;
      
    }
    
    &.liUserSign {

      @media (max-width: @screen-sm-max) {
        border-bottom: 1px solid @offcanvas-meta-nav-border-color;

        &:hover {
          background-color: @meta-nav-hover-background;
        }
      }

      a.userSign {
        @media (max-width: @screen-sm-max) {
          width: 80%;
          display: inline-block;
          text-transform: uppercase;
          padding-right: @grid-gutter-width;
        }
      }
    }

    &:last-child {
      margin-right: 0;

      @media (max-width: @screen-sm-max) {
        padding-bottom: 50px;
      }

    }

    a {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        padding: 20px 15px;
        display: block;
        color:  @nav-cat-link-color;

        @media (max-width: @screen-sm-max) {
          margin-top:0;
          color: @offcanvas-nav-cat-color;
          text-transform: capitalize;
          padding: 14px 15px;
          display: block;
        }

    }
    &.active {
      @media (max-width: @screen-sm-max) {
      }
      .nav__link a {
        color: #524B8D;
		text-decoration: underline;
      }
    }
  }

  .nav__links--secondary {

    display: none;
    background: @nav-subcat-background;
    position: absolute;
    z-index: 1000;
    left: 0;
    border: 1px solid @nav-border-color;
    border-top: 0;
    padding: 0 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

    .sm-back {
      display: none;
    }


    .row {
      position: relative;
    }

    .sub-navigation-section {
      position: static;
      padding: 10px;
    }

    .sub-navigation-section.double {
      position: relative;
      min-height: 1px;
      padding: 10px 0 10px 0;
    }

    .sub-navigation-section .sub-navigation-section-column {
      float: left;
      padding: 0 10px;
    }

    .sub-navigation-section .sub-navigation-list {
      padding-left: 0;
      list-style: none;

      li {
        border-bottom: 1px solid @nav-subcat-border-color;

        &:last-child {
          border-bottom:none;
        }

        a {
          display: block;
          color: @nav-subcat-color;
          line-height: 30px;
          padding-left: 5px;

          &:hover,
          &:focus {
            background-color: @nav-subcat-hover-background;
            text-decoration: none;
          }
        }
      }
    }

    .sub-navigation-list.has-title {
      margin-top:40px;
    }

    .title + .sub-navigation-list.has-title {
      margin-top:0;
    }

    }
  }

  .show-sub{
    .nav__link a {
      position: relative;

      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-right: 10px solid rgba(0, 0, 0, 0);
        border-left: 10px solid rgba(0, 0, 0, 0);
        border-bottom: 10px solid @nav-subcat-background;
        display: block;
        bottom: 0;
        left: 50%;
        margin: 0 0 0 -10px;
        z-index: 1001;
      }
    }

    .sub__navigation{
      display: block !important;
      top:@navigation--middle-height;
    }
  }

  .nav__link {
    display: inline-block;
    width: 100%;
  }


  .nav__links--primary-has__sub {

    @media (max-width: @screen-sm-max){
      position: static;
    }

    .nav__link {
      @media (max-width: @screen-sm-max) {
        width: 85%;
      }
    }

    .nav__link--drill__down {
      display: inline-block;
      width: 5%;
      color: @offcanvas-nav-cat-color;
      min-height: 30px;
      padding: 14px 20px;
    }
  }

  .nav__links--primary {

    &.active {
      @media (max-width: @screen-sm-max) {
        .sub__navigation{
          display: block;
        }
      }
    }

    .sub__navigation {

      @media (min-width: @screen-md-min) {
        display: none;
        background: @nav-subcat-background;
        position: absolute;
        z-index: 1000;
        left: 0;
        border: 1px solid @nav-border-color;
        border-top: 0;
        padding: 0 10px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      }

      @media (max-width: @screen-sm-max) {
        display: none;
        position: relative;
        top: 0;
        bottom: 0;
        
        width: 100%;
        padding: 0;
      }
    }

    .sm-back {
      @media (max-width: @screen-sm-max) {
        color: @offcanvas-nav-cat-color;
        padding: 5px 50px;
        border-bottom: 1px solid @offcanvas-nav-cat-border-color;
        font-size: 18px;
        line-height: 50px;
        display: none;

        &::after {
          content: ' ';
        }

        &::before {
          position: relative;
          top: 1px;
          display: inline-block;
          font-family: 'Glyphicons Halflings', sans-serif;
          font-style: normal;
          font-weight: 400;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: .8em;
          margin-right: 1em;
        }
      }

    }

    .row {
      @media (max-width: @screen-sm-max) {
        margin: 0;
      }
    }

    .sub-navigation-section {
      @media (max-width: @screen-sm-max) {
        padding: 0;
        background: @offcanvas-nav-cat-background;
      }

      @media (min-width: @screen-md-min) {
        position: static;
        padding: 10px;
      }

      .title {
        font-size: 18px;
        line-height: 40px;
        text-transform: uppercase;
        color: @nav-subcat-title-color;

        @media (max-width: @screen-md-max) {
          color: @offcanvas-nav-cat-title-color;
        }

        @media (max-width: @screen-sm-max) {
          padding: 10px 20px 10px 50px;
          text-transform: uppercase;
          border-bottom: 1px solid @offcanvas-nav-cat-border-color;
        }
      }

       .sub-navigation-list {
         @media (max-width: @screen-sm-max) {
           margin-bottom: 0;
           padding-left: 0;
           list-style: none;
           
         }

         @media (min-width: @screen-md-min) {
           padding-left: 0px;
           list-style: none;
           margin-top: 0;

           a {
             display: block;
             color: @nav-subcat-color;
             line-height: 30px;
             padding:0 0 0 5px;

             &:hover {
               background-color: @offcanvas-nav-cat-hover-background;
               text-decoration: none;
             }
           }
         }

         li {
           position: relative;
           display: block;
           border-bottom: 1px solid @offcanvas-nav-cat-border-color;
           float: none;

            @media (max-width: @screen-sm-max) {
              background: #F3F3F3;
              a {
                &:hover,
                &:focus {
                  background-color: #A64B8D;
                  color: #FFFFFF;
                }
              }
            }

           @media (min-width: @screen-md-min) {
             &:last-child {
               border: none;
             }
           }
         }
       }
    }
  }

  .nav__links--mobile {

    &.offcanvasGroup1 {
      .offcanvasGroup2,
      .offcanvasGroup3 {

        li {
          border-bottom: 1px solid @offcanvas-meta-nav-border-color;
        }
      }
    }

    @media (max-width: @screen-sm-max) {
      overflow: hidden;

      li {
        overflow: hidden;
        background-color: @offcanvas-meta-nav-background;
        border: none;

        a {
          color: @offcanvas-meta-nav-color;
        }
      }

      .subNavList {
        padding-left: 0;

        li {
          padding: 5px 0;
          background: @meta-nav-background;
        }
      }
    }

  div.sub-nav {

    .myAccountLinksHeader,
    .myCompanyLinksHeader {
      @media (max-width: @screen-sm-max) {
        display: block;
        cursor: pointer;
        max-height: @navigation--middle-height;
        text-transform: uppercase;
      }
    }

    a {
      @media (max-width: @screen-sm-max) {
        border-bottom: 1px solid @offcanvas-meta-nav-border-color;
      }

      span {
        @media (max-width: @screen-sm-max) {
            float: right;
            line-height: 50px;
            left: 0;
            position: relative;
            height: 30px;
            top: -14px;
          }
      }
    }
  }
}

.userGroup {

  @media (max-width: @screen-sm-max) {
    position: relative;
    line-height: 50px;
    background-color: @offcanvas-nav-header-background;
    padding: 5px 12px 5px 20px;
    cursor: pointer;
    color: @offcanvas-nav-header-color;
    display: inline-block;
    width: 80%;
    float: left;
    height: @navigation--middle-height;
    text-transform: uppercase;
    text-align: left;
  }

  a {
    @media (max-width: @screen-sm-max) {
      border: none;
      color: @offcanvas-nav-header-color;

      &:hover {
        background-color: transparent !important;
      }
    }
  }

  .myAcctUserIcon {
    @media (max-width: @screen-sm-max) {
      font-size: 20px;
      position: relative;
      top: 4px;
    }
  }


  .userName {
    @media (max-width: @screen-sm-max) {
      display: inline-block;
      padding-left: 10px;
    }
  }

  #signedInUserOptionsToggle {
    @media (max-width: @screen-sm-max) {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      padding: 0;
    }
  }
}

  .glyphicon-chevron-up,
  .glyphicon-chevron-down {
    @media (max-width: @screen-sm-max) {
      position: absolute;
      left: 260px;
      line-height: @navigation--middle-height;
      top: 0;
    }

    @media (max-width: @screen-xs-max) {
      left: 68vw;
    }
  }
}



main {

  @media (min-width: @screen-sm-min) {

  .transition(transform 0.3s ease-out);

  }
}

main.offcanvas {
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

    position: relative;
    -webkit-transform: translate(380px,0);
    -ms-transform: translate(380px,0);
    -o-transform: translate(380px,0);
    transform: translate(380px,0);
    }

    @media (max-width: @screen-xs-max){
      position: relative;
      -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
      -o-transform: translate(100%, 0);
      transform: translate(100%, 0);
    }
  }


  .offcanvas .sticky-nav-top {
    @media (max-width: @screen-xs-max) {
      left: 0;
      position: absolute;
      height: @navigation--middle-height;
      width: 100vw;
    }
  }

  .sticky-nav-top {

  @media (max-width: @screen-sm-max) {
    position: absolute;
    left: 0px;
    top: -@navigation--middle-height;
    width: 380px;
    padding: 0px;
    margin-bottom: 0;
    z-index: 9999;
    text-align: right;
  }

  @media (max-width: @screen-xs-max) {
    position: absolute;
    top: -@navigation--middle-height;
    height: @navigation--middle-height;
    left: -60px;
    z-index: 999;
    width: 100vw;
  }

  .liUserSign {
    background-color: @offcanvas-nav-header-background;
  }

  .userSign {
    @media (max-width: @screen-sm-max) {
      text-align: left;
      width: 80%;
      display: inline-block;
      color: @offcanvas-nav-header-color;
      padding: 20px 30% 20px 50px;
    }
  }
}

  @media (max-width: @screen-sm-max) {

  html.offcanvas {
  overflow-x: hidden;
  }
}


//////////////////////////////////////
//         nav-order-tools          //
//////////////////////////////////////
.nav-order-tools {
  position: relative;
  display: inline-block;
  cursor: pointer;

  @media (min-width: @screen-sm-min) {
    border-left: 0px;
    border-right: 1px solid @nav-border-color;
    padding: 0px 15px;
  }
  @media (min-width: @screen-md-min) {
    padding: 0px 30px;
  }
  @media (max-width: @screen-xs-max) {
    position: static;
  }

  &:before {
    position: relative;
    top: 23%;
    display: inline;
    font-family: 'Glyphicons Halflings', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e032";
    color: @nav-icon-color;
    font-size: 30px;

    @media (max-width: @screen-xs-max) {
      top: 3px;
    }
  }
}

.quote__list {
  position: relative;
  display: inline-block;
  cursor: pointer;

  width: (@btn-icon-font-size + @grid-gutter-width);
  text-align: right;

  a {
    font-size: @btn-icon-font-size;
    background-color: transparent;
    padding: 0;
    border: 0;
    color: @btn-primary-bg;

    .glyphicon {
      top: 4px;
    }
  }

  @media (min-width: @screen-sm-min) {
    border-left: 0px;
    padding: 0px (@grid-gutter-width - 5);
  }
  @media (min-width: @screen-md-min) {
    padding: 0px (@grid-gutter-width + 10);
  }
  @media (max-width: @screen-xs-max) {
    position: static;
  }

}

.js-nav-order-tools--active {
  .nav-order-tools__child-wrap {
    display: block;
  }
}

.js-nav-quote-list--active {
  .quote__list--nav {
    display: block;
  }
}

.quote__list--nav {
  text-align: left;
  position: absolute;
  border: 1px solid @nav-border-color;
  background-color: @nav-icon-dropdown-background;
  right: 40px;
  top: 26px;
  width: 260px;
  z-index: 10;

  a {
    font-size: @font-size-base;
    line-height: @line-height-base;

  }

  @media (max-width: @screen-xs-max) {
    width: 100vw;
    top: 103px;
  }

  a {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: @text-color;
    padding: @grid-gutter-width @grid-gutter-width*1.5;

    &:hover {
      background-color: @nav-icon-hover-background;;
    }
  }
}

.nav-order-tools__child-wrap {
  font-size: @font-size-base;
  line-height: @line-height-base;
  text-align: left;
  position: absolute;
  border: 1px solid @nav-border-color;
  background-color: @nav-icon-dropdown-background;
  right: -1px;
  top: @navigation--middle-height;
  width: 260px;
  z-index: 10;

  @media (max-width: @screen-xs-max) {
    width: 100vw;
    top: 103px;
  }

  div {
    border-bottom: 1px solid @nav-icon-hover-background;

    &:last-child {
      border-bottom:none;
    }
  }

  a {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: @text-color;
    padding: @grid-gutter-width @grid-gutter-width*1.5;

    &:hover {
      background-color: @nav-icon-hover-background;;
    }
  }
}

.search-results-highlight {
	font-weight: bold;
}

.navigation.navigation--bottom {
  @media (max-width: @screen-sm-max) {
    left: 0;
    top: 0 !important;
    display: none;
    margin-top: 0;
    box-shadow: 0px 3.25238px 3.25238px #99999940;
  }
  
}
