//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb-section{
	background: @breadcrumb-bg;
  	.full-width-padding();

	.breadcrumb{
		font-size: 14px;
		font-weight: bold;
		margin: 0;
	   	a{
	   	color: #1D1D1F;
		}
	     .active{
            color: @brand-primary;
            position: absolute;
		}

	}
}
