<%@ tag body-content="empty" trimDirectiveWhitespaces="true"%>
<%@ attribute name="hideHeaderLinks" required="false"%>

<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags"%>
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags"%>
<%@ taglib prefix="nav" tagdir="/WEB-INF/tags/responsive/nav"%>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags" %>
<spring:htmlEscape defaultHtmlEscape="true" />
<%@ taglib prefix="footer" tagdir="/WEB-INF/tags/responsive/common/footer"  %>

<c:set var = "fname" value = "${fn:split(user.firstName, ' ')}" />

<cms:pageSlot position="TopHeaderSlot" var="component" element="div" class="container">
	<cms:component component="${component}" />
</cms:pageSlot>
<nav class="navigation navigation--middle js-navigation--middle <c:if test="${cmsSite.uid eq 'jamaica'}">hidden-sm</c:if> hidden-md hidden-lg">
	<div class="container-fluid">
		<c:if test="${cmsSite.uid ne 'puertorico'}">
		<div class="row">
			<div class="mobile__nav__row mobile__nav__row--table">
				<div class="mobile__nav__row--table-group">
					<div class="mobile__nav__row--table-row">
						<c:if test="${cmsSite.uid eq 'panama' || cmsSite.uid eq 'cabletica'}">
							<div class="js-mobile-logo col-xs-4">
								<%--populated by JS acc.navigation--%>
							</div>

							<div class="panama-right">
								<cms:pageSlot position="MiniCart" var="cart" element="div" class="miniCartSlot mobile__nav__row--table-cell hidden-sm hidden-md hidden-lg">
									<cms:component component="${cart}" element="div" class="mobile__nav__row--table-cell" />
								</cms:pageSlot>
								<c:if test="${cmsSite.uid ne 'jamaica'}">
									<c:if test="${cmsSite.uid eq 'panama' || cmsSite.uid eq 'cabletica'}">

										<div class="mobile__nav__row--table-cell visible-xs visible-sm user-account-icon">
											<!--<button	class="mobile__nav__row--btn btn mobile__nav__row--btn-search js-toggle-xs-search hidden-sm hidden-md hidden-lg" type="button">
												<span class="glyphicon glyphicon-search"></span>
											</button>-->
											<ul class="mob-user-acc hidden-lg hidden-md js-sticky-user-group">
												<%--Dynamically generated by 'acc.navigation.js"--%>
											</ul>
										</div>
										
									</c:if>

									<div class="${(cmsSite.uid eq 'panama' || cmsSite.uid eq 'cabletica') ? 'mobile__nav__row--table-cell visible-xs visible-sm':'mobile__nav__row--table-cell visible-xs hidden-sm'}">

										<button class="navbar-toggle mobile__nav__row--btn btn mobile__nav__row--btn-menu js-toggle-sm-navigation"
												type="button">
											<span class="glyphicon glyphicon-align-justify"></span>
										</button>
									</div>
									
									<c:if test="${cmsSite.uid ne 'panama' && cmsSite.uid ne 'cabletica'}">
										<cms:pageSlot position="StoreFinderHeader" var="feature" element="div" class="mobile__nav__row--table-cell hidden-sm hidden-md hidden-lg mobile__nav__row--seperator" >
											<cms:component component="${feature}" element="div" class="mobile__nav__row--btn mobile__nav__row--btn-location btn"/>
										</cms:pageSlot>
									</c:if>
								</c:if>

								
							</div>
						</c:if>

						<c:if test="${cmsSite.uid ne 'panama' && cmsSite.uid ne 'cabletica'}">
							<c:if test="${cmsSite.uid ne 'jamaica'}">
								<div class="mobile__nav__row--table-cell visible-xs hidden-sm">
									<button class="navbar-toggle mobile__nav__row--btn btn mobile__nav__row--btn-menu js-toggle-sm-navigation"
											type="button">
										<span class="glyphicon glyphicon-align-justify"></span>
									</button>
								</div>
								<c:if test="${cmsSite.uid eq 'panama'}">
								<div class="mobile__nav__row--table-cell visible-xs mobile__nav__row--seperator">
										<button	class="mobile__nav__row--btn btn mobile__nav__row--btn-search js-toggle-xs-search hidden-sm hidden-md hidden-lg" type="button">
											<span class="glyphicon glyphicon-search"></span>
										</button>
								</div>
								</c:if>
								<cms:pageSlot position="StoreFinderHeader" var="feature" element="div" class="mobile__nav__row--table-cell hidden-sm hidden-md hidden-lg mobile__nav__row--seperator" >
									<cms:component component="${feature}" element="div" class="mobile__nav__row--btn mobile__nav__row--btn-location btn"/>
								</cms:pageSlot>
								
								</c:if>

								<cms:pageSlot position="MiniCart" var="cart" element="div" class="miniCartSlot componentContainer mobile__nav__row--table hidden-sm hidden-md hidden-lg">
									<cms:component component="${cart}" element="div" class="mobile__nav__row--table-cell" />
								</cms:pageSlot>
						</c:if>
						
					</div>
				</div>
			</div>
		</div>
		</c:if>
		<div class="row desktop__nav">
			<div class="nav__left col-xs-12 col-sm-12 hidden-sm">
				<div class="row">
					<div class="col-sm-2 hidden-xs hidden-sm mobile-menu">
						<button class="btn js-toggle-sm-navigation" type="button">
							<span class="glyphicon glyphicon-align-justify"></span>
						</button>
					</div>
					
					<cms:pageSlot position="SearchBox" var="component">
						<cms:component component="${component}" element="div" class="col-sm-12 hidden-md hidden-lg site-search"/>
					</cms:pageSlot>
						
				</div>
			</div>
			<div class="nav__left col-xs-12 col-sm-8 hidden-md hidden-lg hidden-xs <c:if test="${cmsSite.uid eq 'panama' || cmsSite.uid eq 'cabletica' || cmsSite.uid eq 'puertorico' }">hidden-sm</c:if>">
				<div class="row">
					<div class="col-sm-2 hidden-xs hidden-sm mobile-menu">
						<button class="btn js-toggle-sm-navigation" type="button">
							<span class="glyphicon glyphicon-align-justify"></span>
						</button>
					</div>
					<c:if test="${cmsSite.uid ne 'puertorico'}">
						<cms:pageSlot position="SearchBox" var="component">
							<cms:component component="${component}" element="div" class="col-sm-10 site-search"/>
						</cms:pageSlot>
					</c:if>
				</div>
			</div>
			<div class="${(cmsSite.uid eq 'panama' || cmsSite.uid eq 'cabletica' || cmsSite.uid eq 'puertorico') ? 'nav__right col-xs-4 hidden-xs hidden-sm hidden-md':'nav__right col-xs-4 hidden-xs visible-sm hidden-md'}">
				<ul class="nav__links nav__links--shop_info">
					<li>
						<cms:pageSlot position="StoreFinderHeader" var="feature">
								<cms:component component="${feature}" element="div" class="nav-location hidden-xs"/>
						</cms:pageSlot>
					</li>

					<li>
						<cms:pageSlot position="MiniCart" var="cart" element="div" class="componentContainer">
							<cms:component component="${cart}" element="div"/>
						</cms:pageSlot>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<header class="js-mainHeader main-head-section">

	<nav class="navigation navigation--top hidden-xs <c:if test="${cmsSite.uid ne 'jamaica'}">hidden-sm</c:if>">
		<c:if test="${cmsSite.uid eq 'panama' || cmsSite.uid eq 'puertorico' || cmsSite.uid eq 'cabletica'}">
			<div class="container">
		</c:if>
		<div class="row">
			<div class="${cmsSite.uid ne 'jamaica' ? 'col-sm-12 col-md-5':'col-xs-12 col-sm-5 col-md-4 col-lg-3'}">
				<c:if test="${cmsSite.uid eq 'jamaica'}">
					<div class="nav__left">
						<a href="https://discoverflow.co/jamaica/">
						<span class="glyphicon glyphicon-triangle-right"></span>
						<spring:theme code="text.menu.residential" text="residential" />
						</a>
						<a href="https://cwcbusiness.com/">
						<spring:theme code="text.menu.bussiness" text="bussiness" />
						</a>
						<a href="https://flowfoundationja.org">
						<spring:theme code="text.menu.flowFoundation" text="Flow Foundation" />
						</a>
					</div>
				</c:if>
				<c:if test="${cmsSite.uid eq 'panama'}">
					<ul class="nav__left">
						<li class="flag">
							<%--<a href="#">Spanish</a>--%>
							<footer:languageSelector languages="${languages}" currentLanguage="${currentLanguage}" />
						</li>
						<li class="active">
							<a href="https://masmovilpanama.com/"><spring:theme code="header.nav.text.people" text="People" /></a>
						</li>
						<li>
							<a href="http://cw.pa/negocios"><spring:theme code="header.nav.text.business" text="bussiness" /></a>
						</li>
						<li>
							<a href="http://cw.pa/business"><spring:theme code="header.nav.text.companies" text="Enterprises" /></a>
						</li>
					</ul>
				</c:if>
				<c:if test="${cmsSite.uid eq 'puertorico' || cmsSite.uid eq 'cabletica'}">
					<ul class="nav__left">
						<li class="js-languageSelector-desktop">
							<%--<a href="#">Spanish</a>--%>
							<footer:languageSelector languages="${languages}" currentLanguage="${currentLanguage}" />
						</li>
						<li class="active">
							<c:choose>
								<c:when test="${cmsSite.uid eq 'cabletica'}">
									<a href="https://www.cabletica.com/" target="_blank"><spring:theme code="header.nav.text.residencial" text="residencial" /></a>
								</c:when>
								<c:otherwise>
									<a href="https://www.libertypr.com/"><spring:theme code="header.nav.text.residencial" text="residencial" /></a>
								</c:otherwise>
							</c:choose>
						</li>
						<li>
							<c:choose>
								<c:when test="${cmsSite.uid eq 'puertorico'}">
									<a href="https://www.libertybusinesspr.com/"><spring:theme code="header.nav.text.business" text="business" /></a>
								</c:when>
								<c:otherwise>
									<a href="https://www.cabletica.com/negocios/" target="_blank"><spring:theme code="header.nav.text.business" text="business" /></a>
								</c:otherwise>
							</c:choose>
						</li>
					</ul>
				</c:if>
			</div>
			<div class="${cmsSite.uid ne 'jamaica' ? 'col-sm-12 col-md-7':'col-xs-12 col-sm-7 col-md-8 col-lg-9'}">
				<div class="nav__right">
					<ul class="nav__links nav__links--account">
						
						<li>
							<cms:pageSlot position="StoreFinderHeader" var="feature">
								<cms:component component="${feature}" element="div" />
							</cms:pageSlot>
						</li>
							
						<c:if test="${cmsSite.uid ne 'jamaica'}">
							<li class="paymybill">
								<c:choose>
									<c:when test="${cmsSite.uid eq 'panama'}">
										<c:url var="paymybillurl" value="http://cw.pa/recargaypaga"/>
										<a href="${paymybillurl}">
											<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 0C3.13438 0 0 3.13438 0 7C0 10.8656 3.13438 14 7 14C10.8656 14 14 10.8656 14 7C14 3.13438 10.8656 0 7 0ZM7 12.8125C3.79063 12.8125 1.1875 10.2094 1.1875 7C1.1875 3.79063 3.79063 1.1875 7 1.1875C10.2094 1.1875 12.8125 3.79063 12.8125 7C12.8125 10.2094 10.2094 12.8125 7 12.8125ZM7.74531 6.6375L7.34844 6.54531V4.44688C7.94219 4.52813 8.30937 4.9 8.37187 5.35625C8.37969 5.41875 8.43281 5.46406 8.49531 5.46406H9.19687C9.27031 5.46406 9.32812 5.4 9.32187 5.32656C9.22656 4.35313 8.425 3.72813 7.35469 3.62031V3.10938C7.35469 3.04063 7.29844 2.98438 7.22969 2.98438H6.79063C6.72188 2.98438 6.66563 3.04063 6.66563 3.10938V3.625C5.55937 3.73281 4.69375 4.34375 4.69375 5.48438C4.69375 6.54063 5.47188 7.05 6.28906 7.24531L6.675 7.34375V9.57344C5.98438 9.48125 5.59688 9.1125 5.51719 8.61563C5.50781 8.55625 5.45469 8.5125 5.39375 8.5125H4.67188C4.59844 8.5125 4.54063 8.575 4.54688 8.64844C4.61719 9.50781 5.26875 10.2984 6.65938 10.4V10.8906C6.65938 10.9594 6.71563 11.0156 6.78438 11.0156H7.22812C7.29687 11.0156 7.35312 10.9594 7.35312 10.8891L7.35 10.3938C8.57344 10.2859 9.44844 9.63125 9.44844 8.45625C9.44688 7.37188 8.75781 6.8875 7.74531 6.6375ZM6.67344 6.38438C6.58594 6.35938 6.5125 6.33594 6.43906 6.30625C5.91094 6.11562 5.66563 5.80781 5.66563 5.41094C5.66563 4.84375 6.09531 4.52031 6.67344 4.44688V6.38438ZM7.34844 9.57812V7.48906C7.39687 7.50312 7.44062 7.51406 7.48594 7.52344C8.225 7.74844 8.47344 8.06094 8.47344 8.54062C8.47344 9.15156 8.01406 9.51875 7.34844 9.57812Z" fill="white"/>
											</svg>
											<spring:theme code="header.link.paymybill" />
										</a>
									</c:when>
									<c:when test="${cmsSite.uid eq 'puertorico'}">	
										<c:url var="paymybillurl" value="https://mi.libertypr.com/MakePayment/AccountSearch"/>
										<a href="${paymybillurl}">
											<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 0C3.13438 0 0 3.13438 0 7C0 10.8656 3.13438 14 7 14C10.8656 14 14 10.8656 14 7C14 3.13438 10.8656 0 7 0ZM7 12.8125C3.79063 12.8125 1.1875 10.2094 1.1875 7C1.1875 3.79063 3.79063 1.1875 7 1.1875C10.2094 1.1875 12.8125 3.79063 12.8125 7C12.8125 10.2094 10.2094 12.8125 7 12.8125ZM7.74531 6.6375L7.34844 6.54531V4.44688C7.94219 4.52813 8.30937 4.9 8.37187 5.35625C8.37969 5.41875 8.43281 5.46406 8.49531 5.46406H9.19687C9.27031 5.46406 9.32812 5.4 9.32187 5.32656C9.22656 4.35313 8.425 3.72813 7.35469 3.62031V3.10938C7.35469 3.04063 7.29844 2.98438 7.22969 2.98438H6.79063C6.72188 2.98438 6.66563 3.04063 6.66563 3.10938V3.625C5.55937 3.73281 4.69375 4.34375 4.69375 5.48438C4.69375 6.54063 5.47188 7.05 6.28906 7.24531L6.675 7.34375V9.57344C5.98438 9.48125 5.59688 9.1125 5.51719 8.61563C5.50781 8.55625 5.45469 8.5125 5.39375 8.5125H4.67188C4.59844 8.5125 4.54063 8.575 4.54688 8.64844C4.61719 9.50781 5.26875 10.2984 6.65938 10.4V10.8906C6.65938 10.9594 6.71563 11.0156 6.78438 11.0156H7.22812C7.29687 11.0156 7.35312 10.9594 7.35312 10.8891L7.35 10.3938C8.57344 10.2859 9.44844 9.63125 9.44844 8.45625C9.44688 7.37188 8.75781 6.8875 7.74531 6.6375ZM6.67344 6.38438C6.58594 6.35938 6.5125 6.33594 6.43906 6.30625C5.91094 6.11562 5.66563 5.80781 5.66563 5.41094C5.66563 4.84375 6.09531 4.52031 6.67344 4.44688V6.38438ZM7.34844 9.57812V7.48906C7.39687 7.50312 7.44062 7.51406 7.48594 7.52344C8.225 7.74844 8.47344 8.06094 8.47344 8.54062C8.47344 9.15156 8.01406 9.51875 7.34844 9.57812Z" fill="white"/>
											</svg>
											<spring:theme code="header.link.easy.payment" />
										</a>
									</c:when>
									<c:otherwise>
										<c:url var="paymybillurl" value=""/>
										<a href="${paymybillurl}">
											<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 0C3.13437 0 0 3.13437 0 7C0 10.8656 3.13437 14 7 14C10.8656 14 14 10.8656 14 7C14 3.13437 10.8656 0 7 0ZM7 12.8125C3.79062 12.8125 1.1875 10.2094 1.1875 7C1.1875 3.79062 3.79062 1.1875 7 1.1875C10.2094 1.1875 12.8125 3.79062 12.8125 7C12.8125 10.2094 10.2094 12.8125 7 12.8125Z" fill="white"/>
												<path d="M7.22427 9.04C7.84027 8.96 8.31627 8.664 8.65227 8.152L9.52827 8.704C9.30427 9.104 8.99227 9.42 8.59227 9.652C8.19227 9.884 7.73627 10.02 7.22427 10.06V11.44H6.45627V10.048C5.89627 9.984 5.39627 9.808 4.95627 9.52C4.52427 9.224 4.18427 8.844 3.93627 8.38C3.69627 7.916 3.57627 7.396 3.57627 6.82C3.57627 6.244 3.69627 5.728 3.93627 5.272C4.18427 4.808 4.52427 4.432 4.95627 4.144C5.38827 3.848 5.88827 3.668 6.45627 3.604V2.2H7.22427V3.592C7.73627 3.632 8.19227 3.768 8.59227 4C8.99227 4.224 9.30427 4.536 9.52827 4.936L8.65227 5.5C8.31627 4.988 7.84027 4.692 7.22427 4.612V9.04ZM4.74027 6.82C4.74027 7.412 4.89627 7.904 5.20827 8.296C5.52827 8.688 5.94427 8.928 6.45627 9.016V4.636C5.94427 4.732 5.52827 4.976 5.20827 5.368C4.89627 5.76 4.74027 6.244 4.74027 6.82Z" fill="white"/>
											</svg>
											<spring:theme code="header.link.easy.payment" />
										</a>
									</c:otherwise>
								</c:choose>
							</li>
						</c:if>	
						<c:if test="${empty hideHeaderLinks}">
							<sec:authorize access="!hasAnyRole('ROLE_ANONYMOUS')">

								<c:set var="maxNumberChars" value="25" />
								<c:choose>
                                     <c:when test="${user.firstName eq 'Anonymous'}">
                                       <c:set target="${user}" property="firstName"
                                                                            value="${fn:substring(currentUser, 0, maxNumberChars)}" />
                                     </c:when>
                                    <c:otherwise>
                                     <c:if test="${fn:length(user.firstName) gt maxNumberChars}">
                                        <c:set target="${user}" property="firstName"
                                            value="${fn:substring(user.firstName, 0, maxNumberChars)}..." />
                                      </c:if>
                                    </c:otherwise>
                                </c:choose>
								
								<li class="logged_in js-logged_in myAccountLinksHeader">
									<span class="hidden-xs hidden-sm">
										<svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M6.5 0C4.50883 0 2.88889 1.65274 2.88889 3.68421C2.88889 5.71568 4.50883 7.36842 6.5 7.36842C8.49117 7.36842 10.1111 5.71568 10.1111 3.68421C10.1111 1.65274 8.49117 0 6.5 0ZM6.5 5.89474C5.30544 5.89474 4.33333 4.90295 4.33333 3.68421C4.33333 2.46547 5.30544 1.47368 6.5 1.47368C7.69456 1.47368 8.66667 2.46547 8.66667 3.68421C8.66667 4.90295 7.69456 5.89474 6.5 5.89474ZM13 14V13.2632C13 10.4197 10.7315 8.10526 7.94444 8.10526H5.05556C2.26778 8.10526 0 10.4197 0 13.2632V14H1.44444V13.2632C1.44444 11.2317 3.06439 9.57895 5.05556 9.57895H7.94444C9.93561 9.57895 11.5556 11.2317 11.5556 13.2632V14H13Z" fill="white"/>
										</svg>
									</span>
									<spring:theme code="header.hi" text="Hi," />
										<c:choose>
											<c:when test="${cmsSite.uid eq 'panama' || cmsSite.uid eq 'puertorico'}">
												${ycommerce:encodeHTML(fname[0])}
											</c:when>
											<c:otherwise>
												${ycommerce:encodeHTML(user.firstName)}
											</c:otherwise>
										</c:choose> 
									<spring:theme code="header.welcome.exclamation" text="!" />
								</li>
							</sec:authorize>
							
							<cms:pageSlot position="HeaderLinks" var="link">
								<cms:component component="${link}" element="li" />
							</cms:pageSlot>

							<sec:authorize access="hasAnyRole('ROLE_ANONYMOUS')" >
								<li class="liOffcanvas login">
									<c:if test="${cmsSite.uid eq 'jamaica'}">
										<a href="#">
											<spring:theme code="header.link.login" />
										</a>
										<div class="dropdown-menu">
											<ul>
												<li>
													<span><spring:theme code="text.menu.account.type" text="Please select your account" /></span>
												</li>
												<li>
													<a href="#login-popup" class="login-link">
														<spring:theme code="text.menu.residential" text="residential" />
													</a>
												</li>
												<li>
													<a href="https://discoverflow.co/jamaica/myaccount/login">
														<spring:theme code="text.menu.bussiness" text="bussiness" />
													</a>
												</li>
												<li>
													<a href="https://discoverflow.co/jamaica/myaccount/portal-select">
														<spring:theme code="text.menu.have.questions" text="Have any questions?" />
													</a>
												</li>
											</ul>
										</div>
									</c:if>
									<c:if test="${cmsSite.uid ne 'jamaica' && cmsSite.uid ne 'puertorico'}">
										<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M5.57143 0C3.86471 0 2.47619 1.41663 2.47619 3.15789C2.47619 4.89916 3.86471 6.31579 5.57143 6.31579C7.27814 6.31579 8.66667 4.89916 8.66667 3.15789C8.66667 1.41663 7.27814 0 5.57143 0ZM5.57143 5.05263C4.54752 5.05263 3.71429 4.20253 3.71429 3.15789C3.71429 2.11326 4.54752 1.26316 5.57143 1.26316C6.59533 1.26316 7.42857 2.11326 7.42857 3.15789C7.42857 4.20253 6.59533 5.05263 5.57143 5.05263ZM11.1429 12V11.3684C11.1429 8.93116 9.19843 6.94737 6.80952 6.94737H4.33333C1.94381 6.94737 0 8.93116 0 11.3684V12H1.2381V11.3684C1.2381 9.62716 2.62662 8.21053 4.33333 8.21053H6.80952C8.51624 8.21053 9.90476 9.62716 9.90476 11.3684V12H11.1429Z" fill="white"/>
										</svg>
										<c:choose>
											<c:when test="${cmsSite.uid ne 'cabletica'}">
												<a href="#login-popup" class="login-link">
											</c:when>
											<c:otherwise>
												<a href="https://www.cabletica.com/centro-de-ayuda/sucursales" target="_blank">
											</c:otherwise>
										</c:choose>										
											<spring:theme code="header.link.login" />
										</a>
									</c:if>
									<c:if test="${cmsSite.uid eq 'puertorico'}">																		
										<a href="https://www.libertypr.com/mi-cuenta" target="_blank">										
											<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										    <path d="M5.57143 0C3.86471 0 2.47619 1.41663 2.47619 3.15789C2.47619 4.89916 3.86471 6.31579 5.57143 6.31579C7.27814 6.31579 8.66667 4.89916 8.66667 3.15789C8.66667 1.41663 7.27814 0 5.57143 0ZM5.57143 5.05263C4.54752 5.05263 3.71429 4.20253 3.71429 3.15789C3.71429 2.11326 4.54752 1.26316 5.57143 1.26316C6.59533 1.26316 7.42857 2.11326 7.42857 3.15789C7.42857 4.20253 6.59533 5.05263 5.57143 5.05263ZM11.1429 12V11.3684C11.1429 8.93116 9.19843 6.94737 6.80952 6.94737H4.33333C1.94381 6.94737 0 8.93116 0 11.3684V12H1.2381V11.3684C1.2381 9.62716 2.62662 8.21053 4.33333 8.21053H6.80952C8.51624 8.21053 9.90476 9.62716 9.90476 11.3684V12H11.1429Z" fill="white"/>
										    </svg>	
											<spring:theme code="header.link.login" />											
										</a>
									</c:if>
								</li>
							</sec:authorize>

							<sec:authorize access="!hasAnyRole('ROLE_ANONYMOUS')" >
								<c:if test="${cmsSite.uid eq 'jamaica'}">
									<li class="liOffcanvas <c:if test="${cmsSite.uid eq 'jamaica'}">js-logout</c:if>">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 21 16" fill="none">
											<path d="M4.51989 9.33687V6.66313C4.51989 5.38992 5.55968 4.37135 6.81167 4.37135H12.3289V0.933687C12.3289 0.424403 11.9045 0 11.3952 0H0.933687C0.424403 0 0 0.424403 0 0.933687V15.0663C0 15.5756 0.424403 16 0.933687 16H11.4377C11.947 16 12.3714 15.5756 12.3714 15.0663V11.6286H6.85411C5.55968 11.6286 4.51989 10.5889 4.51989 9.33687Z" fill="#7487A0"/>
											<path d="M19.9047 7.46973L15.0453 3.544C14.5997 3.18325 13.9418 3.50156 13.9418 4.0745V6.00553H6.81186C6.42989 6.00553 6.13281 6.30262 6.13281 6.68458V9.35832C6.13281 9.74028 6.42989 10.0374 6.81186 10.0374H13.9418V11.9684C13.9418 12.5413 14.5997 12.8384 15.0453 12.4989L19.9047 8.55195C20.2442 8.25487 20.2442 7.74559 19.9047 7.46973Z" fill="#7487A0"/>
										</svg>
										<a href="<c:url value='/logout'/>">										
											<spring:theme code="header.link.logout" />
										</a>
									</li>
								</c:if>
							</sec:authorize>
						</c:if>
						<li>
							<cms:pageSlot position="MiniCart" var="cart" element="div" class="componentContainer">
								<cms:component component="${cart}" element="div"/>
							</cms:pageSlot>
						</li>

						<c:if test="${cmsSite.uid eq 'jamaica'}">	
							<li>
								<a href="https://discoverflow.co/" class="flagList"><span class="hidden-sm"><spring:theme code="text.menu.country.jamaica" /></span></a>
							</li>
						</c:if>						
					</ul>
				</div>
			</div>
		</div>
		<c:if test="${cmsSite.uid eq 'panama' || cmsSite.uid eq 'puertorico' || cmsSite.uid eq 'cabletica'}">
			</div>
		</c:if>
	</nav>
	<%-- a hook for the my account links in desktop/wide desktop--%>
	<div class="hidden-xs hidden-sm js-secondaryNavAccount collapse" id="accNavComponentDesktopOne">
		<ul class="nav__links">

		</ul>
	</div>
	<div class="hidden-xs hidden-sm js-secondaryNavCompany collapse" id="accNavComponentDesktopTwo">
		<ul class="nav__links js-nav__links">

		</ul>
	</div>
	
	<a id="skiptonavigation"></a>
	<nav:topNavigation />
</header>


<cms:pageSlot position="BottomHeaderSlot" var="component" element="div"	class="container-fluid">
	<cms:component component="${component}" />
</cms:pageSlot>

<%-- Solution login popup  --%>
<div class="hidden">
	<div class="headline">
		<div class="logintitle">
			<h2 class="headline-text"><spring:theme code="text.login.popup.loginregister" text="Login/Register"/></h2>
		</div>
	</div>
	<div id="login-popup">
      <c:if test="${cmsSite.uid ne 'panama' && cmsSite.uid ne 'cabletica' && cmsSite.uid ne 'jamaica' && cmsSite.uid ne 'puertorico'}">
		  <c:url value="/login/checkout/guest" var="guestCheckoutUrl" />
			<div class="guest-checkout">
				<form id="guestCheckout" action="${guestCheckoutUrl}" method="post">
					<label><spring:theme code="guest.checkout.email"/></label>
					<div class="form-group clearfix">
						<label class="control-label" for="guestEmail"><spring:theme code="guest.checkout.email.label"/></label>
						<input type="email" class="form-control" id="guestEmail" name="guestEmail">
						<button type="button" class="guestCheckoutButton btn btn-primary" disabled><spring:theme code="guest.checkout.go"/></button>
						<input type="hidden" id="guestEmail_error" value="<spring:theme code="guest.checkout.invalid"/>">
					</div>
				</form>
				<c:if test="${cmsSite.uid ne 'puertorico'}">
				<div class="col-xs-12 alternate text-center"><spring:theme code="guest.checkout.text.or"/></div>
				</c:if>
			</div>
			</c:if>
	         	<c:choose>
				<c:when test="${cmsSite.uid eq 'puertorico' && pageType != 'CART'}">
					<h5><spring:theme code="text.login.popup.redirectionmessage.${cmsSite.uid}" htmlEscape="false" arguments="${fn:escapeXml(authUrl)}" /></h5>
				</c:when>
				<c:when test="${cmsSite.uid ne 'puertorico'}">
					<h5><spring:theme code="text.login.popup.redirectionmessage.${cmsSite.uid}" htmlEscape="false" arguments="${fn:escapeXml(authUrl)}" /></h5>
				</c:when>
				<c:otherwise>
				</c:otherwise>
			</c:choose>
		<%--<c:if test="${cmsSite.uid ne 'puertorico'}">
			<div>
				<a href="${authUrl}" class="btn-blue"><spring:theme code="text.login.popup.ok" text="OK" /></a>
		        <a class="login-popup-close"><spring:theme code="text.login.popup.cancel" text="Cancel" /></a>
	        </div>
		</c:if>--%>

	</div>
</div>

<c:if test="${cmsSite.uid eq 'panama'}">
    <c:choose>
      <c:when test="${not empty breadcrumbs}">
        <c:set var="breadcrumbinfo"><spring:theme code="breadcrumb.home.panama" />,</c:set>
        <c:forEach items="${breadcrumbs}" var="breadcrumb" varStatus="status">
            <c:set var="breadcrumbinfo">${breadcrumbinfo}${breadcrumb.name}<c:if test="${not status.last}">, </c:if></c:set>
        </c:forEach>
      </c:when>
      <c:otherwise>
        <c:set var="breadcrumbinfo" value="N/A"/>
      </c:otherwise>
    </c:choose>

    <input type="hidden" id="panamaAdobeAnalyticsPageInfoDevices"
        <c:if test="${pageType ne null}"> data-attr-pageName="${pageType}" </c:if>
        <c:if test="${breadcrumbinfo ne null}"> data-attr-breadcrumbsdata="${breadcrumbinfo}" </c:if>
        <c:if test="${user.customerId ne null}"> data-attr-userid="${user.customerId}" </c:if>
        <c:if test="${user.emailAddress ne null}"> data-attr-email="${user.emailAddress}" </c:if>
        <c:if test="${user.customerType ne null}"> data-attr-customerType="${user.customerType}" </c:if>
        <c:if test="${user.mobilePhone ne null}"> data-attr-mobilePhone="${user.mobilePhone}" </c:if>

    />
</c:if>
