//
// Button
// --------------------------------------------------------
.btn-custom{
    &,
    &:active,
    &:hover,
    &:focus{
        border: 1px solid @brand-dark-primary;
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem;
        text-transform: uppercase;
        background-color: @brand-primary;
        color: @brand-white;
        
    }
    &[disabled]{
        background-color: @plp-category-btn-device;
        border-color: @plp-category-btn-device;
    }
}
.btn-yellow{
    &,
    &:active,
    &:hover{
        background-color: @brand-tertiary;
        border: 1px solid @brand-tertiary;
        color: @brand-black;
        text-align: center;
        font-size: 1.6rem;
        padding: 0.5rem;
        text-transform: uppercase;
    }
}
.btn-white{
    &,
    &:active,
    &:hover,
    &:focus,
    &:disabled{
        background-color: @brand-white;
        border: 1px solid @brand-dark-primary;
        color: @brand-dark-primary;
        text-align: center;
        font-size: 1.6rem;
        padding: 0.5rem;
        text-transform: uppercase;
    }
}
.btn-blue{
    &,
    &:active,
    &:hover{
        background-color: @brand-btn-blue;
        border: 1px solid @brand-btn-blue;
        color: @brand-white;
        text-align: center;
        font-size: 1.8rem;
        padding: 0.5rem;
        text-transform: uppercase;
    }
}

.btn-default {
    &, &:focus, &:hover, &:active{
        color: @brand-primary;
        border-color: @brand-primary;
        background-color: @brand-white;
    }
    &[disabled]{
        &,&:hover,&:active,&:focus{
            color: @brand-primary;
            background-color: @brand-white;
            border-color: @brand-primary;
        }
    }
    &:active,
    &.active{
        &:hover,
        &:focus,
        &.focus{
            color: @brand-dark-primary;
            background-color: @brand-white;
            border-color: @brand-dark-primary;
        }
    }
}

.btn, 
.btn-primary, 
.btn-default {
	font-family: @InterExtraBold;
    font-weight: 100;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.btn-primary{
    border-radius: 0.8rem !important;
    padding-left: 3rem;
    padding-right: 3rem;
    &,
    &:focus,
    &:hover,
    &:active,
    &.active,
    &[disabled]{
		background-color: @brand-dark-primary;
		border-color: @brand-dark-primary;
        text-transform: none;
	}
    &:active,
    &[disabled],
	&.active{
		&:hover,
		&:focus,
		&.focus{
			background-color: @brand-dark-primary;
			border-color: @brand-dark-primary;
            text-transform: none;
		}
	}
}
.open {
	& > .dropdown-toggle{
		&.btn-default,
		&.btn-primary{
			&,
			&:focus,
			&:hover,
			&.focus{
				background-color: @brand-primary;
    			border-color: @brand-primary;
			}
		}
	}
}

.btn.btn-block {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}