//
// Cart-page
// --------------------------------------------------------
.cart{
    &-header{
        padding: 1.6rem 0 0;
        background-color: @cart-background;
        border-bottom: 1px solid @cart-border;
        font-size: 1.6rem;
        line-height: 2.1rem;
        h1{
            color: @brand-text-cart;
            font-family: @InterBold;
            text-transform: capitalize;
            font-size: 1.8rem;
            line-height: 2.3rem;
            margin: 0;
        }
        p{
            color: @brand-text-cart;
            font-size: 1.4rem;
        }
    }
    &-right,
    &-item-list-details{
        background-color: @cart-background;
        border-radius: 1rem;
        .addonChannel-head{
            color: @brand-btn-blue;
            font-family: @InterBold;
        }
    }
    &-right,
    &-item-list{
        border: 1px solid @cart-border;
        background-color: @cart-background;
        margin-top: 3rem;
        border-radius: 1rem;
        padding: 0 2.4rem;
        margin-bottom: 1.6rem;
        .item-head{
            color: @brand-btn-blue;
            font-family: @InterBold;
        }
        .deleteForm{
            font-size: 1.4rem;
            line-height: 1.5rem;
            border: 1px solid @brand-btn-blue;
            padding: 1rem;
            top: 2rem;
            right:0;
            position: absolute;
            border-radius: 1rem;
			z-index:9;
            color: @brand-dark-primary;
            @media @phone {
                padding: 0.7rem;
            }
            .remove-text{
                vertical-align: text-bottom;
                color: @brand-dark-primary;
                text-decoration: none;
                @media @phone {
                    margin-left: 0;
                }
            }
        }
        table{
            tbody{
                .entry-group-header{
                    th{
                        background-color: transparent;
                        font-family: @InterBold;
                        padding:1rem 0;
                        a{
                            text-decoration: underline;
                            text-transform: capitalize;
                            color: @brand-primary;
                        }
                    }
                }
            }
        }
        .myCartHeader{
            //display: flex;
            //flex-direction: column;
            //margin: 0.8rem auto 2.4rem 3.5rem;
                border-top: 1px solid @cart-border;
                margin-top: 3.0rem;
                padding: 0.5rem 0;
                display: flex;
                justify-content: space-between;
            .myCartPrice{
                font-family: @InterBold;
                font-size: 1.8rem;
                line-height: 3.1rem;
                color: @brand-text-cart;
            }
            .myCartMonthly{
                font-size: 1.6rem;
                line-height: 2.3rem;
                color: @brand-text-cart;
                font-family: @InterBold;
            }
        }
    }
    &-item-list-details{
        font-family: @InterBold;
        margin-bottom: 0.8rem;
        .item{
            &-head{
                color: @brand-btn-blue;
            }
            &-category{
                color: @brand-text-cart;
            }
            &-details{
                color: @brand-text-cart;
            }
        }
    }
    &-totals,
    &-channels{
        font-size: 1.8rem;
        padding: 0;
        margin-top: 0;
        .totals-head{
            color: @brand-btn-blue;
            font-family:  @InterBold;
            font-size: 1.6rem;
            line-height: 2.4rem;
            padding: 1.6rem 0;
            margin:0;
            @media @phone {
                font-size: 1.5rem;
                line-height: 1.8rem;
            }
            .arrow_accord{
                background: url(../images/arrow_accordian.svg) center no-repeat;
                width: 1rem;
                height: 1rem;
                display: inline-block;
                float: right;
                margin-top: 1rem;
            }
            .arrow_accordup{
                background: url(../images/arrow_accordianup.svg) center no-repeat;
                width: 1rem;
                height: 1rem;
                display: inline-block;
                float: right;
                margin-top: 1rem;
            }
        }
        table{
            table-layout: auto;
            overflow: hidden;
            box-shadow: 0 0 1px 1px @cart-border;
            tr.cartTotal {
                color: @brand-text-cart;
                font-family: @InterBold;
                font-size: 1.8rem;
                line-height: 2.4rem;
                @media @phone {
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                }
                .cart-bundle-package{
                    padding-bottom: 0 !important;
                }
            }
            tr {
                td {
                    font-size: 1.4rem;
                    line-height: 2rem;
                    padding-top: 0.8rem;
                }
            }

            .cartTotalcount{
                color: @brand-text-cart;
                font-family: @InterBold;
                font-size: 1.8rem;
                line-height: 2.3rem;
                @media @phone {
                    font-size: 1.6rem;
                    line-height: 2.1rem;
                }
            }
            .cartTotalMonthly {
                td {
                    padding-top: 0;
                }
            }
            td{
                padding: 0;
                color: @brand-text-cart;
                font-size: 1.4rem;
                @media @phone {
                    font-size: 1.6rem;
                    line-height: 2.1rem;
                }
                &:last-child {
                    font-family: @InterBold;
                    font-size: 1.6rem;
                }
            }
            /*tr:nth-last-child(-n+2) {
                 td {
                     padding-bottom: 0.6rem;
                 }
            }*/
            .cartTotal {
                border-top: 1px solid @cart-border-blue;
                color: @brand-primary;
                td.cart-bundle-package {
                    padding-right: 0;
                }
            }
            tbody{
                background-color: @brand-white;
                border-radius: 1rem;
                padding: 0;
                display: block;
                @media @phone {
                    padding: 0 1.5rem;
                }
            }
        }
        .terms{
            font-family: @Inter;
            font-size: 1.4rem;
            line-height: 2rem;
            color: @brand-text-cart;
            margin: 0;
            margin-bottom: 0;
        }
        .addonChannel{
            margin-bottom: 2rem;
            tr{
                border-bottom: 1px solid @cart-border;
                &:last-child{
                    font-weight: normal;
                }
            }
            td{
                &:first-child {
                    padding-left: 2rem;
                    width: 40%;
                }
                &:nth-child(2) {
                    width: 24%;
                }
                &:nth-child(3) {
                    width: 22%;
                }
                &:last-child {
                    text-align: right;
                    width: 14%;
                }
                display: inline-block;
                text-align: left;
                vertical-align: middle;
                &.channel-premium{
                    font-family: @InterBold;
                    text-transform: capitalize;
                }
                .channel-price{
                    background-color: @brand-tertiary;
                    font-family: @InterBold;
                    border-radius: 2rem;
                    padding: 1rem 1.3rem;
                }
                .remove{
                    color: @brand-btn-blue;
                    cursor: pointer;
                }
                .removeAddonBtn {
                    background: none;
                }
                @media @tablet {
                    text-align: center;
                    &:first-child {
                        text-align: left;
                    }
                    &:last-child {
                        text-align: right;
                    }
                }
                @media @phone {
                    text-align: center;
                    &:first-child {
                        text-align: left;
                        width: 33%;
                    }
                    &:last-child {
                        text-align: right;
                        width: 15%;
                    }
                    &:nth-child(2) {
                        width: 27%;
                    }
                    &:nth-child(3) {
                        width: 25%;
                    }
                }
            }
        }
    }
    &__actions {
        padding: 1rem;
        @media @phone {
            padding: 1rem 1rem 0;
        }
        .checkout-button {
            .btn {
                border-radius: 2.5rem !important;
                margin: 1.6rem auto 2.4rem;
            }
        }
    }
    &-changePlan{
        float:right;
    }
    &-rightCustom{
        background: @cart-background;
        border: 0.1rem solid @cart-border;
        border-radius: 1rem;
        padding: 2.5rem 2.4rem 0.9rem;
        @media @phone {
            padding: 1.6rem 1.6rem 0.9rem;
        }
        .check {
            margin: 0rem 0 1rem 1.2rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        
      
        .customerCheckSelect {
                position: absolute; 
                opacity: 0;
              
                & + label {
                  position: relative;
                  cursor: pointer;
                  padding: 0;
                }
              
                // Box.
                & + label:before {
                  content: '';
                  margin-right: 10px;
                  display: inline-block;
                  vertical-align: text-top;
                  width: 20px;
                  height: 20px;
                  border:2px solid @brand-text-cart;
                  border-radius:4px;
                  @media @phone {
                    float: left;
                   
                }
                }
              
                // Box hover
                &:hover + label:before {
                   background:transparent
                  
                }
                
                // Box focus
                &:focus + label:before {
                 
                }
              
                // Box checked
                &:checked + label:before {
                  background:transparent
                 
                }
               
                &:checked + label:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0.5rem;
                    left: 0.8rem;
                    width: 0.5rem;
                    height: 1.2rem;
                    border: solid @brand-primary;
                    border-width: 0 0.2rem 0.2rem 0;
                    transform: rotate(45deg);
                    @media @phone{
                        top: 0.3rem;
                        left: 0.7rem;
                        width: 0.6rem;
                        border-width: 0 0.3rem 0.3rem 0;
                    }
                    
                }
            }
          
        
        label {
            span {
                text-transform: none;
                font-size : 1.4rem;
                vertical-align: middle;
                color:@brand-text-cart;
                position: relative;
                top: 0.3rem;
                @media @phone {
                    float: left;
                    width: 89%;
                    top:0rem
                }
                
            }
        }
            
        .guestHeadline{
            font-size: 1.6rem;
            line-height: 2.3rem;
            color: @brand-btn-blue;
            font-family: @InterBold;
            margin-bottom: 1.6rem;
        }
        .guestLoginInfoBox{
            background: @alert-info-bg;
            border: 0.1rem solid @alert-info-border;
            box-sizing: border-box;
            border-radius: 1rem;
            margin-bottom: 1.6rem;
            .guestLoginInfoText{
                font-family:@Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4rem;
                line-height: 2.3rem;
                color: @brand-black;
                padding: 1.6rem;
                margin-bottom: 0;
                @media @phone {
                    font-size: 1.6rem;
                    line-height: 2.1rem;
                }
            }
        }
        .formGuestLogin{
            position: relative;
            .control-label{
                font-size: 1.4rem;
                font-family: @InterBold;
                line-height: 1.2rem;
                margin:0;
                text-transform: none;
                position: absolute;
                left: 2.4rem;
                top: 1rem;
                color: @brand-default-text;
                font-weight: normal;
            }
            .form-control{
                background: transparent;
                font-size: 1.4rem;
                line-height: 1.8rem;
                padding: 2.2rem 2.4rem 1rem ;
                box-shadow:none;
                height: auto;
                border: 0.1rem solid @brand-text-cart;
                box-sizing: border-box;
                border-radius: 2.8rem;
                color:@brand-text-cart;
                &.error {
                    background: @input-error-background;
                    border: 1px solid @input-error-border;
                    margin-bottom: 0.1rem;
                }
            }
            label {
                text-transform: none;
                margin:1rem 0rem 2rem 0rem;
               
                &.error {
                    color:@brand-red;
                    font-weight: normal;
                    font-size: 1.1rem;
                    position: relative;
                    padding-left: 1.2rem;
                    display: block;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        background: url("../images/warningicon.svg") center no-repeat;
                        width: 0.8rem;
                        height: 0.7rem;
                        left: 0;
                        top: 0.5rem;
                    }
                }
            }
        }
        .guestCartCheckoutButton{
            width:70%;
            font-size: 1.8rem;
            line-height: 1.8rem;
            margin-bottom: 0;
            font-family: @InterExtraBold;
            @media @phone {
                width:100%;
            }
        }
    }
    &-totalwrapper {
        background-color: @brand-white;
        border: 1px solid @cart-border;
        border-radius: 1rem;
        margin-bottom: 2.5rem;
        padding: 1rem 2rem;
        @media @phone {
            padding: 0.5rem;
        }
        margin-bottom: 1.6rem;
        table {
            td {
                padding:0;
            }
        }
    }
    &-ordertotalwrapper {
        background-color: @brand-white;
        border: 1px solid @cart-border;
        border-radius: 1rem;
        padding: 1rem 2rem;
        margin-bottom: 2.5rem;
        font-size: 1.8rem;
        table {
            td {
                padding:0;
            }
        }
    }
}
.item__list{
    .item{
        border: 1px solid @cart-border;
        background-color: @cart-background;
        padding: 2rem 2rem 4rem 2rem;
        &__info{
            width: auto;
            padding: 0;
            display: flex;
            a{
                color: @brand-text-cart;
                &:hover{
                    text-decoration: underline;
                }
            }
            .product{
                background-size: contain;
                display:inline-block;
                width:2.4rem;
                height:1.7rem;
                margin-right:1.2rem;
                align-self: top;
                &.internet{
                    background: url(../images/internet-download.svg) center no-repeat;
                    background-size: contain;
                    padding-top:2.5rem;
                }
                &.televisionulti{
                    background: url(../images/TV_icon_yellow.svg) center no-repeat;
                    background-size: contain;
                    padding-top:2.5rem;
                }
                &.television{
                    background: url(../images/TV_icon.svg) center no-repeat;
                    background-size: contain;
                    padding-top:2.5rem;
                }
                &.phone{
                    background: url(../images/landLineReceiver.svg) center no-repeat;
                    background-size: contain;
                    padding-top:2.5rem;
                }
            }
        }
        &__name{
            font-size: 1.6rem;
            font-family: @Inter;
            line-height: 2.3rem;
            font-weight: normal;
        }
        &__image{
            width: 100%;
            padding: 0;
            img {
                width: 100%;
                margin: auto;
                display: block;
                max-width: 100%;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }
        }
        &__delivery{
            &--label{
                text-transform: none;
                font-weight: normal;
                color: @brand-default-text;
            }
        }
        &__menu{
            text-align: right;
            width: auto;
            padding: 0.5rem 0;
            position: static;
            .cart-remove{
                font-size: 1.6rem;
                color: @brand-btn-blue;
                text-decoration: underline;
                font-family: @InterBold;
            }
        }
        &__price{
            font-size: 1.6rem;
            color: @cart-heading-color;
            &--monthly {
                color: @brand-primary;
            }
        }
        &__quantity{
            form {
                width: auto;
                display: inline-block;
            }
            .quantity-box{
                display: inline-flex;
                border: 1px solid @brand-gray;
                font-size: 2.4rem;
                .cart-qty {
                    width: 4rem;
                    border: 0;
                    font-size: 2.4rem;
                    padding: 0;
                }
                .qtybtn{
                    &,
                    &:focus{
                        background-color: @brand-white;
                        border: 0;
                        color: @brand-primary;
                        outline: 0;
                    }
                    &:disabled {
                        cursor: not-allowed;
                        opacity: 0.65;
                    }
                }
            }
            .quantity-addon {
                font-size: 1.8rem;
                span {
                    color: @brand-primary;
                }
            }
        }
    }
    table{
        &.price-table-mobile{
            text-align: left;
        }
    }
}
.carousel-component{
    h1{
        color: @brand-dark-blue;
        font-size: 1.6rem;
    }
    .carousel{
        .item{
            & {
                &__name{
                    font-size: 1.2rem;
                    line-height: 2rem;
                    color: @brand-default-text;
                    margin: 0;
                    height: auto;
                }
                &__price{
                    font-size: 1.4rem;
                    color: @brand-default-text;
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .cart {
        &-right {
            margin-top: 3rem;
        }
    }
}
@media (max-width: 1023px) {
    .cart-item-list .fixedline-product {
        position: initial;
        width: 100%;
    }
    .item__list table td {
        margin: 0;
    }
    .item__list--item .item__quantity {
        text-align: left !important;
    }
    .item__quantity form {
        margin: 0;
    }
    .item__price.pull-right.visible-sm.col-xs-7 {
        margin-left: 0;
        float: left !important;
    }
}
@media (max-width: 1023px) and (min-width: 640px) {
    .item__list--item > div {
        padding: 0;
    }
}
@media (max-width: 639px) {
    .cart {
        &-header {
            padding: 1.6rem 1rem 0.6rem 0.6rem;
            margin-bottom: 1.5rem;
            h1 {
                margin-top: 0.5rem;
                margin-bottom: 0;
            }
        }
        &-right,
        &-item-list {
            padding: 0 1.5rem;
            margin: 1.6rem 0;
        }
    }
    .item__list{
        .item{
            &__info {
                padding: 0.8rem 0 0;
            }
            &__name {
                font-size: 1.6rem;
            }
            &__price {
                font-size: 2rem;
            }
            &__quantity {
                .quantity-box {
                    font-size: 1.8rem;
                    .cart-qty {
                        height: 3rem;
                        font-size: 1.8rem;
                    }
                    .qtybtn {
                            line-height: 3rem;
                    }
                }
            }
        }
    }
}
.cart-totals {
    padding: 0 0 2rem 0;
    table{
        tr:last-child td {
            padding: 1rem 0 0.6rem 0;
            width: 100%;
        }
    }
}
.cart-item-list-details {
    @media @phone {
        padding-bottom: 0;
    }
    .productCatName {
        margin-bottom: 0.2rem;
        font-family: @InterBold;
        font-size: 1.6rem;
        line-height: 2.3rem;
        text-transform: capitalize;
        color: @brand-text-cart;
        &:first-child{
            margin-top: 1rem;
            @media @phone {
                margin-top: 0;
            }
        }
        @media @phone {
            margin-top: 0;
            margin-left: -0.9rem;
        }
    }
}

//empty cart styles
.content__empty{
    margin: 5rem 0;
    .content {
        font-size: 1.4rem;
        color: @brand-text-cart;
        text-align: center;
        width: 60%;
        @media @phone {width: 80%;}
        .header{
            font-family: @InterBold;
            font-size: 1.6rem;
        }
        .cart-empty-icon{
            &::before{
                width: 10rem;
                height: 10rem;
                position: relative;
                margin: auto;
                content: '';
                display: block;
                background-size: contain;
                background: url("../images/emptyCart.svg") center no-repeat;
            }
        }
        .js-shopping-button{
            padding: 1.6rem;
            width: 50%;
            margin: 2rem auto;
            @media @phone {
                width: 100%;
                margin:2rem auto
            }
            @media @tablet {
                width:80%;margin:2rem auto
            }
        }
       
    }
}
.cart-sum-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: @brand-white;
    border: 0.2rem solid @brand-primary;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1.6rem;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-top: 1.5rem;
    @media @phone {
        padding:1.6rem;
    }
    .sumbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        .price{
            margin:0;
            font-family: @InterBold;
            font-size: 2.4rem;
            line-height: 3.1rem;
            @media @phone {
                font-size: 1.8rem;
                line-height: 2.3rem;
            }
        }
        .desc{
            margin:0;
            text-align: center;
            width: 80%;
            font-family: @Inter;
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }
    .sumbox-border{
        border-left: 2px solid @brand-primary;
        margin: 1rem 1.5rem;
    }
    div {
        &:nth-child(2) {
            margin: 1rem 1.5rem 1rem 0.5rem;
        }
        &:nth-child(4) {
            margin: 1rem 0.5rem 1rem 1.5rem;
        }
    }
}
.cart-totals-payBox{
    background: @brand-white;
    border: 0.1rem solid @cart-border;
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    flex-direction:column;
    padding: 0.8rem 0 1rem;
    font-size: 1.4rem;
    line-height: 2rem;
    @media @phone {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .price-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.8rem 2.4rem 0 1.6rem;
        .priceValue{
            font-family: @InterBold;
        }
        p{
            margin:0;
        }
    }
    .cartTotal{
        color: @brand-text-cart;
        font-family: @InterBold;
        border-top: 1px solid @brand-primary;
        padding-top: 0.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0.6rem 2.4rem 0.8rem 1.8rem;
        @media @phone {
            margin: 0.8rem 2.4rem 0.8rem 1.8rem;
        }
        p{
            margin:0;
        }
    }
    .cart-bundle-package{
        width:80%;
        ol{
            margin-bottom: 0;
            li{
                list-style-type: none;
                margin: 0.6rem auto;
            }
        }
    }
}

// cart popup

#cartItemRemoval-popup {
    .cartItemRemoval-popup-close {
        border-radius: 0.8rem !important;
    }
    .cartItemRemoval-msg {
        font-size: 1.4rem;
        line-height: 2.3rem;
        margin-bottom: 2.5rem;
        text-align: center;
        color: @btn-default-color;
        padding: 0 2rem;
        b {
            font-family: @InterBold;
            font-size: 1.6rem;
        }
    }
    .btn {
        margin-top: 1rem;
    }
}
#order-total{
    .cart-bundle-package {
        ol {
            margin-bottom: 0;
            li {
                padding-top: 0.8rem;
            }
        }
    }
}
.page-cartPage {
    .contactus {
        p {
            font-family: @InterBold;
            font-size: 1.8rem;
            line-height: 2.4rem;
            margin-bottom: 0;
            @media @phone {
                font-size: 1.6rem;
                line-height: 1.9rem;
            }
        }
        ul {
            li {
                font-size: 1.6rem;
                line-height: 2rem;
                @media @phone {
                    font-size: 1.6rem;
                }
                a {
                    font-family: @InterBold;
                    font-size: 1.6rem;
                    line-height: 2.3rem;
                }
            }
        }
    }
}