.checkout {
    &-headline {
        padding-left: 0;
    }
    &-steps {
        margin-top: 3rem;
        @media @phone {
            padding-right: 0;
            margin-top: 1.8rem;
        }
        padding-left: 0;
        .step {
            &-head {
                font-family: @futuraPTBold;
                border: 0;
                background-color: @cart-background;
                color: @brand-primary;
                border-radius: 1rem;
                padding: 0;
                border: 1px solid @steps-border-active;
                @media @phone {
                    padding: 0;
                }
                &.inactive {
                    pointer-events: none;
                    cursor: not-allowed;
                    border: 1px solid @steps-border-active;
                    display: none;
                }
                &.active {
                    background-color: @cart-background;
                    border-radius: 1rem 1rem 0 0;
                    border: 0.1rem solid @steps-border-active;
                    border-bottom: 0;
                    color: @brand-primary;
                }
                &:before {
                    content: '';
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 2rem;
                    top: 2.1rem;
                    background: url("../images/checkoutEdit_icon.svg") center no-repeat;
                    background-size: contain;
                    width: 2.2rem;
                    height: 2.2rem;
                    margin-left: 1rem;
                    @media @phone {
                        top: 1.5rem;
                    }
                }
                .title {
                    font-family: @Inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    color: @brand-text-cart;
                    span {
                        color: @brand-primary;
                        font-weight: 700;
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                    }
                    border-bottom: 0.1rem solid @cart-border;
                    border-radius: 1rem;
                    padding: 2rem 2rem 2rem 3rem;
                    .completeIcon {
                        width: 1.8rem;
                        height: 1.8rem;
                        display: inline-block;
                        background: url(../images/rightCheckMarkGreen.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: relative;
                        top: 0.3rem;
                        border-radius: 1.2rem;
                    }
                }
            }
            &-body {
                background-color: @cart-background;
                padding: 2rem 2.4rem;
                border-radius: 0 0 1rem 1rem;
                border: 1px solid @steps-border-active;
                border-top: 0;
                margin-bottom: 1.6rem;
                @media @phone {
                    padding: 2rem 1.4rem;
                }
                .checkout {
                    &-indent {
                        .headline {
                            font-size: 1.8rem;
                            padding: 1rem 0 0 0;
                        }                        
                    }
                    &-shipping {
                        padding: 3.2rem;
                        border: 1px solid @steps-border-active;
                        border-radius: 1rem;
                        background-color: @brand-white;
                        .btn-block{
                            border-radius:0.8rem !important;
                        }
                        @media @phone {
                            padding: 2rem 1.8rem 2.4rem;
                        }
                    }
                    &-next {
                        margin: 0;
                    }
                }
                .customer-additional-details {
                    border: 1px solid @steps-border-active;
                    border-radius: 1rem;
                    background: @brand-white;
                    @media @phone {
                        padding: 2rem 0.5rem 2.4rem;
                        background: @brand-white;
                        border: 0.1rem solid @steps-border-active;
                        box-sizing: border-box;
                        border-radius: 1rem;                        
                    }
                    .alert {
                        line-height: 2rem;
                        padding: 1.5rem;
                        h5 {
                            font-size: 1.6rem;
                            font-family: @futuraPTBold;
                            margin-top: 0;
                        }
                    }
                }
                label {
                    text-transform: none;
                    &.error {
                        color:@brand-red;
                        margin-left: 2.5rem;
                        font-weight: normal;
                        font-size: 1.1rem;
                        position: relative;
                        padding-left: 1.2rem;
                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            background: url("../images/warningicon.svg") center no-repeat;
                            width: 0.8rem;
                            height: 0.7rem;
                            left: 0;
                            top: 0.5rem;
                        }
                    }
                }
                .ssnValidationLoader {
                    margin-top: 0;
                }
                .customerProfileForm {
                    padding: 2rem 3rem;
                    @media @phone, @tablet {
                        padding: 2rem 1rem 0;
                    }
                    .form-group{
                        .help-block {
                            margin-left: 2.5rem;
                        }
                        .control-label {
                            span {
                                font-weight: normal;
                            }
                        }
                    }
                    .ssn-check {
                        color: @brand-black;
                        font-size: 1.4rem;
                        line-height: 2rem;
                        margin-bottom: 1.5rem;
                        @media @phone, @tablet {
                            padding-left: 0.5rem;
                            font-size: 1.4rem;
                        }
                    }
                    .custom-label {
                        position: relative;
                        padding-left: 2.5rem;
                        margin-right: 2rem;
                        cursor: pointer;
                        font-size: 1.4rem;
                        line-height: 2rem;
                        display: inline-block;
                        color: @brand-black;
                        font-weight: normal;
                        @media @phone, @tablet {
                            margin-right: 1rem;
                        }
                        .checkmark {
                            border-radius: 50%;
                        }
                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                            &:checked ~ .checkmark::after {
                                left: 0.2rem;
                                top: 0.2rem;
                                width: 1.2rem;
                                height: 1.2rem;
                                background-color: @brand-primary;
                                border-radius: 50%;
                                display: block;
                            }
                        }
                    }
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 2rem;
                        width: 2rem;
                        border: 2px solid @brand-primary;
                        border-radius: 0.4rem;
                        &::after {
                            content: "";
                            position: absolute;
                            display: none;
                        }
                    }
                }
                .form-group {
                    position: relative;
                    background-color: @brand-white;
                    border-radius: 1rem;
                    margin-bottom: 2rem;
                    #paymentMethodId {
                        label {
                            text-transform: none;
                        }
                    }
                }
                .control-label {
                    position: absolute;
                    top: 0.8rem;
                    left: 2.4rem;
                    line-height: 2rem;
                    color: @brand-text-cart;
                    font-family: @InterBold;
                    font-weight: normal;
                    font-size: 1.4rem;
                    @media @phone {
                        left: 1.8rem;
                        font-size: 1.2rem;
                    }
                    &.add-address-left-label {
                        position: static;
                        line-height: normal;
                    }
                }
                select > option{
                    width:90%;
                }
                .form-control {
                    height: 5.6rem;
                    padding: 1.5rem 2.5rem 0 2.5rem;
                    font-size: 1.8rem;
                    color: @brand-text-cart;
                    border: 1px solid @brand-grey-text;
                    border-radius: 2.8rem;
                    @media @phone {
                        padding: 1.5rem 1.8rem 0;
                    }
                    &::placeholder {
                        font-family: @Inter;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1.2rem;
                        line-height: 1.5rem;
                        color: @checkout-placeholder-color;
                        @media @phone {
                            font-size: 1.2rem;
                        }
                    }
                    &#ruralAddressLine1 {
                        padding-top: 0;
                    }
                }
                .has-error {
                    .help-block {
                        color: @brand-red;
                        font-size: 1.1rem;
                        font-style: normal;
                        position: relative;
                        padding-left: 1.2rem;
                        font-weight: normal;
                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            background: url("../images/warningicon.svg") center no-repeat;
                            width: 0.8rem;
                            height: 0.7rem;
                            left: 0;
                            top: 0.5rem;
                        }
                    }
                    input.form-control {
                        background-color: @brand-white;
                    }
                }
                .checkout-next {
                    font-family: @Inter;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    padding: 1.3rem 0.5rem;
                    margin-left: auto;
                    margin-right: auto;
                    color: @brand-white;
                    width: 70%;
                    @media @phone {
                        width: 80%;
                    }
                }
                select.form-control {
                    font-family: @Inter;
                    font-size: 1.2rem;
                    line-height: 1.5rem;
                    text-transform: none;
                    background: url(../images/arrowDownBlack.svg) no-repeat;
                    background-position: right 2.4rem center;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    option {
                        font-family: inherit;
                        font-size: 1.7rem;
                    }
                }
                .termsInfo {
                    font-family: @Inter;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    color: @brand-text-cart;
                    padding: 1.5rem;
                    border-radius: 1rem;
                    .termsText {
                        margin-top: 0.5rem;
                        a {
                            text-decoration: underline;
                            color: inherit;
                        }
                    }
                    .imp {
                        font-weight: bold;
                        font-size: 1.6rem;
                    }
                    .readMore, .readLess {
                        color: @brand-primary;
                        cursor: pointer;
                        font-weight: 700;
                        font-size: 1.4rem;
                        line-height: 2rem;
                        &:after {
                            content: "";
                            background: url(../images/arrow_accordian.svg) center no-repeat;
                            width: 1rem;
                            height: 1rem;
                            display:inline-block;
                            position: relative;
                            margin-left: 1rem;
                            top: 0.1rem;
                        }
                    }
                    .readLess {
                        margin-bottom: 0;
                        margin-top: 1.5rem;
                        &:after {
                            content: "";
                            background: url(../images/arrow_accordianup.svg) center no-repeat;
                        }
                    }
                }
            }
        }
        #step1.active + .step-body {
            .checkout {
                &-shipping {
                    padding: 0;
                    border: none;
                    background-color: inherit;
                    #addressSubmit {
                        margin-left: auto;
                        margin-right: auto;
                        font-family: @Inter;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                        padding: 1.3rem 0.5rem;
                        color: @brand-white;
                        @media @phone {
                            width: 80%;
                        }
                    }
                    .addressTypes {
                        padding: 2rem 1rem;
                        border: 1px solid @steps-border-active;
                        border-radius: 1rem;
                        background-color: @brand-white;
                        margin-bottom: 1rem;
                        .addressTypeRadio {
                            position: relative;
                            &.selected {
                                border: 2px solid @brand-primary;
                                box-sizing: border-box;
                                border-radius: 1.6rem;
                            }
                            .addressRadioLabel {
                                font-family: @futuraPTBold;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 1.8rem;
                                line-height: 2.4rem;
                                color: @brand-text-cart;
                                padding: 2.5rem 2.4rem;
                                display: block;
                                margin-bottom: 0;
                            }
                            .addressRadioButton {
                                opacity: 0;
                                position: absolute;
                                right: 2rem;
                                :checked ~ .checkmark{
                                    &:after {
                                        display: block;
                                    }
                                }
                            }
                            .checkmark {
                                position: absolute;
                                top: 2.5rem;
                                right: 2rem;
                                height: 2.4rem;
                                width: 2.4rem;
                                background-color: @brand-white;
                                border: 2px solid @checkout-radio-background;
                                box-sizing: border-box;
                                border-radius: 50%;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                    top: 0.9rem;
                                    left: 0.9rem;
                                    width: 0.6rem;
                                    height: 0.6rem;
                                    border-radius: 0.8rem;
                                    background: @brand-white;
                                }
                            }
                            input:checked ~ .checkmark {
                               background-color: @brand-primary;
                               border: none;
                            }
                            input:checked ~ .checkmark:after {
                              display: block;
                            }
                        }
                    }
                    .addressTypesFields {
                        padding: 1rem 1rem 0;
                        border: 1px solid @steps-border-active;
                        border-radius: 1rem 1rem 0 0;
                        background-color: @brand-white;
                        margin-bottom: 0;
                        border-bottom: 0;
                        .form-group {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            .addressSubmitButton {
                display: block;
                background: @brand-white;
                position: relative;
                padding: 2rem 0;
                border: 1px solid @steps-border-active;
                border-radius: 0 0 1rem 1rem;
                border-top: 0;
                @media @phone {
                    padding: 2rem 0;
                }
            }
            #callBackUrl {
                font-family: @futuraPTBook;
                font-style: normal;
                font-weight: normal;
                font-size: 1.8rem;
                line-height: 2.3rem;
                color: @brand-primary;
                text-align: center;
                padding: 2rem 0 0;
            }
            .addressList {
                .listData {
                    background: @brand-white;
                    border: 1px solid @cart-border;
                    box-sizing: border-box;
                    border-radius: 1rem;
                    padding: 1rem;
                    max-height: 20.1rem;
                    overflow: auto;
                    @media @phone {
                        max-height: 30rem;
                    }
                    &::-webkit-scrollbar {
                      width: 0.3rem;
                    }
                    &::-webkit-scrollbar-thumb {
                    	border-radius: 2rem;
                    	background-color: @checkout-scroll-color;
                    }
                }
                .addressText {
                    font-family: @futuraPTBook;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.8rem;
                    line-height: 2.3rem;
                    color: @brand-text-cart;
                    padding-top: 1rem;
                    padding-left: 0.5rem;
                    width: 75%;
                    @media @phone {
                        width: 100%;
                    }
                }
                .selectedAddressLabel {
                    width: 100%;
                    position: relative;
                    padding: 1rem 0.5rem;
                    margin-bottom: 0;
                    &.selected {
                        border: 2px solid @brand-primary;
                        box-sizing: border-box;
                        border-radius: 1.6rem;
                    }
                    .addressData {
                        display: inline-block;
                        width: 90%;
                        font-family: @futuraPTBook;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1.6rem;
                        line-height: 2rem;
                        color: @brand-text-cart;
                        margin-bottom: 0;
                        vertical-align: middle;
                        @media @phone {
                            width: 85%;
                        }
                        .subDetails {
                            font-size: 1.4rem;
                            line-height: 2rem;
                            color: @checkout-address-color;
                        }
                    }
                    .selectedAddressRadio {
                        opacity: 0;
                        margin: 0;
                        :checked ~ .checkDesign {
                            &:after {
                                display: block;
                            }
                        }
                    }
                    .checkDesign {
                        position: relative;
                        height: 2.4rem;
                        width: 2.4rem;
                        background-color: @brand-white;
                        border: 2px solid @checkout-radio-background;
                        box-sizing: border-box;
                        border-radius: 50%;
                        display: inline-block;
                        vertical-align: middle;
                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                            top: 0.4rem;
                            left: 0.4rem;
                            width: 1.2rem;
                            height: 1.2rem;
                            border-radius: 0.8rem;
                            background: @brand-primary;
                        }
                    }
                    input:checked ~ .checkDesign {
                      background-color: @brand-white;
                      border: 2px solid @brand-primary;
                    }
                    input:checked ~ .checkDesign:after {
                      display: block;
                    }
                }
            }
            .selectedAddress {
                .selectedAddressText {
                    font-family: @futuraPTBook;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.8rem;
                    line-height: 2.3rem;
                    color: @brand-text-cart;
                    padding-top: 1rem;
                    padding-left: 0.5rem;
                }
                #selectedAddr {
                    position: relative;
                    padding: 1rem;
                    width: 95%;
                    margin-bottom: 0;
                    .addressData {
                        display: inline-block;
                        width: 100%;
                        font-family: @futuraPTBook;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1.6rem;
                        line-height: 2rem;
                        color: @brand-text-cart;
                        margin-bottom: 0;
                        .subDetails {
                            font-size: 1.4rem;
                            line-height: 2rem;
                            color: @checkout-address-color;
                        }
                    }
                }
                .addressDetails {
                    background: @brand-white;;
                    border: 1px solid @cart-border;
                    box-sizing: border-box;
                    border-radius: 1rem;
                    padding: 2rem 1.5rem;
                    position: relative;
                    margin-bottom: 2rem;
                    @media @phone {
                        padding: 2rem 1rem;
                    }
                    .data {
                        border: 2px solid @brand-primary;
                        box-sizing: border-box;
                        border-radius: 1.6rem;
                        position: relative;
                        display: block;
                        #selectedAddr {
                            width: 87%;
                            display: inline-block;
                            vertical-align: middle;
                            padding-right: 0;
                             @media @phone {
                                padding-right: 0;
                                width: 82%;
                            }
                        }
                        #addressSelected {
                            opacity: 0;
                            margin: 0;
                            :checked ~ .checkMarkDesign {
                                &:after {
                                    display: block;
                                }
                            }
                        }
                        .checkMarkDesign {
                            position: relative;
                            height: 2.4rem;
                            width: 2.4rem;
                            background-color: @brand-white;
                            border: 2px solid @checkout-radio-background;
                            box-sizing: border-box;
                            border-radius: 50%;
                            display: inline-block;
                            vertical-align: middle;
                            &:after {
                                content: "";
                                position: absolute;
                                display: none;
                                top: 0.4rem;
                                left: 0.4rem;
                                width: 1.2rem;
                                height: 1.2rem;
                                border-radius: 0.8rem;
                                background: @brand-primary;
                            }
                        }
                        input:checked ~ .checkMarkDesign {
                          background-color: @brand-white;
                          border: 2px solid @brand-primary;
                        }
                        input:checked ~ .checkMarkDesign:after {
                          display: block;
                        }
                    }
                }
                #selectedAddressSubmit, #selectedAddressEdit {
                    margin-bottom: 2rem;
                }
                #selectedAddressEdit {
                    background-color: @brand-white;
                    border: 1px solid @brand-primary;
                    box-sizing: border-box;
                    color: @brand-primary;
                    margin-bottom: 1rem;
                }
            }
            .divOverlay{
                margin-top: 0;
            }
            .addressTypeText {
                font-family: @futuraPTBook;
                font-style: normal;
                font-weight: normal;
                font-size: 1.8rem;
                line-height: 2.3rem;
                color: @brand-text-cart;
                padding-left: 0.5rem;
            }
        }
        #step3.active + .step-body {
            .customer-additional-details {
                padding: 0;
                background: inherit;
                border: none;
            }
            #contractTypeForm {
                .form-group {
                    padding: 0;
                    box-sizing: border-box;
                }
                .contractMessage {
                    font-family: @Inter;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    color: @brand-text-cart;
                }
            }
        }
        #step3.active + .step-body,
        #step4.active + .step-body {
            ul.radiobutton-list {
                border-radius: 1rem;
                padding: 0.5rem 0;
                margin: 0;
                label {
                    font-family: @Inter;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.4rem !important;
                    line-height: 2rem;
                    color: @brand-text-cart;
                }
                [type="radio"] + label:before {
                    top: 0rem;
                    width: 2.2rem;
                    height: 2.2rem;
                    border: 0.2rem solid @brand-primary;
                }
                [type="radio"] {
                    &:checked + label:before {
                        width: 1.2rem;
                        height: 1.2rem;
                        left:0.5rem;
                        top: 0.5rem;
                    }
                    &:checked + label:after {
                        border: 0.2rem solid @brand-primary;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }

        #step4.active + .step-body {
            .customer-additional-details {
                padding: 0;
                background: inherit;
                border: none;
                .creditCheckText {
                    font-family: @InterBold;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    color: @brand-text-cart;
                }
                .creditCheckSubText {
                    .creditCheckText;
                    color: @quicklinks-text-color;
                }
                #selectCreditCheck {
                    padding: 1.5rem 2rem 0;
                    background: @brand-white;
                    border: 1px solid @cart-border;
                    box-sizing: border-box;
                    border-radius: 1rem;
                    margin-bottom: 1rem;
                    .creditSkipLink {
                        font-family: @Inter;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1.4rem;
                        line-height: 2rem;
                        text-align: center;
                        text-decoration-line: underline;
                        color: @cart-border-blue;
                        display: block;
                        padding: 0 2rem 2rem;
                    }
                    #updateSSNSubmit {
                        margin-bottom: 2rem;
                    }
                    .ssnTitle {
                        font-family: @InterBold;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1.4rem;
                        line-height: 2rem;
                        color: @brand-text-cart;
                    }
                }
                #selectCreditCheckAddr {
                    padding: 1.5rem 2rem 0;
                    background: @brand-white;
                    border: 1px solid @cart-border;
                    box-sizing: border-box;
                    border-radius: 1rem;
                    margin-bottom: 1rem;
                    .selectAddrressCheckbox {
                        .checkAddrr {
                            display: inline-block;
                            .creditCheckSameAddrText {
                                padding: 0 3.2rem;
                                font-family: @Inter;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 1.4rem;
                                line-height: 2rem;
                                color: @text-checkout-color1;
                            }
                            .checkLabel {
                                margin-right: 2rem;
                                margin-bottom: 0;
                                position: relative;
                                padding-left: 3rem;
                                display: block;
                                &.noOptionCheck {
                                    margin-top: 2rem;
                                }
                                &:before{
                                    background-color: transparent;
                                    border: 0.2rem solid @brand-primary;
                                    display: inline-block;
                                    position: relative;
                                    border-radius: 50%;
                                    width: 2.2rem;
                                    height: 2.2rem;
                                }
                                span {
                                    vertical-align: text-bottom;
                                    font-family: @Inter;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 1.4rem;
                                    line-height: 2rem;
                                    color: @brand-black;
                                }
                                input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                    height: 0;
                                    width: 0;
                                    &:checked ~ .checkmark {
                                        background-color: @brand-white;
                                        border: 0.2rem solid @brand-primary;
                                    }
                                    &:checked ~ .checkmark:after {
                                        display: block;
                                    }
                                }
                                .checkmark:after {
                                    left: 1px;
                                    top: 1px;
                                    width: 1.6rem;
                                    height: 1.6rem;
                                    border: 0.2rem solid @brand-white;
                                    background: @brand-primary;
                                    border-radius: 50%;
                                }
                            }
                            .checkmark {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 2.2rem;
                                width: 2.2rem;
                                background-color: transparent;
                                border: 0.2rem solid @brand-primary;
                                border-radius: 50%;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .creditCheckWithSavedAddress {
                    margin: 2rem auto;
                }
                /*.creditCheckWithSavedAddress,
                .creditCheckWithNewAddress,
                .submitCreditCheckSelect {
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    font-family: @futuraPTBold;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.6rem;
                    line-height: 1.8rem;
                    padding: 1.4rem 0.5rem;
                    color: @brand-white;
                    @media @phone {
                        width: 80%;
                    }
                }*/
                #selectCreditCheck {
                    .selectCreditCheckLabels {
                        padding: 0;
                        background: @brand-white;
                        border: 1px solid @cart-border;
                        box-sizing: border-box;
                        border-radius: 1rem;
                        margin-bottom: 1rem;
                    }
                }
            }
            .addressTypes {
                padding: 2rem 1rem;
                border: 1px solid @steps-border-active;
                border-radius: 1rem;
                background-color: @brand-white;
                margin-bottom: 1rem;
                .addressTypeRadio {
                    position: relative;
                    &.selected {
                        border: 2px solid @brand-primary;
                        box-sizing: border-box;
                        border-radius: 1.6rem;
                    }
                    .addressRadioLabel {
                        font-family: @futuraPTBold;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                        color: @brand-text-cart;
                        padding: 2.5rem 2.4rem;
                        display: block;
                        margin-bottom: 0;
                    }
                    .addressRadioButton {
                        opacity: 0;
                        position: absolute;
                        right: 2rem;
                        :checked ~ .checkmark{
                            &:after {
                                display: block;
                            }
                        }
                    }
                    .checkmark {
                        position: absolute;
                        top: 2.5rem;
                        right: 2rem;
                        height: 2.4rem;
                        width: 2.4rem;
                        background-color: @brand-white;
                        border: 2px solid @checkout-radio-background;
                        box-sizing: border-box;
                        border-radius: 50%;
                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                            top: 0.9rem;
                            left: 0.9rem;
                            width: 0.6rem;
                            height: 0.6rem;
                            border-radius: 0.8rem;
                            background: @brand-white;
                        }
                    }
                    input:checked ~ .checkmark {
                        background-color: @brand-primary;
                        border: none;
                    }
                    input:checked ~ .checkmark:after {
                        display: block;
                    }
                }
            }
            .addressTypesFields {
                padding: 1rem 1rem 0;
                border: 1px solid @steps-border-active;
                border-radius: 1rem 1rem 0 0;
                background-color: @brand-white;
                margin-bottom: 0;
                .form-group {
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .form-control {
                        &::placeholder {
                            font-family: @futuraPTBook;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 1.4rem;
                            line-height: 1.8rem;
                            color: @checkout-placeholder-color;
                            @media @phone {
                                font-size: 1.2rem;
                            }
                        }
                        &#ruralAddressLine1 {
                            padding-top: 0;
                        }
                    }
                }
                .creditCheckWithNewAddress {
                    margin: 2rem auto;
                }
            }
            .divOverlay{
                margin-top: 0;
            }
        }
    }
    &-order-summary {
        & {
            font-size: 1.8rem;
            padding: 0;
            margin: 3rem 0 0;
            border: 0;
            line-height: 2.3rem;
        }
        .cart-totals {
            border: 1px solid @cart-border;
            background-color: @cart-background;
            padding: 0 2.4rem 2rem 2.4rem;
            margin-top: 1.5rem;
            border-radius: 1rem;
            .cart-totalwrapper {
                .totals-head {
                    display: block;
                    padding: 1rem 0;
                }
            }
            table {
                th {
                    padding: 0.7rem 0rem;
                    text-align: left;
                    font-family: @futuraPTBold;
                    font-size: 1.8rem;
                    text-transform: capitalize; 
                    background: transparent;
                    color: @cart-heading-color;               
                }
                /*tr:nth-last-child(-n+2) {
                     td {
                         padding-bottom: 0.6rem;
                     }
                }*/
                td{
                    &:last-child {
                        //font-family: @Inter;
                    }
                }
                .cartTotal {
                    td {
                        font-family: @InterBold;
                    }
                }
            }
        }
        & &-list {
            border: none;
            li {
                padding: 3rem;
            }
            .thumb {
                margin-right: 0;
                padding: 1rem 0.5rem;
                width: 9.6rem;
            }
            .details {
                margin-left: 0;
                a {
                    color: @brand-grey-text;
                }
                .name {
                    font-size: 1.8rem;
                    font-family: @futuraPTBold;
                }
                .qty{
                    font-family: @futuraPTBold;
                    color: @brand-grey-text;
                    span{
                        color: @brand-grey-text;
                    }
                }
            }
            .price {
                margin: 0;
                float: none;
                font-size: 1.6rem;
                color: @cart-heading-color;
                font-weight: normal;
                .item__price--monthly {
                    color: @brand-primary;
                }
            }
        }
        &-heading, &-list-items {
            border: 1px solid @cart-border;
            background-color: @cart-background;
            padding: 2rem 2rem 1rem 2rem;
            margin-bottom: 1.5rem;
        }
        &-heading {
            .title {
                color: @brand-primary;
                font-size: 1.8rem;
                font-family: @futuraPTBold;
                margin-bottom: 1rem;
            }
        }
    }
}
/* ---- Styles for address search start ---- */
.address-search-results {
    position: relative;
    top: -1.5rem;
    ul {
        position: absolute;
        padding: 1rem;
        margin: 0;
        background: @brand-white;
        border: 1px solid @border-color-3;
        list-style: none;
        width: 100%;
        z-index: 9;
        font-size: 1.4rem;
        li {
            display: block;
            a {
                padding: 0.5rem 0.2rem;
                display: inline-block;
                cursor: pointer;
                color: @text-color;
                &:hover {
                    color: @brand-primary;
                }
            }
        }
    }
}
.checkout-indent {
    select.readonly {
        background: @input-readonly-background;
        color: @text-color-secondary;
        pointer-events: none;
    }
}
/* ---- Styles for address search end ---- */
#addressbook {
    font-size: 1.6rem;
}
ul.radiobutton-list {
    list-style: none;
    font-size: 1.8rem;
    padding: 0;
    border: 1px solid @steps-border-active;
    border-radius: 0.5rem;
    li {
        padding: 1rem 2rem;
        & + li {
            border-top: 1px solid @steps-border-active;
        }
    }
    label {
        font-weight: normal;
        font-family: @Inter;
        font-size: 1.6rem !important;
        color: @brand-text-cart;
    }
    [type="radio"] {
        position: absolute;
        left: -9999px;
        & + label {
            position: relative;
            padding-left: 3rem;
            cursor: pointer;
            line-height: 4rem;
            margin-bottom: 0;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 1.2rem;
                width: 1.6rem;
                height: 1.6rem;
                border: 0.2rem solid @brand-primary;
                border-radius: 50%;
                background: transparent;
            }
        }
        &:checked {
            & + label {
                &:before {
                    background: @brand-primary;
                    border: none;
                    width: 1.8rem;
                    height: 1.8rem;
                }
                &:after {
                    content: '';
                    width: 2.2rem;
                    height: 2.2rem;
                    border: 0.1rem solid @brand-primary;
                    position: absolute;
                    top: 1rem;
                    left: -0.2rem;
                    border-radius: 50%;
                }
            }
        }
    }
}
.place-order-form {
    border: 1px solid @cart-border;
    background-color: @cart-background;
    margin-top: -1.5rem;
    border-radius: 1rem;
    border-top: 0;
    padding: 4rem 3rem 3rem;
    @media @phone {
        padding: 1rem 2rem 2rem;
    }
    .checkbox {
        margin: 0 0 2.2rem;
        @media @phone {
            margin: 0 0 1.2rem;
        }
        label {
            text-transform: none;
            font-family: @Inter;
            font-size: 1.4rem;
            line-height: 2rem;
            margin-bottom: 1rem;
            color: @brand-text-cart;
        }
    } 
    .terms-link{
        color: @brand-text-cart;
        font-family: @InterBold;
        font-size: 1.4rem;
        line-height: 2rem;
        text-decoration: none;
    }
    .btn-place-order {
        font-family: @Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 1.8rem;
        line-height: 2.4rem;
        padding: 1.3rem 0.5rem;
        margin-left: auto;
        margin-right: auto;
        color: @brand-white;
        width: 70%;
        @media @phone {
            width: 80%;
        }
    }
    .priceInfoText {
        text-transform: none;
        font-size: 1.6rem;
        line-height: 2.1rem;
        margin-bottom: 1rem;
        color: @brand-text-cart;
        display: none;
    }
}
.contactus {
    Color : @gray-dark;
    border: 1px solid @cart-border;
    background-color: @cart-background;
    padding: 3.2rem 3.2rem 4rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    h4 {
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-family: @InterBold;
        margin-bottom: 0rem;
    }
    p{
        font-size: 1.6rem;
        font-weight: bold;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 1.6rem;
        li {
            position: relative;
            padding-left: 5rem;
            margin: 2.7rem 0 0;
            display: inline-block;
            font-size: 1.6rem;
            line-height: 2rem;
            &.call:before {
                background: url("../images/call_icon.svg") center no-repeat;
                background-size: 2rem 2rem;
            }
            &.whatsapp:before {
                background: url("../images/whatsapp_icon.svg") center no-repeat;
                background-size: 2rem 2rem;
            }
            &:before {
                content: '';
                position: absolute;
                width: 4rem;
                height: 4rem;
                border: 1px solid @border-color;
                border-radius: 1rem;
                left: 0;
                top: -0.6rem;
            }
            a {
                color: @brand-primary;
                font-family: @futuraPTBook;
                font-size: 1.8rem;
                line-height: 2.3rem;
                font-weight: bold;
            }
        }
    }
}
.contract-block-text{
    font-size: 1.4rem;
    line-height: 2rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.contract-message {
    display: none;
    background-color: @alert-info-bg;
    border: 1px solid @brand-primary;
    border-radius: 1rem;
    padding: 3.2rem;
    margin-bottom: 2rem;
    color: @brand-black;
    font-family: @Inter;
    font-size: 1.5rem;
    line-height: 2rem;
    @media @phone {
        padding: 2rem 1.6rem;
    }
}
.checkout-steps {
    .step-head + .step-head {
        margin-top: 1.6rem;
    }
}
@media (max-width: 767px) {
    .checkout-order-summary .checkout-order-summary-list {
        li {
            padding: 1.5rem;
        }
        .details {
            position: static;
        }
    }
    .checkout-order-summary {
        margin-top: 2rem;
        .cart-totals {
            padding-bottom: 0 1.5rem;
            margin-top: 2.4rem;
        }
    }
    .checkout-steps {
        .step-head {
            &:after {
                right: 1.5rem;
            }
            &.active {
                .title {
                    border-bottom: 0.1rem solid @steps-border-active;
                    border-radius: 1rem;
                }
            }
            .title {
                padding: 2rem;
            }
        }
        .step-body {
            padding: 1.5rem;
        }
    } 

}

#colorbox{
    #addressbook{
        height: 35rem;
        overflow-y: scroll;
    }
}

.final-step-checkout {
    .checkout-steps  {
        .step-head {
            pointer-events: none;
            &:after {
                content: none;
            }
        }
    }
    .checkout-order-summary {
        .cart-totals {
            .totals-head {
                display: none;
                &.creditCheckDeSelected {
                    display: block;
                }
            }
        }
        .cart-totalwrapper {
            .totals-head {
                display: block;
                padding: 1rem 0;
            }
            .cart-sum-box, .addon_paybox{
                &.creditCheckDeSelected {
                    display: none;
                }
            }
        }
    }
    #order-totals.cart-total-summary {
        display: none;
        &.creditCheckDeSelected {
            display: block;
        }
    }
    .cart-totalwrapper {
        background-color: inherit;
        border: none;
        border-radius: 0;
        margin-bottom: 0;
        padding: 0;
        &.creditCheckDeSelected {
            background-color: @brand-white;
            border: 1px solid @cart-border;
            border-radius: 1rem;
            margin-bottom: 1.6rem;
            padding: 1rem 2rem;
        }
    }

    .checkLabel {
        margin-right: 0;
        margin-bottom: 0;
        position: relative;
        padding-left: 4rem;
        &:before{
            background-color: transparent;
            border: 0.2rem solid @configurator-dark-grey;
            display: inline-block;
            position: relative;
            border-radius: 0.4rem;
            width: 2.2rem;
            height: 2.2rem;
        }
        span {
            vertical-align: text-bottom;
            font-family: @futuraPTBook;
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 2.1rem;
            color: @brand-black;
        }
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark {
                background-color: @brand-primary;
                border: none;
            }
            &:checked ~ .checkmark:after {
                display: block;
            }
        }
        .checkmark:after {
            left: 0.8rem;
            top: 0.3rem;
            width: 0.7rem;
            height: 1.3rem;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 2.2rem;
        width: 2.2rem;
        background-color: transparent;
        border: 0.2rem solid @configurator-dark-grey;
        border-radius: 0.4rem;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
    .cart-totals {
        .terms {
            margin-top: 1.5rem;
        }
    }
}