//
// Configurator
// --------------------------------------------------------

.configurator {
    &-steps {
        border-top: 1px solid @border-color-2;
        //border-bottom: 1px solid @border-color-2;
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 3rem;
        }
        .previous-step {
            margin-left: auto;
            margin-right: 1.5rem;
            &.disabled {
                pointer-events: none;
            }
            &.active {
                svg {
                    path {
                        fill: @brand-primary;
                    }
                    circle {
                        stroke: @brand-primary;
                    }
                }
            }
        }
        .productHeading {
            .pageProductHeading {
                font-family: @InterBold;
                font-size: 2rem;
                line-height: 2.4rem;
                text-align: center;
                text-transform: uppercase;
                color: @configurator-light-grey;
                margin: 3.2rem 0 0 0;
                @media @phone {
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                }
            }
        }
    }
    &-step {
        align-self: stretch;
        font-size: 1.4rem;
        color: @configurator-arrow-grey;
        padding: 1rem 1.5rem;
        text-align: center;
        //border-right: 1px solid @border-color-2;
        position: relative;
        &:focus{
          text-decoration: none;
        }
        &:hover{
          text-decoration: none;
          color: @configurator-arrow-grey;
        }
        &::after{
            content: "";
            position: absolute;
            top: 66%;
            right: -1rem;
            margin-top: -0.4rem;
            border-width: 0.5rem;
            border-style: solid;
            border-color: transparent transparent transparent @configurator-arrow-grey;
        }
        &:last-child::after {
            border: 0;
        }
        &.active{
            color: @brand-black;
            .num{
              color: @brand-primary;
            }
            //background-color: @brand-primary;
            //color: @brand-white;
            &::after{
                content: "";
                position: absolute;
                top: 66%;
                right: -1rem;
                margin-top: -0.4rem;
                border-width: 0.5rem;
                border-style: solid;
                border-color: transparent transparent transparent @brand-primary;
            }
            &:last-child::after {
                border: 0;
            }
            .name{
                color: @configurator-step-text;
            }
        }
        .num {
            font-family: @InterBold;
            font-style: normal;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.4rem;
            color: @configurator-arrow-grey;
        }
        .name{
            font-family:  @InterBold;
            font-style: normal;
            font-size: 1.8rem;
            line-height: 2.4rem;
            color: @configurator-arrow-grey;
            @media @phone {
                font-size: 1.8rem;
                line-height: 1.8rem;
            }
        }
    }
}
.configurator-body {
    .info-msg {
        display: flex;
        align-items: center;
        small {
            font-size: 80%;
            display: inline-block;
            line-height: 2.1rem;
            &.text-inline{
                display: inline;
            }
        }
    }
    .next-button {
        margin-left: auto;
    }
    .btn-next {
        border: 1px solid @brand-primary;
        background-color: @brand-white;
        border-radius: 2.2rem !important;
        padding: 1rem 3rem;
    }
    .step1-infobar {
        background-color: @configurator-light-grey-bg;
        color: @configurator-light-grey;
        font-size: 1.8rem;
        line-height: 3.2rem;
        padding: 1.5rem 0;
        margin: 2.5rem 0;
        span {
            font-family: @InterBold;
        }
        small {
            font-size: 80%;
        }
    }
    .step2-infobar {
        background-color: @alert-info-bg;
        border: 1px solid @alert-info-border;
        color: @configurator-dark-grey;
        border-radius: 1rem;
        padding: 1.5rem 2rem;
        font-size: 1.8rem;
        margin: 2rem 0;
        span {
            font-family: @InterBold;
            color: @brand-dark-blue;
        }
    }
    .primary-color {
        color: @brand-primary;
    }
    .ctabox-container {
        display: flex;
        @media @tablet {
            max-width: 100%;
        }
        & > div {
            display: flex;
        }
        .ctabox {
            border: 1px solid @configurator-dark-grey;
            padding-bottom: 3rem;
            border-radius: 1rem;
            margin: 0 auto 1rem;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            max-width: 33rem;
            width: 100%;
            @media @phone {
                margin-bottom: 2rem;
            }
            .productName {
                background: @brand-white;
                text-align: center;
                border-radius: 1rem 1rem 0 0;
                margin-bottom: 3rem;
                .pName {
                    font-family: @InterBold;
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    text-align: center;
                    color: @brand-black;
                    padding: 1.8rem 0;
                    margin-bottom: 0;
                    border-bottom: 1px solid;
                }
            }
            &__selected--blur {
                display: none;
            }
            .disabled {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: @brand-grey-text;
                mix-blend-mode: screen;
                border-radius: 1rem;
                z-index: 9;
            }
            &.selected {
                border: 2px solid @brand-dark-blue;
                .ctabox__selected--blur {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.19);
                    mix-blend-mode: normal;
                    backdrop-filter: blur(3px);
                    z-index: 1;
                    display: block;
                    border-radius: 0.8rem;
                }
            }
            .img-block {
                position: relative;
                img {
                    width: 100%;
                    border-radius: 1rem 1rem 0 0;
                }
                .img-overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: linear-gradient(183.06deg, rgba(59, 202, 236, 0) 35.33%, rgba(29, 151, 200, 0.28) 68.67%, rgba(0, 102, 166, 0.85) 97.47%);
                }
            }
            .content {
                margin-left: 7rem;
                margin-right: 3.5rem;
            }
            .internet-speed {
                font-size: 3.2rem;
                line-height: 4.1rem;
                font-family: @InterBold;
                color: @configurator-dark-grey;
                margin-top: 1rem;
                margin-bottom: 0;
            }
            .internet-price {
                font-size: 1.8rem;
                line-height: 2.4rem;
                font-family: @InterBold;
                color: @brand-black;
                margin-bottom: 1.5rem;
                display: table;
                width: 100%;
                text-align: center;
                .period {
                    font-family: @Inter;
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .addItemText {
                font-family: @InterBold;
                font-style: normal;
                font-size: 1.8rem;
                line-height: 1.8rem;
                color: @brand-primary;
                margin: 1.5rem 0 0 0;
            }
            .TV-plan {
                font-size: 1.8rem;
                font-family: @InterBold;
                color: @configurator-dark-grey;
                margin: 0;
                line-height: 2.4rem;
                min-height: 6rem;
                @media @tablet {
                    font-size: 2.1rem;
                }
            }
            .Upickultimate {
               width: 50%;
               @media @tablet {
                width: 70%;
               }
            }
            .internet-specs {
                text-align: left;
            }
            .internet-spec {
                font-size: 1.8rem;
                line-height: 2.4rem;
                color: @configurator-light-grey;
                position: relative;
                margin-bottom: 1.5rem;
                span {
                    font-family: @InterBold;
                }
                &:before {
                    content: '';
                    position: absolute;
                    width: 3.2rem;
                    height: 3.2rem;
                    left: -4.5rem;
                    top: 0.5rem;
                }
                a {
                    text-decoration: underline;
                }
                b{
                    font-family: @InterBold;
                }
                &.TV-plan-desc{
                    @media @desktop {
                        min-height: 18rem;
                    }
                    @media @tablet {
                        min-height: 32rem;
                    }
                }
            }
            .download_speed:before {
                background: url(../images/internet-download.svg) center 0 no-repeat;
                background-size: contain;
            }
            .upload_speed:before {
                background: url(../images/internet-upload.svg) center 0 no-repeat;
                background-size: contain;
            }
            .voice:before {
                width: 2.4rem;
                height: 2.4rem;
                top: 0;
                background: url(../images/landLineReceiver.svg) center 0 no-repeat;
                background-size: contain;
            }
            .TV-plan-desc{
                &:before {
                    background: url(../images/TV_icon.svg) center 0 no-repeat;
                    background-size: contain;
                }
                &.ultimate:before {
                    background: url(../images/TV_icon_yellow.svg) center 0 no-repeat;
                    background-size: contain;
                }
                &.tv-blue-step2:before {
                    background: url(../images/tvBlue.svg) center 0 no-repeat;
                    background-size: contain;
                }
            }
            .checkbox {
                margin: 0 0 2rem 7.5rem;
                label {
                    text-transform: none;
                    color: @configurator-dark-grey;
                    font-size: 1.4rem;
                    position: relative;
                    &:before {
                        content:'';
                        -webkit-appearance: none;
                        background-color: transparent;
                        border: 2px solid @brand-primary;
                        padding: 0.6rem;
                        display: inline-block;
                        position: absolute;
                        top: 0.3rem;
                        left: 0;
                        cursor: pointer;
                        margin-right: 0.5rem;
                        border-radius: 0.3rem;
                    }
                }
                span {
                    font-family: @InterBold;
                }
                input {
                    padding: 0;
                    height: initial;
                    width: initial;
                    margin-bottom: 0;
                    display: none;
                    cursor: pointer;
                    &:checked + label:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0.7rem;
                        left: 0.6rem;
                        width: 0.4rem;
                        height: 0.8rem;
                        border: solid @brand-primary;
                        border-width: 0 0.2rem 0.2rem 0;
                        transform: rotate(45deg);
                    }
                }
            }
            .ctabox-btn {
                text-align: center;
                position: relative;
            }
        }
        .ctabox.selected {

            .step1ConfigForm {
                position: relative;
            }
            .ctabox-want-form {
                visibility: hidden;
                display: none;
            }
            .ctabox-wantbtn--js {
                visibility: hidden;
            }
            .ctabox-dlt-form {
                display: block;
                z-index: 1;
            }
            .ctabox-dltbtn--js {
                display: block;

                .btn-primary {
                    background: @plp-category-btn-red;
                    border-color: @plp-category-btn-red;
                }
            }

        }
    }
    .bundleinfo {
        position: relative;
        color: @brand-white;
        font-size: 1.8rem;
        line-height: 2.4rem;
        border-radius: 1rem;
        padding: 3rem;
        text-align: left;
        background: linear-gradient(270deg, rgba(59, 202, 236, 0.1) 8.4%, rgba(0, 102, 166, 0.85) 56.9%), url(../images/msgBackgroundConfigurator.svg) right no-repeat;
        background-size: contain;
        margin-top: 1rem;
        @media @phone {
            padding: 1rem 2rem;
        }
        .data {
            margin-bottom: 0;
             @media @phone {
                width: 60%;
            }
        }
    }
    .config-step-3 {
        .img-fit {
            .object-fit();
            width: 100%;
        }
        .config-bnr__text {
            .phone {
                svg {
                    @media @phone {
                        width: 3rem;
                        height: 2.2rem;
                    }
                }
            }
        }
        .config-bnr__text-btn {
            .ctabox-btn {
                .btn-primary {
                    @media @phone {
                        padding: 0.5rem 1rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .telephone-price {
            font-size: 3.6rem;
            line-height: 3.6rem;
            font-family: @InterBold;
            color: @brand-dark-blue;
            margin-bottom: 1.5rem;
            display: table;
            @media @phone {
                font-size: 1.5rem;
                line-height: 2.6rem;
                margin-bottom: 1rem;
            }
            .optionFor {
                font-size: 1.4rem;
                line-height: 1.8rem;
                display: table-cell;
                vertical-align: middle;
            }
            .period {
                font-size: 1.4rem;
                line-height: 1.4rem;
            }
        }
    }
    .config-bnr {
        position: relative;
        &__text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            padding: 0 3.2rem;
            width: 47rem;
            @media @phone {
                padding: 0 1.5rem;
            }
        }
        &__text-para {
            padding: 3.8rem 0;
            margin: 0;
            font-size: 3.6rem;
            line-height: 4.2rem;
            color: @nav-gray;
            @media @phone {
                padding: 1rem 0 1.5rem 0;
                font-size: 1.5rem;
                line-height: 1.8rem;
            }
            span {
                font-family: @InterBold;
                color: @nav-gray;
            }
			b{
			   font-family: @InterBold;
			}
        }
    }

    .category-banner-section {
        .banner-content {
            position: static;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            font-size: unset;
            line-height: normal;
        }
        .home-block {
            transform: none;
            position: static;
            right: auto;
            .banner-content {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                padding: 0 3.2rem;
                width: 55rem;
                font-size: 3.6rem;
                line-height: 4.2rem;
                color: @nav-gray;
                span {
                    font-family: @InterBold;
                    color: @nav-gray;
                }
                @media @phone {
                    width: 100%;
                    font-size: 2rem;
                }
            }
        }
    }

    .step-4-cntnr {        
        @media @tablet {
            padding: 2rem;
        }
        h3.s4-title {
            margin : 0;
            font-family: @InterBold;                      
            font-size: 1.6rem;
            line-height: 2.4rem;
            text-transform: capitalize;
            color: @brand-primary;   
            border-bottom: 0.1rem solid @steps-border-active;
            border-radius: 1rem;
            padding: 1.7rem 2.5rem 1.6rem 2.4rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & .arrow_accord{
                background: url(../images/arrow_accordian.svg) center no-repeat;
                width: 1rem;
                height: auto;
                display:block;
            }
            & .arrow_accord_up{
                background: url(../images/arrow_accordian.svg) center no-repeat;
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                width: 1rem;
                height: auto;
                display:block;
            }
            & .arrow_accord_down{
                background: url(../images/arrow_accordian.svg) center no-repeat;
                width: 1rem;
                height: auto;
                display:block;
            }
        }
        .addon_listbox{
            background-color: @cart-background;        
            border: 1px solid @steps-border-active;
            border-radius: 1rem;
            margin-bottom: 1.6rem;
            &:last-child{
                @media @phone {
                    margin-bottom: 0;
                }
            }                       
        }
    }
    .cl-cntnr {
        margin: 1.6rem 2.4rem;
        @media @phone {
            margin: 1.6rem;
        }
        &__list {
            padding: 0;            
            list-style: none;
            .tvHubBox {
                  .cl-cntnr__item-name {
                      width: 70%;
                  }
            }

            li {
                border: 1px solid @steps-border-active;
                border-radius: 1rem;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                align-items: center;                
                background: @brand-white;
                margin-bottom: 1.6rem;                
                @media @tablet {
                    padding: 1.4rem 1rem;
                }
                &:last-child {
                    //border: none;
                }
                span {
                    text-align: left;
                    font-size: 1.4rem;
                    line-height: 1.8rem;                   
                    margin-top: 0;
                    margin-bottom: 0;
                }
                &.disabled {
                    pointer-events: none;
                    opacity: 0.65;
                    filter: alpha(opacity=65);
                }
                .reduce-item {
                    display: none;
                    cursor: not-allowed;
                }
                &.selected-cl {
                    .addons--js {
                        display: none;
                    }
                    .reduce-item {
                        display: block;
                        cursor: default;
                    }
                }
                .addOnCheckBoxInput {
                    .addAddonToPlanData, .addAddonToPlan {
                        padding: 0;
                        height: initial;
                        width: initial;
                        margin-bottom: 0;
                        display: none;
                        cursor: pointer;
                    }
                    .addAddonToPlanData:checked + label, .addAddonToPlan:checked + label {
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 2.3rem;
                            left: 2.5rem;
                            width: 0.5rem;
                            height: 1.3rem;
                            border: solid @brand-primary;
                            border-width: 0 0.2rem 0.2rem 0;
                            transform: rotate(45deg);
                        }
                    }
                    label {
                        text-transform: none;
                        color: @configurator-dark-grey;
                        font-size: 1.4rem;
                        position: relative;
                        padding-left: 0;
                        padding: 1.7rem 0 1.7rem 1.7rem;
                        &:before {
                            content:'';
                            -webkit-appearance: none;
                            background-color: transparent;
                            border: 0.2rem solid @brand-primary;
                            padding: 0.6rem;
                            display: inline-block;
                            position: relative; 
                            top:0.3rem;                     
                            cursor: pointer;
                            margin-right: 0;
                            border-radius: 0.4rem;
                            width:2.2rem;
                            height: 2.2rem;
                        }
                    }
                }

            }
        }
        &__item-name {
            width: 56%;
            margin-left: 0.9rem;
            @media @tablet {
                width: 43%;
                margin-left: 0.5rem;
            }
            @media @phone {
                width: 50%;
            }
        }
        &__spcl {
            font-family: @InterBold;
            width: 20%;
            text-align: center !important;
            margin-left: 0.5rem;
        }
        &__btn {
            width: 24%;
            margin-left: auto;
        }
        .cstm-btn {
            padding: 0.8rem 1rem;
            margin-right: 4.5rem;
            border-radius: 2.2rem !important;
            float: right;
            background-color: transparent;
            border: none;
            font-size: 1.4rem;
            font-family: @InterBold;
            @media @tablet,@phone  {
               padding: 0.8rem 0;
               width:auto;
               margin-right: 1.4rem;
            }
        }
    }
    .sp {
        .cl-cntnr__btn {
            width: auto;
        }
    }
    .sp-msg {
        margin: 1rem auto;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: @brand-black;
    }

    .radio {
        margin: 0;
        .form-group {
            margin-bottom: 0;
        }
        input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;

        }
        label {
            font-size: 1.4rem;
            line-height: 2rem;
            color: @configurator-dark-grey;
            text-transform: none;
            padding-left:0;
            padding: 1.7rem 0 1.7rem 1.7rem;
            @media @phone {
                text-align-last: center;
            }
            &:before {
                content: '';
                -webkit-appearance: none;
                background-color: transparent;
                border: 2px solid @brand-primary;                
                display: inline-block;
                position: relative;
                top: 0.6rem;
                left: 0;
                cursor: pointer;
                margin-right: 0;
                border-radius: 50%;
                width: 2.2rem;
                height: 2.2rem;
            }
        }
        input:checked + label {
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 2.9rem;
                left: 2.3rem;
                width: 1rem;
                height: 1rem;
                border: solid @brand-primary;
                border-radius: 50%;
                background: @brand-primary;
            }
        }

    }
    .more-sp {
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: @brand-black;

    }
    .b-text {
        font-family: @InterBold;
    }
    .sp-r-cntnr {
        img {
            border-radius: 1rem;
            width: 100%;
        }
    }
    .regulatory-info{
        font-size: 1.4rem;      
        padding-bottom: 1rem;
        text-align: center;
        padding-top: 0.5rem;
    }
    .step-3-regulatory-info{
        padding: 2rem 0 0;
    }
    .step-4-regulatory-info{
        padding: 1rem 3.2rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .configurator {
        &-step {
            padding: 1rem;
            width: auto;
        }
    }
}

@media (max-width: 767px) {
    .configurator {
        /*&-steps-wrapper {
            flex-direction: column;
        }*/
        &-steps {
            .previous-step {
                margin: 0;
                align-self: start;
                padding: 1rem 2rem;
            }
            

        }
        /*&-step {
            width: 100%;
            border-bottom: 1px solid @border-color-2;
            border-right: 0;
        }*/
    }
    .configurator-body {
        .ctabox-container {
            display: block;
        }
        .info-msg {
            display: block;
            line-height: 2.1rem;
        }
        .next-button {
            text-align: right;
        }
        .step2-infobar {
            padding: 1.5rem 1rem 1.5rem 0.5rem;
        }
        .step-4-cntnr {
            //padding: 1.5rem 1rem;
        }
        .cl-cntnr__list li {
            padding:0;
            margin-bottom: 0.8rem;
        }
    }
}

@media (min-width: 767px) and (max-width: 785px) {
.ctabox-container {
        .ctabox {
            max-width: 24.5rem !important;
        }
   }
}
@media (min-width: 319px) and (max-width: 321px) {
    .configurator-body {
        .cl-cntnr__list {
            li {
                span {
                    text-align: right;
                    font-size: 1.4rem;
                    line-height: 2.8rem;
                }
            }
        }
        .cl-cntnr {
            .cstm-btn {
                padding: 0.8rem 0;
                width: 5rem;
                height: 3.6rem;
                font-size: 1.4rem;
                background-color: transparent;
                border: none;
                font-size: 1.4rem;
                color: @cart-heading-color;
            }
        }
    }
}

//sticky footer css
.sticky-footer {
    box-shadow: 0 -0.8rem 1rem rgba(61, 61, 61, 0.2);
    padding: 2rem;
    border-radius: 0.8rem 0.8rem 0 0;
    background-color: @brand-white;
    width: 100%;
    margin: 2rem 0;
    @media @phone {
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 2rem 0.5rem;
        z-index: 9;
        margin: 0;
    }
    .view-content {
        color: @brand-primary;
        font-size: 1.4rem;
        line-height: 2rem;
        text-align: center;
        p {
            position: relative;
            display: inline-block;
            cursor: pointer;
            &:after {
                content: '';
                position: absolute;
                height: 0.8rem;
                width: 0.8rem;
                border-style: solid;
                border-color: @brand-primary;
                transform: rotate(45deg);
                right: -2rem;
            }
            &.view-less {
                &:after {
                    border-width: 0 0.2rem 0.2rem 0;
                    top: 0.6rem;
                }
            }
            &.view-more {
                &:after {
                    border-width: 0.2rem 0 0 0.2rem;
                    top: 1rem;
                }
            }
        }
    }
    
    .category-content {
        font-size: 2.4rem;
        line-height: 3.1rem;
        text-align: center;
        & > div {
            display: inline;
        }
        @media @phone {
            text-align: left;
            display: flex;
        }
        p {
            display: inline-block;
            color: @pagination-disabled-color;
            font-size: 1.8rem;
            line-height: 2.4rem;    
            margin-left: 0.5rem;
            margin-right: 0.5rem;  
            @media @phone {
                margin-bottom: 0;
            }
            &.active {
                font-size: 1.8rem;
                line-height: 2.2rem;
                color: @configurator-dark-grey;
                @media @phone {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                }
            }
            &.price {
                color: @brand-primary;
                font-size: 1.6rem;
                line-height: 4rem;
                margin-left: 1rem;
                .price-text {
                    font-family: @InterBold;
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                }
            }
        }
    }
}
.page-telephoneplanspage {
    .ctabox-container {
        align-items: center;
        justify-content: center;
    }
    .terms {
        padding: 0;
    }
}