//override datepicker  
div#ui-datepicker-div {
    font-size: 1.7rem;
    @media @desktop{
      font-size: 2.24rem;
    }
    @media @tablet{
      font-size: 1.73rem
    }
    @media @phone {
      width: 78%;
    }
    @media @iphoneX{
      width: 78%;
    }
    @media @tablet_landscape{
      font-size: 2.48rem;
    }
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        font-size: 2.5rem;
    }
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        font-size: 2.5rem;
    }    
    border-color: #333;
    border-radius: 2.4rem;
    padding: 0;
    .ui-datepicker-header {
      background: @account-subheadline-bg;
      padding: 1rem;
      border-radius: 2.4rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    } 
    select.ui-datepicker-month, select.ui-datepicker-year {
      @media @phone {
        width: 40%;
        font-size: 1.2rem;
        margin: 0 5px;
        background-position-y: 0.5rem !important;
        background-size: 36% !important;
      }
      @media @iphoneX{
        background-size: 30% !important;
        width: 30%;
      }
      @media @tablet {
        margin: 0 1rem;
        width: 38%;
      }
      border: 0;
      background: @account-subheadline-bg;
      margin: 0 2rem;
      width: 30%;
      font-size: 1.7rem;
      color: @nav-header-links;
      font-family: @InterBold;
      font-weight: 400;
      padding-left: 0.5rem;
      & > option {
          font-family: @Inter;
          font-weight: 600;
          padding: 0 !important;
          line-height: 1.2rem;
          font-size: 1.4rem;
      }
    }
    a.ui-datepicker-prev.ui-corner-all, 
    a.ui-datepicker-prev.ui-corner-all.ui-state-disabled,
    a.ui-datepicker-next.ui-corner-all,
    a.ui-datepicker-next.ui-corner-all.ui-state-disabled {
      color: #93959A;
      line-height: 4.5rem;
      margin: 0 1rem;
    }
    table{
      table-layout: fixed;
    }
    th.ui-datepicker-week-end, th {
      background: @input-background;
      color: @brand-black;
      text-align: center;
      font-family: @Inter;
     }
     tbody{
      & > tr > td {
          padding: 1rem;
          @media @tablet {
            padding: 0.5rem;
          }
          a {
            @media @phone {
              font-size: 1.2rem;
            }
            background: @input-background;
            border: 0;
            font-size: 1.4rem;
            font-family: @Inter;
            color: @brand-black;
            font-weight: 600;
              &.ui-state-highlight, &.ui-state-active {
                background: @border-color-5;
                border-radius: 0.4rem;
                color: @input-background;
            }
          }
        }
      }
    span.ui-state-default {
        font-size: 1.2rem;
        font-family: @Inter;
        padding: 0.2rem 0;
    }  
  }

.ui-datepicker .ui-datepicker-prev:before, .ui-datepicker .ui-datepicker-next:before{
  content: '';
  background: url(../images/arrow-vertical.png) no-repeat;
  background-position-x: 100%;
  background-position-y: 0.9rem;
  height: 3rem;
  width: 2rem;
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  @media @phone {
    top: 0.6rem;
    right: 0;
  }
}

.ui-datepicker .ui-datepicker-prev:before{
  transform: rotateZ(180deg);
  left: 1rem;
  top: 1.7rem;
  @media @phone {
    left: 0;
    top: 1.2rem;
  }
}

select.ui-datepicker-month, select.ui-datepicker-year {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/chevron-down-circle.png) no-repeat !important;
  background-position-x: 100% !important;
  background-position-y: 0.9rem !important;
}

input#dob {
    background: url(../images/calendar-outline.svg) no-repeat;
    background-size: 15% 35%;
    background-position: right;
    cursor: pointer;
}

div#dobDatePicker label:after {
    content: ':';
}