//
// Error
// --------------------------------------------------------

.error-content {
    height: 100vh;
    position: relative; 
    font-family: @futuraPTLight;   
    .error-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 1.5rem;
    }
    h3 {
        margin-bottom: 1.5em;
        color: @brand-primary;
        width: 65rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 4.6rem;
        font-family: @futuraPTBook;
    }
    .error-description {
        margin-bottom: 1.5em;
        font-weight: bold;
        font-size: 2.1rem;
    }
    .site-category {
        padding-left: 0;
        li {
            display: inline-block;
            padding: 1.5rem;
            transition: transform .5s ease;
            font-weight: 700;
            &:hover {
                transform: scale(1.05);
            }
            a {
                font-size: 1.8rem;
                &:hover {
                    text-decoration: underline;
                }
            }
            span {
                display: block;
                font-family: @futuraPTBook;
            }
            svg {
                width: 5rem;
                path {
                    stroke: @brand-grey-text;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .error-content {
        margin: 4rem auto;
        height: auto;
        .site-category {
            li {
                display: block;
                padding: 1.5rem 0;
                a, span {
                    display: inline-block;
                }
                span {
                    padding: 0 0 0 1.5rem;
                }
            }
        }
        .error-message {
            text-align: left;
            position: relative;
            left: 0;
            top: 0;
            transform: inherit;
        }
        h1 {
            font-size: 2.4rem;
            width: 100%;
        }
    }    
}

// Call back page css
.page-callBack {
    .callBack-content {
        display: block;
    }
}
.page-error {
    .errorPage-content {
        display: block;
    }
}
.callBack-content, .errorPage-content {
    display: none;
    text-align: center;
    color: @brand-default-text;
    .headline {
        font-size: 2.4rem;
        line-height: 3.1rem;
        font-family: @futuraPTBold;
        margin-top: 4.7rem;
        margin-bottom: 2.7rem;
    }
    p {
        font-size: 1.8rem;
        line-height: 2.3rem;
        color:@brand-text-cart;
        label{ 
            font-size: 1.8rem;
            line-height: 2.3rem;
            font-weight: 400; 
            color:@brand-text-cart;
            font-family: @Inter;
           
        }
    }
    p:first-child {
        margin-bottom: 3rem;
      }
    a {
        font-family: @futuraPTBold;
    }
    .btn-home {
        margin: 2rem 0 2rem 0;
        width: 30rem;
    }
}

// error page css
.page-error {
    .category-banner-section {
        img {
            width: 6rem;
            height: 6rem;
        }
    }
}
