@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-Light.eot");
    src: url("../fonts/Inter-Light.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Inter-Light.woff2") format("woff2"), 
    url("../fonts/Inter-Light.woff") format("woff"), 
    url("../fonts/Inter-Light.ttf") format("truetype"), 
    url("../fonts/Inter-Light.svg#wf") format("svg");
    font-display: swap; 
}

@font-face {
    font-family: 'InterBold';
    src: url("../fonts/Inter-Bold.eot");
    src: url("../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Inter-Bold.woff2") format("woff2"), 
    url("../fonts/Inter-Bold.woff") format("woff"), 
    url("../fonts/Inter-Bold.ttf") format("truetype"), 
    url("../fonts/Inter-Bold.svg#wf") format("svg");
    font-display: swap; 
}
@font-face {
    font-family: 'InterExtraBold';
    src: url("../fonts/Inter-Black.eot");
    src: url("../fonts/Inter-Black.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Inter-Black.woff2") format("woff2"), 
    url("../fonts/Inter-Black.woff") format("woff"), 
    url("../fonts/Inter-Black.ttf") format("truetype"), 
    url("../fonts/Inter-Black.svg#wf") format("svg");
    font-display: swap; 
}

@font-face {
    font-family: 'Grandstander';
    src: url("../fonts/392F29_0_0.eot");
    src: url("../fonts/392F29_0_0.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/392F29_0_0.woff2") format("woff2"), 
    url("../fonts/392F29_0_0.woff") format("woff"), 
    url("../fonts/392F29_0_0.ttf") format("truetype"), 
    url("../fonts/392F29_0_0.svg#wf") format("svg");
    font-display: swap; 
}

@font-face {
	font-family: 'futuraPTBook';
	src: url('../fonts/FuturaPTBook.eot');
	src: url('../fonts/FuturaPTBook.eot') format('embedded-opentype'),
		 url('../fonts/FuturaPTBook.woff2') format('woff2'),
		 url('../fonts/FuturaPTBook.woff') format('woff'),
         url('../fonts/FuturaPTBook.ttf') format('truetype'),
         url('../fonts/FuturaPTLight.otf')  format('opentype'), 
		 url('../fonts/FuturaPTBook.svg#FuturaPTBook') format('svg');
		 font-display: swap;
}
@font-face {
	font-family: 'futuraPTLight';
	src: url('../fonts/FuturaPTLight.eot');
	src: url('../fonts/FuturaPTLight.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/FuturaPTLight.woff2') format('woff2'),
		 url('../fonts/FuturaPTLight.woff') format('woff'),
         url('../fonts/FuturaPTLight.ttf') format('truetype'),
         url('../fonts/FuturaPTLight.otf')  format('opentype'),
		 url('../fonts/FuturaPTLight.svg#FuturaPTLight') format('svg');
		 font-display: swap; 
}
@font-face {
	font-family: 'futuraPTMedium';
	src: url('../fonts/FuturaPTMedium.eot');
	src: url('../fonts/FuturaPTMedium.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/FuturaPTMedium.woff2') format('woff2'),
		 url('../fonts/FuturaPTMedium.woff') format('woff'),
         url('../fonts/FuturaPTMedium.ttf') format('truetype'),
         url('../fonts/FuturaPTMedium.otf')  format('opentype'),
		 url('../fonts/FuturaPTMedium.svg#FuturaPTMedium') format('svg');
		 font-display: swap; 
}
@font-face {
	font-family: 'futuraPTBold';
	src: url('../fonts/FuturaPTBold.eot');
	src: url('../fonts/FuturaPTBold.eot') format('embedded-opentype'),
		 url('../fonts/FuturaPTBold.woff2') format('woff2'),
		 url('../fonts/FuturaPTBold.woff') format('woff'),
         url('../fonts/FuturaPTBold.ttf') format('truetype'),
         url('../fonts/FuturaPTBold.otf')  format('opentype'),
		 url('../fonts/FuturaPTBold.svg#FuturaPTBold') format('svg');
		 font-display: swap;
}
