//
// Footer
// --------------------------------------------------------
@media (min-width: 768px) {
	.footer-grid {
		display: flex;
    	justify-content: space-between;
	}
}
footer {
	background: @footer-background-color;
	@media @phone,@tablet_ipad {
    		// margin-top: 0;
    		}
}
.footer__top {
	padding-top: 3.5rem;
	padding-bottom: 6.3rem;
	@media @phone, @tablet_ipad {
		padding-top: 0;
		padding-bottom: 0;
	}
	.footer-container{
		margin-right: auto;
		margin-left: auto;
		width: calc(~'100% - 19.6rem') !important;
		padding: 0;
		@media @phone,@tablet_ipad {
			width : 100% !important;
		}
	}
}
.footer__left {
	padding: 0;
	@media @phone, @tablet_ipad {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.site-logo {
		width: 12.6rem;
		@media @phone {
			padding: 2.5rem 0 1rem 1rem;
		}
	}
}
.footer__nav {
	display: flex;
	justify-content: space-between;	
}
.footer__nav--container {
	@media @phone,@tablet_ipad {
		text-align: left !important;
		border-bottom: 2px solid @footer-border-color;
		margin-bottom: 0 !important;
		&:last-child{
			border-bottom: none;
		}
	}
	.title {
		font-size: 2rem;
		line-height: 2.4rem;
		color: @brand-dark-blue;
		font-weight: normal;
		position: relative;
		font-family: @InterBold;
		@media @phone,@tablet_ipad {
			font-size: 2rem;
            line-height: 2.4rem;
			padding: 2rem 2rem 1.3rem;
		}
		&.has-links {			
			@media @phone {
			&.upArrow{				
					background: url(../images/upArrow.svg) right no-repeat;
					background-origin: content-box;			
			}
			&.rightArrow{				
					background: url(../images/rightArrow.svg) right no-repeat;
					background-origin: content-box;			
			}
			&.downArrow{				
				background: url(../images/downarrow.svg) right no-repeat;
				background-origin: content-box;			
		}
		  }
		}
		a {
			color: @brand-dark-blue;
			@media @phone,@tablet_ipad {
				display: block;
			}
		}
	}
	.footer__nav--links {
		@media @phone,@tablet_ipad {			
			padding: 0 0 4rem 2.1rem;
		}
		.footer__link{
			margin-top:1.2rem !important;
			@media @phone,@tablet_ipad {
				padding: 0 2.1rem;			
			}
			&:first-child{
				margin-top: 1.3rem !important;
				@media @phone,@tablet_ipad {
					margin-top: 0 !important;
				}
			}
			@media @phone,@tablet_ipad {
				padding-bottom: 0;				
			} 			
		 a {
			color: @nav-link-color !important;
			font-size: 1.6rem !important;
			line-height: 2rem;			
		}
	  }
	}
}
.footer__bottom {
	background-color: @brand-dark-blue;
	padding: 2.2rem 0 1.6rem;
	border-top : 0.4rem solid @brand-primary;
	@media @phone{
		padding: 2.5rem 0 3rem;
	}
	.service-info {
		.details {
			width: max-content;
			font-size: 1.2rem;
			line-height: 1.5rem;
			text-align: center;
			@media @phone {
				font-size: 1.4rem;
			    line-height: 2rem;
			}
			@media @tablet_ipad {
				font-size: 1.4rem;
			    line-height: 2rem;
				margin-left: 1rem;
			}
		}
		.icons {
			text-align: center;
			span {
				display: inline-block;
				& + span {
					margin-left: 1.5rem;
				}
			}
		}
		.num {
			font-family: @InterBold;
			color: @brand-white;
		}
	}
	.social-links {
		font-size: 1.2rem;		
		line-height: 1.5rem;
		.links {
			margin-top: 1rem;
			@media @tablet_ipad {
				display: flex;
				margin-right: 1rem;
                justify-content: space-around;
			}
			a {
				display: inline-block;
				& + a {
					margin-left: 1.5rem;
				}
			}
		}
	}
}
.footer__copyright {
	font-size: 1.2rem;
	line-height: 1.5rem;
	padding: 1.3rem 0;
	background-color: transparent;
	color: @brand-white;
	text-align: left;
	@media (min-width: 768px) {
		width: 19rem;
	}
	@media @phone,@tablet_ipad{
		font-size: 1.4rem;
		line-height: 2rem;
		br{
			display: inline;
			content: '';
			clear:none;
		}
	}
	@media @tablet_ipad {
		width:100%;
		margin-left: 1rem;
		padding-bottom: 0;
	}
}

@media (max-width: 767px) {
	.footer__nav {
		flex-direction: column;		
		padding: 0;
	}
	.footer__bottom {
		.social-links {
			margin: 2rem 0.6rem 0;
			font-size: 1.4rem;
		    line-height: 2rem;
		}
		.service-info {
			.details {
				margin: 0 0.7rem 0;
				text-align: center;				
			}
		} 
	} 
}