.navigation.navigation--top {
	padding: 0;
}
.navigation--top {
	background: @cart-background;
	a {
		color: @brand-black;
		font-family: @InterBold;
		font-weight: normal;
		font-size: 1.6rem;
		line-height: 1.7rem;
	}
	.nav__right {
		.nav__links {
			li {
				color: @nav-links;
				position: relative;
				a {
					font-size: 1.2rem;
					line-height: 2rem;
					font-weight: normal;
					text-transform: none;
					padding: 1.1rem 1.1rem 0.7rem 0.7rem;
					@media @tablet, @phone {
						font-family: @InterBold;
					}
					&:hover,
					&:focus,
					&:active {
						color: inherit;
						text-decoration: none;
					}
				}
				.accNavComponent.js-accNavComponent {
					position: absolute;
					z-index: 9;
					background: @brand-white;
					top: 4.1rem;
					left: -12rem;
					width: 23rem;
					box-shadow: 0 0.6rem 1.2rem rgba(0,0,0,0.175);
					border: 1px solid rgba(0,0,0,0.15);
					a {
						padding: 1.2rem 2rem;
					}
				}
				.accNavComponent__child-wrap {
					display: block;
					div:first-child {
						display: none;
					}
					a {
						color: @brand-grey-text;
						&:hover {
							color: @brand-primary;
							background: transparent;
						}
					}
				}
			}
		}
		.nav__links--account {
			li {
				font-size: 1.2rem;
				line-height: 2rem;
				&:last-child {
					a {
						padding-right: 1.5rem;
					}
				}
				&.logged_in {
					padding: 1.2rem 2.2rem 1.2rem 1.5rem;
					&:after {
						content: "";
						border: solid @brand-white;
						border-width: 0 1px 1px 0;
						display: inline-block;
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						padding: 0.25rem;
						width: 1px;
						height: 1px;
						right: -0.8rem;
						top: -0.3rem;
						left: auto;
						margin: 0;
						position: relative;
						background-color: transparent;
					}
				}
				&.liOffcanvas {
					a {
						display: inline-block;
					}
				}
				svg {
					position: relative;
					top: 0.2rem;
					right: 0.6rem;
					path {
						fill: @nav-links;
					}
				}
				.myAccountLinksHeader {
					display: none;
				}
			}
			.myAccountLinksHeader {
				color: @brand-white;
				height: auto;
				line-height: normal;
				&:hover {
					background-color: @brand-primary;
					color: @brand-white;
				}
				&.show {
					background-color: @brand-primary;
					padding: 1.2rem 2.2rem 1.2rem 1.5rem;
					height: auto;
					line-height: normal;
				}
			}
		}
	}
	.form-group {
		margin-bottom: 0;
	}
	select {
		padding: 0.6rem 1.1rem 0.5rem 1.2rem;
		text-transform: capitalize;
		font-size: 1.2rem;
		line-height: 1.5rem;
		height: auto;
		border: 0.1rem solid @nav-links;
		background: transparent;
		color: @nav-links;
		width: auto;
		border-radius: 0.5rem;
		box-shadow: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		@media @phone {
			padding: 0;
			border: none;
		}
		option {
			color: @brand-grey-text;
		}
	}
}
.nav__left {
	list-style: none;
	margin: 0;
	padding: 0 !important;
	li {
		&:first-child {
			padding: 0.5rem 1.5rem 0.5rem 0;
		}
		padding: 0.8rem 1.3rem;
		font-size: 1.6rem;
		color:@brand-black;
		display: inline-block;
		line-height: 2.4rem;
		&.flag {
			a {
				padding-left: 3.5rem;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					background: url(../images/flag.png) left center no-repeat;
					width: 2.8rem;
					height: 2rem;
					background-size: contain;
					left: 0;
				}
			}
		}
		&.active {
			background: @nav-link-color;
			color:@brand-white;
			a {
				color: @brand-white;
				font-size: 1.6rem;
				line-height: 1.7rem;
				font-family: @InterBold;				
				font-weight: normal;
			}
		}
	}
}
.mini-cart-count {
	text-transform: capitalize;
	span {
		font-size: 1.2rem;
	    line-height: 2rem;
	    display: flex;
		@media @tablet_ipad {
			color:@brand-white;
		}
		@media @phone{
			line-height: inherit;
			display: inherit;
		} 
		&.nav-items-total span {
			font-weight: normal;
		}
	}
}
.navigation--bottom {
	font-size: 1.5rem;	
	@media @tablet_ipad {	
		background-color: @nav-link-color;
	}
	.nav__links--primary{
		.sm-back{
			@media @phone,@tablet_ipad {
				color:@nav-link-color;
				background-color: @brand-white;
			}
		}
  	}
	.nav__links--products {
		padding: 0;
		display: flex;
		@media @phone, @tablet {
			display: block;
			background-color: @brand-white;
			color:@nav-gray;
		}
		li {
			@media @phone , @tablet {
				background-color: @brand-white;
				border-bottom: 0;
				border-top: 1px solid @border-color-2;
				&.linkInfo {
					border: 0;
				}
			}
			a {
				font-size: 2rem;				
				line-height: 2.4rem;
				font-family: @Inter;
				color:@nav-gray;
				@media @phone, @tablet_ipad {
					font-family: @InterBold;
					padding: 2.1rem 2rem;
				}
			}
		}
	}
}
.navigation {
	&--top,
	&--bottom {
		.lang-form {
			.form-control {
				&:focus {
					border-color: @brand-white;
					@media @phone, @tablet {
						border-color: @border-color-3;
					}
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	.sticky {
		position: fixed;
		top: 0 !important;
		width: 100%;
		z-index: 9;
		background: @nav-gray;
	}
	.navigation--bottom {
		border-bottom: 1px solid @border-color-5;
		position: relative;
		z-index: 1;
		top: 0 !important;
		background-color: @nav-gray;
		.container {
			position: relative;
		}
		.js-site-logo {
			padding-top: 1.6rem;
			padding-left: 0;
			a {
				padding: 0;
				position :relative;
				right:22%;
			}
		}
		.nav__links--products {
			li {
				a {
					text-transform: capitalize;
					font-weight: normal;
					color: @nav-link-color;
					padding: 1.8rem 1.05rem 1.9rem 1.05rem;	
					font-size: 1.8rem;	
					line-height: 2.4rem;	
					color:@brand-white;
					&:focus{
						text-decoration: none;
						color: @brand-white;
					}
					&:hover,
					&:active {
						color: @nav-header-hover-color;
					}
				}
				&.nav__links--primary-has__sub {
					.nav__link {
						position: relative;
					}
					&.show-sub {
						box-shadow: inset 0 -0.4rem 0 0 @nav-link-hover-backround;
						.nav__link {
							a {
								color: @brand-white;
								&:after {
									border: none;
									transform: none !important;									
    								background-color: transparent;
									display: none;
								}
							}
						}
					}
				}
			}
			.nav__links--primary {
				&:first-child{
					margin-left: 1.1rem;
				}
				.sub-navigation-section {
					float: left;
					padding: 0 2.05rem;
					&:first-child{
						padding-left: 0;
					}
					&:last-child{
						padding-right: 0;
					}
				}
				.sub__navigation {
					padding: 2.1rem 1.4rem 2.2rem 1.7rem;
					background-color: @brand-grey-background;
					border-top: 1px solid @border-color-5;
					.sub-navigation-list {
						li {
							border: none;
							a {
								color: @nav-header-links;
								font-size: 1.4rem;
								line-height: 1.7rem;
								text-transform: none;
								padding: 0;
								&:hover {
									background-color: transparent;
									color: @brand-primary;
								}
							}
						}
					}
				}
			}
		}
		.main_search-icon {
			color: @brand-primary;
			font-size: 1.5rem;
			padding: 2.2rem 1rem;
			display: inline-block;
			margin-right: 1rem;
			cursor: pointer;
		}
	}
	.navigation__overflow {
		float: left;
		width: 83.33%;
	}
	.inner-addon.left-addon{
		padding: 1.7rem 1rem;
		background-color: @brand-draker-grey;
		width: 100%;
		input {
			padding-left: 1.2rem;
			border: 1px solid @btn-default-border;
			height: auto;
			padding-right: 9.5rem;
		}
		.btn {
			font-size: 1.2rem;
			line-height: 0.8rem;
			border-width: 1px;
		}
		.glyphicon {
			position: static;
    		padding: 0;
    		pointer-events: auto;
		}
		.input-group-btn {
			position: absolute;
			right: 9.3rem;
    		z-index: 9;
		}
	}
	.search-icon-block {
		position: relative;
	}
	.search-form-block {
		opacity: 0;
		z-index: -2;
		position: absolute;
		right: 0;
		width: 30rem;
		transition: opacity .6s;
	}
	.site-search {
		.ui-menu {
			.ui-menu-item {
				border-top: 1px solid @brand-lighter-gray;
    			padding: 1rem;
			}
			.ui-menu-item-wrapper {
				display: table;
				width: 100%;
				color: inherit;
				text-decoration: none;
				&.ui-state-active {
					border: 1px solid @brand-primary;
					background: transparent;
				}
			}
			.thumb, .name, .price {
				display: table-cell;
				vertical-align: middle;
				padding: 0 1rem 0 0;
			}
			.thumb img {
				width: 3rem;
			}
			.name {
				width: 100%;
			}
		}
	}
	// right side menu
	.right-menu {
		position: absolute;
		right: 0;
	}
	.navigation--bottom .nav__links--products {
		li.nav__links--primary-has__sub.right_edge {
			background: @brand-primary;
			padding-left: 3rem;
			position: relative;
			width: 18rem;
			.sub__navigation {
				width: 18rem;
				left: auto !important;
				right: 0 !important;
				top: auto !important;
				padding: 1rem 0.5rem;
				text-align: center;
				.row {
					margin-left: -1rem;
				}
				.sub-navigation-section {
					width: 100%;
					.sub-navigation-list {
						margin-right: 4.1rem;
						&:last-child{
							margin-right: 0;
						}
						li {
							border-bottom: 1px solid @border-color;
							a:hover {
								background: transparent;
								color: @nav-header-hover-color;
							}
						}
					}
				}
			}
			.nav__link {
				a {
					color: @brand-white;
					background: url(../images/onlineStore_icon.svg) left center no-repeat;
					padding-left: 2.3rem;
					&:after {
						border: solid @brand-white;
						border-width: 0 1px 1px 0;
						right: -1.2rem;
					}
				}
			}
			&.show-sub {
				.nav__link a {
					color: @brand-white;
				}
			}
		}
	}

}
.branding-mobile {
	width: 100%;
	padding: 1rem 0;
	background: @nav-gray;
}
.navigation--bottom.js-enquire-offcanvas-navigation .close-nav button span {
	color: @brand-primary;
}
.ui-widget {
	font-family: inherit;
}
@media (min-width: 640px) and (max-width: 1023px) {
	.navigation--middle {
		background: @brand-primary;
		.nav__left .site-search .input-group {
			background: @brand-primary;
		}
		.nav-cart .mini-cart-icon {
			top: 0.2rem;
		}
	}
}
@media @phone {
	.nav-cart {
		position: relative;
		a{
			display: flex;
			align-items: center;
			.mini-cart-icon {
				display: block;
				margin-right: 0.6rem;
				.glyphicon-shopping-cart:before {
					content: '';
					background: url(../images/cart_icon_mobile.svg) no-repeat;
					width: 2.4rem;
					height: 2.4rem;
					background-size: contain;
					display: block;
				}
			}
			.mini-cart-count {
				display: block;
				.nav-items-total {
					text-align: center;
					display: inline-block;
					background: @mini-cart;
					border-radius: 0.5rem;
					color: @text-color-header;
					font-size: 1.4rem;
					line-height: 1.6rem;
					font-weight: bold;
					font-family: @InterBold;
					height: 1.6rem;
					width: 1.6rem;	
				}
			}
		}
	}
}
@media (max-width: 640px) {
	.nav__left {
		li {
			padding: 1rem 0.6rem;
		}
	}
	.navigation--middle {
		.nav__left {
			.site-search {
				.inner-addon .glyphicon {
					position: static;
				}
				ul.ui-autocomplete {
					left: 0 !important;
				}
				.input-group {
					background-color: @brand-primary;
				}
			}
		}
	}
}
@media (max-width: 1023px) {
	.navigation--bottom .navigation__overflow {
		height: 80vh;
	}
	.nav__left {
		li {
			a {
				color: @brand-black;
				font-family: @InterBold;
			}
		}
	}
	.navigation--middle {
		.nav__left .site-search {
			.input-group {
				.form-control {
					color: @brand-white;
					&::-webkit-input-placeholder { /* Edge */
						color: @brand-white;
					}
					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
						color: @brand-white;
					}
					&::placeholder {
						color: @brand-white;
					}
				}
			}
			ul.ui-autocomplete li {
				a {
					padding: 0;
				}
				.name {
					padding: 0;
				}
			}
		}
		.nav-cart {
			.mini-cart-count .nav-items-total {
				top: 0;
			}
		}
		.nav-location span {
			svg {
				vertical-align: sub;
			}
		}
	}
	.sticky-nav-top .userSign {
		color: @nav-link-color;
	}
	.navigation--bottom {
		.container {
			padding: 0;
		}
		.userGroup {
			color: @nav-link-color;
			a {
				color: @nav-link-color;
			}
			.userName {
				font-size: 1.5rem;
			}
		}
		.nav__links--mobile {
			li {
				background: transparent;
				a {
					color: @nav-link-color;
				}
			}
			.subNavList {
				li {
					background: transparent;
				}
			}
			div.sub-nav .myAccountLinksHeader {
				text-transform: capitalize;
			}
		}
		.nav__links--products {
			li.liUserSign {
				a.userSign {
					text-transform: capitalize;
				}
			}
		}
		.nav__links--primary-has__sub {
			.nav__link--drill__down {
				text-align: right;
				color:@brand-dark-blue;
				padding: 2.3rem 2.5rem;
			}
			.column-20-percent {
				width: 100%;
			}
		}
	}
	.custom-mobile-links {
		padding-top:3.2rem;
		.nav__left{
			padding: 4.3rem 1.6rem 2.1rem 1.6rem !important;
			@media @tablet_ipad {
				background-color: @brand-white;
			}
			li{
				border-top: 0;
				&.active{
					padding: 0.8rem 0.8rem 0.8rem 0.9rem;
					border-radius: 0.8rem;
				}
			}			
		}
		ul {
			list-style: none;
			padding: 0rem 1rem 0rem 0rem;
			margin: 0;
			li {
				padding: 0.5rem 1.2rem 0.5rem 2rem;
				background:@brand-white;
				.form-group {
					margin: 0;
					a {
						color: @brand-black;
						font-family: @InterBold;
					}
					svg {
						width: 2rem;
						height: 1.5rem;
					}
				}
				&.paymybill {
					a {
						color: @brand-black;
						font-family: @InterBold;
						
					}
					svg {margin-right: 1rem; }
					
					}
				}
			}
		}
	}

.branding-mobile {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.9rem 0;
	.mobile__nav__row--table {
		display: inline-block;
	}
	.mobile__nav__row--table-cell {
		.form-group{
			margin-bottom: 0;
			border: none;
			background : transparent;
			color: @brand-white;
			padding: 0;	
			display: flex;	
			svg{
				align-self: center;
			}				
			select{
				&.form-control{
					background: transparent;
					color: @brand-white;
					font-family: @Inter;
					font-weight: bold;
					border: none;		
					font-size: 1.4rem;
					line-height: 1.6rem;
					padding: 0;	
					-webkit-appearance: none;
					-moz-appearance: none;
					width: 2.4rem;						
				}	
				option{
					color: @nav-links;
				}			
			}					
		}
	}
	.navbar-toggle {
		margin: 0 1.6rem 0 0;		
		padding: 0.7rem 0.4rem;
		span {
			background-color: @brand-white;
			display: block;
			width: 2rem;
			height: 0.2rem;
			border-radius: 0.5rem;
		}
		span + span {
			margin-top: 0.4rem;
		}
	}
	.user-account-icon {
		margin-left: 1.6rem;
		margin-right: 1.6rem;
		display: flex !important;
		.mob-user-acc {
			list-style: none;
			margin: 0 0 0 3rem;
			padding: 0 1rem 0 0;
			display: inline-block;
			.userSign {
				background: url(../images/user_icon.svg) left center no-repeat;
				height: 3.2rem;
				width: 3.2rem;
				display: block;
				background-size: contain;
			}
			.close-nav {
				display: none;
			}
		}
	}
	.js-mobile-logo {
		width: 9rem;
		margin-right: auto;
		a{
			margin: 1.7rem 1.6rem 1.6rem;
			img {
				width: 100%;
			}
		}
	}
}
@media (max-width: 480px) {
	.navigation.navigation--bottom {
		top: 0; 
	}
}
@media (min-width: 1400px) {
	.container {
		width: 1024px !important;
	}
}
