.tabs-container {
	background-color: @quicklinks-background;
	margin-top: 5rem;
	ul {
		padding: 0;
		list-style: none;
		margin-top: -3.9rem;
		display: flex;
		justify-content: center;
		li {
			display: inline-block;
			font-size: 1.4rem;
			line-height: 2rem;
			background: @brand-white;
			color: @configurator-dark-grey;
			box-shadow: 0 1.05px 6.3px rgba(116, 116, 116, 0.25);
			padding: 1.3rem 0;
			width: 20rem;
			border-bottom: 2px solid @configurator-arrow-grey;
			margin: 0 0.1rem;
			cursor: pointer;
			text-align: center;
			@media @phone {
				font-size: 1.4rem;
				max-width: 49%;
			}
			.wifi-icon, .tv-icon, .landphone-icon, .recmdplans-icon {
				width: 2.6rem;
				height: 2rem;
				@media @phone {
					width: 2rem;
					height: 2rem;
					margin: 0;
				}
			}
			.wifi-icon {
				background: url(../images/wifiGrey_icon.svg) center no-repeat;
				background-size: contain;
			}
			.tv-icon {
				background: url(../images/TVGrey_icon.svg) center no-repeat;
				background-size: contain;
			}
			.landphone-icon {
				background: url(../images/landphoneGrey_icon.svg) center no-repeat;
				background-size: contain;
			}
			.recmdplans-icon {
				width: 1.7rem;
				background: url(../images/recomendedPlansGrey_icon.svg) center no-repeat;
				background-size: contain;
			}
			span {
				display: inline-block;
				margin: 0 0.5rem;
			}
			.bundle-name {
				margin-top: 0.5rem;
				@media @phone {
					padding: 0 0.5rem;
				}
			}
			&.active {
				border-bottom: 2px solid @brand-primary;
				font-family: @InterBold;
				.wifi-icon {
					background: url(../images/wifiblue_icon.svg) center no-repeat;
					background-size: contain;
				}
				.tv-icon {
					background: url(../images/TVBlue_icon.svg) center no-repeat;
					background-size: contain;
				}
				.landphone-icon {
					background: url(../images/landphoneBlue_icon.svg) center no-repeat;
					background-size: contain;
				}
				.recmdplans-icon {
					background: url(../images/recomendedPlansBlue_icon.svg) center no-repeat;
					background-size: contain;
				}
				.bundle-name {
					color: @brand-primary;
				}
			}
			@media @phone {
				svg {
					width: 2rem;
				}
			}
		}
	}
}
.recomended-plans {
	position: relative;
	@media @phone {
		padding: 0;
	}
	b, .bold {
		font-family: @InterBold;
	}
	.tab-content-wrapper {
		padding-top: 2rem;
	}
	.tab-headline {
		color: @brand-default-text;
		font-size: 2rem;
		line-height: 2.4rem;
		font-family: @InterBold;
		text-transform: uppercase;
		text-align: center;
		margin: auto;
		padding: 2.5rem 0 1rem;
		width: 45%;
		@media @tablet {
			width: 65%;
		}
		@media @phone {
			font-size: 1.8rem;
			width: 100%;
		}
	}
}
.page-createcombinationpage {
	.livemore-section {
		.headline {
			color: @brand-default-text;
			font-size: 1.8rem;
			line-height: 2.4rem;
			font-family: @InterBold;
			text-transform: uppercase;
			margin-bottom: 2rem;
			display: none;
			@media @phone {
				font-size: 1.8rem;
				line-height: 2.4rem;
			}
		}
		.livemore-col {
			border-radius: 1rem;
			padding-bottom: 1rem;
			.img-block, .cta-header {
				display: none;
			}
			.prodTitlePurtorico {
				background-color: @brand-white;
				color: @brand-black;
				font-size: 1.8rem;
				line-height: 2.4rem;
				border-radius: 1rem 1rem 0 0;
				margin-top: 0;
				padding: 0.6rem;
				min-height: 5.6rem;
				vertical-align: middle;
				display: flex;
				align-items: center;
				justify-content: center;
				border-bottom: 1px solid;
			}
			.cta-btn-block {
				.price {
					margin-bottom: 2rem;
					color: @configurator-dark-grey;
					font-size: 1.8rem;
					span {
						font-size: 1.4rem;
						font-family: @Inter;
					}
				}
			}
			.char-spec {
				padding-top: 1rem;
				table td {
					padding-top: 1rem;
					padding-bottom: 1rem;
				}
			}
		}
	}
	.cta-container {
        div {
            :nth-child(5n+1) {
                .livemore-col{
                    margin-top: 2rem;
                    @media @phone{
                       margin-top: 3rem;
                    }
                }
            }
        }
    }
}
.createComboBanner {
    padding: 0;
    @media @phone{
        margin-top: 1rem;
    }
    .plans-create {
        background:  @plp-category-footer-background url("../images/plans_bg.svg") center no-repeat;
        background-size: auto;
        border-radius: 1rem;
        text-align: center;
        padding: 2rem 3rem;
		margin-top: 1rem;
        @media @phone{
            padding: 3rem;
            margin: 0 2rem;
        }
        .headline {
            color: @brand-white;
            font-family: @InterBold;
            font-size: 1.8rem;
            line-height: 2.4rem;
            text-align: left;
            width: 74%;
            display: inline-block;
            vertical-align: middle;
			margin-bottom: 0;
            @media @phone{
                text-align: center;
                width: 100%;
                display: block;
                margin-bottom: 2rem;
            }
			@media @tablet {
				width: 60%;
			}
        }
        .createButton {
            text-align: right;
            width: 24%;
            display: inline-block;
             @media @phone{
                text-align: center;
                width: 100%;
                display: block;
             }
			 @media @tablet {
				 width: 30%;
			 }
            .plans-create-button {
                background-color: @brand-white;
                color: @brand-primary;
                border-radius: 0.8rem !important;
                padding: 1rem 2rem;
				text-transform: none;
            }
        }
    }
}
.create-combination {
	background-color: @cart-background;
	width: 50rem;
	border: 1px solid @cart-border;
	margin: 0 auto;
	border-radius: 1rem;
	@media @phone {
		width: 100%;
	}
	.form-headline {
		color: @brand-primary;
		font-size: 1.8rem;
		line-height: 2.4rem;
		font-family: @InterBold;
		border-bottom: 1px solid @cart-border;
		margin: 0;
		padding: 1.5rem;
		border-radius: 1rem;
	}
	form {
		padding: 2rem;
		@media @phone {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
	.form-group {
		margin-bottom: 0;
	}
	.form-group + .form-group {
		border-top: 1px solid @cart-border;
	}

	.checkbox {
		background-color: @brand-white;
		border: 1px solid @cart-border;
		border-radius: 1rem;
		margin-bottom: 2rem;
		margin-top: 0;
		text-align: left;
		label {
			display: block;
			position: relative;
			padding: 1.7rem 2rem 1.7rem 5rem;
			cursor: pointer;
			font-size: 1.4rem;
			line-height: 2rem;
			text-transform: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			color: @configurator-dark-grey;
		}
		label + label {
			border-top: 1px solid @cart-border;
			@media @phone {
				font-size: 1.3rem;
			}
		}
		.custom-label input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		  }

		  /* Create a custom checkbox */
		  .checkmark {
			position: absolute;
			left: 1.8rem;
			height: 2.4rem;
			width: 2.4rem;
			border: 2px solid @brand-primary;
			border-radius: 0.4rem;
		  }

		  /* Create a custom checkmark */
		  .checkInfo {
			left: 2.8rem;
			top: 1.6rem;
			width: 0.7rem;
			height: 1.6rem;
			border: solid @brand-primary;
			border-width: 0 0.3rem 0.3rem 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			position: absolute;
		  }

		  /* Create the checkmark/indicator (hidden when not checked) */
		  .checkmark:after {
			content: "";
			position: absolute;
			display: none;
		  }
		  .custom-label input:checked ~ .checkmark {
			  background-color: @brand-primary;
		  }
		  /* Show the checkmark when checked */
		  .custom-label input:checked ~ .checkmark:after {
			display: block;
		  }

		  /* Style the checkmark/indicator */
		  .custom-label .checkmark:after {
			left: 0.7rem;
			top: 0.3rem;
			width: 0.7rem;
			height: 1.2rem;
			border: solid @brand-white;
			border-width: 0 0.3rem 0.3rem 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		  }
	}
	.configuratorAlert {       
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 2rem;
        color: @configurator-dark-grey;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
    }
    .js-create-comb-button {
        border: 0;
        width: 67%;
		text-transform: none;
    }
}
.page-homepage {
	.livemore-col .cta-btn-block .price {
		display: none;
	}
}

//custom design for banner
.home-banner {
	position: relative;
	img {
		width: 100%;
    	.object-fit();
	}
    .simple-banner{
        .category-banner-section {
            position: relative;
            text-align: right;
            .banner-content {
                top: 6rem;
                left: 0;
                padding: 0;
                width: 1024px !important;
                 @media @phone{
                    width: 100% !important;
                    top: 0;
                    position: relative;
                 }
                @media @tablet{
                    top: 4rem;
                }
                @media @desktop_mini{
                    top: 6rem;
                }
            }
            .home-block {
                position: relative;
                transform: none;
            }
        }
        img {
            width: auto;
			@media (min-width: 640px) {
				max-width: 54%;
			}
            @media @phone{
                width: 100%;
            }
        }
    }
	.home-banner-cta {
		position: absolute;
		top: 2rem;
		display: flex;
		flex-direction: column;
		text-align: left;
		padding-left: 0;
		@media @phone{
            position:static;
            font-size: 2.6rem;
            line-height: 3.3rem;
            display: block;
			text-align: center;
			margin-bottom: 2rem;
        }
		.banner-special-text {
			font-size: 4rem;
			line-height: 5.1rem;
			color: @text-color-blue;
			font-family: @InterBold;
			@media @phone {
				font-size: 2rem;
				line-height: 2.4rem;
			}
		}
		small {
			font-size: 2.2rem;
			line-height: 2.8rem;
			color: @brand-default-text;
			margin: 1rem 0 2rem 0;
			display: block;
			@media @phone {
				font-size: 70%;
				line-height: normal;
				margin: 0 0 1rem 0;
			}
		}
		.home-banner-info{
			line-height: 5rem;
			text-align: left;
			color: @text-color-blue;
			@media @phone{
                line-height: 3.3rem;
            }
			@media @tablet{
                line-height: 4rem;
            }
			.banner-special-text{
				font-family: @InterBold;
				text-transform: uppercase;
			}
			.banner-desc{
				font-size: 2.4rem;
				color: @brand-grey-text;
				display: block;
			}
		}
		.banner-btn-first{
		    &,
            &:active,
            &:hover{
                background-color: @brand-btn-blue;
                border: 1px solid @brand-btn-blue;
                color: @brand-white;
                text-align: center;
                text-transform: uppercase;
                font-family: @InterBold;
                font-size: 1.8rem;
                line-height: 1.8rem;
                padding: 1.8rem 3.6rem;
                position: relative;
                border-radius: 2.8rem;
                display: table;
                width: max-content;
                @media @phone{
                    padding: 1rem;
                    font-size: 1.5rem;
                    line-height: 1.5rem;
					display: inline-block;
                }
                @media @tablet{
                    line-height: 1.5rem;
                    font-size: 1.5rem;
                }
                @media @desktop_mini{
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                }
			}
		}
	 }
	 .home-crt-combination{
		 cursor: pointer;
	 }
}
.promotion-cta {
	position:relative;
	display: flex;
	flex-direction: column;
	right:32rem;
	top:8rem;
	min-width: 40rem;
	.description{
		display: block;
		font-size: 6rem;
    	line-height: 6rem;
		color: @brand-white;
		@media (max-width: 1023px){
			font-size: 3.8rem;
    		line-height: 4rem;
		}
		@media @phone{
			font-size: 1.8rem;
    		line-height: 1.8rem;
		}
		small {
			font-size: 2.2rem;
			line-height: 2.6rem;
			display: block;
			margin-top: 2.5rem;
			@media @phone {
				font-size: 50%;
				line-height: normal;
				margin-top: 2%;
			}
		}
		.textBold{
			font-family: @InterBold;
		}
	}
	.promotion-button{
	     &,
		 &:hover{
		    background-color: @brand-primary;
            border: 1px solid @brand-primary;
            color: @brand-white;
            text-align: center;
            font-size: 1.8rem;
            line-height: 1.8rem;
            padding: 1.8rem 0.5rem;
            text-transform: uppercase;
            position: relative;
            display: block;
            max-width: 62%;
            font-family: @InterBold;
            border-radius: 2rem;
            @media @tablet{
                font-size: 1.2rem !important;
                padding: 0.5rem;
            }
            @media @phone{
                padding: 0.5rem;
            }
        }
	}
}

// live more section
.page-homepage{
    .container.home-banner {
        padding: 0;
    }
    footer {
        margin-top: 0;
    }
    .home-banner .home-block {
        right:0;
        left:0;
    }
	.livemore-section {
		padding: 4rem 0;
		text-align: center;
		@media @phone, @tablet{
			padding: 0 0 3rem 0;
		}
		.livemore-col {
			padding-bottom: 1.5rem;
			cursor: pointer;
		}
		.plpContainer{
			.cta-home-block{
				box-shadow: 0 0.15rem 0.71rem rgba(116, 116, 116, 0.25);
				border-radius: 2rem;
				@media @phone{
					margin-top: 3rem;
				}
				.btn-dark-style{
					position: absolute;
					display: flex;
					bottom: 4rem;
					left: 28%;
					justify-content: space-around;
					width: 45%;
					padding: 0.8rem 0.5rem;
					@media @tablet{
						bottom: 3rem;
						padding: 0.2rem;
					}
					@media @phone{
                        bottom: 4rem;
                    }
				}
			}
		}
	}
	.cta-container {
		&,
		& > div {
			    @media @tablet{
				:nth-child(n+4) {
					margin-top: 0;
				}
			}
		}
	}
	.home-banner2 {
		.category-banner-section .home-block {
			transform: none;
			width: 50%;
			top: 0;
			bottom: 0;
			right: 0;
		}
		.promotion-cta {
			transform: none;
			flex-direction: row;
			right: 0;
			top: 0;
			min-width: auto;
			height: 100%;
			align-items: center;
		}
	}
}
.livemore-section {
	@media @desktop_mini{
		padding-top: 9rem;
        padding-bottom: 9rem;
	}
	.headline {
		font-family: @InterBold;
		font-size: 3rem;
		color: @text-color-blue;
		margin-bottom: 6rem;
		font-size: 3.6rem;
		line-height: 3.6rem;
		text-align: center;
		margin-top: 0;
		@media @phone{
			margin: 2rem 1rem 3rem;
		}
		@media (max-width: 1023px) and (min-width: 640px) {
		 padding: 3rem 0.5rem 0;
		}
	}
	.livemore-col {
		width:100%;
		display:flex;
		flex-direction:column;
		text-align: center;
		background-color: @brand-white;
		border-radius: 2rem;
		justify-content: space-between;
		border: 1px solid @configurator-dark-grey;
		@media @phone {
			margin: 3rem 0 0;
			width: 100%;
		}
		.cta-header{
			background: url("../images/cta_header.svg") center no-repeat;
			width:100%;
			height:12rem;
			margin-top:-6rem;
			left:0;
			position: relative;
		}
		.prodTitlePurtorico {
            font-family: @InterBold;
            color: @brand-text-cart;
            font-size: 2.2rem;
            line-height: 2.8rem;
            text-align: center;
            padding: 0 5%;
			@media @tablet {
				font-size: 1.8rem;
				padding: 0 3%;
			}
        }
        .cta-btn-block {
            .btn-block {
                width: auto;
                margin: 0 auto 1rem;
                border-radius: 0.8rem !important;
				padding: 1rem 4.8rem;
				text-transform: none;
            }
        }
		.cta-header-text{
			margin-right: auto;
			margin-left: auto;
			display: block;
			color: @brand-white;
			.headertext{
			    .price{
                    font-family: @InterBold;
                    font-size: 2.4rem;
                    padding-top: 4.5rem;
                    line-height: 1rem;
                    color: @configurator-dark-grey;
                    margin-bottom: 0;
                    &:first-letter {
                        font-size:2.2rem;
                    }
                    span {
                        font-size: 1.5rem;
                        font-family: @Inter;
                    }
                }
			}
			.description{
                font-size: 1.6rem;
			    font-weight: 700;
				padding-right: 1rem;
				line-height: 2.2rem;
				color: @configurator-dark-grey;
				padding-left: 1rem;
			}

		}
		h3 {
			background-color: @brand-tertiary;
			color: @brand-white;
			font-family: @InterBold;
			font-size: 1.6rem;
			padding: 1rem 0.5rem;
			margin: 0;
			text-transform: uppercase;
			&.internet-mega{
				background-color: @brand-green;
			}
			&.promotion-product{
				background-color: @brand-dark-magenta;
			}
		}
		.img-block {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
			}
			img {
				width: 100%;
				border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
					&.cta-img{
						&-large{
							max-width: 36rem;
						}
						&-small{
							max-width: 25.8rem;
						}
					}
				}
			}
			.img-overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: linear-gradient(183.06deg, rgba(59, 202, 236, 0) 35.33%, rgba(29, 151, 200, 0.28) 68.67%, rgba(0, 102, 166, 0.85) 97.47%);
			}
			h4 {
				position: absolute;
				top: 50%;
				left: 50%;
				-moz-transform: translateX(-50%) translateY(-50%);
				-webkit-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
				margin: 0;
				color: @brand-white;
				font-family: @InterBold;
				font-size: 1.8rem;
				text-transform: uppercase;
				width: 90%;
			}
		}
		.char-spec {
			margin-bottom: 0.5rem;
			display: inline-block;
			width: 100%;
			border-radius: 0;
			position: relative;
			padding: 0 10%;
			@media @tablet{
				padding: 0 5%;
			}
			table {
				height: 100%;
			}
			table td{
				padding: 1rem 0;
				@media @tablet{
					padding:1rem;
				}
			}
			table tbody tr {
				&:last-child {
					border-bottom: none;
				}
			}
            .download_speed:before {
                background: url(../images/internet-download.svg) center 5px no-repeat;
                background-size: contain;
            }
            .upload_speed:before {
                background: url(../images/internet-upload.svg) center 5px no-repeat;
                background-size: contain;
            }
            .sd_channels {
                &:before {
                    background: url("../images/yellowTv.svg") center 3px no-repeat;
                }
            }
            .voice {
                &:before {
                    background: url("../images/landLineReceiver.svg") center 5px no-repeat;
                }
            }
			.char-spec-col {
				position: relative;
				color: @brand-primary;
				font-size: 1.2rem;
				border-radius: 0;
				display: flex;
				flex-direction: row;
				@media (max-width: 1023px) and (min-width: 640px) {
					margin-bottom: 0.5rem;
				}
				&:before{
					top:0;
				}
				.spec-description{
					width: 100%;
					position: relative;
					display: flex;
					flex-direction: row-reverse;
					justify-content: space-around;
					word-break: break-word;

					.spec-heading {
						position: relative;
						font-family: @InterBold;
						font-size: 1.6rem;
						color: @text-color-darkBlack;
						padding-left: 20%;
						margin-right: auto;
						text-align: left;
						line-height: 2.1rem;
						.spec-text{
							display:block;
							position: relative;
							font-family: @InterBold;
							font-size: 1.6rem;
							line-height: 2.1rem;
							color:@text-color-grey-1;
							word-wrap: break-word;
							text-align:left;
							margin-top: 0.5rem;
						}
					}

				}
				&:before {
					min-width: 2.4rem;
					max-width: 2.4rem;
					height: auto;
					position: relative;
					margin: 0;
					content: '';
					background-size: contain;
				}
				.download-icon,
				.upload-icon{
					color: @brand-gray;
					font-size: 1rem;
				}
				.speed-value{
					width: 6.5rem;
					display: inline-block;
				}
				.itemDesc {
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    color:@brand-black;
                    padding-left: 1.5rem;
                    text-align: left;
					margin-bottom: 0;
                    @media @tablet{
                        padding-left: 1rem;
						font-size: 1.4rem;
                    }
                }
			}
			.spec-opts{
				table td{
					padding:0;
					.char-spec-col{
						margin-bottom: 0.5rem;
					}
				}
			}
		}
		.price {
			color: @brand-primary;
			font-size: 1.6rem;
			font-family: @InterBold;
			span {
				font-size: 0.9rem;
			}
		}
		.buynow-btn {
			.btn-yellow();
			font-family: @InterBold;
			font-size:1.5rem;
			margin-bottom:3rem;
			width: 80%;
			display: inline-block;
			@media @tablet{
				margin-top: 0;
			}
		}
		.seeMoreBundle {
			font-size: 1.2rem;
			text-decoration: underline;
			&:hover, &:focus {
				color: @brand-primary;
			}
		}
	}
	.regulartory-info{
		font-size: 1.4rem;
		line-height: 2rem;
		margin-top: 1rem;

		margin-bottom: 2rem;
		text-align: center;
	}
}
@media (min-width: 1400px) {
    .container {
        width: 12rem;
	}
}
/* What do u need section */
.whatDoUneed-section{
	background: @brand-tertiary;
	padding: 7.6rem 0;
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		@media @phone{
			display: block;
		}
	}
	.firstSection{
		.subHeading {
			font-size: 2.8rem;
			line-height: 3.6rem;
			text-align: left;
			margin-bottom: 0;
			color: @configurator-light-grey;
			@media @phone{
				text-align: center;
			 }
			@media @tablet{
				font-size: 2rem;
			}
		}
		.mainHeading {
			font-family: @InterBold;
			font-size: 4rem;
			line-height: 5.1rem;
			text-align: left;
			margin: 0;
			color: @configurator-dark-grey;
			@media @phone{
				text-align: center;
				margin-bottom: 3rem;
			}
			@media @tablet{
				font-size: 3rem;
			}
		}
		@media @tablet{
			padding-left: 2rem;
		}
	}
	.secondSection {
		@media @desktop_mini {
			padding-right: 0
		}
		@media @desktop {
			padding-right: 0
		}
		div{
			text-align: center;
		}
		img {
			display: inline-block;
			width: 5rem;
			max-height: 5rem;
		}
		.sectionHead {
			font-family: @InterBold;
			font-size: 1.8rem;
			line-height: 2.4rem;
			color: @configurator-dark-grey;
			@media @phone{
				margin-top: 1rem;
			}
		}
		.sectionDesc {
			font-size: 1.6rem;
			line-height: 1.8rem;
			margin-bottom: 0;
			color: @configurator-dark-grey;
			@media @phone{
				margin-bottom: 3rem;
			}
		}
	}
}
.textYellowColor {
	color: @brand-tertiary;
}