//
// Mixins
// --------------------------------------------------------

/**********For Complete Application**********/

// DEFAULT IMAGE/VIDEO ADJUSTMENT - CENTER
.object-fit() {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

// IMAGE/VIDEO ADJUSTMENT - TOP
.object-fit-top() {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

// IMAGE/VIDEO ADJUSTMENT - BOTTOM
.object-fit-bottom() {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: bottom;
    object-position: bottom;
}

/******** for bold font ********/
.bold-font-mixin() {
    font-family: arial;
    font-weight: normal;
}

.normal-font-mixin() {
    font-family: arial;
    font-weight: normal;
}

.leftpull-fullwidth() {
    float: left;
    width: 100%;
}

.righttpull-fullwidth() {
    float: right;
    width: 100%;
}
