//
// Myaccont
// --------------------------------------------------------
/* ----Styles for address book page start---- */
.account-section{
    margin: 2rem 0; 
    font-size: 1.4rem;
    width: 100%;
    &-header {
        font-family: @futuraPTBold;
        &-add {
            a {
                text-decoration: underline;
            }
        } 
    } 
    .account-list{
        margin-top: 1rem;
        font-size: 1.8rem;
        .account-cards{
            border: 0;
            &.card-select {
                padding-top: 3rem;
            }
            .card{
                border: 1px solid @brand-gray;
                border-radius: 2rem;
                margin: 0 2rem 2rem 0;
                @media @desktop {
                    width: 31%;
                }
                @media @tablet {
                    width: 45%;
                    margin-left: 2%;
                }
                @media @phone {
                    margin-top: 2rem;
                }
                & > ul > li:first-child {
                    text-transform: capitalize;
                    color: @brand-btn-blue;
                }
            }
        }
    }
}
.addressItem {
    font-size: 1.8rem;
}
/* ----Styles for address book page end---- */

/* ----Styles for order history page start---- */
.account-section{
    .orderhistory{
        &-list-table{
            border-radius: 1rem;
            border-style: hidden;
            box-shadow: 0 0 0 1px @brand-primary;
            @media @desktop, @tablet{
                text-align: center;
            }
            tr{
                th{
                    font-family: @futuraPTBold;
                    text-align: center;
                    background-color: @brand-btn-blue;
                    text-transform: capitalize;
                    &:last-child{
                        text-align: center;
                        border-top-right-radius: 1rem;
                    }
                    &:first-child{
                        border-top-left-radius: 1rem;
                    }
                }
                &:nth-child(2n+1){
                    background-color: @brand-white;
                    border-top: 1px solid @border-color-3;
                }
                &:nth-child(2n+2){
                    background-color: @brand-white;
                    border-top: 1px solid @border-color-3;
                }
                td{
                    padding: 1.5rem;
                    border-bottom-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                     &.date {
						text-transform: capitalize;
					}
                    &:last-child{
                        text-align: center;
                        @media @phone{
                            text-align: left;
                        }
                    }
                    &.status{
                        font-family: @futuraPTBold;
                    }
                }
            }
            .order-num{
                &,
                &:hover,
                &:active,
                &:focus{
                    color: @brand-primary;
                    font-family: @futuraPTBold;
                }
            }
        }
    }
    & &-content{
        .account{
            &-orderhistory{
                &-pagination{
                    .pagination-bar{
                        .account-head{
                            display: inline-block;
                            font-family: @futuraPTBold;
                            color: @brand-btn-blue;
                            @media @phone {
                                width: 35%;
                            }
                        }
                        .sort-refine-bar{
                            padding: 0;
                            .control-label{
                                color: @brand-black;
                                text-transform: none;
                                font-weight: normal;
                                font-size: 1.8rem;
                            }
                            .sortForm{
                                display: inline-flex;
                                float: right;
                                .form-control{
                                    border-color: @brand-black;
                                    border-radius: 2rem;
                                }
                            }
                        }
                        &-results{
                            color: @brand-black;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
    .order-info{
        @media @smartphones{
            flex-direction: column;
        }
    }
}
/* ----Styles for order history page end---- */

/* ----Styles for payment history page start---- */
.account-section{
    .control-label{
        color: @brand-default-text;
    }
    .subhead{
        color: @brand-primary;
        font-family: @futuraPTBold;
    }
    h2{
        margin-top: 0;
    }
    .account-payment-add{
        .payment-link{
            &,
            &:focus,
            &:active,
            &:hover{
                font-size: 1.6rem;
                font-family: @futuraPTBold;
                color: @brand-primary;
            }
        }
    }
    .account-list{
        .account-cards{
            .card{
                .action-links{
                    .pay-icon{
                        color: @brand-primary;
                        font-size: 1.6rem;
                    }
                }
                .pay-set-default{
                    left: 3rem;
                }
            }
        }
    }
    .pay-update-head{
        display: inline-block;
        padding-left: 1rem;
    }
    .pay-new-form,
    .addr-new-form{
        margin-top: 0;
    }
    .addr-head{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
.payment-remove{
    font-size: 1.4rem;
    h2{
        font-size: 1.4rem;
        font-family: @futuraPTBold;
        margin: 0 0 1rem;
        text-transform: uppercase;
    }
}
/* ----Styles for payment history page end---- */

/* ----Styles for subscription page start---- */
.account-section{
    font-size: 1.4rem;
    .subscript-num,
    .manage-link{
        &,
        &:hover,
        &:active,
        &:focus{
            color: @brand-primary;
        }
    }
    .account-orderdetail{
        .subscript-title{
            font-size: 2rem;
            color: @brand-primary;
            font-family: @futuraPTBold;
        }
        .subhead{
            font-size: 1.4rem;
            font-family: @futuraPTBold;
            margin: 0 0 1rem;
            color: @brand-primary;
        }
    }
}
/* ----Styles for subscription page end---- */

/* ----Styles for Consent Management page staart---- */
.account-section{
    & &-content{
        .account-section-form{
            margin-top: 0;
            text-transform: capitalize;
        }
        .consent-management-list{
            &__item{
                border-color: @brand-black;
            }
            &__label{
                color: @brand-btn-blue;
                text-transform: capitalize;
                font-family: @futuraPTBold;
            }
            &__title{
                &::before{
                    color: @brand-default-text;
                }
            }
            .toggle-button{
                input[type="checkbox"]{
                    &:checked{
                        &:hover,
                        &:focus{
                            ~ label{
                                .toggle-button__switch{
                                    background-color: @brand-primary;
                                    border-color: @brand-primary;
                                }
                            }
                        }
                    }
                }
                label{
                    .toggle-button__switch{
                        &::after{
                            z-index: 0;
                            background-color: @brand-black;
                        }
                        &.is-checked{
                            &::after{
                                background-color: @brand-white; 
                            }
                        }
                    }
                }
                @supports (-ms-ime-align:auto) and (-webkit-text-stroke:initial){
                    .toggle-button{
                        right: 1rem;
                    }
                }
            }
        }
        .consent-section-head{
            font-size: 3rem;
            @media @tablet, @phone{
                padding: 1rem;
            }
        }
        .account-section-content{
            @media @desktop{
                padding: 1rem 0;
            }
        }
    }
}
/* ----Styles for Consent Management page end---- */