//
// Order Confirmation
// --------------------------------------------------------

.checkout {
    &-success {
        border-radius: 5px;
        padding: 0 2.4rem;
        color: @brand-text-cart;
        margin: 3rem auto 3.2rem;
        @media @phone {
            margin : 2.4rem auto 3.2rem;
        }
        &__body {
            margin: 0;
            text-align: left;
            color: @brand-text-cart;
            font-family: @InterBold;
            &__headline {
                font-size: 1.8rem;
                margin-bottom: 0;
                text-transform: unset;
                line-height: 2.3rem;
                font-weight: normal;
                .userInfo{
                    text-transform: capitalize;
                }
            }
            p {
                margin-bottom: 0;
                line-height: 2.3rem;
            }
            .header-info{
                padding: 0;
            }
            .additional-info{
                padding: 3rem 0;
                font-size: 1.6rem;
                font-family: @Inter;
            }
            .textPrimaryColor{
                font-family: @InterBold;
            }
        }
    }
}

.order{
    &-confirmation{
        &-details{
            margin: 3rem 0;
            .additional-info-box{
                margin-top: 1.6rem;
                padding: 2.4rem;
                font-size: 1.6rem;
                line-height: 2rem;
                color: @brand-text-cart;
                font-weight: normal;
                font-family: @Inter;
                background: @cart-info-box-bg;
                border: 0.1rem solid @cart-info-box-border;
                box-sizing: border-box;
                border-radius: 1rem;
                @media @phone {
                    margin: 2.3rem 1.6rem 0;
                    padding: 1.6rem;
                }
            }
        }
    }
    &-detail,
    &-totals{
        &-overview{
            border: 1px solid @cart-border;
            background-color: @cart-background;
            border-radius: 1rem;
            padding: 1.6rem 2.4rem;
            color: @brand-text-cart;
            font-size: 1.4rem;
            table{
                tr:first-child td {
                    padding-top: 2rem;
                }
            }
            .summary-head{
                font-family: @InterBold;
                color: @brand-btn-blue;
                margin: 0 0 1.6rem;
                font-size: 1.8rem;
                line-height: 2.3rem;
            }
            .item{
                &-label{
                    text-transform: none;
                    &:after{
                        content: ":";
                    }
                }
                &-value{
                    font-family: @InterBold;
                    text-align: right;
                    font-size: 1.8rem !important;
                }
                &-label,
                &-value{
                    display: inline-block;
                    font-size:1.8rem;
                    line-height: 3.2rem;
                    vertical-align: top;
                    width: 49%;
                    padding-bottom: 0;
                    @media @phone {
                        font-size:1.4rem;
                    }
                }
            }
            @media @phone {
                margin: 0 1.6rem 1.6rem;
                padding: 1.6rem;
            }
            .orderData-right{
                background: @brand-white;
                border: 0.1rem solid @cart-border;
                box-sizing: border-box;
                border-radius: 1rem;
                padding: 1.6rem 1.4rem;
                margin:0;
                @media @phone {
                    padding: 1.6rem 0.6rem;
                }
            }
        }
    }
    &-totals{
        &-overview{
            padding: 1.5rem 2.4rem 2.4rem;
            @media @phone {
                padding: 1.6rem;
                margin: auto 1.6rem 1.6rem;
            }
            .summary-head{
                margin: 0 0 0.8rem;
                display: none;
                &.creditCheckDeSelected {
                    display: block;
                }
                @media @phone {
                    display: block;
                }
            }
            .order-paybox{
                &.creditCheckDeSelected {
                    display: none;
                    &.monthly {
                        display: block;
                        .payboxHeading {
                            display: none;
                        }
                    }
                }
                td{
                    padding: 0.6rem 0 0.6rem 0;
                    &:first-child{
                        padding: 1.6rem 0 0.6rem 0;
                    }
                }
                tr.cartTotal {
                    color: @brand-text-cart;
                    font-family: @InterBold;
                    border-top: 1px solid @brand-btn-blue;
                    td{
                        padding-top: 1rem;
                    }
                }
                .payboxHeading{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    .totals-heading{
                        font-family: @futuraPTBold;
                        font-size: 1.8rem;
                        line-height: 2.3rem;
                        color:@brand-primary;
                        margin : 1.6rem auto 0.8rem 0;
                    }
                    .arrow_accord{
                        width: 1rem;
                        height: auto;
                        display: block;
                        margin-right: 0.6rem;
                        &.down{
                            background: url(../images/arrow_accordian.svg) center no-repeat;
                        }
                        &.up{
                            background: url(../images/arrow_accordianup.svg) center no-repeat;
                        }
                    }
                }
                .order-totals-payBox{
                    background: @brand-white;
                    border: 0.1rem solid @cart-border;
                    box-sizing: border-box;
                    border-radius: 1rem;
                    display: flex;
                    flex-direction:column;
                    padding: 0.8rem 0 1rem;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    .price-list{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 0.8rem 2.4rem 0rem 1.6rem;
                        .priceValue{
                            font-family: @futuraPTBold;
                        }
                        p{
                            margin:0;
                        }
                    }
                    .cartTotal{
                        color: @brand-text-cart;
                        font-family: @futuraPTBold;
                        border-top: 1px solid @brand-btn-blue;
                        padding-top: 0.8rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin: 0.6rem 2.4rem 0.8rem 1.8rem;
                        @media @phone {
                            margin: 0.8rem 2.4rem 0.8rem 1.8rem;
                        }
                        p{
                            margin:0;
                        }
                    }
                    .cart-bundle-package{
                        width:75%;
                        ol{
                            margin-bottom: 0;
                            li{
                                list-style-type: none;
                                margin: 0.6rem auto;
                            }
                        }
                    }
                }
            }
            .order-sum-box{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                background-color: @brand-white;
                border: 0.2rem solid @brand-primary;
                box-sizing: border-box;
                border-radius: 1rem;
                padding: 1.6rem 0;
                font-size: 1.8rem;
                line-height: 2.3rem;
                &.creditCheckDeSelected {
                    display: none;
                }
                @media @phone {
                    padding:1.6rem;
                }
                .sumbox{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 0;
                    .price{
                        margin:0;
                        font-family: @futuraPTBold;
                        font-size: 2.4rem;
                        line-height: 3.2rem;
                        @media @phone {
                            font-size: 1.8rem;
                            line-height: 2.3rem;
                        }
                    }
                    .desc{
                        font-size: 1.4rem;
                        line-height: 2rem;
                        margin:0;
                        text-align: center;
                        width: 69%;
                        @media @phone {
                            width:80%;
                        }
                    }
                }
                .sumbox-border{
                    border-left: 2px solid @brand-primary;
                    margin: 1rem 1.5rem;
                }
            }
            .order-terms{
                margin: 2.4rem auto auto;
                font-size: 1.4rem;
                line-height: 2.1rem;
                @media @phone {
                    margin: 1.6rem auto auto;
                }
            }
        }
    }
}
.page-orderConfirmationPage {
    .container {
        padding: 0;
        @media @tablet {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    .account-section {
        margin: 0 0 2rem;
    }
    .terms {
        margin : 2rem 0 0;
    }
    .cta-home-block,
    .cart-totalwrapper{
        display: none;
    }
}
#order-totals{
    box-shadow: none;
    .cart-bundle-package{
        ol > li {
            list-style-type: none;
            padding-top: 1rem;
        }
    }
    .packageTotal{
        font-family: @InterBold;
    }
}