//
// PLP
// --------------------------------------------------------
/* ----Styles for banner text start---- */
.category-banner-section{
	position: relative;
	.banner-content{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
	}
	.home-block{
		position: absolute;
		transform: perspective(1px) translateY(30%);
		right: 16%;
		@media @smartphones{
			right: 18%;
		}
		@media @desktop{
			transform: perspective(1px) translateY(50%);
		}
	}
	.banner-text{
		font-family: @futuraPTMedium;
		font-size: 5rem;
		color: @brand-white;
		text-transform: uppercase;
		@media @tablet{
			font-size: 3rem;
		}
		@media @phone{
			font-size: 2rem;
		}
		@media @tablet_landscape, @phone_landscape{
			font-size: 5rem;
		}
	}
}
/* ----Styles for banner text end---- */

/* ----Styles for search page start---- */
.product__list--wrapper {
	margin-top: 4rem;
	.results h1 {
		margin-top: 0;
		padding: 0 0 0 2rem;
	}
}

.page-search{
	.product__listing.product__list {
		.grid_view.product__list--items{
			.prod-wrapper{
				.prod-img,
				.prod-content{
					height: 10rem;
				}
			}
		}
	}
}
/* ----Styles for search page end---- */

/* ----Styles for mobile devices start---- */
.product-list,
.search-list {
	.tab-pane{
		border-bottom: 0;
	}
	.show-more{
		width: 20%;
		@media @phone{
			width: 50%;
		}
	}
}
.product__listing.product__list{
	padding-left: 0;
	.grid_view.product__list--items{
		background-color: @brand-white;
		padding: 0;
		.prod-wrapper{
			max-height: 100%;
			border-bottom: 0;
			.prod{
				&-img{
					height: 20rem;
					@media @smartphones{
						width: 12rem;
					}
					> img{
						width: 10rem;
						@media @smartphones{
							width: 9rem;
						}
					}
				}
				&-content{
					display: flex;
					justify-content: space-around;
					flex-direction: column;
					@media @desktop, @tablet{
						max-height: 100%;
						overflow: visible;
					}
					.p-brand{
						color: @text-color-secondary;
						font-size: 1.2rem;
						font-family: @futuraPTBold;
					}
					.prod{
						&-data {
							margin: 2rem 0;
						}
						&-name{
							font-size: 1.6rem;
							font-family: @futuraPTBold;
							color: @nav-link-color;
							white-space: normal;
							overflow: hidden;
							line-height: 1.2;
							@media @phone{
								overflow: visible;
								max-height: fit-content;
							}
						}
						&-price{
							color: @brand-primary;
							font-size: 1rem;
							line-height: 1;
							.p-code{
								color: @brand-grey-text;
								font-size: 1.2rem;
								font-family: @futuraPTLight;
							}
							.actual-price{
								font-family: @futuraPTBold;
								font-size: 2.5rem;
								display: block;
							}
						}
						&-plans{
							color: @brand-dark-blue;
							font-size: 1.8rem;
						}
					}
				}
			}
			.prod-btn-info{
				width: 65%;
				@media @smartphones{
					width: auto;
				}
				margin: 0 auto;
				height: auto;
				.device_tooltip {
					position: relative;
					.tooltiptext {
						visibility: hidden;
						width: 100%;
						background-color: @brand-black;
						color: @brand-white;
						text-align: center;
						border-radius: 0.6rem;
						padding: 1.2rem;
						position: absolute;
						z-index: 1;
						bottom: 125%;
						left: 28%;
						margin-left: -6rem;
						opacity: 0;
						transition: opacity 0.3s;
						font-size: 1.3rem;
						@media @tablet{
							left: 38%;
						}
						@media @smartphones{
							bottom: 50%;
							left: 18%;
						}
						&::after{
							content: "";
							position: absolute;
							top: 100%;
							left: 50%;
							margin-left: -0.5rem;
							border-width: 0.5rem;
							border-style: solid;
							border-color: @brand-black transparent transparent transparent;
						}
					}
					&:hover{
						.tooltiptext{
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
			.add-cart-btn{
				.btn-custom();
				padding: 1rem 0;
				text-transform: uppercase;
				font-size: 1.5rem;
				font-family: @futuraPTMedium;
				&, 
				&:hover{
					@media @smartphones{
						margin-top: 0;
						display: grid;
					}
				}
				&.disabled{
					background-color: @plp-category-btn-device;
					border-color: @plp-category-btn-device;
				}
			}
			@media @desktop, @tablet{
				.product-info{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
				}
			}
			.features-link{
				display: inline-block;
				font-size: 1.4rem;
				margin: 2rem 0;
				color: @brand-primary;
				text-decoration: underline;
				text-transform: uppercase;
				font-family: @futuraPTBold;
				&.disabled{
					pointer-events: none;
					cursor: default;
					color: @plp-category-btn-device;
				}
			}
		}
	}
	&.prod_grid_view{
		background-color: @brand-white;
		@media @smartphones{
			padding-right: 1rem;
		}
	}
}
/* ----Styles for mobile devices end---- */

/* ----Styles for facets start---- */
@media @desktop{
	.empty-design-filter{
		min-height: 6rem;
	}
	.page-search{
		.empty-design-filter{
			min-height: 10rem;
		}
	}
}
.product__facet {
	border-right: 0;
	.facet {
		border-bottom: 0;
		.facet{
			&__name {
				color: @brand-primary;
				font-weight: normal;
			}
			&__list {
				li {
					border: 1px solid @brand-primary;
					text-align: center;
					margin-bottom: 0.5rem;
					font-size: 1.6rem;
					color: @brand-primary;
				}
				label {
					font-size: 1.6rem;
					color: @brand-primary;
				}
				&__text{
					text-transform: none;
				}
			}
		}
	}
}
/* ----Styles for facets end---- */

/* ----Styles for pagination start---- */
.pagination-bar{
	&-results {
		font-size: 1.6rem;
	}
	li{
		span,
		a{
			font-size: 1.6rem;
		}
	}
	.sort{
		&-text {
			text-transform: none;
			color: @brand-primary;
			font-weight: normal;
		}
		&-dropdown{
			border-color: @brand-primary;
		}
	}
	&.bottom{
		display: none;
	}
}

.pager li > a{
    background-color: @brand-primary;
    border: 1px solid @brand-primary;
    border-radius: 0;
    color: @brand-white;
	text-transform: uppercase;
	font-size: 1.8rem;
	&:hover{
		text-decoration: none;
		background-color: @brand-primary;
	}
}
/* ----Styles for pagination end---- */

/* ----Styles for searchbox autocomplete start---- */
.navigation--middle{
	.nav__left{
		.site-search{
			ul.ui-autocomplete{
				li{
					.thumb{
						img{
							width: 3rem;
						}
					}
				}
			}
		}
	}
}
/* ----Styles for searchbox autocomplete end---- */

/* ----Styles for searchResult start---- */
.search-list{
	h1{
		color: @brand-primary;
		font-family: @futuraPTLight;
	}
	.top{
		margin-top: 0;
	}
	.prod-nam{
		font-size: 1.8rem;
	}
}
/* ----Styles for searchResult end---- */

/* ----Styles for InternetPLP Page start---- */
.category-head-section{
	margin: 2rem 0 10rem;
	@media @smartphones{
        margin: 2rem 0 3rem;
    }
	.subheadline{
		padding: 0;
		font-family: @futuraPTBold;
		margin-bottom: 1rem;
		font-size: 3.6rem;
		font-style: normal;
        font-weight: bold;
		color: @text-color-darkBlack;
	}
	.sub-desc{
		font-family: @futuraPTMedium;
        font-size: 1.4rem;
        text-align: left;
        .special-text{
            font-family: @futuraPTBold;
            color: @brand-primary;
		}
		.textPrimaryColor{
			text-decoration: underline;
		}
	}
}
.main-head-section{
	margin-bottom: 0;
}
.livemore-section{
	.livemore-col{
		.planName {
			font-family: @futuraPTBold;
			font-size: 2rem;
			line-height: 3.1rem;
			margin-bottom: 1.5rem;
			color: @brand-primary;
		}
		.planInfo {
			font-family: @futuraPTMedium;
			font-size: 1.5rem;
			line-height: 2.3rem;
			color: @nav-link-color;
		}
		@media @desktop{
			.cta-content-spec{
				padding: 25% 0 0;
			}
		}
		.addcart-btn{
            .btn-custom();
            font-family: @futuraPTBold;
            margin-bottom:3rem;
            @media @tablet{
                margin-top: 0;
            }
        }
        .prepaid-addcart-btn{
            .btn-custom();
            font-family: @futuraPTBold;
            margin-bottom:3rem;
            @media @tablet{
                margin-top: 0;
            }
        }
        .char-spec {
            .char-spec-col {
                .spec-description  {
                    .spec-heading {
                        .spec-text {
                             .textPrimaryColor {
                                .textPrimaryColor();
                             }
                        }
                    }
                }
            }
        }
	}
	.char-spec {
        .prepaidplanheading {
            padding: 2rem 2rem 0 2rem;
            .planName {
                margin-bottom: 0;
            }
        }
    }
}
.page-tvPlans{
    .tv-addon--component{
        .headline{
            font-size: 2.8rem;
            color: @brand-default-text;
            font-family: @futuraPTLight;
        }
    }
    .tv-addon-experience{
        border: 1px solid @brand-primary;
        display: inline-block;
        .subhead{
            margin: 0;
            padding: 1rem 0;
            color: @brand-white;
            background-color: @brand-primary;
            font-size: 1.8rem;
            font-family: @futuraPTBold;
        }
        .tv-experience-block{
            font-size: 1.2rem;
            padding: 1.5rem 0;
            display: inline-block;
            text-align: left;
            .desc{
                text-align: left;
                min-height: 6rem;
            }
            .btn-learn-more{
                text-transform: uppercase;
                padding: 0.5rem 2rem;
            }
        }
    }
}

.page-tvPlansAddon,
.page-tvPlans{
	.livemore-section{
		.livemore-col{
			.img-block{
				&::after{
					background: none;
				}
			}
		}
	}
}

.more-channels{
	margin: 2rem 0;
	a{
		font-size: 1.6rem;
		text-decoration: underline;
		color: @brand-primary;
		&:active,
		&:hover,
		&:focus{
			color: @brand-primary;
		}
	}
}

.international-plan-rates{
	color: @brand-black;
	.table-intenational-rates{
		font-size: 1.4rem;
		border: 2px solid @brand-primary;
		font-family: @futuraPTLight;
		thead > tr{
			> th{
				text-transform: none;
				font-size: 1.2rem;
				border-bottom: 0;
				padding: 0.8rem 2rem;
				font-family: @futuraPTBold;
				&:nth-of-type(even){
					text-align: center;
				}
			}
			td{
				padding: 0.8rem 2rem;
			}
		}
		tbody > tr{
			&:nth-of-type(odd){
				background-color: @brand-light-gray;
			}
			> td{
				border: 0;
				padding: 0.8rem 2rem;
				&:nth-of-type(even){
					text-align: center;
				}
			}
		}
		.subhead{
			color: @brand-default-text;
			font-family: @futuraPTBold;
		}
	}
	.additional-info{
		.subhead{
			font-weight: bold;
		}
		.calling-link{
			text-decoration: underline;
			color: @brand-primary;
		}
	}
}

.tv-addon-table{
	font-size: 1.4rem;
	border: 2px solid @brand-primary;
	font-family: @futuraPTLight;
	color: @brand-black;
	thead > tr {
		> th{
			padding: 0.8rem 2rem;
			border-bottom: 0;
			font-family: @futuraPTBold;
			&:last-child{
				text-align: left;
			}
		}
	}
	tbody > tr{
		&:nth-of-type(even){
			background-color: @brand-light-gray;
		}
		> td{
			padding: 2rem;
			vertical-align: middle;
			border: 0;
			text-align: left;
			.channel{
				&-name{
					font-family: @futuraPTBold;
				}
			}
			&.channel-list{
				width: 35%;
				font-size: 1.2rem;
			}
			.btn-getnow{
				padding: 0.5rem 2rem;
				text-transform: uppercase;
				font-size: 1.4rem;
				font-family: @futuraPTBold;
			}
			.price{
				color: @brand-primary;
				font-family: @futuraPTBold;
				text-align: center;
			}
		}
	}
}

/* ----Styles for InternetPLP Page end---- */

/* ----Styles for postpaid, prepaid and bundles plp Page start---- */
.page-postpaid, .page-prepaid, .page-internet-tv-phone, .page-internet-phone, .page-roaming {
	header {
		margin-bottom: 0;
	}	
} 
.addon-section {
	.headline {
		font-family: @futuraPTLight;
		font-size: 2.8rem;
		text-align: center;
		margin-bottom: 2rem;
	}
	.addon-col {
		h5 {
			background-color: @brand-primary;
			padding: 1rem;
			margin: 0;
			color: @brand-white;
			font-family: @futuraPTBold;
			text-align: center;
			font-size: 1.6rem;
		}
		.addon-desc {
			border: 1px solid @brand-primary;
			color: @brand-grey-text;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2.5rem 1rem;
			font-size: 1.4rem;	
			font-weight: bold;		
			.price {
				margin: 0 3rem;
				color: @brand-primary;
				span {
					font-size: 0.9rem;
				}
			}
		}
	}
}

.summary-block {
	padding: 2rem 1rem 0 1rem;
	font-size: 1.2rem;
	h6 {
		color: @brand-primary;
		font-weight: bold;
	}
	p {
		color: @brand-primary;
	}
	ul {
		display: inline-block;
    	text-align: left;
		li{
			span {
				color: @brand-primary;
			}
		}
	}
}

.bundle-plan-list, .bundle-rates {
	font-family: @futuraPTLight;
	.headline {
		font-family: @futuraPTLight;
		margin-bottom: 2rem;
		font-size: 2.8rem;
		color: @brand-grey-text;
		text-align: center;
	}
	ul {
		font-size: 1.4rem;
		line-height: 2.3rem;
		span {
			font-weight: bold;
		}
	}
}
.bundle-rates {
	font-size: 1.4rem;
	table {
		border-bottom: 1px solid @brand-lighter-gray;
		th {
			text-transform: capitalize;
			font-size: 1.6rem;
			&:last-child {
				text-align: center;
			}
		}
		tr td:first-child {
			text-align: left;
		}
		tr td:last-child {
			text-align: center;
		}
	}
	.table-striped > tbody > tr:nth-of-type(odd) {
		background-color: @brand-lighter-grey;
	}
	.disclaimer {
		font-size: 1rem;
		text-align: left;
	}
}
.page-roaming {
	.livemore-section .livemore-col .char-spec{
		.voice:before {
			background: url(../images/minutes_icon.svg) center no-repeat;
			background-size: contain;
		}
		.sms:before {
			background: url(../images/anywheretext_icon.svg) center no-repeat;
			background-size: contain;
		}
	} 
}
.cta-container {
	flex-wrap: wrap;
	&,
	& > div {
		display: flex;
		justify-content: center;
		/*:nth-child(n+5) {
            @media @desktop {
                margin-top: 10rem;
            }
        }*/
        /*@media @tablet{
            :nth-child(n+4) {
                margin-top: 10rem;
            }
        }*/
        .prepaidTextInfo {
            position: absolute;
            top: 100%;
            display: block;
            width: 90%;
            .cityAvailabelInfo {
                width: 90%;
                margin: 1rem auto;
                font-family: @futuraPTMedium;
                font-size: 1.5rem;
                line-height: 2.3rem;
            }
        }
	}
}

/* ----Styles for postpaid, prepaid and bundles plp Page end---- */
.plp-livemore-section {
    background-color: @plp-category-background;
	padding: 5rem 0 0;
	overflow: hidden;
    .plpContainer {
        margin-bottom: 10rem;
	}
	@media @phone{
		padding: 5rem 2rem 0;
	}
}
.page-postpaid{
	.plp-livemore-section {
		background-color: @brand-white;
	}
	.device-livemore-section{
		padding: 0 2rem;
		.category-head-section{
			margin-bottom: 1rem;
		}
	}
}
/* Plp Featured Promo CSS Starts */
.custom-container {
    &.promoSection {
        @media @tablet{
            padding: 0;
        }
        @media @smartphones{
           padding: 0;
        }
    }
}
.promoHeading {
	font-family: @futuraPTBold;
	font-style: normal;
	font-weight: bold;
	font-size: 3.6rem;
	line-height: 4.6rem;
	color: @nav-link-color;
	text-align: center;
	margin-bottom: 2rem;
	@media @smartphones{
        font-size: 3rem;
        line-height: 3.8rem;
        text-transform: uppercase;
    }
}
.featuredPromotions {
	display: flex;
	justify-content: center;
	@media @smartphones{
       display: block;
    }
	.promotionCta {
		display: flex;
		flex-direction: column;
		padding: 0 2.5rem;
		align-items: center;
        justify-content: center;
        @media @tablet{
            padding: 0 1rem;
        }
        @media @smartphones{
            margin-bottom: 4rem;
            padding: 0;
        }
        .promo-img-block {
            width: 100%;
            img {
                border-radius: 0.5rem;
                width: 100%;
                @media @smartphones{
                    border-radius: 0;
                }
            }
        }
		.promo-data-block {
			padding: 0 5rem;
			text-align: left;
			width: 100%;
			@media @tablet{
                padding: 0 2rem;
            }
            @media @smartphones{
                text-align: center;
            }
			h3 {
				font-family: @futuraPTBook;
				font-style: normal;
				font-weight: bold;
				font-size: 2.4rem;
				line-height: 3.1rem;
				color: @nav-link-color;
				@media @smartphones{
                    font-size: 2.4rem;
                    line-height: 3.1rem;
                }
			}
			p {
				font-family: @futuraPTBook;
				font-style: normal;
				font-weight: 500;
				font-size: 1.8rem;
				line-height: 2.3rem;
				color: @text-color-darkBlack;
				margin-bottom: 1.5rem;
			}
		}
		.promo-btn-block {
		    width: 100%;
			text-align: left;
			padding: 1rem 5rem;
			margin-top: auto;
			@media @tablet{
                padding: 0 2rem;
            }
            @media @smartphones{
                text-align: center;
                margin-top: 1.5rem;
            }
			a {
			    .discover-btn {
                    .btn-yellow;
                    font-weight: bold;
                    font-family: @futuraPTBold;
                    padding: 0.5rem 3rem !important;
                    color: @brand-black !important;
                }
			}
		}
	}
}
/* Plp Featured Promo CSS Ends */
/* 3p Plp Promo Banner Starts */
.promo-banner-row{
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 4rem 0;
	@media @phone{
		flex-direction: column;
	}
	.headline{
		font-size: 3rem;
		line-height: 4rem;		
		margin-top:3rem;
		padding:0 4rem;
		font-family: @futuraPTBold;
		color:@text-color-darkBlack;	
		@media @phone{
			font-size: 2.4rem;
			line-height: 3.2rem;
			padding:0 5rem;			
		}
		@media @tablet{
			font-size: 2.6rem;
			line-height: 3rem;
		}
	}
	.experience-block{
		display: flex;
		flex-direction: column;
		font-family: @futuraPTBold;
		color:@text-color-darkBlack;
		@media @phone{
			flex-direction: column-reverse;
		}
		img{
			@media @phone{
				padding:4rem 4rem 0;
			}
			@media @tablet{
				padding: 0 2rem;
			}
			
		}
		.descContainer{
			position: absolute;		
			left:4rem;
			margin-top: 15rem;
			font-family: @futuraPTLight;
			font-weight: 700;
			@media @phone{
				position: relative;
				left: 7%;
				margin: 0;	
				padding: 0 2rem;						
			}
			@media @tablet{
				left: 0;
				margin-left: 3rem;
				margin-top: 10rem;
			}
			.desc{
				position: relative;
				font-size: 1.8rem;
				line-height: 2.4rem;
				display: flex;
				flex-direction: column;
				width:60%;
				@media @phone{
					width:80%;
				}
				.btn-yellow {
				 width:50%;
				 margin-top:3rem;
				 font-family: @futuraPTBold;
				 @media @phone{
					 width:auto;
				 }
				 @media @tablet{
					margin-top: 2rem;
				 }
				 a{
					&:hover, &:focus, &:active {
						color: @brand-white;
					}
				  }
				}
			}
		}
	}
}
/* 3p Plp Promo Banner Ends */
/*  popup box display for plan selection in postpaid start */
.postpaid-cta-popup{
	text-align: center;
	.headline-text{
		font-size: 1.4rem;
		color: @nav-link-color;
	}
	.livemore-section{
		padding: 6rem 0 2rem;
		overflow: auto;
		.livemore-col{
			margin: auto;
			.char-spec{
				padding: 25% 0 0;
			}
		}
	}
	.plp-pop-btn{
		font-size: 1rem;
		width: 100%;
		margin-bottom: 1rem;
	}
	.planName{
		font-size: 1.5rem;
	}
	.planInfo{
		font-size: 1.3rem;
	}
	.plp-decision-text{
		margin-bottom: 2rem;
		font-size: 1.4rem;
		font-family: @futuraPTBold;
		color: @nav-link-color;
	}
}
/*  popup box display for plan selection in postpaid end */
/* Prepaid PLP CSS */
.page-prepaid{
	.plp-livemore-section {
		background-color: @brand-white;
	}
	.livemore-col {
        @media @smartphones{
            margin-top: 12rem;
        }
    }
}
.prepaid-cta-popup {
    .livemore-section {
        @media @smartphones{
            padding: 0;
        }
        .prepaidPlanPopupCtabox {
            margin: 0 25% 8%;
            padding: 0;
            @media @tablet{
                margin: 0 20% 8%;
                padding: 0;
                width: 60%;
            }
            @media @smartphones{
                margin: 0 10% 8%;
                padding: 0;
                width: 80%;
            }
        }
        .livemore-col {
            width: 100%;
            @media @tablet{
                .char-spec {
                    padding: 15% 10% 0 10%;
                }
            }
        }
    }
    .prepaidplanInfoTc {
        position: relative;
        display: block;
        clear: both;
        .tc {
            font-size: 1.2rem;
        }
    }
}
