//custom design for Site wide for LLA demo
.js-site-logo {
	width: 13.6rem;
}
.btn-dark-style {
	&:hover{
		color: @meta-nav-color-open;
	}
}

#accNavComponentDesktopOne, 
#accNavComponentDesktopTwo {
	background-color: @brand-swap-secondary;
}
.custom-container {
	@media @tablet, @desktop{
		padding: 0 10rem;
	}
	@media @phone {
		padding: 0 1.8rem;
	}
}
//login popup
#cboxOverlay {
	opacity: 0.7 !important;
	position: fixed;
}
.logintitle {
	.headline-text {
		background-color: @brand-dark-blue;
		color: @brand-white;
		padding: 1.5rem 4rem;
		font-size: 1.8rem;
		font-family: @futuraPTBook;
		margin: 0;
	}
}
#login-popup {
	.guest-checkout {
	    display: none;
		padding-top: 2rem;
		label {
			text-transform: none;
			font-size: 1.8rem;
			font-weight: normal;
			color: @brand-grey-text;
			&.error {
				color: @input-error-border;
				font-size: 1.4rem;
				padding-left: 2.8rem;
			}
			&.control-label {
				position: absolute;
				top: 0.6rem;
				left: 2.8rem;
				font-size: 1.4rem;
				font-weight: bold;
			}
		}
		.form-group {
			position: relative;
			margin-top: 2rem;
		}
		.btn {
			position: absolute;
			top: 0;
			right: 0;
			height: 5.6rem;
			line-height: 5rem;
			padding-top: 0;
			border-radius: 0 2.8rem 2.8rem 0 !important;
		}
		.form-control {
			height: 5.6rem;	
			border: 1px solid @brand-grey-text;
			border-radius: 2.8rem;
			padding: 2rem 10rem 0.6rem 2.8rem;
			font-size: 1.8rem;
		}
		.alternate {
			position: relative;
			font-size: 2rem;
			color: @brand-primary;
			&:before, &:after {
				content: '';
				position: absolute;
				border-top: 1px solid @brand-primary;
				width: 43%;
				height: 1px;
				top: 1.5rem;
			}
			&:before {
				left: 0;
			}
			&:after {
				right: 0;
			}
		}
	}
	h5 {
		margin-bottom: 0;
		font-size: 1.8rem;
		line-height: 3rem;
		color: @brand-grey-text;
		span {
			font-family: @futuraPTBold;
		}
	}
	a {
		text-decoration: underline;
	}
	.login-popup-close {
		cursor: pointer;
		margin-left: 3rem;
		color: @brand-primary;
		text-decoration: underline;
		font-size: 1.6rem;
	}
}
.page-cartPage {
	.guest-checkout {
		display: block !important;
	}
}
//error page design
.error-page{
	margin-bottom: 3rem;
}

// alerts
.alert {
	font-size: 1.5rem;
	border-radius: 0.5rem;
	line-height: 1.9rem;
	margin-top: 1.5rem;
}

.alert-info {
	background-color: @alert-info-bg;
	border: 1px solid @alert-info-border;
	color: @brand-black;
}

// breadcrumb
.breadcrumb-section{
	padding: 0;
	.breadcrumb {
		text-transform: none;
		font-size: 1.4rem;
		line-height: 1.7rem;
		padding: 1.3rem 0.7rem 1rem;
		li{
			a{
				color: @breadcrumb-text;
			}
			&.active{
				color: @brand-btn-blue;				
			}
		}
	}
}

.textPrimaryColor {
    color: @brand-primary;
}

#cboxContent {
	.modal-actions {
		.closeColorBox {
			border-radius: 2.5rem !important;
		}
	}
}
/* Spinner CSS */
.divOverlay {
	background: @brand-white;;
	border: 1px solid @cart-border;
	box-sizing: border-box;
	border-radius: 1rem;
	display: none;
	position: relative;
	text-align: center;
	padding: 3rem 2rem;
	margin-top: 1rem;
	.gifOverlay{
		height: 4.7rem;
		width: 4.7rem;
		text-align: center;
		margin: 0 auto 1rem;
		z-index: 999;
		background: url("../images/spinner.gif") center no-repeat;
		background-size: cover;
	}
	.msg {
		font-family: @futuraPTBook;
		font-style: normal;
		font-weight: bold;
		font-size: 1.8rem;
		line-height: 2.3rem;
		color: @checkout-loader-text;
	}
}