//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                       COLORS PALLET
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************


@brand-primary:  #0098FF;
@brand-dark-primary:  #2375DC;
@brand-secondary: 	@brand-primary;
@brand-tertiary: 	#FFE100;
@brand-white:       #FFFFFF;
@brand-light-gray:  #D9D9DB;
@brand-gray:        #666666;
@brand-dark-magenta:#9D1D96;
@brand-red:         #FF4713;
@brand-dark-blue:   #074DA4;
@brand-light-blue:  #E3F5FE;
@brand-green:       #C2D500;
@brand-black:       #000000;
@brand-default-text:#4F4F4F;
@brand-lighter-gray: #E5E5E5;
@brand-drak-grey: #57585A;
@brand-draker-grey: #3F3E3E;
@brand-grey-text: #636569;
@brand-lighter-grey: #F9F7F7;
@brand-btn-blue: #0098FF;

@configurator-light-grey: #4F4F4F;
@configurator-dark-grey: #333333;
@configurator-arrow-grey: #BBBCBC;
@configurator-step-text: #63666A;
@configurator-light-grey-bg: #F5F5F5;
@alert-info-bg: #F0F9FA;
@alert-info-border: #00A1A2;

@nav-link-color: #074DA4;
@nav-link-hover-backround: @brand-primary;
@input-readonly-background: #EEEEEE;
@brand-light-black: #2D2D2D;

@cart-background: #FAFAFA;
@cart-border : #E2E8EE;
@cart-border-blue : #009BD9;
@cart-heading-color: #333F48;
@brand-text-cart: #333333;
@mini-cart :#FAA81A;
@cart-info-box-bg :#F8FDFF;
@cart-info-box-border : #A2E4FF;
@brand-swap-primary:    @brand-dark-primary;
@brand-swap-secondary:  @brand-secondary;
@brand-swap-tertiary:   @brand-tertiary;

//*********Typography*********
@futuraPTBold:  "futuraPTBold";
@futuraPTLight: "futuraPTLight";
@futuraPTMedium: "futuraPTMedium";
@futuraPTBook:  "futuraPTBook";
@Inter:  "Inter";
@InterBold: "InterBold";
@InterExtraBold: "InterExtraBold";
@Arial:  "Arial";
@ArialBold:  "ArialBold";
@Grandstander:  "Grandstander";


@baseFontSize: 10px;
@baseFontFamily: @Inter;
@baseLineHeight: 1.528571429;
@default-font-weight: normal;
@default-font-color: @brand-default-text;

//*********Typography Colors*********
@text-color:			#19212b;
@text-color-secondary:	#929292;
@link-color: 			@brand-secondary;
@link-hover-color:      @brand-primary;
@headline-color:		@link-hover-color;
@text-color-darkBlack:     #434343;
@text-color-blue:     #0066A6;
@text-color-grey:          #646464;
@text-color-grey-1:        #787878;
@text-color-grey-2:        #888888;	
@text-color-black:         #484646;
@text-color-grey-3:        #939393;
@text-color-grey-4:        #E9E9E9;
@text-color-grey-5:        #8E8E8E;
@text-checkout-color:      #B3B3B3;
@text-checkout-color1:     #86898F;

//== Borders
@border-color: 			#f2f2f2;
@border-color-2:		#e5e5e5;
@border-color-3:		#cccccc;
@border-color-4:         #E3E3E3;
@border-color-5:         #C4C4C4;
//Background
@brand-grey-background: #F1F1F1;
@text-color-header : #001828;
@text-color-header-language:#93959A;

//*********form colors*********
@label-color: 			#153a59;

@input-color: 			@text-color;
@input-border-color: 	@border-color-3;
@placeholder-color: 	#b9bdc2;
//** Border color for inputs on focus
@input-border-focus:    @brand-tertiary;
@input-error-border: #e83145;
//** Border color for inputs on error
@input-error:    #c53131;
//** Background color for inputs on error
@input-error-bg:        #f6e0e0;
@input-error-background:#f9dde1;
//** color for error text
@input-error-text:        @input-error;

@input-success: @border-color-3;
@input-success-bg: transparent;
@input-success-text: #00A651;

//*********Header Background*********
@header-background-color: 	#f8f8f8;
@nav-border-color: 			#d3d3d3;
@nav-gray: #074DA4;
@nav-links : #022959;
@nav-header-links:#292C35;
@nav-header-hover-color: #A7DBFF;
@footer-background-color: #F4F4F5;
@footer-border-color : #E9E9EA;
@footer-link-text-mobile :#00658A;
//*********Secondary Navigation colors*********
//Background color for My Account and My Company dropdowns
@meta-nav-color: #154259;
@meta-nav-color-open: #ffffff;
@meta-nav-hover-color: @brand-primary;
@meta-nav-border-color: #317f8c;
@meta-nav-background: #0085CA;
@meta-nav-hover-background: #0085CA;


//*********Search*********
@searchbar-icon-color: #b9bdc2;
@check-box-bg: #ffffff;

//********* icon navigation colors*********
@nav-icon-color: #0085CA;
@nav-icon-color-secondary: @brand-secondary;
@nav-icon-hover-background: #f2f2f2;


//*********Header Navigation-Categories Background*********
@nav-cat-background: @nav-icon-color;
@nav-cat-border: @nav-cat-background;
@nav-cat-hover-background: @border-color;
@nav-cat-link-color: #ffffff;
@nav-cat-font-size: 13px;
@nav-subcat-color: @text-color;
@nav-subcat-title-color: rgba(0,0,0,0.7);
@nav-subcat-background: @header-background-color;
@nav-subcat-border-color: @nav-border-color;
@nav-subcat-hover-background: @nav-border-color;



//*********Offcanvas navigation colors*********
@offcanvas-nav-header-color: @nav-icon-color;
@offcanvas-nav-header-background: #ffffff;
@offcanvas-nav-disabled: @text-color-secondary;
@offcanvas-meta-nav-color: #ffffff;
@offcanvas-meta-nav-border-color: @meta-nav-border-color;
@offcanvas-meta-nav-background: @meta-nav-hover-background;
@offcanvas-meta-nav-background-open: @meta-nav-background;
@offcanvas-meta-nav-hover-background: #107d8f;
@offcanvas-nav-cat-color: @text-color;
@offcanvas-nav-cat-title-color: rgba(0,0,0,0.7);
@offcanvas-nav-cat-background: #ffffff;
@offcanvas-nav-cat-border-color: @border-color;
@offcanvas-nav-cat-hover-background: @border-color;


//*********Breadcrumbs Colors*********
@breadcrumb-bg: #F2F2F2;
@breadcrumb-text: #494C54;

//*********Support section colors*********
@quicklinks-background: #F3F3F3;
@quicklinks-text-color: #6B6B6B;

//*********Footer colors*********
@footer-background: #FFFFFF;
@footer-text-color: #ffffff;
@disclamier-background: #373636;
@footer-border-color: @nav-border-color;
@copyright-background: @footer-background;
@copyright-color: #ffffff;

//*********Well colors*********
@well-secondary-bg: lighten(@brand-secondary, 47%);//#fef0df;
@well-quaternary-bg: #f2f2f2;

//Item colors
@item-promo-color: #00a651;
@item-sale-color: #ED1C24;
@item-sale-price-color: @text-color-secondary;


//== Tables
@table-2n-line-bg:				@border-color;
@table-head-bg:					#0085CA;
@table-head-color:				#ffffff;
@table-head-border-color:		@nav-border-color;
@table-border-color:			@border-color-2;
@table-expand-bg:				#e4e4e4;
@cart-product-table-head-color:				@table-expand-bg;

//== List
@list-active-bg:                #f6e7d9;


//== Pagination
@pagination-bar-framed:			true;
@pagination-border:				transparent;
@pagination-font-size:			24px;
@pagination-active-color: 		@label-color;
@pagination-active-font-weight: 700;
@pagination-width-large:		45px;

@pagination-disabled-color:     #a6a6a6;
@pagination-hover-color:		@pagination-active-color;

@pagination-prev-next-hover-bg:		@pagination-hover-bg;
@pagination-prev-next-hover-color:	@pagination-hover-color;


//*********Button Colors*********

//Primary Button State
@btn-primary-color: #ffffff;
@btn-primary-bg: @brand-swap-primary;
@btn-primary-border: @brand-swap-primary;
@btn-primary-hover-color: #ffffff;
@btn-primary-hover-border: @brand-swap-tertiary;
@btn-primary-hover-background: @brand-swap-tertiary;
@btn-primary-disabled-bg: #f9d4b4;

//Secondary Button State
@btn-default-color: #333333;
@btn-default-bg: #fff;
@btn-default-border: #ccc;
@btn-default-hover-color: #333333;
@btn-default-hover-border: #adadad;
@btn-default-hover-background: #e6e6e6;
@btn-default-disabled-bg: #c7e9e7;

//*********Accordion Colors*********
@accordion-bg: #000000;

//*********Carousel Style*********
@carousel-font-style: normal;

//*********Modal Colors*********
@modal-close-btn-color: #797979;

//*********Account Colors*********
@account-subheadline-bg: #f4f4f4;

//*********checkout*********
@steps-color:  #333F48;
@steps-background: #f4f4f4;
@steps-color-active: #333F48;
@steps-background-active: #f4f4f4;
@steps-border-active: #E2E8EE;
@steps-divider: @border-color-2;
@checkout-icon: @headline-color;
@checkout-list-head-bg: #ffffff;
@checkout-list-head-color: #333F48;
@checkout-list-head-border: #f4f4f4;
@checkout-list-head-padding: 60px 0 10px;
@checkout-list-head-padding-first: 0;
@payment-active-label-color: #3D3D3D;
@checkout-radio-border: #4596C7;
@checkout-radio-background: #93959A;
@checkout-address-color: #616161;
@checkout-loader-text: #B1B1B1;
@checkout-scroll-color: #C8C8C8;
@checkout-placeholder-color: #B3B3B3;

//*********Coupon Colors*********
@coupon-list-item-border: @border-color-3;
@coupon-list-item-bg: @table-2n-line-bg;
@coupon-list-item-remove-icon: #cdcdcd;

@grayblue: 				#F2F4F7;

/* PLP Related */
@plp-category-background: #F4F3F3;
@plp-category-btn-device: #BABABA;
@plp-category-btn-red: #FE3D3E;
@plp-category-footer-background: #2E71A7;
