//
// Cart
// --------------------------------------------------------
.cart{
    &-header{
        padding: 0.5rem 2rem 0.5rem 2rem;
        background-color: @cart-background;
        border: 1px solid @cart-border;
        font-size: 1.4rem;
        @media @phone{
            display: block;
        }
        h1{
            color: @cart-heading-color;
            font-family: @futuraPTBold;
            font-size: 1.8rem;
            text-transform: capitalize;
            margin: 1rem 0 0.5rem 0;
            @media @phone{
                font-size: 1.8rem;
                line-height: 2.3rem;
                margin: 1rem 0 1rem !important;
            }
        }
        p {
            @media @phone{
                font-size: 1.6rem;
                line-height: 2.1rem;
                margin-bottom: 0.5rem;
            }
        }
    }
    &-item-list-details  {
        border: 1px solid @cart-border;
        background-color: @cart-background;
        padding: 1.5rem 0;
        display: flex;
        .col-xs-4 {
            align-items: center;
            justify-content: center;
            display: flex;
        }
        @media @phone{
            padding: 1.5rem 1rem;
        }
    }
    &-right, &-item-list-details  {
        border: 1px solid @cart-border;
        background-color: @cart-background;
        padding: 1.5rem 2rem;
        .deleteForm {
            padding: 1rem 0.5rem;
        }
        .hideqtybox {
            .item__quantity {
                display: none;
            }
            .item__price {
                @media @phone{
                    font-size: 1.6rem !important;
                    line-height: 2.1rem;
                }
                b {
                    @media @phone{
                        font-size: 1.8rem;
                        line-height: 2.3rem;
                    }
                }
            }
        }
        .addon {
            .item__name{
                font-family: @futuraPTBold;
                font-style: normal;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 2.1rem;
                margin: 0 0 1rem;
                color: @cart-addon;
            }
            .item__price {
                color: @brand-default-text;
                font-family: @futuraPTBook;
                font-style: normal;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.1rem;
                margin: 1rem 0 0;
                b {
                    font-family: @futuraPTBold;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 2.3rem;
                    margin: 0;
                }
            }
        }
        &.addonlist, .addon {
            .item__info {
                .item__name {
                    font-family: @futuraPTBold;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 2.1rem;
                    margin: 0;
                    color: @cart-addon;
                }
                .addon-spec {
                    font-family: @futuraPTBook;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.6rem;
                    line-height: 2.1rem;
                    color: @brand-default-text;
                    margin-top: 1rem;
                }
                .addonCart {
                    .prod-spec-details {
                        .spec-head, .spec-link, .spec-desc {
                            font-family: @futuraPTBook;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 1.6rem;
                            line-height: 2.1rem;
                            color: @brand-default-text;
                            margin-top: 1rem;
                            a {
                                font-family: @futuraPTBook;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 1.6rem;
                                line-height: 2.1rem;
                                color: @brand-default-text;
                                text-decoration: none;
                                cursor: text;
                                &:hover{
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
            .item__price {
                color: @brand-default-text;
                font-family: @futuraPTBook;
                font-style: normal;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.1rem;
                margin: 0.5rem 0 0;
                b {
                    font-family: @futuraPTBold;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 2.3rem;
                    margin: 0;
                }
            }
        }
    }
    &-totals{
        font-size: 1.8rem;
        padding: 0;
        margin-top: 0;
        table{
            table-layout: auto;
            tr:last-child {
                font-weight: normal;
            }
            tbody {
                tr:last-child {
                    border-top: 1px solid @cart-td-border;
                    td {
                        font-weight: bold;
                        color: @cart-addon;
                    }
                }
                tr {
                    td {
                        color: @cart-addon;
                        @media @phone{
                            font-size: 1.6rem;
                            line-height: 1.6rem;
                        }
                        span {
                            font-weight: normal;
                        }
                    }
                }
            }
            .cartTotalMonthly {
                td {
                    padding-top: 1rem;
                }
            }
            th {
                padding: 0;
                text-align: left;
                font-family: @futuraPTBold;
                font-size: 1.8rem;
                text-transform: capitalize; 
                background: transparent;
                color: @cart-heading-color;               
            }
            td{
                padding: 1rem 0 1rem 0;
            }
            .cartTotal {
                border-top: 1px solid @cart-border;
                color: @brand-primary;
                font-weight: bold;
                td {
                    padding-bottom: 0.5rem !important;
                }
                .astrick {
                    display: none;
                }
            }
        }
    }
    &__actions {
        padding: 0 2rem 0 2rem;
        text-align: left;
        border: 1px solid @cart-border;
        border-top: none;
        background-color: @cart-background;
        margin-bottom: 2rem;
        margin-top: -0.1rem;
        @media @phone {
            padding: 0 1rem;
        }
        .headline {
            font-family: @futuraPTBold;
            font-size: 1.8rem;
            line-height: 1.6rem;
            color: @cart-addon;
        }
        .form-group {
            position: relative;
        }
        .control-label {
            position: absolute;
            top: 1rem;
            left: 1.2rem;
            line-height: 1.2rem;
            color: @nav-link-color;
            text-transform: capitalize;
            font-size: 1.4rem;
            font-family: @futuraPTBold;
        }
        .form-control {
            height: 5.6rem;
            padding: 1.5rem 1.2rem 0 1.2rem;
            font-size: 1.4rem;
            line-height: 1.4rem;
            color: @cart-addon;
            border: 1px solid @brand-grey-text;
            border-radius: 0;
             @media @phone{
                height: 5.8rem;
                padding: 2.4rem 1.2rem 0 1.2rem;
            }
        }
        .checkout-button {
            @media (min-width: 640px) {
                padding-left: 0;
            }
        }
        label.error {
            color: @brand-primary;
            text-transform: none;
            font-weight: normal;
        }
    }
}
.item__list{
    .item{
        border: 1px solid @cart-border;
        background-color: @cart-background;
        padding: 2rem 2rem 4rem 2rem;
        &__info{   
            width: auto;
            padding: 0.5rem 0 0;
            color: @cart-text-heading;
            font-size: 1.6rem;
            a{
                color: @cart-text-heading;
                &:hover{
                    text-decoration: underline;
                    color: @brand-grey-text;
                }
            }
            .sub-desc {
                display: none;
            }

            .cartProductDescription {
                font-family: @futuraPTBook;
                font-style: normal;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.3rem;
                margin: 0;
                color: @cart-item-desc;
                @media @phone{
                    font-size: 1.6rem;
                    line-height: 2.1rem;
                }
            }
        }
        &__name{
            font-size: 2.4rem;
            line-height: 3.1rem;
            font-family: @futuraPTBold;
        }
        &__image{
            width: 100%;
            padding: 1rem 0.5rem;
            img {
                width: 100%;
                margin: auto;
                display: block;
                max-width: 100%;
            }
        }
        &__delivery{
            &--label{
                text-transform: none;
                font-weight: normal;
                color: @brand-default-text;
            }
        }
        &__menu{
            text-align: right;
            width: auto;
            margin-bottom: 0.5rem;
            position: static;
            .cart-remove{
                font-size: 0;
                text-decoration: none;
                font-family: @futuraPTBold;
                text-indent:-9999px;
                color: @footer-background;
                background-size: contain;
                background: url("../images/deleteIcon.svg") center no-repeat;
                width: auto;
                height: 2.8rem;
                display: block;
            }
        }
        &__price{
            color: @brand-default-text;
            font-family: @futuraPTBook;
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.3rem;
            margin: 0.5rem 0 0;
            b {
                font-family: @futuraPTBold;
                font-style: normal;
                font-weight: 700;
                font-size: 2.2rem;
                line-height: 2.8rem;
                margin: 0;
            }
            &--monthly {
                color: @brand-primary;
            }
        }
        &__quantity{
            form {
                width: auto;
                display: inline-block;
            }
            .quantity-box{
                display: inline-flex;
                border: 1px solid @brand-gray;
                font-size: 2.4rem;
                .cart-qty {
                    width: 4rem;
                    border: 0;
                    font-size: 2.4rem;
                    padding: 0;
                    background-color: @brand-white;
                }
                .qtybtn{
                    &,
                    &:focus{
                        background-color: @brand-white;
                        border: 0;
                        color: @brand-primary;
                        outline: 0;
                    }
                    &:disabled {
                        cursor: not-allowed;
                        opacity: 0.65;
                    }
                }
            }
            .quantity-addon {
                font-size: 1.8rem;
                span {
                    color: @brand-primary;
                }
            }
        }
    }
    
    
    table{
        &.price-table-mobile{
            text-align: left;
        }
    }
}

.carousel-component{
    h1{
        color: @brand-dark-blue;
        font-size: 1.6rem;
    }
    .carousel{
        .item{
            & {
                &__name{
                    font-size: 1.2rem;
                    line-height: 2rem;
                    color: @brand-default-text;
                    margin: 0;
                    height: auto;
                }
                &__price{
                    font-size: 1.4rem;
                    color: @brand-default-text;
                }
            }
        }
    }
}
.content__empty .content {
    font-size: 1.8rem;
}
@media (min-width: 1024px) {
    .cart {
        &-right {
            margin-top: 1.5rem;
        }   
    }
}
@media (max-width: 1023px) {
    .cart-item-list .fixedline-product {
        position: initial;
        width: 100%;
    }
    .item__list table td {
        margin: 0;
    }
    .item__list--item .item__quantity {
        text-align: left !important;
    }
    .item__quantity form {
        margin: 0;
    }
    .item__price.pull-right.visible-sm.col-xs-7 {
        margin-left: 0;
        float: left !important;
    }
}
@media (max-width: 1023px) and (min-width: 640px) {
    .item__list--item > div {
        padding: 0;
    }
}
@media (max-width: 639px) {
    .cart {
        &-header {
            padding: 0 1rem 0.8rem 1rem;
            h1 {
                margin-top: 0.5rem;
                margin-bottom: 0;
            }
        }
        &-item-list-details {
            padding: 0.5rem 0 2rem 0;
        }
        &-right {
            padding: 1rem 0;
        }
    }
    .item__list{
        .item{ 
            &__info {
                padding: 0;
            }
            &__name {
                font-size: 1.6rem;
            }
            &__price {
                font-size: 2rem;
            }
            &__quantity {
                .quantity-box {
                    font-size: 1.8rem;
                    .cart-qty {
                        height: 3rem;
                        font-size: 1.8rem;
                    }
                    .qtybtn {
                            line-height: 3rem;
                    }
                }
            }
        }
    }
}

    .cart-totals table .cartTotal .astrick {
        display: inline-block !important;
    }
    .process-selection-bar {
        padding: 3rem 0 0;
    }
    .cart-total-summary {
        padding: 2rem 2rem 2rem 2rem;
        text-align: left;
        border: 1px solid @cart-border;
        background-color: @cart-background;
    }
    .rightsideProductlist {
        padding: 2rem 2rem 2rem 2rem;
        text-align: left;
        border: 1px solid @cart-border;
        background-color: @cart-background;
        margin-bottom: 1rem;
        .mainInfo {
            font-family: @futuraPTBold;
            font-style: normal;
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 1.4rem;
            color: @cart-addon;
             @media @phone{
                font-size: 1.6rem;
                line-height: 1.8rem;
            }
        }
        .subInfo {
            font-family: @futuraPTBook;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 1.8rem;
            color: @cart-addon;
            @media @phone{
                font-size: 1.4rem;
                line-height: 1.6rem;
            }
            svg {
                fill: @brand-primary;
                margin-right: 0.5rem;
            }
        }
        .cart-bundle-package {
             @media @phone{
                font-size: 1.6rem;
                line-height: 1.6rem;
             }
        }
    }
    #order-totals {
        .mainHead {
            font-family: @futuraPTBold;
            font-style: normal;
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 1.4rem;
            color: @cart-addon;
            @media @phone{
                font-size: 1.6rem;
                line-height: 1.8rem;
            }
        }
        .subHead {
            font-family: @futuraPTBook;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 1.8rem;
            color: @cart-addon;
            text-transform: none;
            svg {
                fill: @brand-primary;
                margin-right: 0.5rem;
            }
        }
        tbody {
            tr:last-child {
                td.cart-bundle-package {
                    @media @phone{
                        width: 50%;
                    }
                }
            }
        }
    }
    .cart-right {
        border: none;
        background-color: @brand-white;
        padding: 0;
    }
    .btn--continue-shopping {
        display: none;
    }
    .cart__actions {
        .checkout-button {
            width: 98%;
            margin: 0 auto;
        }
    }
    .item__list .item__name {
        margin-bottom: 1rem;
        display: block;
    }
    .item__list .item__price {
        margin-top: 1rem;
    }

.alert-warning {
    background-color: @cart-alert-background;
    border-color: @cart-alert-border;
    color: @cart-addon;
}
.buying-options {
    background-color: @brand-white;
    border: 1px solid @brand-primary;
    border-radius: 0.5rem;
    padding: 0 2rem;
    margin: -1.2rem 1rem 2rem;
    font-size: 1.6rem;
    overflow: auto;
    @media @phone {
        width:100%;
        margin: -1.2rem 0 2rem;
    }
    &-list {
        margin: 1rem 0;
    }
    &-note1,
    &-note2 {
        border: 1px solid @border-color-5;
        border-radius: 0.5rem;
        background-color: @brand-lighter-grey;
        display: inline-block;
        width: 100%;
        .infoIcon {
            background: url(../images/Info.svg) center no-repeat;
            height: 2.4rem;
            width: 2.4rem;
            display: block;
            margin-top: 1.5rem;
        }
        .note-info {
            display: inline-block;
            line-height: 2rem;
            padding: 0.8rem 0;
            @media @phone {
                padding: 0.8rem;
            }
        }
    }
    p {
        font-family: @futuraPTBold;
        color: @cart-text-color-info;
    }
    label {
        color: @brand-medium-grey;
        font-weight: normal;
        text-transform: none;
        font-size: 1.6rem;
        display: inline-block;
    }
    .custom-label {
        @media @phone {
            padding-left: 2.8rem;
        }
    }
    label + label {
        margin-left: 2.5rem !important;
        @media @phone {
            margin-left: 1rem !important;
        }
    }
    .checkmark {
        border-radius: 50%;
    }
    .custom-label input:checked ~ .checkmark:after {
        left: 0.2rem;
        top: 0.2rem;
        width: 1.6rem;
        height: 1.6rem;
        background-color: @brand-primary;
        border-radius: 50%;
      }
}

// css for popup to replace the existing product
#cartItemRemoval-popup {
    .cartItemRemoval-popup-close {
        border-radius: 0.8rem !important;
    }
    .cartItemRemoval-msg {
        font-size: 2.4rem;
        line-height: 2.6rem;
        margin-bottom: 2.5rem;
        text-align: center;
        color: @btn-default-color;
        padding: 0 2rem;
        span {
            font-family: @futuraPTBold;
            text-transform: uppercase;
            color: @brand-dark-magenta;
        }
    }
    .btn {
        text-transform: none;
        border-radius: 8px !important;
        margin-top: 1rem;
    }
}
.page-productDetails #cboxTitle, .page-internettvtelephone #cboxTitle {
    display: none !important;
}
