.checkout {
    &-headline {
        padding-left: 0;
    }
    &-steps {
        padding: 0;
        /*margin-top: 3rem;*/
        .step {
            &-head {
                font-family: @futuraPTBold;
                border: none;
                
                &:after, &.active:after, &.inactive:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 3rem;
                    background-size: contain;
                    width: 2.4rem;
                    height: 2.4rem;
                    transform: translate(13px, -11px);
                }
                &:after {
                    background: url("../images/black_tick.svg") center no-repeat;
                }
                &.active:after {
                    background: url("../images/Vector_tick_red.svg") center no-repeat;
                }

                &.inactive {
                    pointer-events: none;
                    cursor: not-allowed;
                    &:after {
                        /*pointer-events: none;
                        cursor: not-allowed;
                        opacity: 0.7;*/
                        background: url("../images/Vector_tick_grey.svg") center no-repeat;
                    }
                }
                &:before {
                    content: '';
                }
                /*&:after {
                    content: '';
                    position: absolute;
                    right: 3rem;
                    top: 1.4rem;
                    background: url("../images/checkoutEdit_icon.svg") center no-repeat;
                    background-size: contain;
                    width: 2rem;
                    height: 2rem;
                }*/
            }
            &-body {
                background-color: @light-grey;
                border: 1px solid @light-grey;
                padding: 1.5rem 1.5rem 0 1.5rem;
                margin-bottom: 1rem;
                .checkout {
                    &-indent {
                        .headline {
                            font-size: 1.8rem;
                            padding: 1rem 0 0 0;
                        }                        
                    }
                    &-shipping {
                        padding: 0;
                        border: 0;
                    }
                    &-next {
                        margin-top: 0;
                    }
                }
                label {
                    text-transform: capitalize;
                    &.error {
                        color: @brand-primary;
                        text-transform: none;
                    }
                }
                .form-group {
                    position: relative;
                    #paymentMethodId {
                        label {
                            text-transform: none;
                        }
                    }
                    .search-close {
                        position: absolute; 
                        top: 1.4rem; 
                        right: 0; 
                        padding: 1rem;
                    }
                }
                .control-label {
                    position: absolute;
                    top: 1rem;
                    left: 1.2rem;
                    line-height: 1.2rem;
                    color: @nav-link-color;
                    text-transform: capitalize;
                    font-size: 1.4rem;
                    font-family: @futuraPTBold;
                    &.add-address-left-label {
                        position: static;
                        line-height: normal;
                    }
                    /*&:after {
                        content: '*';
                        position: absolute;
                    }*/
                    .not-bold {
                         font-family: @futuraPTLight;
                         text-transform: none;
                    }
                }
                select.form-control {
                    text-transform: capitalize;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background: url(../images/dropdown_icon.svg) 97% 30px no-repeat !important;
                }
                .form-control {
                    height: 5.6rem;
                    padding: 1.5rem 1.2rem 0 1.2rem;
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                    color: @brand-grey-text;
                    border: 1px solid @brand-grey-text;
                    border-radius: 0;
                     @media @phone{
                        height: 5.8rem;
                        padding: 2.4rem 1.2rem 0 1.2rem;
                    }
                    &#addressSearch {
                        padding-right: 2.5rem;
                    }
                }
                .comn-vali-msg {
                    font-size: 1.6rem;
                    line-height: 1.4rem;
                    color: @brand-default-text;
                    font-family: @futuraPTMedium;
                    margin-bottom: 3rem;
                    padding-left: 1.5rem;
                }
                .address-title {
                    color: @brand-black;
                    padding: 2.5rem 0;
                    margin: 0;
                    font-family: @futuraPTBold;
                }
                .fg-search-icon {
                    padding-left: 2rem;
                    &:before {
                        content: '';
                        position: absolute;
                        background: url("../images/search_input_icon.svg") center no-repeat;
                        height: 1.4rem;
                        width: 1.4rem;
                        left: 0;
                        top: -0.1rem;
                    }
                }
                .add-mid-msg {
                    font-size: 1.8rem;
                    line-height: 2px;
                    color: @brand-default-text;
                    text-align: center; 
                    border-bottom: 1px solid @brand-default-text;
                    margin: 2rem 0 2rem;  
                    span {
                        background:@light-grey; 
                        padding:0 1rem; 
                    }
                }
                .checkbox {
                    margin: 2rem 0;
                    label {
                        font-size: 1.4rem;
                        line-height: 2rem;
                        color: @cart-addon;
                        padding-left: 4rem;
                        @media (max-width: 767px) {
                            font-size: 1.4rem;
                            
                        }
                    }
                    
                }
            }
        }
        .validation {
            position: relative;
            &-text {
                position: absolute;
                background: url(../images/information.svg) center no-repeat;
                background-size: 1.5rem;
                width: 3rem;
                height: 5.6rem;
                z-index: 9;
                right: -3.8rem;
                top: 0;
                cursor: pointer;
                display: none;
                .tooltiptext {
                    visibility: hidden;
                    width: max-content;
                    background-color: @brand-black;
                    color: @brand-white;
                    border-radius: 0.6rem;
                    padding: 0.6rem 1.2rem;
                    position: absolute;
                    z-index: 1;
                    top: 4.3rem;
                    right: 0;
                    opacity: 0;
                    transition: opacity 0.3s;
                    font-size: 1.3rem;
                    &::before{
                        content: "";
                        position: absolute;
                        top: -1rem;
                        right: 1rem;
                        border-width: 0.5rem;
                        border-style: solid;
                        border-color: transparent transparent @brand-black transparent;
                    }
                }
                &:hover {
                    .tooltiptext{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            
        }
    }
    &-order-summary {
        & {
            font-size: 1.8rem;
            padding: 0;
            margin: 0;
            border: none;
            @media (max-width: 767px) {
                margin: 1.5rem 0 0; 
            }
        }
        .cart-totals {
            /*border: 1px solid @cart-border;
            background-color: @cart-background;
            padding: 2rem 4rem 2rem 4rem;
            margin-top: 1.5rem;*/
            table {
                th {
                    padding: 0.7rem 0;
                    text-align: left;
                    font-family: @futuraPTBold;
                    font-size: 1.8rem;
                    text-transform: none; 
                    background: transparent;
                    color: @cart-heading-color;
                    @media (max-width: 767px) { 
                        font-size: 1.4rem;
                        line-height: 1.4rem;
                    }
                    p {
                        font-size: 1.4rem;
                        line-height: 1.6rem;
                        font-family: @futuraPTMedium;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        @media (max-width: 767px) { 
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                        }
                    }              
                }
                td {
                    padding: 0.5rem 0;
                }
                .impo-icon {
                    background: url("../images/note_icon.svg") center no-repeat;
                    height: 1.7rem;
                    width: 2rem;
                    display: inline-block;
                    margin-right: 0.8rem;
                }
                .seprated-line {
                    hr {
                        margin: 1rem 0;
                        border-color: @cart-td-border;
                    }
                }
                .cartTotalMonthly {
                    color: @cart-addon;
                    
                }
            }
            tbody tr td {
                @media (max-width: 767px) { 
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                }
                
            }
        }
        & &-list {
            border: none;
            li {
                padding: 1.5rem .5rem;
                background-color: @light-grey;
            }
            .thumb {
                margin-right: 0;
                width: auto;
            }
            .details {
                margin-left: 0;
                a {
                    color: @cart-text-heading;
                }
                .name {
                    font-size: 2.4rem;
                    line-height: 3.1rem;
                    font-family: @futuraPTBold;
                    margin-bottom: 1rem;
                    color: @cart-text-heading;
                    @media (max-width: 767px) { 
                        font-size: 1.8rem;
                        line-height: 2.3rem;
                    }
                }
                .qty{
                    font-family: @futuraPTBold;
                    color: @brand-grey-text;
                    span{
                        color: @brand-grey-text;
                    }
                }
            }
            .price {
                margin: 0;
                float: none;
                font-size: 1.8rem;
                line-height: 2.3rem;
                color: @nav-link-color;
                font-weight: normal;
                .item__price--monthly {
                    color: @brand-primary;
                }
                @media (max-width: 767px) { 
                    font-size: 1.6rem;
                    line-height: 2rem;
                }
            }
            .actualPrice+div {
                padding-top: 0.4rem;
                color: @brand-default-text;
                
            }
            .product-specifications {
                margin-bottom: 1rem;
            }
            .additional-cost {
                font-size: 1.6rem;
            }
        }
        &-heading, &-list-items {
            border: 1px solid @cart-border;
            background-color: @cart-background;
            padding: 2rem 2rem 1rem 2rem;
            margin-bottom: 1.5rem;
        }
        &-heading {
            .title {
                color: @checkout-list-head-color;
                font-size: 1.8rem;
                font-family: @futuraPTBold;
                margin-bottom: 1rem;
            }
        }
    }
    
}
.place-order-form {
    padding-bottom: 2rem;
    .checkbox {
        margin: 0;
        margin-bottom: 0;
    }
}
.top-title {
    line-height: 1.8rem;
    color: @cart-addon;
    font-family: @futuraPTBold;
    margin: 0;
    padding: 3.3rem 0;
  
}
/* ---- Styles for address search start ---- */
.address-search-results {
    position: relative;
    top: -1.5rem;
    ul {
        position: absolute;
        padding: 1rem;
        margin: 0;
        background: @brand-white;
        border: 1px solid @border-color-3;
        list-style: none;
        width: 100%;
        z-index: 9;
        font-size: 1.4rem;
        li {
            display: block;
            a {
                padding: 0.5rem 0.2rem;
                display: inline-block;
                cursor: pointer;
                color: @text-color;
                &:hover {
                    color: @brand-primary;
                }
            }
        }
    }
}
.checkout-indent {
    select.readonly {
        background: @input-readonly-background;
        color: @text-color-secondary;
        pointer-events: none;
    }
}
/* ---- Styles for address search end ---- */
#addressbook {
    font-size: 1.6rem;
}
ul.radiobutton-list {
    list-style: none;
    font-size: 1.8rem;
    padding: 0;
    border: 1px solid @brand-grey-text;
    border-radius: 0.5rem;
    margin-top: 2.5rem;
    li {
        padding: 1rem 1.5rem;
        & + li {
            border-top: 1px solid @brand-grey-text;
        }
    }
    label {
        font-weight: normal;
        font-size: 1.8rem !important;
    }
    [type="radio"] {
        position: absolute;
        left: -9999px;
        & + label {
            position: relative;
            padding-left: 2.8rem;
            cursor: pointer;
            line-height: 2.3rem;
            color: @brand-grey-text;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0.2rem;
                width: 1.6rem;
                height: 1.6rem;
                border: 1px solid @brand-grey-text;
                border-radius: 0.3rem;
                background: transparent;
            }
        }
        &:checked {
            & + label {
                color: @payment-active-label-color;
                &:before {
                    background: @brand-primary;
                    border: none;
                }
                &:after {
                    content: '';
                    width: 2rem;
                    height: 2rem;
                    border: 1px solid @brand-primary;
                    position: absolute;
                    top: 0;
                    left: -0.2rem;
                    border-radius: 0.3rem;
                }
            }
        }
    }
}
.place-order-form {
    .checkbox label {
        text-transform: none;
        font-size: 1.6rem;
        line-height: 2.1rem;
        margin-bottom: 1rem;
    }
    .terms-link{
        color: @brand-primary;
        font-family: @futuraPTMedium;
        text-decoration: underline;
    }
    .btn-custom, .btn-custom:active, .btn-custom:hover, .btn-custom:focus {
        padding: 1.7rem 0.5rem;
        @media (max-width: 767px) { 
            padding: 1.3rem 0.5rem;
        }
    }
}
.contact-cntnr {
    .contactus {
        /*width: 50%;
        float: left;*/
    }
}
.contactus {
    color: @cart-addon;
    border: 1px solid @quicklinks-background;
    background-color: @light-grey;
    padding: 1.5rem;
    h4 {
        font-size: 2.4rem;
        line-height: 3.1rem;
        font-family: @futuraPTBold;
        @media (max-width: 767px) { 
            font-size: 1.8rem;
            line-height: 2.3rem;
        }
        .contact-subtxt {
            padding-top: 0.5rem;
            margin-bottom: 0;
            @media (max-width: 767px) { 
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 1.8rem;
        @media (max-width: 767px) { 
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
        li {
            position: relative;
            padding-left: 6rem;
            margin: 1.5rem 0;
            display: inline-block;
            &.call:before {
                background: url("../images/call_icon.svg") center no-repeat;
                background-size: 5rem 3rem;
            }
            &.whatsapp:before {
                background: url("../images/whatsapp_icon.svg") center no-repeat;
                background-size: 5rem 3rem;
            }
            &:before {
                content: '';
                position: absolute;
                width: 4.8rem;
                height: 4.8rem;
                border: 1px solid @border-color;
                border-radius: 1rem;
                left: 0;
                top: -1rem;
            }
        }
    }
}
.payment-message {
    display: none;
    background-color: @checkout-alert-background;
    border: 1px solid @checkout-alert-border;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    color: @brand-black;
    font-size: 1.6rem;
    line-height: 2.1rem;
    &.Online {
        display: block;
    }
}
@media (max-width: 767px) {
    .checkout-order-summary .checkout-order-summary-list {
        li {
            padding: 1.5rem;
        }
        .details {
            position: static;
        }
    } 
    .checkout-steps {
        .step-head {
            padding: 1.4rem 1.5rem;
            font-size: 1.6rem;
            line-height: 2.1rem;
            font-family: @futuraPTBook;
            font-weight: 700;            
        }
        .step-body {
            padding: 1.5rem 1.5rem 1.5rem 1.5rem;
            .address-title {
                font-size: 1.4rem;
                line-height: 1.4rem;
            }
        }
    } 

}

#colorbox{
    #addressbook{
        height: 35rem;
        overflow-y: scroll;
    }
}

@media (max-width: 1023px) {
    .checkout-steps {
        .validation-text .tooltiptext {
            max-width: 34rem;
        }
    }
}
.hide-cntent {
    .cart-totals {
        display: none;
    }
}
.cart-footer-cntnr {
    background: @cart-alert-background;
    border: 1px solid @cart-alert-border;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: @cart-addon;
    @media (max-width: 767px) {
        margin: 1.5rem 1.5rem 0;
    }
}
.page-multiStepCheckoutSummaryPage,
.page-orderConfirmationPage {
    .breadcrumb-section {
        display: none;
    }
    .navigation {
        &--top,
        &__overflow,
        .right-menu,
        .panama-right{
            display: none;
        }
    }
    .js-site-logo{
        margin: 1rem 0;
    }
    .js-mobile-logo{
        padding: 1.5rem 0;
    }

}
.custom-label {
    display: block;
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    font-size: 2.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .custom-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.4rem;
    width: 2.4rem;
    border: 2px solid @brand-primary;
    border-radius: 0.4rem;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .custom-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .custom-label .checkmark:after {
    left: 0.7rem;
    top: 0.3rem;
    width: 0.7rem;
    height: 1.2rem;
    border: solid @brand-primary;
    border-width: 0 0.3rem 0.3rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
