//
// Devices Pdp
// --------------------------------------------------------
.page-productDetailsForDevices {
    .gallery-carousel {
        display: none !important;
    }
    .process-selection-bar {
        padding: 2rem 0;
    }
    .product-details{
        padding: 0;
        .plan {
            font-size: 1.4rem;
            margin-bottom: 2rem;
		display: flex;
            flex-wrap: wrap;
            & > h3 {
                margin-top: 0;
                font-size: 2.4rem;
                line-height: 3.1rem;
                font-family: @futuraPTBold;
                color: @cart-addon;
            }  
	    .col-xs-12.col-sm-6 {
                display: flex;
            } 
            label {
                color: @text-color-darkBlack;
                margin-bottom: 0;
                font-family: @futuraPTBold;
                font-size: 3.2rem;
                line-height: 4.1rem;
                position: relative;
                cursor: pointer;
                &:before, &:after {
                    content: '';
                    position: absolute;
                }
                &:before {
                    left: -3rem;
                    top: 1rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    border: 2px solid @brand-primary;
                    border-radius: 100%;
                    @media @phone {
                        left: -5rem;
                    }
                }
                &:after {
                    width: 1.6rem;
                    height: 1.6rem;
                    background: @brand-primary;
                    top: 1.4rem;
                    left: -2.6rem;
                    border-radius: 100%;
                    @media @phone {
                        left: -4.6rem;
                    }
                }
            }
            [type="radio"]{
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
            }
            [type="radio"]:checked + label:after {
                opacity: 1;
            } 
            .plan-type {
                border: 1px solid @text-color-grey-4;
                color: @text-color-darkBlack;
                cursor: pointer;
		margin-bottom: 1rem;
		    width: 100%;
                @media @phone {
                    margin-bottom: 1.5rem;
                }
                &.selected {
                    border: 1px solid @brand-primary !important;
                }
                h4 {
                    background-color: @text-color-grey-4;
                    padding: 0.7rem;
                    margin: 0;
                    &.selected {
                        background-color: @brand-primary !important;
                    }
                }
                .plan-details {
                    padding: 1.5rem 1rem 1.5rem 6rem;
                    font-size: 1.4rem;
                    @media @phone{
                        padding-left: 8rem;
                    }
                    .price {
                        font-size: 1.6rem;
                        font-weight: normal;
                    }
                    .plan-name{
                        font-size: 1.8rem;
                        line-height: 1.8rem;
                        font-family: @futuraPTBold;
                        color: @brand-dark-magenta;
                        text-transform: uppercase;
                    }
                    .plan-desc{
                        display: block;
                        font-size: 1.6rem;
                        line-height: 2.1rem;
                        color: @brand-default-text;
                    }
                    .price-section{                                             
                        .offer-text{                            
                            font-size: 1.4rem;
                            line-height: 1.8rem;
                            color: @text-color-darkBlack;
                            margin-bottom: 0;    
                            span {
                                font-size: 1.8rem;
                                line-height: 2.3rem;
                                &.with-offer {
                                    font-family: @futuraPTBold;
                                }
                                &.without-offer {
                                    text-decoration: line-through;
                                }
                            }                     
                        }                                                                                       
                    }   
                    .prod-spec {
                        margin-top: 1rem;
                        .char-spec-col {
                            padding-left: 2.5rem;
                        }
                        .voice {
                            background: url("../images/mobile.svg") 3px center no-repeat;
                            background-size: 0.7rem;
                        }
                        .sms {
                            background: url("../images/sms_icon.svg") 0 center no-repeat;
                            background-size: 1.2rem;
                        }
                        .sim_card {
                            background: url("../images/simcardicon.svg") 0 center no-repeat;
                            background-size: 1.4rem;
                        }
                        .data_volume {
                            background: url("../images/data.svg") 0 center no-repeat;
                            background-size: 1.4rem;
                        }
                        .contract {
                            background: url("../images/contract_icon.svg") 3px center no-repeat;
                            background-size: 1rem;
                        }
                        .limit {
                            background: url("../images/mobile.svg") 3px center no-repeat;
                            background-size: 0.7rem;
                        }
                        .sd_channels {
                            background: url("../images/channels_icon.svg") 0 center no-repeat;
                            background-size: 1.3rem;
                        }
                        &.fmc-prod-spec {
                            .voice {
                                background: url("../images/call_landline.svg") 0 center no-repeat;
                                background-size: 1.3rem;
                            }  
                        } 
                    }    
                                  
                }                
            }
            .tnc p{
                font-family: @futuraPTLight;
                font-weight: bold;
                clear: both;
                display: block;
                padding-left: 2.5rem;
                padding-top:1rem;
                font-size: 1.2rem;
                line-height: 1.5rem;
                color:@brand-grey-text;
                span {
					color:@brand-primary;
                }
                @media @phone{
                    margin-left:4rem;
                }
            }
        }
       #addToCartForm{ 
           .buynow-btn {           
				display:block;
				&, 
				&:hover{
					@media @smartphones{
						margin-top: 0;
						display: grid;
					}
				}
				&.disabled{
					background-color: @plp-category-btn-device;
					border-color: @plp-category-btn-device;
				}            
            }
      }
      .device-add-to-cart{
      .device_tooltip {
        position: relative;
        .tooltiptext {
            visibility: hidden;        
            width: 35%;
            background-color: @brand-black;
            color: @brand-white;
            text-align: center;
            border-radius: 0.6rem;
            padding: 1.2rem;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s;
            font-size: 1.6rem;
            line-height: 2.1rem;
            font-family: @futuraPTLight;
            font-weight: bold;
            @media @tablet{
                width:25%;
            }
            @media @smartphones{
                width: 60%;                
            }
            &::after{
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -0.5rem;
                border-width: 0.5rem;
                border-style: solid;
                border-color: @brand-black transparent transparent transparent;
            }
        }
        &:hover{
            .tooltiptext{
                visibility: visible;
                opacity: 1;
            }
        }
        @media @phone{
            margin-left:4rem;
        }
    }
  }

    }
    .prod-details{
        font-family: @futuraPTBold;
        font-size:2.6rem;
        line-height: 3.3rem;
        .prod-name {
            color: @text-color-darkBlack;
            font-size: 3.2rem;
            line-height: 4.1rem;         
        }
        .prod-brand{
            color: @brand-default-text;
            font-size: 2.4rem;
            line-height: 3.1rem;
            margin-top: 1.5rem;
        }
        .prod-headline {
            color: @cart-addon;
            font-size: 2.4rem;
            line-height: 3.1rem;
            @media @phone {
                font-size: 1.8rem;
                line-height: 2.3rem;
            }
        }        
        @media @phone{
            margin-left:1rem;
        }
    }
    .free-delivery {
        font-size: 1.8rem;
        line-height: 2.3rem;
        color: @brand-default-text;
        background: url("../images/free_delivery_icon.svg") 0 no-repeat;
        background-size: 2.4rem 2.4rem;
        padding-left: 3.5rem;
        margin-top: 0.6rem;
        @media @phone{
            margin-left:1rem;
            font-size: 1.6rem;
            line-height: 2.1rem;
        }
    }
    .product-details {
        .buynow-btn {
            padding: 1rem 4rem;
            display: none;
        }
    }
    .spec {
        .Operating {
            &:before{
                background: url("../images/flow_megaspeed.svg") center no-repeat;	
            }
        }
        .Storage {
            &:before{
                background: url("../images/data.svg") center no-repeat;	
            }
        }
        .Camera {
            &:before{
                background: url("../images/camera_icon.svg") center no-repeat;
                height: 1.7rem !important;	
            }
        }
        .Display {
            &:before{
                background: url("../images/mobile_icon_grey.svg") center no-repeat;
            }
        }
        .spec-char {
            position: relative;
            color: @brand-grey-text;
            font-size: 1.2rem;
            padding-left: 3.5rem;
            text-transform: uppercase;
            margin-top: 2rem;
            &:before {
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                background-size: contain;
            }
        }
    }
    .image-gallery__zoom-icon {
        display: none;
    }
    .product-main-info {
        padding: 0;
    }
    .plan-info {
        padding: 1rem 2rem;
        font-family: @futuraPTLight;
        &:nth-child(even) {
            background-color: @brand-lighter-grey;            
        }
    }
    .carousel{
        @media @tablet, @desktop{
            padding-left: 0;
            padding-right: 0;
        }
        &.js-gallery-image{
            @media @tablet, @desktop{
                padding: 0;
            }
            .owl-wrapper-outer{
                .lazyOwl{
                    margin: auto;
                    max-width: 26rem;
                }
            }
        }
    }
    .terms {
        font-size: 1.8rem;
    }
}
.tabs {
    font-family: @futuraPTLight;
    font-size: 1.4rem;
    line-height: 1.8rem;	
    text-align: justify;	
    .tabs-list > li > a{	
        font-size: 1.6rem;	
        line-height: 2.1rem;	
        color:@text-color-grey-3;	
    }	
    .tabs-list > li.active > a{	
        color:@brand-light-black;	
        font-family: @futuraPTBold;       	
    }	
    .tabbody {	
         background-color:@brand-grey-background;        	
    //     .tab-container .product-classifications{	
    //     .headline{	
    //         font-size:1.8rem;	
    //         line-height: 2.3rem;	
    //         color:@brand-light-black;	
    //         font-family: @futuraPTBold;  	
    //     }	
    //     table > tbody > tr > td{	
    //         font-size:1.4rem;	
    //         line-height: 1.8rem;	
    //         color:@brand-grey-text;  	
    //         border: none;          	
    //     }	         	
    // }	
    .spec-tab .product-classifications{
        table > tbody > tr{
            display: flex;
            flex-direction: column;
        }
        table > tbody > tr > td{
        border: none; 
        }
        .name {
            font-size: 1.8rem;
            line-height: 2.3rem;
            font-family: @futuraPTBold;
            color: @brand-light-black;
            padding-left:0;
            .device{
            &:before {
                display: inline-block;
                content: '';
                position: absolute;
                margin-left: -3rem;
                height: 2.3rem; 
            }
            @media @phone, @tablet{
                padding-left: 2rem;
            }
             }
            .device_Storage {  
                &:before {             
                    background: url("../images/device_storage.svg") center no-repeat;
                    width: 1.5rem; 
                }                                 
            }
            .device_Battery {  
                &:before {              
                    background: url("../images/device_battery.svg") center no-repeat;
                    width: 2.5rem;  
                }                                  
            }
            .device_Processor {  
                &:before {             
                    background: url("../images/device_processor.svg") center no-repeat;
                    width: 2rem;
                 }                
            }
            .device_Spec {               
                &:before {
                    background: url("../images/device_spec.svg") center no-repeat;
                    width: 1.3rem;
                }              
            }
         
        }
        .desc{
            font-size: 1.4rem;
            line-height: 2.2rem;
            font-family: @futuraPTLight;
            font-weight: bold;
            color:@brand-grey-text;
            padding: 0.8rem 0;
            @media @phone, @tablet{
                padding-left: 2rem;
            }

        }
        


    }
}
    .tab-review {
        .review-list .review-entry {
            margin: 3.5rem 0;
            .title {
                color: @brand-primary;
                font-size: 1.6rem;
            }
            .autor {
                margin-top: 0.5rem;
            }            
        }
        .rating {
            margin-bottom: 0.5rem;
            .rating-stars span.active {
                color: @brand-tertiary;
            }
        } 
        .write-review {
            margin-top: 3.5rem;
            label {
                text-transform: capitalize;
            }
        }
    } 
    .review-pagination-bar {
        .btn {
            padding: 0.5rem 1.5rem;
            font-family: @futuraPTBold;
            &.back {
                background: none;
                border: none;
                color: @default-font-color;
                position: relative;
                font-family: @futuraPTLight;
                padding-left: 2.2rem;
                font-weight: normal;
                text-decoration: underline;
                &:before {
                    content: "< |";
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
    .product-classifications {
        .prod-spec {
            h4 {
                color: @brand-primary;
                font-weight: bold;
            }
        }
    }
}
.variant-text {
font-family: @futuraPTLight;
margin-top: 6rem;
}

.variant-section{
    margin: 3rem 0;
    .variant-selector{
        .variant-list{
            margin-left: 0;
            li{
                &,
                &:hover,
                &.active,
                &:focus{
                    margin: 0;
                    a{
                      border: 0;
                      box-shadow: none;
                      line-height: 0;
                      label{
                          color: @brand-default-text;
                          font-weight: normal;
                          font-family: @futuraPTLight;
                          text-transform: capitalize;
                      } 
                    .color-info input[type="radio"]:not(old){
                        display: none;
                        & + label > span {
                            display: inline-block;
                            width: 1.5rem;
                            height: 1.5rem;
                            border: 1px solid @brand-gray;
                            background: rgb(255, 255, 255);
                            background-image: -moz-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: -ms-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: -o-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: -webkit-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            vertical-align: middle;
                            margin-top: -0.2rem;
                        }
                       &:checked + label > span{
                            border: 1px solid @brand-primary;
                            background-image: -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
                            background-image: -ms-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: -o-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: -webkit-linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                            background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
                        }
                        &:checked + label > span > span {
                            display: block;
                            width: 1rem;
                            height: 1rem;
                            margin: 0.15rem;
                            border: 1px solid @brand-primary;
                            background: @brand-primary;
                            background-image: -moz-linear-gradient(rgb(0, 133, 202),rgb(0, 133, 202));
                            background-image: -ms-linear-gradient(rgb(0, 133, 202),rgb(0, 133, 202));
                            background-image: -o-linear-gradient(rgb(0, 133, 202),rgb(0, 133, 202));
                            background-image: -webkit-linear-gradient(rgb(0, 133, 202),rgb(0, 133, 202));
                            background: @brand-primary;
                        }
                    }
                      .color-swatch{
                          margin-bottom: 0;
                        }
                    }
                    span{
                        border: 0;
                        height: 0;
                    }
                }
            }
        }
        .variant-name{
            text-transform: none;
            color: @brand-default-text;
            font-family: @futuraPTLight;
        }
    }
}
