@font-face {
    font-family: 'Grandstander';
    src: url("../fonts/392F29_0_0.eot");
    src: url("../fonts/392F29_0_0.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/392F29_0_0.woff2") format("woff2"), 
    url("../fonts/392F29_0_0.woff") format("woff"), 
    url("../fonts/392F29_0_0.ttf") format("truetype"), 
    url("../fonts/392F29_0_0.svg#wf") format("svg");
    font-display: swap; 
}

@font-face {
	font-family: 'futuraPTBook';
	src: url('../fonts/FuturaPTBook.eot');
	src: url('../fonts/FuturaPTBook.eot') format('embedded-opentype'),
		 url('../fonts/FuturaPTBook.woff2') format('woff2'),
		 url('../fonts/FuturaPTBook.woff') format('woff'),
         url('../fonts/FuturaPTBook.ttf') format('truetype'),
         url('../fonts/FuturaPTLight.otf')  format('opentype'), 
		 url('../fonts/FuturaPTBook.svg#FuturaPTBook') format('svg');
		 font-display: swap;
}
@font-face {
	font-family: 'futuraPTLight';
	src: url('../fonts/FuturaPTLight.eot');
	src: url('../fonts/FuturaPTLight.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/FuturaPTLight.woff2') format('woff2'),
		 url('../fonts/FuturaPTLight.woff') format('woff'),
         url('../fonts/FuturaPTLight.ttf') format('truetype'),
         url('../fonts/FuturaPTLight.otf')  format('opentype'),
		 url('../fonts/FuturaPTLight.svg#FuturaPTLight') format('svg');
		 font-display: swap; 
}
@font-face {
	font-family: 'futuraPTMedium';
	src: url('../fonts/FuturaPTMedium.eot');
	src: url('../fonts/FuturaPTMedium.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/FuturaPTMedium.woff2') format('woff2'),
		 url('../fonts/FuturaPTMedium.woff') format('woff'),
         url('../fonts/FuturaPTMedium.ttf') format('truetype'),
         url('../fonts/FuturaPTMedium.otf')  format('opentype'),
		 url('../fonts/FuturaPTMedium.svg#FuturaPTMedium') format('svg');
		 font-display: swap; 
}
@font-face {
	font-family: 'futuraPTBold';
	src: url('../fonts/FuturaPTBold.eot');
	src: url('../fonts/FuturaPTBold.eot') format('embedded-opentype'),
		 url('../fonts/FuturaPTBold.woff2') format('woff2'),
		 url('../fonts/FuturaPTBold.woff') format('woff'),
         url('../fonts/FuturaPTBold.ttf') format('truetype'),
         url('../fonts/FuturaPTBold.otf')  format('opentype'),
		 url('../fonts/FuturaPTBold.svg#FuturaPTBold') format('svg');
		 font-display: swap;
}
@font-face {
    font-family: 'Arial';
    src: url("../fonts/Arial.eot");
    src: url("../fonts/Arial.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Arial.woff2") format("woff2"), 
    url("../fonts/ArialMT.woff") format("woff"), 
	url("../fonts/ArialMT.ttf") format("truetype"),
	url('../fonts/ArialMT.otf')  format('opentype'), 
	url("../fonts/ArialMT.svg#wf") format("svg");
	font-display: swap; 
}
@font-face {
    font-family: 'ArialBold';
    src: url("../fonts/arialbold.eot");
    src: url("../fonts/arialbold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/arialbold.woff2") format("woff2"), 
    url("../fonts/ArialBoldMT.woff") format("woff"), 
	url("../fonts/ArialBoldMT.ttf") format("truetype"),
	url('../fonts/ArialBoldMT.otf')  format('opentype'),
	url("../fonts/ArialBoldMT.svg#wf") format("svg");
	font-display: swap; 
}
