//
// Footer
// --------------------------------------------------------
.quicklinks-section {
	background-color: @quicklinks-background;
	color: @quicklinks-text-color;
	padding-top: 2rem;
	padding-bottom: 2rem;
	.headline {
		font-size: 2.8rem;
		font-family: @futuraPTBold;
		margin-bottom: -1rem;
		@media (max-width: 1023px) {
			text-align: center;
			margin-bottom: 1rem;
		}
	}
	a {
		font-size: 1.8rem;
		color: inherit;
		display: block;
		text-align: center;
		img {
			height: 5.6rem;
			@media @phone {
				max-width: 5.3rem;
			}
		}
	}
	@media @phone {
		.table-responsive {
			border: none;
		}
	}
	.table > tbody > tr > td {
		text-align: right;
		border-top: none;
		a {
			text-align: center;
			display: inline-block;
		}
	}
}
@media (min-width: 768px) {
	.footer-grid {
		display: flex;
    	justify-content: space-between;
	}
}
.ico-footer {
	background: url("../images/logo-footer.svg") center no-repeat;
	width: 7rem;
	height: 7rem;
	@media @phone {
		margin: 0 auto;
	}
}
.footer__left {
	padding: 0;
}
.footer__nav--container {
	.title {
		font-size: 1.7rem;
		font-family: @futuraPTBold;
	}
	&:last-child {
		@media (min-width: 768px) {
			text-align: center;
		}
		.footer__nav--links {
			.footer__link {
				margin-top: 0;
				a {
					font-size: 0;
					display: inline-block;
					width: 2.6rem;
					height: 2.6rem;
				}
				&:first-child {
					a {
						display: none;
					}				
				}
				a[title~="Facebook"] {
					background: url("../images/facebook.svg") center no-repeat;
					background-size: contain;
				}
				a[title~="Twitter"] {
					background: url("../images/twitter.svg") center no-repeat;
					background-size: contain;
				}
				a[title~="Instagram"] {
					background: url("../images/instagram.svg") center no-repeat;
					background-size: contain;
				}
			}
		}
	}
}
.footer__middle {
	background-color: @disclamier-background;
	text-align: center;
	.nav {
		li {
			display: inline-block;
			a {
				color: @brand-white;
				font-size: 1.3rem;
				&:hover,
				&:focus {
					background-color: @brand-tertiary;
				}
			 }
		}
	}
}
.footer__copyright {
	font-size: 1.1rem;
	padding: 1.3rem 0;
}