.order-confirmation {
    @media @phone {
        margin-top: 0;
    }
    .order-confirmation-title {
          font-family: @futuraPTBold;
          font-size: 2.2rem;
          line-height: 2.6rem;
          margin-left: 1rem;
          margin-bottom: 0;
          color: @cart-heading-color;
          @media @phone{
            font-size: 1.8rem;
            line-height: 2.2rem;
            margin: 0rem 0 2rem 1rem;
          }
    }
    .left-content{
        margin-top: 1.5rem;
    }
    .purchase-request {
      height: auto;
      display: flex;
      flex-direction: row;
      background: @info-message-bgcolor;
      border: 1px solid @info-message-borderColor;
      box-sizing: border-box;
        .order-desc-content{
          display: flex;
          flex-direction: column;
          margin: 1.1rem 0 0.7rem 2rem;
        }
         .infoIcon {
          background-image: url("../images/info.svg");
          height: 2.4rem;
          width: 2.4rem;
          display: block;
          margin-top: 2rem;
        }
        .order-desc-title{
          width: 100%;
          font-family: @futuraPTMedium;
          font-size: 2.2rem;
          line-height: 2.8rem;
          display: flex;
          align-items: center;
          color:@cart-heading-color;
           @media @phone{
                font-size: 1.4rem;
                line-height: 1.7rem;
           }
           .orderNumber{
               font-size: 2.2rem;
               margin-left: 1rem;
               @media @phone{
                    font-size: 1.8rem;
                    line-height: 2.1rem;
               }
            }
        } 
         .order-desc-sub-title{
          width: 100%;
          height: auto;
          font-family: @futuraPTMedium;
          font-size: 1.8rem;
          line-height: 2.3rem;
          color: @cart-heading-color;
           @media @phone{
                font-size: 1rem;
                line-height: 1.2rem;
           }
        }
    }
    
    .thankyou-text{
      font-size: 1.6rem;
      line-height: 2.1rem;
      color: @brand-black;
      margin: 3rem 0;
        @media @phone{
                font-size: 1.4rem;
                line-height: 1.7rem;
        }
       .thankyou-text-response{
          height: auto;
          font-size: 1.6rem;
          line-height: 2.1rem;
          color: @brand-black;
          margin: 3rem 0;
            @media @phone{
                font-size: 1.4rem;
                line-height: 1.7rem;
            }
        }
    }

    .sub-section-content{
      height: auto;
      margin-bottom: 2rem;
      background: @light-grey;
      box-sizing: border-box;
      border: 1px solid @cart-border;
       .sub-section-title{
          font-family: @futuraPTBold;
          font-size: 1.8rem;
          line-height: 2.1rem;
          display: flex;
          align-items: center;
          color: @nav-link-color;
          margin: 1.5rem 1.5rem 0 1.5rem;
        }
         .sub-section-body {
          font-size: 1.8rem;
          line-height: 2.3rem;
          color: @nav-link-color;
          box-sizing: border-box;
          margin: 1rem;
          padding: 1.5rem 1.5rem 0.5rem 1.5rem;
          @media @phone {
            margin: 0;
          }
          &.invoiceData {
                padding-left: 1rem;
          }
           @media @phone{
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
           p{
              margin-bottom: 2rem;
              .phoneNum{
                  font-family: @futuraPTBold;
                }
            }
            .tvIcon{
              background-image: url("../images/tv.svg");
              height: 2.4rem;
              width: 2.175rem;
              display: block;
              margin: 1rem auto;
               @media @phone{
                    margin: 0.5rem 0 1.5rem 0;
               }
            }
             .setTopBoxIcon{
              background-image: url("../images/setTopBox.svg");
              background-repeat: no-repeat;
              height: 3.5rem;
              width: 6.578rem;
              display: block;
              margin: 1rem auto;
              @media @phone{
                    margin: 0.5rem 0 1.5rem 0;
              }  
            } 
        }
        &.general-condition .sub-section-body p{
          font-size: 1.8rem;
          line-height: 2.3rem;
          color: @nav-link-color;
        }
        .card-icons {
            display: flex;
        }
        .card-content {
             .card-title{
                  font-family: @futuraPTBold;
                  font-size: 1.6rem;
                  line-height: 2rem;
                  color: @brand-dark-blue;
                  margin-top: 1rem;
                  margin-bottom: 2rem;
                  display: block;
            }
             .brand-dark-blue-text{
                 color: @brand-dark-blue;
                 font-family: @futuraPTMedium;
            }
             .brand-dark-blue-textBold{
                 color: @brand-dark-blue;
                 font-family: @futuraPTBold;
            }
            p{
                  font-family: @futuraPTMedium;
                  font-size: 1.2rem;
                  line-height: 1.2rem;
                  color: @brand-default-text;
                   @media @phone{
                        line-height: 1rem;
                    }
                  &:before{
                      content: '';
                      background-image: url("../images/tick.svg");
                      height: 0.9rem;
                      width: 1.2rem;
                      display: inline-block;
                      margin-right: 1rem;
                }
            }
        }

         .order-information-text-content{
            display: flex;
            flex-direction: row;
            background: @info-message-bgcolor;
            border: 1px solid @info-message-borderColor;
            box-sizing: border-box;
            border-radius: 0.6rem;
            margin: 0 1.5rem;
            padding: 1.5rem 1rem;
            align-items: center;
             .infoIcon{
                background-image: url(../images/info.svg);
                height: 2.4rem;
                width: 2.4rem;
                display: block;
            }
             .order-desc-content {
                display: flex;
                flex-direction: column;
            }
             .order-desc-sub-title {
                width: 100%;
                height: auto;
                font-family: @futuraPTMedium;
                font-size: 1.2rem;
                line-height: 1.7rem;
                color: @brand-black;
                margin-bottom: 0;
            }
        }
    }

    .bill-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & > span {
            margin: 1rem 0;
        }
        .purchased-product {
            font-family: @futuraPTMedium;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: @brand-black;
        }
        .purchased-product-amount{
            font-family: @futuraPTMedium;
            font-size: 1.4rem;
            line-height: 1.6rem;
            text-align: right;
            color: @brand-black;
        }
    }

    .bill-total-balance{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & > span {
            margin: 1rem 0;
        }
        .purchased-product{
          font-family: @futuraPTMedium;
          font-size: 1.4rem;
          line-height: 1.6rem;
          display: flex;
          align-items: center;
          color: @brand-dark-blue;
        }
        .purchased-product-amount{
          font-family: @futuraPTMedium;
          font-size: 1.4rem;
          line-height: 1.4rem;
          display: flex;
          align-items: center;
          text-align: right;
          color: @brand-dark-blue;
        }
    }
    .bill-total-spacer {
      color: @line-spacer;
      margin-bottom: 1rem;
    }
}

.page-orderConfirmationPage {
  .cart-totals {
    background-color: @checkout-background;
    border: 1px solid @checkout-border;
    border-radius: 0.6rem;
    padding: 1.5rem;
    margin: 0;
  }
  .cart-total-summary + .cart-total-summary {
    margin-top: 1.5rem;
  }
}




.orderConfProductContent {
    border: 1px solid @quicklinks-background;
    box-sizing: border-box;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2rem;
    @media @phone{
        padding: 0;
    }
    & > div{
        @media @phone{
            margin-left: 0;
            padding: 0;
        }
        @media @tablet{
            margin-left: 0;
        }
    }
}

.orderConfProductContent{
    .oImage {
        width: 30%;
        .item__image img {
            width: 100%;
        }
    }
    .oDetails {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        .item__price {
            text-align: inherit;
        }
        .item__quantity {
            text-align: left !important;
            margin-bottom: 1rem;
        }
        .item__info {
            & a > span {
                font-family: @futuraPTBold;
                color: @brand-default-text;
                font-size: 2.2rem;
                line-height: 2.6rem;
            }
            .cartProductDescription {
                font-size: 1.6rem;
                line-height: 2rem;
                color: @nav-link-color;
                margin-top: 1rem;
            }
        }
        .item__price {
            color: @brand-default-text;
            margin-top: 1.5rem;
        }
    }
} 
