//custom design for Site wide for LLA demo
.js-mobile-logo {
	margin-top: 0.8rem;
}
.js-site-logo {
	width: 10rem;
}
.btn-dark-style {
	&:hover{
		color: @meta-nav-color-open;
	}
}

#accNavComponentDesktopOne, 
#accNavComponentDesktopTwo {
	background-color: @brand-swap-secondary;
}
.custom-container {
	@media @tablet, @desktop{
		padding: 0 10rem;
	}
	@media @phone {
		padding: 0 1.8rem;
	}
}
//login popup
#cboxOverlay {
	opacity: 0.7 !important;
	position: fixed;
}
.logintitle {
	.headline-text {
		background-color: @brand-tertiary;
		color: @brand-white;
		padding: 1.5rem 4rem;
		font-size: 2rem;
		margin: 0;
		font-family: @futuraPTBook;
	}
}
#login-popup {
	.guest-checkout {
		padding-top: 2rem;
		display: none;
		label {
			text-transform: none;
			font-size: 1.8rem;
			font-weight: normal;
			color: @brand-default-text;
			&.error {
				color: @brand-primary;
				font-size: 1.4rem;
			}
			&.control-label {
				position: absolute;
				top: 0.6rem;
				left: 1.2rem;
				font-size: 1.4rem;
				font-weight: bold;
			}
		}
		.form-group {
			position: relative;
		}
		.btn {
			position: absolute;
			top: 0;
			right: 0;
			height: 5.6rem;
			line-height: 5rem;
			padding-top: 0;
			border-radius: 0 0.8rem 0.8rem 0 !important;
		}
		.form-control {
			height: 5.6rem;	
			border: 1px solid @brand-grey-text;
			border-radius: 0.8rem;	
			padding-top: 2rem;
			font-size: 1.8rem;
			padding-right: 7rem;
		}
		.alternate {
			position: relative;
			font-size: 2rem;
			color: @brand-primary;
			&:before, &:after {
				content: '';
				position: absolute;
				border-top: 1px solid @brand-primary;
				width: 43%;
				height: 1px;
				top: 1.5rem;
			}
			&:before {
				left: 0;
			}
			&:after {
				right: 0;
			}
		}
	}
	h5 {
		margin-bottom: 0;
		font-size: 1.8rem;
		line-height: 3rem;
		color: @brand-grey-text;
		span {
			font-family: @futuraPTBold;
		}
	
		a {
			text-decoration: underline;
		}
	}
	.login-popup-close {
		cursor: pointer;
		margin-left: 3rem;
		color: @brand-primary;
		text-decoration: underline;
		font-size: 1.6rem;
	}
}
.page-cartPage {
	.guest-checkout {
		display: block !important;
	}
}
//error page design
.error-page{
	margin-bottom: 3rem;
}

// alerts
.alert {
	font-size: 1.5rem;
	border-radius: 0.5rem;
	line-height: 1.9rem;
	margin-top: 1.5rem;
}

// breadcrumb
.breadcrumb-section{
	padding: 0;
	.breadcrumb {
		text-transform: none;
		font-size: 1.4rem;
		li {
			color: @cart-addon;
			a {
				color: @cart-addon;
			}
			&.active {
				color: @brand-primary;
			}
		}
	}
}

//Mini cart popup
.mini-cart-body{
	font-size: 1.6rem;
}

//alert info
.alert-info {
	background-color: @checkout-alert-background;
	border: 1px solid @checkout-alert-border;
	color: @brand-black;
}

//process state info
.process-selection-bar{
	font-family: @futuraPTMedium;
	padding: 2rem 0;
	.selection-state{
	    padding-left: 0;
		margin: auto;
		overflow: hidden;
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
		and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71){
			display: flex;
		}
		li{
			list-style: none;
    		position: relative;
    		padding: 0;
			color: @brand-medium-grey;
			a {
			    color: @brand-medium-grey;
			    width: 100%;
			}
			.process-state{
				font-family: @futuraPTBold;
			    font-size: 2.4rem;
			    line-height: 3.1rem;
			    padding-right: 5%;
			}
			.process-info{
				font-size: 1.8rem;
				@media @phone {
					font-size: 1.2rem;
					line-height: 1.5rem;
				    display: inline-block;
				    width: 75%;
				    text-align: left;
				}
			}
			.level{
				margin-bottom: 0;
			    padding: 1rem 0 1rem 7%;
			    display: flex;
			    align-items: center;
			    @media @phone{
			    	display: flex;
					align-items: center;
					padding: 1rem 0 1rem 7%;
			    }
			    &a:link{
			    	@media @phone{
			    		display: inherit;
			    	}
			    }
			}
			&.previous{
				color: @brand-white;
				&:first-child{
					.level{
						&:before{
							border: none;
						}
					}
				}
				.level{
					background-color: @brand-lighter-orange;
				    width: ~"calc(100% - 8px)";
				    border-radius: 0;
				    &:after {
					    content: " ";
					    position: absolute;
					    right: 0;
					    top: 0;
					    width: 0;
					    height: 0;
					    border-top: 2.5rem solid transparent;
					    border-bottom: 2.5rem solid transparent;
					    border-left: 0.8rem solid @brand-lighter-orange;
					}
					&:before {
					    content: " ";
					    position: absolute;
					    left: 0;
					    top: 0;
					    width: 0;
					    height: 0;
					    border-top: 2.5rem solid transparent;
					    border-bottom: 2.5rem solid transparent;
					    border-left: 0.8rem solid @brand-white;
					}
					a:link, a:visited, a:hover {
					    color: @brand-white !important;
					    width: 100%;
    					text-align: left;
					}
				}
			}
			&.active{
				color: @brand-white;
				&:first-child{
					.level{
						border-radius: 1rem 0 0 1rem;
						&:before{
							border: 0;
						}
					}
				}
				.level{
					background-color: @brand-light-orange;
				    width: ~"calc(100% - 8px)";
				    border-radius: 0;
					&:after{
						content: " ";
					    position: absolute;
					    right: 0;
					    top: 0;
					    width: 0;
					    height: 0;
					    border-top: 2.5rem solid transparent;
					    border-bottom: 2.5rem solid transparent;
					    border-left: 0.8rem solid @brand-light-orange;
					}
					&:before {
					    content: " ";
					    position: absolute;
					    left: 0;
					    top: 0;
					    width: 0;
					    height: 0;
					    border-top: 2.5rem solid transparent;
					    border-bottom: 2.5rem solid transparent;
					    border-left: 0.8rem solid @brand-white;
					}
				}
				&:last-child{
					&.active{
						.level{
						 	border-radius: 0 1rem 1rem 0;
						}
					}
					.level{
						border-radius: 0 1rem 1rem 0;
						&:after{
							border: 0;
						}
					}
				}
				a:link, a:visited, a:hover{
					color: @brand-white;
					pointer-events: none;
					cursor: default;
				}
			}
			&:first-child{
				&.previous{
					.level{
						border-radius: 1rem 0 0 1rem;
					}
				}
				.active{
					.level{
						border-radius: 1rem 0 0 1rem;
					}
				}
				&.disable .level {
				    border-radius: 1rem 0 0 1rem;
				}
			}
			&:last-child{
				&.previous{
					.level{
						border-radius: 1rem 0 0 1rem;
					}
				}
			}
			&.disable{
				.level{
					 background-color: @breadcrumb-bg;
				   	 width: ~"calc(100% - 8px)";
				     border-radius: 0;
				     &:after {
					    content: " ";
					    position: absolute;
					    right: 0;
					    top: 0;
					    width: 0;
					    height: 0;
					    border-top: 2.5rem solid transparent;
					    border-bottom: 2.5rem solid transparent;
					    border-left: 0.8rem solid @breadcrumb-bg;
					}
				}
			}
		}
	}
}
