//
// PLP
// --------------------------------------------------------
/* ----Styles for banner text start---- */
.category-banner-section{
	position: relative;
	.banner-content{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
	}
	.home-block{
		position: absolute;
		transform: perspective(1px) translateY(30%);
		right: 16%;
		@media @smartphones{
			right: 18%;
		}
		@media @desktop{
			transform: perspective(1px) translateY(50%);
		}
	}
	.banner-text{
		font-family: @futuraPTMedium;
		font-size: 5rem;
		color: @brand-white;
		text-transform: uppercase;
		@media @tablet{
			font-size: 3rem;
		}
		@media @phone{
			font-size: 2rem;
		}
		@media @tablet_landscape{
			font-size: 5rem;
		}
		@media @phone_landscape{
			font-size: 5rem;
		}
	}
}
/* ----Styles for banner text end---- */

/* ----Styles for search page start---- */
.product__list--wrapper {
	margin-top: 4rem;
	.results h1 {
		margin-top: 0;
		padding: 0 0 0 2rem;
	}
}

.page-search{
	.product__listing.product__list {
		.grid_view.product__list--items{
			.prod-wrapper{
				.prod-img,
				.prod-content{
					height: 10rem;
				}
			}
		}
	}
}
/* ----Styles for search page end---- */

/* ----Styles for mobile devices start---- */
.product-list,
.search-list {
	.tab-pane{
		border-bottom: 0;
	}
	.show-more{
		width: 20%;
		@media @phone{
			width: 50%;
		}
	}
}
.product__listing.product__list{
	padding-left: 0;
	.grid_view.product__list--items{
		background-color: @brand-white;
		padding: 0;
		margin-bottom: 5rem;
		cursor: pointer;
		&.disabled {
			pointer-events: none;
		}
		.prod-wrapper{
			max-height: 100%;
			border-bottom: 0;
			& > span.prod-card-bubble {
			    position: absolute;
			    right: 1rem;
			    top: 0;
			    color: @brand-white;
			    font-size: 2rem;
			    line-height: 100%;
			    font-family: @futuraPTBold;
			    width: 10rem;
			    height: 6.5rem;
			    padding-top: 0.5rem;
			    padding-left: 0.4rem;
			    background: url(../images/productCardBubble.svg) no-repeat;
			}
			.prod{
				&-img{
					height: 20rem;
					@media @smartphones{
						width: 12rem;
					} 
					@media (max-width: 48rem) {
						float: none;
    					margin-right: auto;
					}
					> img{
						width: 10rem;
						@media @smartphones{
							width: 9rem;
						}
					}
				}
				&-content{
					display: flex;
					justify-content: space-around;
					flex-direction: column;
					@media @desktop, @tablet{
						max-height: 100%;
						overflow: visible;
					}
					@media (max-width: 480px) {
						text-align: center;
						margin-top: 1rem;
					}
					.p-brand{
						color: @text-color-secondary;
						font-size: 1.8rem;
						font-family: @futuraPTBold;
					}
					.prod{
						&-data {
							margin-bottom: 1rem;
						}
						&-name{
							font-size: 1.8rem;
							font-family: @futuraPTBold;
							color: @nav-link-color;
							white-space: normal;
							overflow: hidden;
							line-height: 1.2;
							@media @phone{
								overflow: visible;
								max-height: fit-content;
							}
							@media (max-width: 480px) {
								text-align: center;
							}
						}
						&-price{
							color: @brand-primary;
							font-size: 1rem;
							line-height: 1;
							@media (max-width: 480px) {
								text-align: center;
							}
							.p-code{
								color: @brand-grey-text;
								font-size: 1.2rem;
								font-family: @futuraPTLight;
								line-height: 1.5rem;;
								s {
									font-size: 1.8rem;
								}
							}
							.actual-price{
								font-family: @futuraPTBold;
								font-size: 3.2rem;
								display: block;
								line-height: 4.1rem;
								color: @brand-dark-magenta;
							}
						}
						&-plans{
							color: @brand-dark-blue;
							font-size: 1.8rem;
						}
					}
				}
			}
			.prod-btn-info{
				width: 65%;				
				margin: 0 auto;
				height: auto;
				.device_tooltip {
					position: relative;
					.tooltiptext {
						visibility: hidden;
						width: 100%;
						background-color: @brand-black;
						color: @brand-white;
						text-align: center;
						border-radius: 0.6rem;
						padding: 1.2rem;
						position: absolute;
						z-index: 1;
						bottom: 125%;
						left: 28%;
						margin-left: -6rem;
						opacity: 0;
						transition: opacity 0.3s;
						font-size: 1.3rem;
						@media @tablet{
							left: 38%;
						}
						@media @smartphones{
							bottom: 50%;
							left: 18%;
						}
						&::after{
							content: "";
							position: absolute;
							top: 100%;
							left: 50%;
							margin-left: -0.5rem;
							border-width: 0.5rem;
							border-style: solid;
							border-color: @brand-black transparent transparent transparent;
						}
					}
					&:hover{
						.tooltiptext{
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
			.add-cart-btn{
				.btn-custom();
				padding: 1.2rem 0.5rem !important;
				text-transform: uppercase;
				font-size: 1.5rem;
				&, 
				&:hover{
					@media @smartphones{
						margin-top: 0;
						display: grid;
					}
				}
				&.disabled{
					background-color: @plp-category-btn-device;
					border-color: @plp-category-btn-device;
				}
			}
			@media @desktop, @tablet{
				.product-info{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
				}
			}
			.features-link{
				display: inline-block;
				font-size: 1.4rem;
				margin: 2rem 0;
				color: @brand-primary;
				text-decoration: underline;
				text-transform: uppercase;
				font-family: @futuraPTBold;
				&.disabled{
					pointer-events: none;
					cursor: default;
					color: @plp-category-btn-device;
				}
			}
		}
	}
	&.prod_grid_view{
		background-color: @brand-white;
		@media @smartphones{
			padding-right: 1rem;
		}
	}
}
/* ----Styles for mobile devices end---- */

/* ----Styles for facets start---- */
@media @desktop{
	.empty-design-filter{
		min-height: 6rem;
	}
	.page-search{
		.empty-design-filter{
			min-height: 10rem;
		}
	}
}
.product__facet {
	border-right: 0;
	.facet {
		border-bottom: 0;
		.facet{
			&__name {
				color: @brand-primary;
				font-weight: normal;
			}
			&__list {
				li {
					border: 1px solid @brand-primary;
					text-align: center;
					margin-bottom: 0.5rem;
					font-size: 1.6rem;
					color: @brand-primary;
				}
				label {
					font-size: 1.6rem;
					color: @brand-primary;
				}
				&__text{
					text-transform: none;
				}
			}
		}
	}
}
/* ----Styles for facets end---- */

/* ----Styles for pagination start---- */
.pagination-bar{
	&-results {
		font-size: 1.6rem;
	}
	li{
		span,
		a{
			font-size: 1.6rem;
		}
	}
	.sort{
		&-text {
			text-transform: none;
			color: @brand-primary;
			font-weight: normal;
		}
		&-dropdown{
			border-color: @brand-primary;
		}
	}
	&.bottom{
		display: none;
	}
}

.pager li > a{
    background-color: @brand-primary;
    border: 1px solid @brand-primary;
    border-radius: 0;
    color: @brand-white;
	text-transform: uppercase;
	font-size: 1.8rem;
	&:hover{
		text-decoration: none;
		background-color: @brand-primary;
	}
}
/* ----Styles for pagination end---- */

/* ----Styles for searchbox autocomplete start---- */
.navigation--middle{
	.nav__left{
		.site-search{
			ul.ui-autocomplete{
				li{
					.thumb{
						img{
							width: 3rem;
						}
					}
				}
			}
		}
	}
}
/* ----Styles for searchbox autocomplete end---- */

/* ----Styles for searchResult start---- */
.search-list{
	h1{
		color: @brand-primary;
		font-family: @futuraPTLight;
	}
	.top{
		margin-top: 0;
	}
	.prod-nam{
		font-size: 1.8rem;
	}
}
/* ----Styles for searchResult end---- */

/* ----Styles for InternetPLP Page start---- */
.category-head-section{
	margin: 2rem 0 10rem;
	@media @smartphones{
        margin: 2rem 0 0;
    }
	.subheadline{
		padding: 0;
		font-family: @futuraPTBold;
		margin-bottom: 1.5rem;
		font-size: 3.6rem;
		font-style: normal;
        font-weight: bold;
		color: @text-color-darkBlack;
	}
	.sub-desc{
		font-family: @futuraPTBook;
        font-size: 2.2rem;
        text-align: left;
		color: @text-color-darkBlack;
		line-height: 2.8rem;
        .special-text{
            font-family: @futuraPTBold;
            color: @brand-primary;
		}
		.textPrimaryColor{
			text-decoration: underline;
		}
	}
}
.main-head-section{
	margin-bottom: 0;
}
.livemore-section{
	.livemore-col{
		.planName {
			font-family: @futuraPTBold;
			font-size: 2rem;
			line-height: 3.1rem;
			margin-bottom: 1.5rem;
			color: @brand-primary;
		}
		.planInfo {
			font-family: @futuraPTMedium;
			font-size: 1.5rem;
			line-height: 2.3rem;
			color: @nav-link-color;
		}
		@media @desktop{
			.cta-content-spec{
				padding: 25% 0 0;
			}
		}
		.addcart-btn{
            .btn-custom();
            font-family: @futuraPTBold;
            margin-bottom:3rem;
            @media @tablet{
                margin-top: 0;
            }
        }
        .prepaid-addcart-btn{
            .btn-custom();
            font-family: @futuraPTBold;
            margin-bottom:0;
            @media @tablet{
                margin-top: 0;
            }
        }
        .char-spec {
            .char-spec-col {
                .spec-description  {
                    .spec-heading {
                        .spec-text {
                             .textPrimaryColor {
                                .textPrimaryColor();
                             }
                        }
                    }
                }
            }
        }
	}
	.char-spec {
        .prepaidplanheading {
			padding: 2rem 2rem 0 2rem;
            .planName {
                margin-bottom: 0;
            }
        }
    }
}
.page-tvPlans{
    .tv-addon--component{
        .headline{
            font-size: 2.8rem;
            color: @brand-default-text;
            font-family: @futuraPTLight;
        }
    }
    .tv-addon-experience{
        border: 1px solid @brand-primary;
        display: inline-block;
        .subhead{
            margin: 0;
            padding: 1rem 0;
            color: @brand-white;
            background-color: @brand-primary;
            font-size: 1.8rem;
            font-family: @futuraPTBold;
        }
        .tv-experience-block{
            font-size: 1.2rem;
            padding: 1.5rem 0;
            display: inline-block;
            text-align: left;
            .desc{
                text-align: left;
                min-height: 6rem;
            }
            .btn-learn-more{
                text-transform: uppercase;
                padding: 0.5rem 2rem;
            }
        }
    }
}

.page-tvPlansAddon,
.page-tvPlans{
	.livemore-section{
		.livemore-col{
			.img-block{
				&::after{
					background: none;
				}
			}
		}
	}
}

.more-channels{
	margin: 2rem 0;
	a{
		font-size: 1.6rem;
		text-decoration: underline;
		color: @brand-primary;
		&:active,
		&:hover,
		&:focus{
			color: @brand-primary;
		}
	}
}

.international-plan-rates{
	color: @brand-black;
	.table-intenational-rates{
		font-size: 1.4rem;
		border: 2px solid @brand-primary;
		font-family: @futuraPTLight;
		thead > tr{
			> th{
				text-transform: none;
				font-size: 1.2rem;
				border-bottom: 0;
				padding: 0.8rem 2rem;
				font-family: @futuraPTBold;
				&:nth-of-type(even){
					text-align: center;
				}
			}
			td{
				padding: 0.8rem 2rem;
			}
		}
		tbody > tr{
			&:nth-of-type(odd){
				background-color: @brand-light-gray;
			}
			> td{
				border: 0;
				padding: 0.8rem 2rem;
				&:nth-of-type(even){
					text-align: center;
				}
			}
		}
		.subhead{
			color: @brand-default-text;
			font-family: @futuraPTBold;
		}
	}
	.additional-info{
		.subhead{
			font-weight: bold;
		}
		.calling-link{
			text-decoration: underline;
			color: @brand-primary;
		}
	}
}

.tv-addon-table{
	font-size: 1.4rem;
	border: 2px solid @brand-primary;
	font-family: @futuraPTLight;
	color: @brand-black;
	thead > tr {
		> th{
			padding: 0.8rem 2rem;
			border-bottom: 0;
			font-family: @futuraPTBold;
			&:last-child{
				text-align: left;
			}
		}
	}
	tbody > tr{
		&:nth-of-type(even){
			background-color: @brand-light-gray;
		}
		> td{
			padding: 2rem;
			vertical-align: middle;
			border: 0;
			text-align: left;
			.channel{
				&-name{
					font-family: @futuraPTBold;
				}
			}
			&.channel-list{
				width: 35%;
				font-size: 1.2rem;
			}
			.btn-getnow{
				padding: 0.5rem 2rem;
				text-transform: uppercase;
				font-size: 1.4rem;
				font-family: @futuraPTBold;
			}
			.price{
				color: @brand-primary;
				font-family: @futuraPTBold;
				text-align: center;
			}
		}
	}
}

/* ----Styles for InternetPLP Page end---- */

/* ----Styles for postpaid, prepaid and bundles plp Page start---- */
.page-postpaid, .page-prepaid, .page-internet-tv-phone, .page-internet-phone, .page-roaming {
	header {
		margin-bottom: 0;
	}	
} 
.addon-section {
	.headline {
		font-family: @futuraPTLight;
		font-size: 2.8rem;
		text-align: center;
		margin-bottom: 2rem;
	}
	.addon-col {
		h5 {
			background-color: @brand-primary;
			padding: 1rem;
			margin: 0;
			color: @brand-white;
			font-family: @futuraPTBold;
			text-align: center;
			font-size: 1.6rem;
		}
		.addon-desc {
			border: 1px solid @brand-primary;
			color: @brand-grey-text;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2.5rem 1rem;
			font-size: 1.4rem;	
			font-weight: bold;		
			.price {
				margin: 0 3rem;
				color: @brand-primary;
				span {
					font-size: 0.9rem;
				}
			}
		}
	}
}

.summary-block {
	padding: 2rem 1rem 0 1rem;
	font-size: 1.2rem;
	h6 {
		color: @brand-primary;
		font-weight: bold;
	}
	p {
		color: @brand-primary;
	}
	ul {
		display: inline-block;
    	text-align: left;
		li{
			span {
				color: @brand-primary;
			}
		}
	}
}

.bundle-plan-list, .bundle-rates {
	font-family: @futuraPTLight;
	.headline {
		font-family: @futuraPTLight;
		margin-bottom: 2rem;
		font-size: 2.8rem;
		color: @brand-grey-text;
		text-align: center;
	}
	ul {
		font-size: 1.4rem;
		line-height: 2.3rem;
		span {
			font-weight: bold;
		}
	}
}
.bundle-rates {
	font-size: 1.4rem;
	table {
		border-bottom: 1px solid @brand-lighter-gray;
		th {
			text-transform: capitalize;
			font-size: 1.6rem;
			&:last-child {
				text-align: center;
			}
		}
		tr td:first-child {
			text-align: left;
		}
		tr td:last-child {
			text-align: center;
		}
	}
	.table-striped > tbody > tr:nth-of-type(odd) {
		background-color: @brand-lighter-grey;
	}
	.disclaimer {
		font-size: 1rem;
		text-align: left;
	}
}
.page-roaming {
	.livemore-section .livemore-col .char-spec{
		.voice:before {
			background: url(../images/minutes_icon.svg) center 5px no-repeat;
			background-size: contain;
		}
		.sms:before {
			background: url(../images/anywheretext_icon.svg) center 5px no-repeat;
			background-size: contain;
		}
	} 
}
.cta-container {
	flex-wrap: wrap;
	&,
	& > div {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		:nth-child(n+5) {
            @media (min-width: 1024px) {
                margin-top: 10rem;
            }
        }
        .prepaidTextInfo {
            .cityAvailabelInfo {
                width: 90%;
                margin: 1rem auto;
                font-size: 1.2rem;
    			line-height: 1.5rem;
            }
		}
		.prepaid-terms,
		.postpaid-terms {
			position: absolute;
            top: 103%;
            display: block;
			width: 90%;
			font-size: 1.8rem;
			a {
				color: @plp-category-link-color;
				background: url(../images/terms_icon.svg) right no-repeat;
				background-size: 1.6rem;
				padding-right: 2.5rem;
			}
			
		}
	}
	.cta-content {
		background: @brand-white;
	}
}
.page-internettvtelephone {
	.cta-container {
		&, & > div {
			align-items: flex-start;
		}
	}
}
/* ----Styles for postpaid, prepaid and bundles plp Page end---- */
.plp-livemore-section {
    background-color: @plp-category-background;
	padding: 5rem 0 0;
	overflow: hidden;
    .plpContainer {
        margin-bottom: 10rem;
	}
	@media @phone{
		padding: 1rem 2rem 0;
	}
}
.page-postpaid{
	.plp-livemore-section {
		background-color: @brand-white;
	}
	.device-livemore-section{
		padding: 0 2rem;
		.category-head-section{
			margin-bottom: 1rem;
		}
	}
}
/* Plp Featured Promo CSS Starts */
.custom-container {
    &.promoSection {
        @media @tablet{
            padding: 0;
        }
        @media @smartphones{
           padding: 0;
        }
    }
}
.promoHeading {
	font-family: @futuraPTBold;
	font-style: normal;
	font-weight: bold;
	font-size: 3.6rem;
	line-height: 4.6rem;
	color: @nav-link-color;
	text-align: center;
	margin-bottom: 2rem;
	@media @smartphones{
        font-size: 3rem;
        line-height: 3.8rem;
        text-transform: uppercase;
    }
}
.featuredPromotions {
	display: flex;
	justify-content: center;
	@media @smartphones{
       display: block;
    }
	.promotionCta {
		display: flex;
		flex-direction: column;
		padding: 0 2.5rem;
		align-items: center;
        justify-content: center;
        @media @tablet{
            padding: 0 1rem;
        }
        @media @smartphones{
            margin-bottom: 4rem;
            padding: 0;
        }
        .promo-img-block {
            width: 100%;
            img {
                border-radius: 0.5rem;
                width: 100%;
                @media @smartphones{
                    border-radius: 0;
                }
            }
        }
		.promo-data-block {
			padding: 0 5rem;
			text-align: left;
			width: 100%;
			@media @tablet{
                padding: 0 2rem;
            }
            @media @smartphones{
                text-align: center;
            }
			h3 {
				font-family: @futuraPTBook;
				font-style: normal;
				font-weight: bold;
				font-size: 2.4rem;
				line-height: 3.1rem;
				color: @nav-link-color;
				@media @smartphones{
                    font-size: 2.4rem;
                    line-height: 3.1rem;
                }
			}
			p {
				font-family: @futuraPTBook;
				font-style: normal;
				font-weight: 500;
				font-size: 1.8rem;
				line-height: 2.3rem;
				color: @nav-link-color;
				margin-bottom: 1.5rem;
			}
		}
		.promo-btn-block {
		    width: 100%;
			text-align: left;
			padding: 1rem 5rem;
			margin-top: auto;
			@media @tablet{
                padding: 0 2rem;
            }
            @media @smartphones{
                text-align: center;
                margin-top: 1.5rem;
            }
			a {
			    .discover-btn {
                    .btn-yellow;
                    font-weight: bold;
                    font-family: @futuraPTBold;
                    padding: 0.5rem 3rem !important;
                    color: @brand-black !important;
                }
			}
		}
	}
}
/* Plp Featured Promo CSS Ends */
/* 3p Plp Promo Banner Starts */
.promo-banner-row{
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 4rem 0;
	@media @phone{
		flex-direction: column;
	}
	.headline{
		font-size: 3rem;
		line-height: 4rem;		
		margin-top:3rem;
		padding:0 4rem;
		font-family: @futuraPTBold;
		color:@text-color-darkBlack;	
		@media @phone{
			font-size: 2.4rem;
			line-height: 3.2rem;
			padding:0 5rem;			
		}
		@media @tablet{
			font-size: 2.6rem;
			line-height: 3rem;
		}
	}
	.experience-block{
		display: flex;
		flex-direction: column;
		font-family: @futuraPTBold;
		color:@text-color-darkBlack;
		@media @phone{
			flex-direction: column-reverse;
		}
		img{
			@media @phone{
				padding:4rem 4rem 0;
			}
			@media @tablet{
				padding: 0 2rem;
			}
			
		}
		.descContainer{
			position: absolute;		
			left:4rem;
			margin-top: 15rem;
			font-family: @futuraPTLight;
			font-weight: 700;
			@media @phone{
				position: relative;
				left: 7%;
				margin: 0;	
				padding: 0 2rem;						
			}
			@media @tablet{
				left: 0;
				margin-left: 3rem;
				margin-top: 10rem;
			}
			.desc{
				position: relative;
				font-size: 1.8rem;
				line-height: 2.4rem;
				display: flex;
				flex-direction: column;
				width:60%;
				@media @phone{
					width:80%;
				}
				.btn-yellow {
				 width:50%;
				 margin-top:3rem;
				 font-family: @futuraPTBold;
				 @media @phone{
					 width:auto;
				 }
				 @media @tablet{
					margin-top: 2rem;
				 }
				 a{
					&:hover, &:focus, &:active {
						color: @brand-white;
					}
				  }
				}
			}
		}
	}
}
/* 3p Plp Promo Banner Ends */

/* Prepaid PLP CSS */
.page-prepaid{
	.plp-livemore-section {
		background-color: @brand-white;
	}
	.livemore-col {
        @media @smartphones{
            margin-top: 12rem;
        }
		&.prepaidcta{
			.cta-header {
				background: url("../images/cta_header.svg") center no-repeat;
				width: 100%;
				height: 13.7rem;
				background-size: contain;
				margin-top: -7.5rem;
				left: 0;
				position: absolute;				
			}
			.cta-header-text {
				margin-right: auto;
				margin-left: auto;
				display: block;
				color: @brand-white;		
				.description {
					font-family: @futuraPTLight;
					font-size: 1.6rem;
					line-height: 2.1rem;
					font-weight: 700;
					padding-right: 1rem;
				}			
				.headertext {
					font-family: @futuraPTBold;
					font-size: 4.6rem;											
					padding-top: 5rem;
					line-height: 2.2rem;
					&:first-letter {
						font-size: 2.2rem;
					}
					span {
						font-size: 40%;
					}
					small {
						font-size: 55%;
					}
				}
			}
			.cta-prod-data{
				.char-spec table tbody tr{
					border-bottom: 0.072rem solid @border-color-4;
					&:last-child {
						border-bottom: none;
					}
				}

			}
		}
    }
}
.prepaid-cta-popup {
    .livemore-section {
        @media @smartphones{
            padding: 0;
        }
        .prepaidPlanPopupCtabox {
            margin: 0 25% 8%;
            padding: 0;
            @media @tablet{
                margin: 0 20% 8%;
                padding: 0;
                width: 60%;
            }
            @media @smartphones{
                margin: 0 10% 8%;
                padding: 0;
                width: 80%;
            }
        }
        .livemore-col {
            width: 100%;
            @media @tablet{
                .char-spec {
                    padding: 15% 10% 0 10%;
                }
            }
        }
    }
    .prepaidplanInfoTc {
        position: relative;
        display: block;
        clear: both;
        .tc {
            font-size: 1.2rem;
        }
    }
}

// Residential PLP 
.residential-plp {
	&.livemore-section {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-top: 3rem;
		.headline {
			margin: 0 !important;
			line-height: 3.8rem;
			color: @text-color-darkBlack;
			@media @phone {
				font-size: 2.4rem;
				line-height: 3.1rem;
			}
		}
		 .Promotionflag {
            width: ~"calc(100% + 4px)";
            background-color: @brand-dark-magenta;
            font-size: 2.4rem;
            color: @brand-white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0rem;
            border-radius: 1rem;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            position: absolute;
            top: -3.8rem;
            //margin: 0 20px;
            margin-left: -0.2rem;
            .livemore-col {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            }

        }
        .PromotionflagBorder{
        border: 0.2rem solid @brand-dark-magenta;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
            @media @phone {
                margin-top: 5rem !important;
            }
        }

		.livemore-col {
			width: 100%;
			cursor: pointer;
			position: relative;
			@media @phone {
				margin: 2rem auto 0;
				width: 90%;
			}
			.buynow-btn {
				padding: 1rem 0.5rem;
				margin-top: 2rem;
				border-radius: 0.8rem;
				font-size: 1.8rem;
                line-height: 1.8rem;
                text-transform: none;
			}
			.name {
				color: @brand-dark-magenta;
				        font-size: 1.8rem;
                        line-height: 1.8rem;
                        font-family: @futuraPTBold;
                        text-transform: uppercase;
                        //width: 66%;
                        margin: 1.3rem auto 0.8rem;
                        border-bottom: 0.2rem solid @border-color;
                        text-align: initial;
                        .Prodname{
                          color: @brand-black;
                          font-size: 2.4rem;
                          line-height: 2.8rem;
                        }
                      .Prodprimary{
                        color: @terms-link;
                        font-size: 1.2rem;
                        line-height: 1.5rem;
                        text-transform: capitalize;
                        font-weight: normal;
                        font-family: 'futuraPTMedium';
                        }
                        .Prodsecondary{
                        color:@brand-primary;
                        font-size: 3.6rem;
                        line-height: 4.2rem;
                        text-transform: capitalize;
                        }
				@media @smartphones, @phone{
					//width: 65%;
					text-align: left;
				}
			}
			.char-spec{
				.voice {
					&:before {
						background: url(../images/call_landline.svg) center 5px no-repeat;
						background-size: contain;
					}
				}
				.limit {
					&:before {
						background: url(../images/mobile.svg) center 5px no-repeat;
						background-size: 2rem;
					}
				}
			}
			.cta-content-spec {
				padding: 0 1.5rem;
				@media @phone {
					padding-left: 3rem;
					padding-right: 3rem;
					width: 100%;
				}
			}
			.char-spec{
				.char-spec-col .spec-description .spec-heading {
					padding-left: 1.5rem;
					a {
						text-decoration: underline;
					}
				}
				table td {
					padding: 1.6rem 0;
				}
			} 
		}
	}
	.sub-headline {
		font-size: 2.4rem;
		line-height: 3.1rem;
		color: @text-color-darkBlack;
		@media @phone {
			font-size: 1.8rem;
			line-height: 2.3rem;
		}
	}
	.tabs-container {
		background-color: @quicklinks-background;
		margin-top: 6.5rem;
		ul {
			padding: 0;
			list-style: none;
			margin-top: -4rem;
			display: flex;
			justify-content: center;
			li {
				display: inline-block;
				font-size: 1.4rem;
				line-height: 1.4rem;
				background: @brand-white;
				color: @brand-default-text;
				box-shadow: 0 1.05px 6.3px rgba(116, 116, 116, 0.25);
				padding: 1.3rem 0;
    			width: 16.7rem;
				border-bottom: 0.3rem solid transparent;
				cursor: pointer;
				@media @phone {
					font-size: 1.2rem;
					max-width: 32%;
				}
				.wifi-icon, .tv-icon, .landphone-icon, .mobile-icon, .simcard-icon {
					width: 2.6rem;
					height: 2.5rem;
					@media @phone {
						width: 2rem;
						height: 2rem;
						margin: 0;
					}
				}
				.wifi-icon {
					background: url(../images/data-gray.svg) center no-repeat;
					background-size: contain;
				}
				.tv-icon {
					background: url(../images/channels_icon_gray.svg) center no-repeat;
					background-size: contain;
				}
				.landphone-icon {
					background: url(../images/call_landline_gray.svg) center no-repeat;
					background-size: contain;
				}
				.mobile-icon {
					width: 1.3rem;
					background: url(../images/mobile_gray.svg) center no-repeat;
					background-size: contain;
				}
				.simcard-icon {
					width: 2.4rem;
					background: url(../images/simcardicon_gray.svg) center no-repeat;
					background-size: contain;
				}
				span {
					display: inline-block;
					margin: 0 0.5rem;
				}
				.bundle-name {
					margin-top: 0.5rem;
					font-weight: bold;
					@media @phone {
						padding: 0 1.5rem;
					}
				}
				&.active {
					border-bottom: 3px solid @brand-dark-magenta;
					.wifi-icon {
						background: url(../images/data-magenta.svg) center no-repeat;
						background-size: contain;
					}
					.tv-icon {
						background: url(../images/channels_icon_magenta.svg) center no-repeat;
						background-size: contain;
					}
					.landphone-icon {
						background: url(../images/call_landline_magenta.svg) center no-repeat;
						background-size: contain;
					}
					.mobile-icon {
						background: url(../images/mobile_magenta.svg) center no-repeat;
						background-size: contain;
					}
					.simcard-icon {
						background: url(../images/simcardicon_magenta.svg) center no-repeat;
						background-size: contain;
					}
					.bundle-name {
						color: @brand-dark-magenta;
					}
				}
				@media @phone {
					svg {
						width: 2rem;
					}
				}
			}
		}
	}
	.process-selection-bar {
		padding: 2rem 0;
	}
	.cta-wrapper {
		background-color: @quicklinks-background;
	}
	.cta-container {
		padding-top: 7rem;
    	padding-bottom: 8rem;
		@media @phone {
			padding-top: 3rem;
			flex-direction: column;			
			& > div {
				flex-direction: column;
			}
		}
		.promo-more{
		    width: 100%;
		    .more-benefits{
		        border: 0.2rem solid @brand-dark-magenta;
		    }
		}
		.more-benefits {
			background: @brand-white;
			margin-top: -1rem;
			padding-bottom: 1rem;
    		width: 100%;
			border-radius: 0 0 1rem 1rem;
			border: 0.1rem solid #C6C5C5;
			border-top: 0 !important;
			@media @phone {
				margin: -1rem auto 0;
				width: 90%;
			}
			a.read-link {
				color: @light-grey-1;
				font-size: 1.6rem;
				line-height: 2rem;
				position: relative;
				padding: 0.8rem 0;
				display: block;
				text-decoration: underline;
				margin-bottom: 0.1rem;
				&#more::after {
					border-width: 0 0.2rem 0.2rem 0;
					top: 1.4rem;
				}
				&#less::after {
					border-width: 0.2rem 0 0 0.2rem;
					top: 1.8rem;
				}
				&:after {
					content: '';
					position: absolute;
					height: 0.8rem;
					width: 0.8rem;
					border-style: solid;
					border-color: @light-grey-1;
					transform: rotate(45deg);
				}
			}
			.benefits-list {
				color: @light-grey-1;
				font-size: 1.2rem;
				line-height: 1.5rem;
				padding: 1.6rem;
				background: @brand-white;
				text-align: left;
    			width: 100%;
				a {
					text-decoration: underline;
				}
			}
		}
	}
}

.page-internettvtelephone {
	footer {
		margin-top: 0;
	}
}

.cta-wrapper {
	.devices-plp {
		padding-top: 3rem;
		.product__listing.product__list.prod_grid_view {
			background-color: transparent;
		}
		.product__listing.product__list .grid_view.product__list--items {
			background-color: transparent;
			margin-bottom: 2.5rem;
			padding: 0 1rem;
		}
		.product__listing.product__list .grid_view.product__list--items .prod-wrapper {
			padding-bottom: 2rem;
			padding-top: 2rem;
			& > span.prod-card-bubble {
			    position: absolute;
			    right: 1rem;
			    top: 0;
			    color: @brand-white;
			    font-size: 2rem;
			    line-height: 100%;
			    font-family: @futuraPTBold;
			    width: 10rem;
			    height: 6.5rem;
			    padding-top: 0.5rem;
			    padding-left: 0.4rem;
			    background: url(../images/productCardBubble.svg) no-repeat;
			}
		}
		.prod-btn-info {
			form {
				display: none;
			}
		}
	}
}

.page-plansAndDevices {
	.headline {
		text-transform: capitalize;
	}
	.postpaid-only, .devices-only {
		display: none;
		.postpaidBanner{
			.banner__component--responsive img{
				width:auto;
				margin-top: 1.6rem;
				@media @phone {
					width : 100%;					
				}
			}
		}
	}
	.postpaid-only {
		.sub-headline {
			color: @text-color-grey-3;
			font-size: 2.4rem;
			@media @phone {
				font-size: 1.8rem;
			}
		}
	}
	.deviceBanner {
		.experience-block {
			width: 62%;
			margin: 1rem  0 auto;
			display: inline-block;
			border: 1px solid @plp-banner-border-color;
			border-radius: 0.8rem;
			padding: 1rem;
			@media @tablet {
				width: 81%;
			}
			@media @phone {
				width: 95%;
			}		
		}
		.img-responsive {
			float: left;
			width: 8%;
			@media @phone {
				width: auto;
			}
		}
		.descContainer {
			p {
				display: inline-block;
				font-size: 1.8rem;
				padding-top: 0.7rem;
				@media @phone {
					padding-top: 0;
					width: 65%;
					text-align: left;
				}
			}
			.btn-device {
				float: right;
				background-color:@brand-white;
				color: @brand-primary;
				border-width: 0.1rem;
				border-radius: 0.8rem !important;
				border-color: @brand-primary;
				line-height: 2.2rem;
				padding: 1rem 2rem;
				text-transform: none;
				font-family: @futuraPTBook;
				font-size: 1.8rem;
				&::after {
					content: "";
					background: url(../images/arrowRight.svg) center no-repeat;
					display: inline-block;
					cursor: pointer;
					width: 1rem;
					height: 1rem;
					margin-left: 2rem;
				}
				@media @phone {
					width: 100%;
					margin-top: 1rem;
					padding: 1rem 3rem;
				}
			}
		}
	}	
	.livemore-section .livemore-col .char-spec .char-spec-col .spec-description .spec-heading {
		font-size: 1.8rem;
		line-height: 2.3rem;
		font-family: @futuraPTBook;
		@media @phone {
			font-size: 1.6rem;
			line-height: 1.8rem;
		}
	}
	.livemore-section .livemore-col .char-spec table tbody tr {
		border: none;
	}
	.residential-plp .tabs-container ul li {
		@media @phone {
			width: 42%;
			max-width: 42%;
		}
	}
	.residential-plp.livemore-section .livemore-col .name {
		margin-bottom: 3rem;
		margin-top: 4.3rem;
		border-bottom: 0;
	}
	.residential-plp.livemore-section .livemore-col .cta-content-spec {
		padding: 3rem 6rem 0;
		& > span.prod-card-bubble {
			    position: absolute;
			    right: 0;
			    top: 0;
			    color: white;
			    font-size: 1.8rem;
			    line-height: 100%;
			    font-family: @futuraPTBold;
			    width: 7.7rem;
			    height: 8rem;
			    padding-top: 1rem;
			    padding-left: 0.9rem;
			    background: url(../images/promo_online_plp.svg) no-repeat;
			}
	}
	.residential-plp.livemore-section .livemore-col .char-spec table td {
		padding: 1rem 0;
	}
	.residential-plp.livemore-section .livemore-col .char-spec {
		.voice {
			min-height: 3.3rem;
			&:before {
				background: url("../images/mobile.svg") 0.3rem center no-repeat;
				background-size: 1.9rem;
			}
		}
		.sms {
			min-height: 3rem;
			&:before {
				background: url("../images/sms_icon.svg") 0 center no-repeat;
				background-size: 3.1rem;
			}
		}
		.sim_card {
			min-height: 3rem;
			&:before {
				background: url("../images/simcardicon.svg") 0 center no-repeat;
				background-size: 3.4rem;
			}
		}
		.data_volume:before {
			background: url("../images/data.svg") 0 center no-repeat;
			background-size: 3.1rem;
		}
		.contract {
			min-height: 3.5rem;
			&:before {
				background: url("../images/contract_icon.svg") 0.3rem center no-repeat;
				background-size: 2.7rem;
			}
		}
	} 
	footer {
		margin-top: 0;
	}
}

// postpaid plan popup styles
#postpaid-cta-popup {
	.cta-header {
		margin: 1rem 0 1.6rem;
	}
	.cta-header-text {
		margin-right: auto;
		margin-left: auto;
		display: block;
		color: @brand-dark-magenta;
		text-align: center;	
		.description {
		    font-size: 1.8rem;
		    line-height: 2.3rem;
		    font-family: @futuraPTBold;
		}
		.desc {
		    font-size: 1.6rem;
		    line-height: 2.1rem;
		}
		.headertext {
		    font-family: @futuraPTBold;
		    font-size: 4.8rem;
		    line-height: 4.5rem;
		    span {
			font-size: 3.2rem;
			line-height: 3.2rem;
			}
		}
	}
	.headline-text {
        font-family: @futuraPTBold;
        font-style: normal;
        font-size: 1.8rem;
        text-align: center;
        color: @cart-addon;
        @media @phone{
            font-size: 2rem;
            line-height: 2.4rem;
        }
    }
	.name {
        font-family: @futuraPTBold;
        color: @brand-dark-magenta;
        text-transform: uppercase;
        font-size: 1.8rem;
        margin: 1rem auto 0;
        @media @phone{
            font-size: 1.8rem;
            line-height: 2rem;
        }
    }
	.plp-decision-text {
		font-family: @futuraPTBold;
        font-style: normal;
        font-size: 1.4rem;
    	line-height: 1.6rem;
        text-align: center;
        color: @brand-default-text;
		margin-bottom: 0;
	}
	.cta-prod-data {
		font-size: 1.8rem;
		text-align: center;
		.char-spec {
			display: inline-block;
			text-align: left;
		}
		table td {
			padding: 1rem;
		}
		.char-spec-col {
			position: relative;
			padding-left: 2rem;
			line-height: 2.3rem;
			&:before {
				position: absolute;
				margin: 0;
				content: '';
				left: -2rem;
				height: 100%;
			}
		}
		.voice {
			&:before {
				width: 1.9rem;
				height: 2.9rem;
				background: url(../images/mobile.svg) 0.3rem center no-repeat;
    			background-size: contain;
			}
		}
		.sms {
			&:before {
				width: 2.5rem;
				height: 2.5rem;
				background: url(../images/sms_icon.svg) 0 center no-repeat;
    			background-size: contain;
			}
		}
		.sim_card {
			&:before {
				width: 2.7rem;
				height: 2.3rem;
				background: url(../images/simcardicon.svg) 0 center no-repeat;
    			background-size: contain;
			}
		}
		.data_volume {
			&:before {
				width: 2.7rem;
				background: url(../images/data.svg) 0 center no-repeat;
    			background-size: contain;
			}
		}
		.contract {
			&:before {
				width: 2.7rem;
				height: 2.3rem;
				background: url(../images/contract_icon.svg) 0.3rem center no-repeat;
    			background-size: contain;
			}
		}
	}
	.plp-pop-btn {
        padding: 1.5rem 3rem;
        min-width: 31.6rem;
        font-family: @futuraPTBold;
        margin-top: 1rem;
        @media @phone{
            margin-top: 1rem;
            width: 100%;
			min-width: auto;
            font-size: 1.2rem;
        }
    }
}

.page-internettvtelephone {
	.residential-plp.livemore-section .livemore-col .char-spec .char-spec-col .spec-description .spec-heading {
		padding-left: 4rem;
	}
	.livemore-section .livemore-col .char-spec .char-spec-col:before {
		content: none;
	}
	.livemore-section .livemore-col .char-spec .char-spec-col .spec-text:before {
		position: absolute;
		content: '';
	}
	.livemore-section .livemore-col .char-spec .data_volume .spec-text:before {
		background: url(../images/data-gray.svg) center 5px no-repeat;
		background-size: contain;
		width: 3rem;
		height: 2.7rem;
		left: -4rem;
	}
	.residential-plp.livemore-section .livemore-col .char-spec .voice .spec-text:before {
		background: url(../images/call_landline.svg) center 5px no-repeat;
		background-size: contain;
		width: 3rem;
		height: 3.3rem;
		left: -4rem;
	}
	.livemore-section .livemore-col .char-spec .sd_channels .spec-text:before, 
	.livemore-section .livemore-col .char-spec .tv_sessions .spec-text:before {
		background: url(../images/channels_icon_gray.svg) center 5px no-repeat;
		background-size: contain;
		width: 2.8rem;
		height: 2.7rem;
		left: -4rem;
	}
	.residential-plp.livemore-section .livemore-col .char-spec .voice .spec-text:before {
		background: url(../images/call_landline_gray.svg) center 5px no-repeat;
		background-size: contain;
		width: 3rem;
		height: 3.3rem;
		left: -4rem;
	}
	.residential-plp.livemore-section .livemore-col .char-spec .limit .spec-text:before {
		background: url(../images/mobile_gray.svg) center 5px no-repeat;
		background-size: contain;
		width: 2rem;
		height: 4rem;
		left: -4rem;
	}
}

.page-prepaid {
	.livemore-section .livemore-col .char-spec {
		.sim_card:before {
			background: url(../images/simcardicon.svg) center no-repeat;
			background-size: contain;
		}
		.mobile_icon:before {
			background: url(../images/mobile.svg) center no-repeat;
			background-size: contain;
		}
		.whatsapp:before {
			background: url(../images/whatsapp_icon.svg) center no-repeat;
			background-size: contain;
		}
		.data_volume:before {
			background: url(../images/data.svg) center no-repeat;
			background-size: contain;
		}
	}
}
