//
// Base
// --------------------------------------------------------
#storeFinder {
    .headline {
        color: @brand-primary;
        font-family: @futuraPTBold;
    }
    .btn {
        text-transform: capitalize;        
        font-family: @futuraPTBold;
    }
    @media @desktop{
        padding: 0;
    }
}
.store__finder {
    .store__finder--navigation-list {
        .list__entry {
            height: auto;
            label {
                text-transform: capitalize;
                font-weight: normal;
                background: @brand-white;
            }
            .entry__name {
                font-weight: bold;
            }
            .entry__info {
                padding: 1rem;
            }
        }
    }
    & &--navigation{
        height: auto;
    }
    .store__finder--details {
        padding-left: 1rem;
        .store__finder--details-info {
            font-size: 1.2rem;
        }
    }
    .store__finder--details-openings {
        font-size: 1.2rem;
    }
    .store__finder--pagination {
        font-size: 1.4rem;
        .btn {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
}
.store__finder--search {
    .input-group {
        border: 1px solid @brand-light-gray;
        border-radius: 0.5rem;
        .input-group-btn {
            .btn-primary {
                background: transparent;
                border: none;
                color: @brand-gray;
                z-index: 0;
            }
        }
    }
    .form-control {
        border-radius: 0.5rem!important;
        border: none;
        z-index: 0;       
    }
}

@media @phone {
    .store__finder .store__finder--details .store__finder--details-openings dl dt {
        float: left;
    }
}