//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                       COLORS PALLET
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************


@brand-primary: 	#FF4713;
@brand-secondary: 	@brand-primary;
@brand-tertiary: 	#FFB71B;
@brand-white:       #FFFFFF;
@brand-light-gray:  #D9D9DB;
@brand-gray:        #666666;
@brand-dark-magenta:#981D97;
@brand-red:         #FF4713;
@brand-dark-blue:   #7487A0;
@brand-light-blue:  #E3F5FE;
@brand-green:       #C2D500;
@brand-black:       #000000;
@brand-default-text:#63666A;
@brand-lighter-gray: #E5E5E5;
@brand-drak-grey: #57585A;
@brand-draker-grey: #3F3E3E;
@brand-grey-text: #636569;
@brand-lighter-grey: #F9F7F7;
@brand-skyblue: #00A7E1;
@brand-light-orange: #E97C2B;
@brand-lighter-orange: #FAAF42;
@brand-medium-grey: #909090;
@nav-link-color: #434343;
@nav-link-hover-backround: @brand-primary;
@input-readonly-background: #EEEEEE;
@brand-light-black: #2D2D2D;
@terms-link: #979797;

@cart-background: #FAFAFA;
@cart-border : #E2E8EE;
@cart-heading-color: #333F48;

@brand-swap-primary:    @brand-primary;
@brand-swap-secondary:  @brand-secondary;
@brand-swap-tertiary:   @brand-tertiary;

//*********Typography*********
@futuraPTBold:  "futuraPTBold";
@futuraPTLight: "futuraPTLight";
@futuraPTMedium: "futuraPTMedium";
@futuraPTBook:  "futuraPTBook";
@Arial:  "Arial";
@ArialBold:  "ArialBold";
@Grandstander:  "Grandstander";


@baseFontSize: 10px;
@baseFontFamily: @futuraPTBook;
@baseLineHeight: 1.528571429;
@default-font-weight: normal;
@default-font-color: @brand-default-text;

//*********Typography Colors*********
@text-color:			#19212b;
@text-color-secondary:	#929292;
@link-color: 			@brand-secondary;
@link-hover-color:      @brand-primary;
@headline-color:		@link-hover-color;
@text-color-darkBlack:     @nav-link-color;
@text-color-grey:          #646464;
@text-color-grey-1:        #787878;
@text-color-grey-2:        #888888;	
@text-color-black:         #484646;
@text-color-grey-3:        #939393;
@text-color-grey-4:        #E9E9E9;
@text-color-grey-5:        #8E8E8E;
@light-grey:			   #FBFBFB;
@light-grey-1:             @brand-medium-grey;
//== Borders
@border-color: 			#f2f2f2;
@border-color-2:		@brand-lighter-gray;
@border-color-3:		#CCCCCC;
@border-color-4:        #E3E3E3;
@border-color-5:        #C4C4C4;
//Background
@brand-grey-background: #F1F1F1;

//*********form colors*********
@label-color: 			#153a59;

@input-color: 			@text-color;
@input-border-color: 	@border-color-3;
@placeholder-color: 	#b9bdc2;
//** Border color for inputs on focus
@input-border-focus:    @brand-tertiary;
//** Border color for inputs on error
@input-error:    #c53131;
//** Background color for inputs on error
@input-error-bg:        #f6e0e0;
//** color for error text
@input-error-text:        @input-error;

@input-success: @border-color-3;
@input-success-bg: transparent;
@input-success-text: #00A651;

//*********Header Background*********
@header-background-color: 	#f8f8f8;
@nav-border-color: 			#d3d3d3;
@nav-gray: #7C7C7C;

//*********Secondary Navigation colors*********
//Background color for My Account and My Company dropdowns
@meta-nav-color: #154259;
@meta-nav-color-open: @brand-white;
@meta-nav-hover-color: @brand-primary;
@meta-nav-border-color: #317f8c;
@meta-nav-background: #0085CA;
@meta-nav-hover-background: @meta-nav-background;


//*********Search*********
@searchbar-icon-color: @placeholder-color;
@check-box-bg: @brand-white;

//********* icon navigation colors*********
@nav-icon-color: @meta-nav-background;
@nav-icon-color-secondary: @brand-secondary;
@nav-icon-hover-background: @border-color;


//*********Header Navigation-Categories Background*********
@nav-cat-background: @nav-icon-color;
@nav-cat-border: @nav-cat-background;
@nav-cat-hover-background: @border-color;
@nav-cat-link-color: @brand-white;
@nav-cat-font-size: 13px;
@nav-subcat-color: @text-color;
@nav-subcat-title-color: rgba(0,0,0,0.7);
@nav-subcat-background: @header-background-color;
@nav-subcat-border-color: @nav-border-color;
@nav-subcat-hover-background: @nav-border-color;
@nav-subcat-back-color: #EBEBEB;



//*********Offcanvas navigation colors*********
@offcanvas-nav-header-color: @nav-icon-color;
@offcanvas-nav-header-background: @brand-white;
@offcanvas-nav-disabled: @text-color-secondary;
@offcanvas-meta-nav-color: @brand-white;
@offcanvas-meta-nav-border-color: @meta-nav-border-color;
@offcanvas-meta-nav-background: @meta-nav-hover-background;
@offcanvas-meta-nav-background-open: @meta-nav-background;
@offcanvas-meta-nav-hover-background: #107d8f;
@offcanvas-nav-cat-color: @text-color;
@offcanvas-nav-cat-title-color: rgba(0,0,0,0.7);
@offcanvas-nav-cat-background: @brand-white;
@offcanvas-nav-cat-border-color: @border-color;
@offcanvas-nav-cat-hover-background: @border-color;


//*********Breadcrumbs Colors*********
@breadcrumb-bg: @border-color;

//*********Support section colors*********
@quicklinks-background: #F3F3F3;
@quicklinks-text-color: #6B6B6B;

//*********Footer colors*********
@footer-background: @quicklinks-text-color;
@footer-text-color: @brand-white;
@disclamier-background: #373636;
@footer-border-color: @nav-border-color;
@copyright-background: @footer-background;
@copyright-color: @brand-white;

//*********Well colors*********
@well-secondary-bg: lighten(@brand-secondary, 47%);//#fef0df;
@well-quaternary-bg: @border-color;

//Item colors
@item-promo-color: @input-success-text;
@item-sale-color: #ED1C24;
@item-sale-price-color: @text-color-secondary;


//== Tables
@table-2n-line-bg:				@border-color;
@table-head-bg:					@meta-nav-background;
@table-head-color:				@brand-white;
@table-head-border-color:		@nav-border-color;
@table-border-color:			@border-color-2;
@table-expand-bg:				#e4e4e4;
@cart-product-table-head-color:	@table-expand-bg;

//== List
@list-active-bg:#f6e7d9;


//== Pagination
@pagination-bar-framed:			true;
@pagination-border:				transparent;
@pagination-font-size:			24px;
@pagination-active-color: 		@label-color;
@pagination-active-font-weight: 700;
@pagination-width-large:		45px;

@pagination-disabled-color:     #a6a6a6;
@pagination-hover-color:		@pagination-active-color;

@pagination-prev-next-hover-bg:		@pagination-hover-bg;
@pagination-prev-next-hover-color:	@pagination-hover-color;


//*********Button Colors*********

//Primary Button State
@btn-primary-color: @brand-white;
@btn-primary-bg: @brand-swap-primary;
@btn-primary-border: @brand-swap-primary;
@btn-primary-hover-color: @brand-white;
@btn-primary-hover-border: @brand-swap-tertiary;
@btn-primary-hover-background: @brand-swap-tertiary;
@btn-primary-disabled-bg: #f9d4b4;

//Secondary Button State
@btn-default-color: #333333;
@btn-default-bg: @brand-white;
@btn-default-border: @border-color-3;
@btn-default-hover-color: @btn-default-color;
@btn-default-hover-border: #adadad;
@btn-default-hover-background: #e6e6e6;
@btn-default-disabled-bg: #c7e9e7;

//*********Accordion Colors*********
@accordion-bg: @brand-black;

//*********Carousel Style*********
@carousel-font-style: normal;

//*********Modal Colors*********
@modal-close-btn-color: #797979;

//*********Account Colors*********
@account-subheadline-bg: #f4f4f4;

//*********checkout*********
@steps-color:  @cart-heading-color;
@steps-background: @account-subheadline-bg;
@steps-color-active: @cart-heading-color;
@steps-background-active: @account-subheadline-bg;
@steps-border-active: @cart-border;
@steps-divider: @border-color-2;
@checkout-icon: @headline-color;
@checkout-list-head-bg: @brand-white;
@checkout-list-head-color: @cart-heading-color;
@checkout-list-head-border: @account-subheadline-bg;
@checkout-list-head-padding: 60px 0 10px;
@checkout-list-head-padding-first: 0;
@payment-active-label-color: #3D3D3D;

//*********Coupon Colors*********
@coupon-list-item-border: @border-color-3;
@coupon-list-item-bg: @table-2n-line-bg;
@coupon-list-item-remove-icon: #cdcdcd;

@grayblue: 				#F2F4F7;

/* PLP Related */
@plp-category-background: #F4F3F3;
@plp-category-btn-device: #BABABA;
@plp-banner-border-color: #2F6AB4;
@plp-category-link-color: #BBBCBC;

/* Cart New Codes*/
@cart-text-heading: @btn-default-color;
@cart-item-desc: @nav-link-color;
@cart-addon: @disclamier-background;
@cart-td-border: @plp-category-link-color;
@cart-alert-background: #FFF9E2;
@cart-alert-border: #F8D74E;
@cart-text-color-info: #5B5A5A;

/* ORDER CONFIRMATION PAGE */
@line-spacer: #D8D8D8;
@info-message-bgcolor: #F1F7FE;
@info-message-borderColor: #3DAEC4;
@sub-section-bgcolor: #F4F4F6;
@sub-section-border-color : @cart-border;
@sub-section-text-color : @cart-heading-color;

/* checkout page */
@checkout-background: @sub-section-bgcolor;
@checkout-border: @cart-border;
@checkout-label-border-error: #E83145;
@checkout-label-error: #F40934;
@checkout-alert-background: #f0f9fa;
@checkout-alert-border: #00A1A2;

@chat-link-back: #0ea6f5;



