//
// Typography
// --------------------------------------------------

// Headings
// -------------------------

h1, .h1{
    font-size:3.5rem;
    font-family: @Grandstander;
    text-transform: uppercase;
     @media @phone{
         font-size: 3.5rem;
         line-height: 5.1rem;  
     }
 }
 
 h2, .h2{
     font-family: @futuraPTMedium;
     font-size:3.2rem;
     line-height:3.2rem;
 }

h1, .h1,
h2, .h2,
h4, .h4,
.p-intro,
.explore-link,
.p-copy,
.footer-link,
.p-desc,
.p-heading,
.sm-heading{
    font-weight: normal;
}